<md-dialog id="gdpr-dialog" aria-label="Sisselogimise modaalaken" class="login-dialog" flex="50">
  <md-toolbar>
    <div id="gdpr-toolbar" data-layout-align="center start" data-layout-gt-sm="row" data-layout="column">
      <div class="md-toolbar-tools" data-layout-align="space-between center">
        <h2 data-translate="AGREEMENT_DIALOG_HEADER"
        ></h2>
      </div>
    </div>
  </md-toolbar>
  <form name="gdprDialogContent">
    <md-dialog-content>
      <md-content data-layout-padding>
        <p><span id="gdpr-agreement-text" data-translate="AGREEMENT_DIALOG_TEXT"></span></p>
        <div>
          <md-checkbox ng-show="notAgreedToTermsAgreement" ng-model="termsAgreed" value="false">
            <span id="terms-tick" data-translate="AGREE_TO"></span>
              <a href="" data-ng-click="$ctrl.goToLinkWithoutCheckingBox($event, termsLink)"><strong data-translate="WITH_TERMS"></strong></a>
            <span data-translate="AGREEMENT_REQUIRED"></span>
          </md-checkbox>
          <br>
          <md-checkbox ng-show="notAgreedToGdprTermsAgreement" ng-model="gdprProcessAgreed" value="false">
            <span id="gdpr-tick" data-translate="AGREE_TO_GDPR"></span>
              <a href="" data-ng-click="$ctrl.goToLinkWithoutCheckingBox($event, gdprProcessLink)"><strong data-translate="GDPR_TERMS"></strong></a>
            <span data-translate="AGREEMENT_REQUIRED"></span>
          </md-checkbox>
        </div>
        <div id="gdpr-agreement-buttons" data-layout-gt-sm="row" data-layout="column" data-layout-align="end end">
          <md-input-container class="md-block animate-if remaining-charaters-wrapper margin-10" data-ng-show="!$root.userHasEmailOnLogin">
            <label data-translate="GDPR_EMAIL" style="display: block"></label>
            <input
              name="email"
              id="user-email"
              ng-model="agreementDialogEmail"
              type="email"
              required
              ng-pattern="validEmail">
            <div data-ng-messages="gdprDialogContent.email.$error">
              <div data-ng-message="required" data-translate="GDPR_EMAIL_REQUIRED"></div>
              <div data-ng-message="pattern" data-translate="GDPR_EMAIL_INVALID"></div>
              <div data-ng-message="validationError" data-translate="GDPR_EMAIL_DUPLICATE"></div>
            </div>
          </md-input-container>
          <md-button
            id="gdpr-agreement-cancel-button"
            class="md-raised md-secondary"
            aria-label="Ei nõustu, väljun"
            data-ng-click="cancel()"
          >
            <span data-translate="AGREEMENT_DIALOG_ACTION_NO"></span>
          </md-button>
            <md-button
              id="gdpr-agreement-accept-button"
              class="md-raised md-primary"
              aria-label="Nõustun ja sisenen"
              data-ng-disabled="$ctrl.isSubmitDisabled()"
              data-ng-click="agree()"
            >
              <div ng-mousemove="$ctrl.onDivAction()" ng-mouseenter="$ctrl.onDivAction()" ng-mouseleave="$ctrl.onDivLeave();">
                <span data-translate="LOGIN"></span>
                <md-tooltip data-ng-show="$ctrl.isSubmitDisabled() && showTooltip" md-delay="0" md-autohide="true">
                  <span data-translate="FILL_REQUIRED_FIELDS_TO_ENTER"></span>
                </md-tooltip>
              </div>
            </md-button>
          <md-progress-circular
            class="ng-hide"
            md-mode="indeterminate"
            md-diameter="40"
            data-ng-show="isSaving"
          ></md-progress-circular>
        </div>
      </md-content>
    </md-dialog-content>
  </form>
</md-dialog>
