<div class="container" data-ng-if="mobileIdChallenge">
    <div class="row">
        <div class="col-md-6 text-right">
            <img src="img/logo-mobiil-id.png">
        </div>
        <div class="col-md-4 col-mobil-id-respons">
            <p class="lead"><span data-translate="LOGIN_MOBILEID_CODE"></span>: <strong data-ng-bind="mobileIdChallenge"></strong></p>
            
            <p data-translate="LOGIN_SMS"></p>
            
            <a class="btn btn-grey btn-sm">
                <i class="fa fa-times"></i> <span data-translate="LOGIN_CANCEL"></span>
            </a>
        </div>
    </div>
</div>

<div class="container" data-ng-if="!mobileIdChallenge">
    <div class="row">
        <div class="col-md-12 text-center">
            <h4 data-translate="LOGIN_CHOOSE_LOGIN_METHOD"></h4>
        </div>
    </div>
    <div class="row row-login text-right">        
        <div class="col-md-2-4 login-btn">
            <a data-ng-if="false" class="btn btn-dark btn-lg btn-block hidden">
                <i class="fa fa-google-plus"></i> <span data-translate="LOGIN_GOOGLE"></span>
            </a>
        </div>
        
        <div class="col-md-2-4 login-btn">
            <a data-ng-if="false" class="btn btn-dark btn-lg btn-block">
                <i class="fa fa-facebook-square"></i> <span data-translate="LOGIN_FACEBOOK"></span>
            </a>
        </div>
        
        <div class="col-md-2-4 login-btn">
            <a class="btn btn-dark btn-lg btn-block" data-ng-click="idCardAuth()">
                <img src="img/logo_id_card.svg"> <span data-translate="LOGIN_IDCARD"></span>
            </a>
        </div>
        
        <div class="col-md-2-4 login-btn">
            <div class="form-group">
                <input type="text" class="form-control" id="idCode" data-ng-model="mobileId.idCode" placeholder="{{'PERSONAL_CODE' | translate}}" valid-number>
            </div>
            <div class="form-group has-error">
                <input type="text" class="form-control" id="phoneNumber" data-ng-model="mobileId.phoneNumber" placeholder="+372 XX XXX XXX" valid-number>
            </div>
            <a class="btn btn-dark btn-lg btn-block" data-ng-click="mobileIdAuth()">
                <img src="img/logo_id_card.svg"> <span data-translate="LOGIN_MOBILEID"></span>
            </a>
        </div>
        
        <div class="col-md-2-4 login-btn">
            <a class="btn btn-dark btn-lg btn-block" data-ng-click="taatAuth()">
                <span data-translate="LOGIN_TAAT"></span>
            </a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
