<md-card class="md-data-table statistics-card">
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <h2 class="md-headline" data-translate="GDPR tingimused" data-flex></h2>
      <md-button
        class="statistics-info-text-toggle text-small"
        data-md-colors="{color: 'grey-500'}"
        data-ng-click="$ctrl.toggleInfoText()"
        aria-label="Ava infotekst"
      >
        <span data-ng-if="!isInfoTextOpen" data-translate="OPEN_INFO_TEXT"></span>
        <span data-ng-if="isInfoTextOpen" data-translate="CLOSE_INFO_TEXT"></span>
      </md-button>
    </div>
  </md-toolbar>
  <md-content
    class="statistics-info-text text-small"
    data-ng-class="{'is-open': isInfoTextOpen}"
    data-md-colors="{color: 'grey-600'}"
    data-layout-padding
  >
    <div data-translate="GDPR_INFO_TEXT"></div>
  </md-content>
  <md-content class="statistics-filter" data-layout-padding>
    <div class="statistics-filter__inputs" data-layout-gt-sm="row" data-layout-align="center center">
    </div>
    <div class="statistics-filter__buttons" data-layout="row" data-layout-align="end center">
      <md-button
        class="statistics-filter__clear"
        data-translate="CLEAR_FORM"
        data-ng-click="$ctrl.clear()"
        aria-label="Tühjenda filtriväljad"
      ></md-button>
      <md-button data-ng-show="!addNewRow"
                 class="md-raised md-primary statistics-filter__submit"
                 data-ng-click="$ctrl.toggleNewRow()"
                 aria-label="Lisa uus rida"
      >
        <span data-translate="Lisa uus rida"></span>
        <md-icon>arrow_downward</md-icon>
      </md-button>
      <md-button data-ng-show="addNewRow"
                 class="md-raised md-primary statistics-filter__submit"
                 data-ng-click="$ctrl.toggleNewRow()"
                 aria-label="Peida uus rida"
      >
        <span data-translate="Peida uus rida"></span>
        <md-icon>arrow_upward</md-icon>
      </md-button>
    </div>
  </md-content>
  <md-table-container>

    <table data-ng-if="data" md-table class="statistics-table">
      <colgroup>
        <col width="40%">
        <col width="20%">
        <col width="20%">
        <col width="20%">
      </colgroup>
      <thead md-head md-order="sortBy" md-on-reorder="sort">
      <tr md-row>
        <th md-column>
          <span data-translate="Link"></span>
        </th>
        <th md-column>
          <span data-translate="Versioon"></span>
        </th>
        <th md-column>
          <span data-translate="Kehtiv alates"></span>
        </th>
        <th md-column>
          <span></span>
        </th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row data-ng-if="addNewRow">
        <td md-cell class="dashboard-cell">
          <input type="text" ng-model="newAgreement.url">
        </td>
        <td md-cell class="dashboard-cell dashboard-cell--title">
          <input type="text" ng-model="newAgreement.version">
        </td>
        <td md-cell class="dashboard-cell dashboard-cell--date">
          <md-datepicker
            data-ng-model="newAgreement.validFrom"
            data-md-placeholder="{{'SELECT_DATE' | translate}}"
            data-md-open-on-focus
            data-md-min-date="maxDate"
            aria-label="Vali lõppkuupäev"
          ></md-datepicker>
        </td>
        <td md-cell class="dashboard-cell dashboard-cell--type-icon">
          <md-button
            class="md-raised md-primary statistics-filter__download"
            data-ng-click="$ctrl.addAgreement()"
            aria-label="Lisa"
          >
            <span data-translate="Lisa"></span>
          </md-button>
        </td>
      </tr>
      <tr md-row data-ng-repeat="agreement in data track by $index">
        <td md-cell class="dashboard-cell">
          <a ng-href="#" data-ng-click="$ctrl.moveToPage(agreement.url)">
            <span data-ng-bind="agreement.url"></span>
          </a>
        </td>
        <td md-cell class="dashboard-cell dashboard-cell--title">
          <span data-ng-bind="agreement.version"></span>
        </td>
        <td md-cell class="dashboard-cell dashboard-cell--date">
          <span data-ng-bind="$ctrl.formatDateToDayMonthYear(agreement.validFrom)"></span>
        </td>
        <td md-cell class="dashboard-cell dashboard-cell--type-icon">
          <a href="#" data-ng-click="confirmMaterialDeletion(agreement)">
            <md-icon title="Kustuta" class="material-icons sidenav__icon">delete_forever</md-icon>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination
    class="statistics-pagination"
    data-ng-if="numPages > 1"
    data-md-limit="perPage"
    data-md-page="page"
    data-md-total="{{allRows.length}}"
    data-md-on-paginate="paginate"
    data-md-page-select
  ></md-table-pagination>
</md-card>
