<md-dialog aria-label="Send link" flex-sm="100" flex-md="100" flex-gt-md="none" style="width: 450px">
  <md-toolbar>
    <div class="md-toolbar-tools" flex>
      <h2>Saada link</h2>
      <span flex></span>
      <md-button ng-click="cancel()" class="md-icon-button" aria-label="close">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <form>
    <md-content class="md-padding">
      <md-input-container class="md-icon-float" flex>
        <label>Link</label>
        <md-icon>link</md-icon>
        <input data-ng-model="link">
      </md-input-container>
    </md-content>
    <div class="md-actions">
      <span flex></span>
      <md-button data-ng-click="cancel()">
        <span data-translate="BUTTON_CANCEL"></span>
      </md-button>
      <md-button class="md-primary">
        Kopeeri
      </md-button>
    </div>
  </form>
</md-dialog>
