<div id="page-dashboard" flex>
  <div layout layout-align="center start" flex>
    <section layout="row" layout-sm="column" flex flex-gt-md="80">
      <article class="md-padding" role="main" flex>
        <div layout="row" class="type-block">
          <h1 data-translate="DASHBOARD"></h1>
        </div>
        
        <div layout="row" class="type-block">
            <md-button class="md-raised" ng-click="gotoImproperMaterials()">
                <pan data-translate="DASHBOARD_IMRPOPER_MATERIALS"></pan>
            </md-button>
            <md-button class="md-raised" ng-click="gotoImproperPortfolios()">
                <span data-translate="DASHBOARD_IMRPOPER_PORTFOLIOS"></span>
            </md-button>
        </div>
        
        <div layout="row" class="type-block">
            <md-button class="md-raised" ng-click="gotoDeletedMaterials()">
                <pan data-translate="DASHBOARD_DELETED_MATERIALS"></pan>
            </md-button>
            <md-button class="md-raised" ng-click="gotoDeletedPortfolios()">
                <pan data-translate="DASHBOARD_DELETED_PORTFOLIOS"></pan>
            </md-button>
        </div>
        
        <div layout="row" class="type-block">
            <md-button class="md-raised" ng-click="gotoBrokenMaterials()">
                <pan data-translate="BROKEN_MATERIALS"></pan>
            </md-button>
        </div>
       
      </article>
    </section>
  </div>
</div>
