<md-card class="card-lg" id="portfolio-card">
    <md-card-content>
        <div layout="row">
            <div layout="column" flex="75">
                <div layout="row">
                    <h1 flex data-ng-bind="portfolio.title"></h1>
                    <md-menu>
                        <md-button class="md-icon-button" ng-click="$mdOpenMenu()">
                            <md-icon md-menu-origin>more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item data-ng-if="!isEditPortfolioMode && isOwner()">
                                <md-button data-ng-click="editPortfolio()">
                                    <md-icon md-menu-align-target>edit</md-icon>
                                    <span data-translate="EDIT_PORTFOLIO"></span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item data-ng-if="isEditPortfolioMode">
                                <md-button data-ng-click="showEditMetadataDialog()">
                                    <md-icon md-menu-align-target>edit</md-icon>
                                    <span data-translate="PORTFOLIO_EDIT_METADATA"></span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item data-ng-if="isEditPortfolioMode || isOwner() || isAdmin()">
                                <md-button data-ng-click="confirmPortfolioDeletion()">
                                    <md-icon md-menu-align-target>delete</md-icon>
                                    <span data-translate="PORTFOLIO_DELETE"></span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item data-ng-if="isViewPortforlioPage" dop-copy-permalink></md-menu-item>
                            <md-menu-divider data-ng-if="isViewPortforlioPage"></md-menu-divider>
                            <md-menu-item data-ng-if="isViewPortforlioPage" dop-recommend></md-menu-item>
                            <md-menu-divider data-ng-if="isViewPortforlioPage"></md-menu-divider>
                            <md-menu-item data-ng-if="isViewPortforlioPage" dop-report-imporper></md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>

                <div layout="row" class="on-left">
                    <div flex>
                        <p class="md-body-2 meta">
                            <small class="md-caption">
                                <span data-translate="DETAIL_VIEW_SUBJECT"></span>
                            </small>
                            <br/>
                            <span data-ng-if="$root.taxonUtils.getSubject(portfolio.taxon)"
                                  data-translate="{{'SUBJECT_' + $root.taxonUtils.getSubject(portfolio.taxon).name.toUpperCase()}}">
                            </span>
                            <span data-ng-if="!$root.taxonUtils.getSubject(portfolio.taxon)"
                                  data-translate="UNKNOWN">Unknown</span>
                        </p>
                    </div>
                    <div flex>
                        <p class="md-body-2 meta">
                            <small class="md-caption">
                                <span data-translate="DETAIL_VIEW_EDUCATIONAL_CONTEXT"></span>
                            </small>
                            <br>
                            <span data-ng-if="portfolio.taxon"
                                  data-translate="{{getEducationalContext()}}">
                            </span>
                            <span data-ng-if="!portfolio.taxon" data-translate="UNKNOWN">Unknown</span>
                        </p>
                    </div>
                </div>

                <md-divider class="md-default-theme"></md-divider>

                <div layout="column" class="on-left" flex>
                    <p class="md-body-1 description" data-ng-bind="portfolio.summary"></p>
                </div>


                <p class="md-body-2 meta">
                    <small class="md-caption">
                        <span data-translate="DETAIL_VIEW_TAGS"></span>:
                    </small>
                    <br>
                    <a href="#" data-ng-repeat="tag in portfolio.tags">{{tag}}{{$last ? '' : ', '}}</a>
                </p>
            </div>

            <div layout="column" flex="25" class="divider-left" layout-align="start start">
              <div class="corner"></div>
                <div class="card-cover">
                    <img data-ng-if="portfolio.hasPicture"
                         data-ng-src="rest/portfolio/getPicture?portfolioId={{portfolio.id}}"/>
                  <span data-ng-if="!portfolio.hasPicture">
                    <md-icon>book</md-icon>
                  </span>
                </div>

                <md-content>
                    <p class="md-body-2 meta">
                        <small class="md-caption">
                            <span data-translate="CREATOR"></span>:
                        </small>
                        <a>
                            <span data-ng-bind="portfolio.creator.name"></span>
                            <span data-ng-bind="portfolio.creator.surname"></span>
                        </a>
                    </p>

                    <p class="md-body-2 meta" data-ng-if="portfolio.creator.id != portfolio.originalCreator.id">
                        <small class="md-caption">
                            <span data-translate="ORIGINAL_CREATOR"></span>:
                        </small>
                        <a>
                            <span data-ng-bind="portfolio.originalCreator.name"></span>
                            <span data-ng-bind="portfolio.originalCreator.surname"></span>
                        </a>
                    </p>

                    <p class="md-body-2 meta" data-ng-if="portfolio.updated">
                        <small class="md-caption">
                            <span data-translate="UPDATED"></span>:
                        </small>
                        {{portfolio.updated | date:'dd.MM.yyyy'}}
                    </p>

                    <p class="md-body-2 meta" data-ng-if="portfolio.created">
                        <small class="md-caption">
                            <span data-translate="CREATED"></span>:
                        </small>
                        {{portfolio.created | date:'dd.MM.yyyy'}}
                    </p>

                    <p class="md-body-2 meta">
                        <small class="md-caption">
                            <span data-translate="VIEW_COUNT"></span>:
                        </small>
                        <span data-ng-bind="portfolio.views"></span>
                    </p>
                </md-content>
            </div>
        </div>

        <md-divider class="md-default-theme"></md-divider>

        <div layout="row" class="actions" layout-align="start start">
            <div ng-if="!isEditPortfolioMode && portfolio.type">
                <div data-dop-comments-card comments="portfolio.comments" comment="comment" submit-click="addComment()"></div>
            </div>
            <span flex></span>
            <!-- rating control -->
            <div data-ng-if="!isEditPortfolioMode && portfolio.type" data-dop-rating
                 data-portfolio="portfolio"
                 like-message="{{ 'PORTFOLIO_LIKED' | translate }}"
                 dislike-message="{{ 'PORTFOLIO_DISLIKED' | translate }}">
            </div>
        </div>
    </md-card-content>
</md-card>
