.drop-box {
    border: 1px dashed #dedede;
    height: 100px;
    text-align: center;
  	cursor: pointer;
  	border-radius: 4px;
  	transition: all .25s;

    background: #eee;

	&.dragover,
  &:hover {
    	border-style: solid;
      background: #e0e0e0;
	}

	&.dragover-err {
    	border-color: red;
	}
}
