.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// reset
*:focus {
  outline: none;
}

$md-primary: #1E88E5;
$link-color: #15c;
$heading-color: #212121;
$bg-gray: #eee;
$border-color: rgba(0,0,0,0.12);

ul {
    -webkit-padding-start: 0em;
    list-style: none;
}

@import "iconfont.scss";
@import "slidedown.scss";
@import "typography.scss";
@import "card.scss";
@import "toolbar.scss";
@import "md-typography.scss";
@import "sidebar.scss";
@import "sidenav.scss";
@import "sidenav-menu.scss";
@import "fab-buttons.scss";
@import "file-upload.scss";
@import "collapsible.scss";
@import "navbar.scss";
@import "comments.scss";
@import "rating.scss";

// Page specific stylesheets
@import "pages/add.scss";
@import "pages/view-portfolio.scss";
@import "pages/view-material.scss";

// Dialog specific stylesheets
@import "dialogs/add-material.scss";

// Scaffolding
html, body {
  background: $bg-gray;
  color: rgba(0,0,0,0.77);
  line-height: 1.2;
}

.wrapped {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: $link-color;
  &:hover {
    text-decoration: underline;
  }
}

.logo-lg {
  display: block;
  background-image: url('../images/logo_white.svg');
  margin-top: 5px;
  background-size: contain;
  height: 35px;
  background-repeat: no-repeat;
  background-position: left center;
}

md-fab-speed-dial {
  position: fixed !important;
}
