.navbar-search {
	margin: 0 5px;
  border-radius: 2px;

	md-input-container {
		padding: 0;

		input {
			height: 48px;
			padding: 0;
			border: 0;

			&[disabled] {
				background-image: none;
			}
		}
	}
}

@media screen and (min-width: 960px) {
	.navbar-search {
		background: rgba(255,255,255,.15);
	}
}
