.navbar-search {
  margin: 0 5px;
  border-radius: 2px;
  padding: 4px 0;

  md-input-container {
	padding: 0;
	margin: 0;

	input {
	  height: 40px;
	  padding: 0;
	  border: 0;

	  &[disabled] {
		background-image: none;
	  }
	}

	.md-errors-spacer {
	  display: none;
	}
  }
}

@media screen and (min-width: 960px) {
  .navbar-search {
    background: rgba(255,255,255,.15);
  }
}
