.rating {
	margin-top: 10px;
	padding: 8px 0;
}

.rating-button {
	display: inline-block;
	cursor: pointer;

	md-icon {
		vertical-align: middle;
		font-size: 20px;
	}

	span {
		display: inline-block;
		line-height: 20px;
		font-weight: 500;
		padding: 0 5px;
	}

	& + .rating-button {
		margin-left: 15px;
	}
}
