.md-toolbar-tools {
  font-size: 18px;
}

md-sidenav {
  width: 260px;
  max-width: 260px;
  padding-right: 10px;
  margin-right: -10px;
  background-color: transparent;
  
  .sidenav-menu > li {
    > .md-button {
      font-weight: 400;
      text-transform: none;
        
      &.active {
        background-color: rgba(158,158,158,0.2);
      }
    }
    
    > .sidenav-menu-toggle-list a.md-button {
      font-weight: 500;
      text-transform: none;
      font-size: 12px;
    
      &:before {
        content: "-  ";
      }
        
      &.active {
        background-color: rgba(158,158,158,0.2);
      }
    }
  }
}