.toc {
  .md-button,
  a {
    &:hover .add-materials-to-chapter {
      display: block;
    }
  }
  
  .add-materials-to-chapter {
	  display: block;		
  }
}

.transform-none {
  text-transform: none;
}