.tags {
	.meta {
			margin: 20px 0 0 0;
	}
	md-input-container {
		margin: 5px 0;
	}
	md-chips.md-default-theme .md-chips,
	md-chips .md-chips {
		box-shadow: none;
	}
}

md-chips,
.md-chips {
	display: block;
	font-size: 13px;
	padding: 0px;
	vertical-align: middle;
	.md-chip {
		padding: 0px 12px;
		height: 28px;
		line-height: 28px;
		background: darken(#f3f6fb, 3%);
		button.md-chip-remove md-icon	{
			top: 45%;
			left: 45%;
			transform: translate3d(-45%, -45%, 0);
			fill: lighten(#15c, 30%);
			transition: color .3s ease;
			&:hover {
				fill: #15c;
			}
		}
		button.md-chip-remove md-icon,
		.md-button.md-icon-button {
			line-height: 1;
			margin: 0px 3px;
			height: 16px;
			width: 16px;
			min-height: 15px;
			padding: 0;
			.material-icons,
			md-icon {
				color: lighten(#15c, 30%);
				transition: color .3s ease;
				&:hover {
					color: #15c;
				}
			}
			.material-icons {
				font-size: 16px;
				line-height: inherit;
			}
			a {
				line-height: 20px;
			}
		}
	}
}
