<div data-layout="row" data-layout-align="space-between center">
  <h1 class="md-headline">Litsentsitingimused</h1>
  <md-button style="min-width: 0px"
             data-ng-if="$ctrl.isAdmin() && !editMode"
             data-ng-click="$ctrl.editLicensesPage()"
             id="licenses-edit">
    <md-icon class="icon-blue" md-menu-align-target>edit</md-icon>
    <md-tooltip><span data-translate="TERMS_EDIT"></span></md-tooltip>
  </md-button>
  <md-button class="md-button md-ink-ripple"
             data-ng-click="$ctrl.createLicence()"
             aria-label="Add Term"
             data-ng-if="$ctrl.isAdmin() && editMode"
             ng-disabled="$ctrl.createDialogOpen"
             id="licensesEditButton"
  >
    <md-icon>add_circle</md-icon>
    <span>Lisa litsentsitingimus</span>
  </md-button>
</div>
<div>
  <dop-licenses-block
    data-create-dialog-open="$ctrl.createDialogOpen"
    data-edit-mode="editMode"
    data-licenses="licenses"
    data-remove-licence="$ctrl.removeLicence()"
    data-get-licenses="$ctrl.getLicenses">
  </dop-licenses-block>
</div>
