<md-dialog aria-label="Sessiooni lõppemise modaalaken" class="login-dialog">
  <md-toolbar>
    <div id="gdpr-toolbar" data-layout-align="center start" data-layout-gt-sm="row" data-layout="column">
      <div class="md-toolbar-tools" data-layout-align="space-between center">
        <h2 data-translate="SESSION_HAS_EXPIRED_HEADER"
        ></h2>
        <md-button id="location-restore-cancel-button" ng-click="cancel()" class="md-icon-button" aria-label="Sulge asukoha taastamise modaalaken">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-content data-layout-padding>
      <p><span id="location-restore-text" data-translate="SESSION_HAS_EXPIRED_MESSAGE"></span></p>
    </md-content>
  </md-dialog-content>
</md-dialog>
