/back-end/target/
/back-end/.settings/
/back-end/.project
/back-end/.classpath
/back-end/.idea/
/back-end/logs/
/solr-indexer/target/
/solr-indexer/.settings/
/solr-indexer/.project
/solr-indexer/.classpath
/solr-indexer/.idea/
/solr-indexer/logs/
