/back-end/target/
/back-end/.settings/
/back-end/.project
/back-end/.classpath
/back-end/.idea/
/back-end/logs/
back-end/dop.iml

/solr-indexer/.settings/
/solr-indexer/.project
/solr-indexer/.classpath
/solr-indexer/.idea/
solr-indexer/DOP-Solr-indexer.iml
/solr-indexer/logs/

/front-end/node_modules
/front-end/dist
/front-end/.tmp
/front-end/.sass-cache
/front-end/app/libs
/front-end/.DS_Store
/front-end/.idea/
/front-end/.project
/front-end/DOP-Front-End.iml
.idea/
.DS_Store

/ui-tests/target/