<md-input-container class="statistics-filter__experts-container"
                    data-flex data-layout="column"
                    data-ng-show="isExpertsSelectVisible"
>
  <md-select
    data-placeholder="{{'EXPERT' | translate}}"
    data-ng-model="filter.user"
    data-ng-model-options="{trackBy: '$value.id'}"
    aria-label="Vali ekspert"
  >
    <md-option
      data-ng-repeat="user in moderators"
      data-ng-value="user"
      data-ng-bind="user.name + ' ' + user.surname"
    ></md-option>
  </md-select>
</md-input-container>

<dop-taxon-selector
  flex
  class="statistics-filter__taxon-container"
  data-taxon="educationalContext"
  data-is-statistics-select="true"
  data-on-statistics-multiselect="$ctrl.onSelectTaxons(taxons)"
  data-ng-show="isTaxonSelectVisible"
></dop-taxon-selector>
<md-button
  class="statistics-filter__clear"
  data-translate="CLEAR_FORM"
  data-ng-click="$ctrl.clearFields()"
  data-ng-show="filter.taxons || this.$scope.isTaxonSelectVisible"
  aria-label="Tühjenda filtriväljad"
></md-button>
<md-button
  class="md-raised md-primary statistics-filter__submit"
  data-ng-click="$ctrl.getFilterResults()"
  data-ng-disabled="$ctrl.isDisabled()"
  aria-label="Käivita filter"
>
  <div class="spinner"><md-progress-circular data-md-diameter="20"></md-progress-circular></div>
  <span data-translate="DO_FILTER"></span>
  <md-icon>arrow_forward</md-icon>
</md-button>


<table md-table>
  <thead md-head md-order="query.order" md-on-reorder="onSort">
    <tr md-row>
      <th md-column md-order-by="byType"><span data-translate="TYPE"></span></th>
      <th md-column md-order-by="byTitle"><span data-translate="TITLE"></span></th>
      <th md-column md-order-by="bySubject"><span data-translate="NEW_TO_ADD"></span></th>
      <th md-column md-order-by="byCreatedAt"><span data-translate="ADDED_AT"></span></th>
      <th md-column md-order-by="byCreatedBy"><span data-translate="ADDED_BY"></span></th>
    </tr>
  </thead>
  <tbody md-body>
    <tr md-row data-ng-repeat="item in data" data-ng-click="$ctrl.openLearningObject(item)">
      <td md-cell class="dashboard-cell dashboard-cell--type-icon">
        <dop-dashboard-type-icon data-learning-object="item"></dop-dashboard-type-icon>
      </td>
      <td md-cell class="dashboard-cell dashboard-cell--title">
        <a
          class="ellipsis ellipsis--2"
          data-ng-href="{{$ctrl.getLearningObjectUrl(item)}}"
          data-ng-bind="$ctrl.getCorrectLanguageTitle(item)"
        ></a>
      </td>
      <td md-cell class="dashboard-cell dashboard-cell--date">
        <span data-ng-repeat="taxon in item.firstReviewTaxons">
          <span ng-if="!$first">&nbsp;</span>
          <strong data-translate="{{taxon.domain.translationKey}}"></strong>
          <span data-translate="{{taxon.subject.translationKey}}"></span>
          <span ng-if="!$last">;</span>
        </span>

      </td>
      <td md-cell class="dashboard-cell dashboard-cell--date" data-ng-bind="$ctrl.formatDateToDayMonthYear(item.firstReviews[0].createdAt)"></td>
      <td md-cell class="dashboard-cell dashboard-cell--user" data-ng-if="!item.creator" data-translate="UNKNOWN"></td>
      <td md-cell class="dashboard-cell dashboard-cell--user" data-ng-if="item.creator" data-ng-bind="item.creator.name+' '+item.creator.surname"></td>
    </tr>
  </tbody>
</table>
