<section id="main-content" layout="row" layout-sm="column" layout-align="start start" flex>
  <article class="md-padding" layout="column" flex="75" flex-sm="100" role="main">

    <div data-dop-portfolio-summary-card data-portfolio="portfolio"></div>

    <div id="portfolio-chapters">
        <div data-ng-repeat="chapter in portfolio.chapters">
            <div data-dop-chapter data-on-delete="onDeleteChapter" data-chapter="chapter" data-index="{{$index}}"></div>
        </div>
    </div>

  </article>

  <aside data-dop-sidebar flex="25" flex-sm="100" class="md-padding" role="sidebar"></aside>

  <md-button class="md-fab md-fab-bottom-right" aria-label="Save portfolio" data-ng-click="savePortfolio()">
    <md-tooltip md-direction="left">
      <span data-translate="PORTFOLIO_SAVE"></span>
    </md-tooltip>
    <ng-md-icon icon="save"></ng-md-icon>
  </md-button>
</section>