<md-toolbar class="md-accent md-whiteframe-1dp" id="md-toolbar-header-edit-portfolio" data-click-outside="clickOutside()" outside-if-not="header-show-detailed-search-icon, detailed-search">
  <div layout-align="start start" layout="row" layout-sm="column">
    <div class="md-toolbar-tools" flex="100" flex-gt-sm="90">
      <md-button class="md-icon-button" ng-click="toggleSidenav()" hide-gt-md aria-label="Menu">
        <md-icon>menu</md-icon>
      </md-button>
      <div class="navbar-search" layout="row" flex>
        <md-button aria-label="Search" data-ng-click="search()" data-ng-disabled="detailedSearch.isVisible" class="md-icon-button">
          <ng-md-icon icon="search"></ng-md-icon>
        </md-button>
        <md-input-container md-theme="input" flex>
          <input ng-model="searchFields.searchQuery" data-ng-keydown="$event.which === 13 && searchFieldEnterPressed()">
        </md-input-container>
      </div>
      <md-button aria-label="Open Settings" class="md-icon-button" id="header-show-detailed-search-icon" data-ng-click="openDetailedSearch()" data-ng-if="!detailedSearch.isVisible">
        <ng-md-icon icon="filter_list"></ng-md-icon>
      </md-button>
      <md-button ng-click="closeDetailedSearch()" aria-label="Back" class="md-icon-button" data-ng-if="detailedSearch.isVisible">
          <ng-md-icon icon="close"></ng-md-icon>
        </md-button>
      <md-menu>
        <md-button aria-label="Share" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <md-icon data-ng-if="savedPortfolio.visibility === 'PUBLIC'">visibility</md-icon>
          <md-icon data-ng-if="savedPortfolio.visibility === 'NOT_LISTED'">link</md-icon>
          <md-icon data-ng-if="savedPortfolio.visibility === 'PRIVATE'">visibility_off</md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item dop-copy-permalink url="getShareUrl"></md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button data-ng-if="savedPortfolio.visibility === 'PUBLIC'" aria-label="{{PORTFOLIO_VISIBILITY_PUBLIC | translate}}">
              <md-icon>visibility</md-icon> <span data-translate="PORTFOLIO_VISIBILITY_PUBLIC"></span> <span class="md-alt-text"><md-icon>check</md-icon></span>
            </md-button>
            <md-button data-ng-if="savedPortfolio.visibility != 'PUBLIC'" aria-label="{{PORTFOLIO_VISIBILITY_MAKE_PUBLIC | translate}}" data-ng-click="makePublic()">
              <md-icon>visibility</md-icon> <span data-translate="PORTFOLIO_VISIBILITY_MAKE_PUBLIC"></span>
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button data-ng-if="savedPortfolio.visibility === 'NOT_LISTED'" aria-label="{{PORTFOLIO_VISIBILITY_NOT_LISTED | translate}}">
              <md-icon>link</md-icon> <span data-translate="PORTFOLIO_VISIBILITY_NOT_LISTED"></span> <span class="md-alt-text"><md-icon>check</md-icon></span>
            </md-button>
            <md-button data-ng-if="savedPortfolio.visibility != 'NOT_LISTED'" aria-label="{{PORTFOLIO_VISIBILITY_MAKE_NOT_LISTED | translate}}" data-ng-click="makeNotListed()">
              <md-icon>link</md-icon> <span data-translate="PORTFOLIO_VISIBILITY_MAKE_NOT_LISTED"></span>
            </md-button>
          </md-menu-item>
          <md-menu-divider></md-menu-divider>
          <md-menu-item>
            <md-button data-ng-if="savedPortfolio.visibility === 'PRIVATE'" aria-label="{{PORTFOLIO_VISIBILITY_PRIVATE | translate}}">
              <md-icon>visibility_off</md-icon> <span data-translate="PORTFOLIO_VISIBILITY_PRIVATE"></span> <span class="md-alt-text"><md-icon>check</md-icon></span>
            </md-button>
            <md-button data-ng-if="savedPortfolio.visibility != 'PRIVATE'" aria-label="{{PORTFOLIO_VISIBILITY_MAKE_PRIVATE | translate}}" data-ng-click="makePrivate()">
              <md-icon>visibility_off</md-icon> <span data-translate="PORTFOLIO_VISIBILITY_MAKE_PRIVATE"></span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-button ng-click="exitEditPortfolioMode()" class="md-icon-button" aria-label="close">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </div>
</md-toolbar>


<div class="md-toolbar-filter" id="detailedSearch" ng-show="detailedSearch.isVisible">
 <form layout-align="start start" layout="row" layout-sm="column">
    <div flex="100" flex-gt-md="90" class="md-hue-1  md-whiteframe-1dp" id="detailed-search">
      <div data-dop-detailed-search query-in="detailedSearch.queryIn" query-out="detailedSearch.queryOut" main-field="detailedSearch.mainField" search-callback="detailedSearch.doSearch()"></div>
    </div>
  </form>
</div>
