<md-dialog aria-label="Kogumiku ajaloo taastamise modaalaken"
           flex-gt-sm="75"
           flex id="send-email-modal"
           class=" creator-email-dialog creator-email-full-screen">
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools" flex>
      <div>
        <h2 data-translate="LOG_ARE_YOU_SURE"></h2>
      </div>
      <span flex></span>
    </div>
  </md-toolbar>
  <div>
    <md-content class="md-padding">
      <div layout-xs="column"
           layout="column"
           layout-align-xs="start stretch"
           layout-align="start stretch"
           flex-order="1"
           flex-order-gt-sm="2" flex="100">
        <md-input-container class="md-block animate-if remaining-charaters-wrapper label-top-ie" flex>
          <p><span data-ng-bind-html="confirmationNotice"></span></p>
          <div layout="row"
               layout-align="end center"
               layout-xs="row"
               layout-align-xs="center center">
          </div>
        </md-input-container>
      </div>
    </md-content>
    <md-dialog-actions>
      <span flex></span>
      <md-button aria-label="Tühista kogumiku taastamine"
                 id="portfolio-restore-cancel-button"
                 data-ng-click="cancel()">
        <span data-translate="LOG_GIVEUP"></span>
      </md-button>
      <md-button class="md-raised md-primary"
                 data-ng-click="$ctrl.setPortfolioHistoryToRestore()"
                 aria-label="restore portfolio"
      >
        <span data-translate="LOG_CONFIRM"></span>
      </md-button>
      <md-progress-circular class="md-accent ng-hide"
                            md-mode="indeterminate"
                            md-diameter="40"
                            data-ng-show="isSaving"></md-progress-circular>
    </md-dialog-actions>
  </div>
</md-dialog>
