<md-dialog aria-label="Kogumiku ajaloo taastamise modaalaken" flex-gt-sm="75" flex id="send-email-modal"
           class=" creator-email-dialog creator-email-full-screen">
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools" flex>
      <div>
        <h2 data-translate="OLED_KINDEL"></h2>
      </div>
      <span flex></span>
    </div>
  </md-toolbar>
  <div>
    <md-content class="md-padding send-mail-ie">
      <div layout-xs="column" layout="column" layout-align-xs="start stretch" layout-align="start stretch" flex-order="1"
           flex-order-gt-sm="2" flex="100">
        <md-input-container class="md-block animate-if remaining-charaters-wrapper label-top-ie" flex>
          <h2>"Kogumiku versiooniks jääb {{formatDateToTimeDayMonthYear(portfolio.createdAt)}} {{portfolio.creator.username}} poolt loodud versioon. Tänane versioon kas kustutatakse või jäetakse veel 5 päevaks kättesaadavaks - otsustab klient</h2>
          <div layout="row" layout-align="space-between center" layout-xs="column" layout-align-xs="end center">
            <md-dialog-actions style="padding: 0px">
              <span flex></span>
              <md-button aria-label="Tühista kogumiku taastamine" id="send-email-cancel-button"
                         data-ng-click="cancel()">
                <span data-translate="LOOBUN"></span>
              </md-button>
              <md-button class="md-raised md-primary"
                         data-ng-click="setPortfolioHistoryToRestore()"
                         aria-label="Send mail"
              >
                <span data-translate="KINNITAN"></span>
              </md-button>
              <md-progress-circular class="md-accent ng-hide"
                                    md-mode="indeterminate"
                                    md-diameter="40"
                                    data-ng-show="isSaving"></md-progress-circular>
            </md-dialog-actions>
          </div>
        </md-input-container>
      </div>
    </md-content>
  </div>
</md-dialog>
