<div data-layout="column">
  <md-toolbar class="error-message" data-md-colors="{ 'background-color': 'grey-900' }">
    <div layout-align="space-between center" data-ng-click="$ctrl.showSelection()" class="md-toolbar-tools"
         data-layout="row" layout-align-xs="center center" layout-xs="column">
      <h2>{{selectedPortfolioLog ? ('LOG_MOMENT' | translate) + ' - ' +
        $ctrl.formatDateToTimeDayMonthYear(selectedPortfolioLog.createdAt) : ('LOG_HISTORY' | translate)}}</h2>
      <div layout-align="end center" layout-align-xs="center center" layout-xs="row" layout="row">
        <md-button class="md-grey button-less-wider" data-ng-click="$ctrl.restoreSelectedPortfolio()" style="min-width: 50px">
          <md-icon>history</md-icon>
        </md-button>
        <md-button class="md-grey button-less-wider" data-ng-click="$ctrl.closePortfolioRestore()" style="min-width: 50px">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </div>
  </md-toolbar>
  <md-select
    placeholder="{{'LOG_CHOOSE' | translate}}"
    data-ng-show="selectionMade"
    id="historymenu"
    data-ng-model="selectedPortfolioLog"
    ng-model-options="{trackBy: '$value.id'}"
    data-ng-change="$ctrl.selectPortfolioLog(selectedPortfolioLog)">
    <md-option
      data-ng-value="historylog"
      data-ng-repeat="historylog in data">
      {{$ctrl.formatDateToTimeDayMonthYear(historylog.createdAt) + '  ' + historylog.creator.username}} {{historylog.autoSaved == true ? 'automaatne salvestus' : 'manuaalne salvestus'}}
    </md-option>
  </md-select>
</div>

