<md-dialog aria-label="Ekirja saatmise modaalaken" flex-gt-sm="75" flex id="send-email-modal"
           class="fullscreen-dialog creator-email-dialog">
  <form name="sendEmailToCreator">
    <md-toolbar data-ng-if="!emailSent" class="md-accent">
      <div class="md-toolbar-tools" flex>
        <div>
          <h2 data-translate="SEND_EMAIL_SPECIFY_QUESTION"></h2>
        </div>
        <span flex></span>
        <md-button ng-click="cancel()" id="send-email-close" class="md-icon-button"
                   aria-label="Sulge ekirja saatmise modaalaken">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-toolbar data-ng-if="emailSent" class="md-accent">
      <div class="md-toolbar-tools" flex>
        <div>
          <h2 data-translate="CUSTOMER_SUPPORT_THANK_YOU"></h2>
        </div>
        <span flex></span>
        <md-button ng-click="cancel()" id="send2-email-close"" class="md-icon-button"
                   aria-label="Sulge ekirja  modaalaken">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div data-ng-if="!emailSent">
      <md-content class="md-padding">
        <div layout="row" layout-align="center center" layout-align-xs="start center">
        </div>
        <!-- Description -->
        <div layout-xs="column" layout="row" layout-align-xs="start stretch" layout-align="start center" flex-order="1"
             flex-order-gt-sm="2" flex="100">
          <md-input-container class="md-block animate-if remaining-charaters-wrapper" flex>
            <textarea
                      placeholder="{{'SEND_EMAIL_CONTENT' | translate}}"
                      name="emailContent"
                      ng-model="emailToCreator.emailContent"
                      id="email-content-description"
                      autofocus="autofocus"
                      rows="5"
                      maxlength="500"
            ></textarea>
          </md-input-container>
        </div>
      </md-content>
      <div class="recaptcha"
           vc-recaptcha
           key="captchaKey"
           on-success="$ctrl.captchaSuccess()"
           on-expire="$ctrl.captchaExpired()"
           lang="$ctrl.getLanguage()"
      ></div>
      <md-dialog-actions>
        <span flex></span>
        <md-button aria-label="Tühista emaili saatmine" id="send-email-cancel-button"
                   data-ng-disabled="isSaving"
                   data-ng-click="cancel()">
          <span data-translate="BUTTON_CANCEL"></span>
        </md-button>
        <md-button class="md-raised md-primary"
                   data-ng-click="$ctrl.sendEmail()"
                   data-ng-disabled="isSendButtonDisabled()"
                   aria-label="Send mail"
        >
          <span data-translate="CUSTOMER_SUPPORT_SEND"></span>
        </md-button>
        <md-progress-circular class="md-accent ng-hide" md-mode="indeterminate" md-diameter="40"
                              data-ng-show="isSaving"></md-progress-circular>
      </md-dialog-actions>
    </div>
    <div layout-align="center center" style="margin: 20px" data-ng-if="emailSent">
      <span data-translate="SEND_EMAIL_MESSAGE_SENT"></span>
    </div>
  </form>
</md-dialog>

