<md-dialog aria-label="Ekirja saatmise modaalaken" flex-gt-sm="75" flex id="send-email-modal"
           class=" creator-email-dialog creator-email-full-screen">
  <form name="sendEmailToCreator">
    <md-toolbar data-ng-if="!emailSent" class="md-accent">
      <div class="md-toolbar-tools" flex>
        <div>
          <h2 data-translate="SEND_EMAIL_SPECIFY_QUESTION"></h2>
        </div>
        <span flex></span>
        <md-button ng-click="cancel()" id="send-email-close" class="md-icon-button"
                   aria-label="Sulge ekirja saatmise modaalaken">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-toolbar data-ng-if="emailSent" class="md-accent">
      <div class="md-toolbar-tools" flex>
        <div>
          <h2 data-translate="CUSTOMER_SUPPORT_THANK_YOU"></h2>
        </div>
        <span flex></span>
        <md-button ng-click="cancel()" id="send2-email-close" class="md-icon-button"
                   aria-label="Sulge ekirja  modaalaken">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div data-ng-if="!emailSent">
      <md-content class="md-padding send-mail-ie">
        <div layout-xs="column" layout="column" layout-align-xs="start stretch" layout-align="start stretch" flex-order="1"
             flex-order-gt-sm="2" flex="100">
          <md-input-container class="md-block animate-if remaining-charaters-wrapper creator-email-dialog-title" flex>
          <input
            class="learningobject-title-color creator-email-dialog-input-text-wrap"
            name="learningobjectitle"
            id="learningobject-title"
            ng-model="emailToCreator.title"
            type="text"
            disabled
            placeholder="{{'TITLE' | translate}}"
          >
          </md-input-container>
          <md-input-container class="md-block animate-if remaining-charaters-wrapper" flex>
            <textarea
              placeholder="{{placeholder}}"
              name="emailContent"
              ng-model="emailToCreator.emailContent"
              id="email-content-description"
              autofocus="autofocus"
              rows="5"
              maxlength="500"
              ng-change="$ctrl.setPlaceholder()"
              class="final-step margin-bottom creator-email-overflow-auto"
              ng-trim="false"
            ></textarea>
            <div layout="row" layout-align="space-between center" layout-xs="column" layout-align-xs="end center">
              <div class="recaptcha no-margin"
                   vc-recaptcha
                   key="captchaKey"
                   on-success="$ctrl.captchaSuccess()"
                   on-expire="$ctrl.captchaExpired()"
                   lang="$ctrl.getLanguage()"
              ></div>
              <md-dialog-actions style="padding: 0px">
                <span flex></span>
                <md-button aria-label="Tühista emaili saatmine" id="send-email-cancel-button"
                           data-ng-disabled="isSaving"
                           data-ng-click="cancel()">
                  <span data-translate="BUTTON_CANCEL"></span>
                </md-button>
                <md-button class="md-raised md-primary"
                           data-ng-click="$ctrl.sendEmail()"
                           data-ng-disabled="isSendButtonDisabled()"
                           aria-label="Send mail"
                >
                  <span data-translate="CUSTOMER_SUPPORT_SEND"></span>
                </md-button>
                <md-progress-circular class="md-accent ng-hide" md-mode="indeterminate" md-diameter="40"
                                      data-ng-show="isSaving"></md-progress-circular>
              </md-dialog-actions>
            </div>
          </md-input-container>
        </div>
        <!-- Description -->
        <div layout="row" layout-align="center center" layout-align-xs="start center">
        </div>
      </md-content>

    </div>
    <div layout-align="center center" style="margin: 20px" data-ng-if="emailSent">
      <span data-translate="SEND_EMAIL_MESSAGE_SENT"></span>
    </div>
  </form>
</md-dialog>

