<div class="pick" layout-align="end start" data-ng-if="$ctrl.isVisible()">
  <md-tooltip md-direction="bottom">
    <span data-ng-if="$ctrl.isPublic()" data-ng-show="!$ctrl.learningObject.selected && !$ctrl.hasUnAcceptableLicenses()" data-translate="PICK_MATERIAL"></span>
    <span data-ng-if="$ctrl.isPublic()" data-ng-show="$ctrl.learningObject.selected" data-translate="REMOVE_PICKED_MATERIAL"></span>
    <span data-ng-if="$ctrl.isPrivate()" data-ng-show="!$ctrl.learningObject.selected" data-translate="PRIVATE_MATERIAL_WARNING"></span>
    <span data-ng-if="$ctrl.isPublic()" data-ng-show="$ctrl.hasUnAcceptableLicenses()">Antud litsentsiga materjali ei saa kogumikku lisada</span>
  </md-tooltip>

  <md-icon data-ng-if="$ctrl.isPublic() && !$ctrl.hasUnAcceptableLicenses()" class="unchecked">check</md-icon>
  <md-icon data-ng-if="$ctrl.isPublic() && !$ctrl.hasUnAcceptableLicenses()" data-ng-click="$ctrl.pickMaterial($event)" class="checked">check_circle</md-icon>
  <md-icon data-ng-if="$ctrl.isPrivate() || $ctrl.hasUnAcceptableLicenses()" class="material-icons">warning</md-icon>
</div>
