<md-progress-linear data-ng-if="!data || isLoading"></md-progress-linear>
<md-card class="md-data-table" data-ng-if="data">
  <!-- BEGIN Search learning objects -->
  <md-toolbar
    class="md-table-toolbar md-default"
    data-ng-if="$ctrl.viewPath != 'moderators' && $ctrl.viewPath != 'restrictedUsers'"
  >
    <div class="md-toolbar-tools custom-table-padding" data-layout-xs="column" data-layout-align-xs="start start">
      <h1 class="md-headline" data-translate="{{titleTranslationKey}}"></h1>
      <form data-flex name="filter.form">
        <md-input-container>
          <label></label>
          <md-icon data-md-colors="{ color: 'grey-400' }">search</md-icon>
          <input id="search-input"
                 type="text"
                 data-ng-model="query.filter"
                 data-ng-model-options="filter.options"
                 placeholder = "{{$ctrl.viewPath === 'sentEmails' ? ('SENT_EMAILS_SEARCH' | translate) : ('SEARCH' | translate)}}"
                 class="search-learning-objects"
          >
          <md-button data-ng-if="$ctrl.viewPath != 'unReviewed'"
                     id="clear-filter"
                     class="md-icon-button md-ink-ripple"
                     data-ng-click="$ctrl.clearFilter()"
                     data-ng-if="query.filter"
          >
            <md-icon data-md-colors="{ color: 'grey-400' }">close</md-icon>
          </md-button>
        </md-input-container>
      </form>
    </div>
  </md-toolbar>
  <!-- END Search learning objects -->
  <!-- BEGIN Search users -->
  <md-toolbar
    class="md-table-toolbar md-default"
    data-ng-if="$ctrl.viewPath == 'moderators' || $ctrl.viewPath == 'restrictedUsers'"
  >
    <div layout-margin>
      <h1 class="md-title" data-translate="SEARCH_USERS"></h1>
    </div>
    <div class="md-toolbar-tools">
      <md-autocomplete
        flex
        md-min-length="0"
        md-input-name="autocompleteField"
        md-selected-item="selectedUser"
        md-search-text="filterUsersInput"
        md-items="user in $ctrl.filterUsers(filterUsersInput)"
        md-item-text="user.username"
        placeholder="{{$ctrl.getUsernamePlaceholder()}}"
      >
        <md-item-template>
          <span md-highlight-text="filterUsersInput">{{user.username}}</span>
        </md-item-template>
      </md-autocomplete>
      <md-button
        aria-label="Ava kasutaja"
        class="md-raised md-default"
        data-ng-click="$ctrl.editUser(selectedUser)"
        data-translate="BUTTON_OPEN"
      ></md-button>
    </div>
  </md-toolbar>
  <!-- END Search users -->
  <div data-layout-xs="column" layout="row" style="padding: 0px 6px; margin: 6px 8px" data-ng-if="$ctrl.viewPath == 'unReviewed'">
    <md-input-container class="statistics-filter__experts-container"
                        data-flex data-layout="column"
    >
      <md-select id="expert-select"
                 data-placeholder="{{'EXPERT' | translate}}"
                 data-ng-model="filter.user"
                 data-ng-model-options="{trackBy: '$value.id'}"
                 aria-label="Vali ekspert"
                 data-ng-disabled="$ctrl.isModerator()"
                 data-ng-change="$ctrl.selectUsers(filter.user)"
      >
        <md-option
          data-ng-repeat="user in moderators"
          data-ng-value="user"
          data-ng-bind="user.name + ' ' + user.surname"
          ng-selected="$ctrl.isModerator()"
        ></md-option>
      </md-select>
    </md-input-container>
    <md-input-container class="statistics-filter__experts-container"
                        data-flex data-layout="column"
    >
      <md-select id="materialtype-select"
                 data-placeholder="{{'TYPE' | translate}}"
                 data-ng-model="filter.materialType"
                 aria-label="Vali materialitüüp"
                 data-ng-model-options="{trackBy: '$value'}"
                 data-ng-change="$ctrl.selectType(filter.materialType)"
                 data-ng-selected = "true"
      >
        <md-option
          data-ng-repeat="type in types"
          data-ng-value="type"
          data-translate="TYPE_{{type.toUpperCase()}}"
        ></md-option>
      </md-select>
    </md-input-container>
  </div>
  <div layout="row" data-flex data-layout-align="space-between center" data-layout-xs="column" data-layout-align-xs="start start" style="padding: 0px 6px; margin: 6px 8px" data-ng-if="$ctrl.viewPath == 'unReviewed'">
    <dop-taxon-selector
      flex
      class="statistics-filter__taxon-container"
      data-taxon="filter.educationalContext"
      data-is-statistics-select="true"
      data-on-statistics-multiselect="$ctrl.onSelectTaxons(taxons)"
      data-ng-show="isTaxonSelectVisible"
      data-clear-selection="clearFields"
    ></dop-taxon-selector>
    <div data-ng-if="$ctrl.viewPath == 'unReviewed'">
      <md-button id="clear-button"
                 class="statistics-filter__clear"
                 data-translate="CLEAR_FORM"
                 data-ng-click="$ctrl.clearFields()"
                 data-ng-show="filter.user || filter.taxons || educationalContext || filter.materialType"
                 aria-label="Tühjenda filtriväljad"
      ></md-button>
      <md-button id="filter-button"
                 class="md-raised md-primary statistics-filter__submit"
                 data-ng-class="{fetching: fetching}"
                 data-ng-click="$ctrl.getFilterResults()"
                 aria-label="Käivita filter"
      >
        <div class="spinner">
          <md-progress-circular data-md-diameter="20"></md-progress-circular>
        </div>
        <span data-translate="DO_FILTER"></span>
        <md-icon>arrow_forward</md-icon>
      </md-button>
    </div>
  </div>

  <md-table-container class="table-container">
    <div data-ng-show="itemsCount" class="md-data-table">
      <dop-unreviewed data-ng-if="$ctrl.viewPath == 'uus-oppevara'"></dop-unreviewed>
      <dop-improper data-ng-if="$ctrl.viewPath == 'teatatud-oppevara'"></dop-improper>
      <dop-changed data-ng-if="$ctrl.viewPath == 'muudetud-oppevara'"></dop-changed>
      <dop-deleted data-ng-if="$ctrl.viewPath == 'kustutatud-oppevara'"></dop-deleted>
      <dop-users data-ng-if="$ctrl.viewPath == 'aineeksperdid'"></dop-users>
      <dop-users data-ng-if="$ctrl.viewPath == 'piiratud-kasutajad'"></dop-users>
      <dop-sentemails data-ng-if="$ctrl.viewPath == 'saadetud-teated'"></dop-sentemails>
    </div>
    <!-- BEGIN Not found message after data is loaded but contains 0 items -->
    <div
      data-ng-show="data && !itemsCount"
      data-layout="row"
      data-layout-align="center center"
      data-layout-padding
    >
      <h2 class="md-body-2" data-translate="{{
        $ctrl.viewPath == 'moderators' || $ctrl.viewPath == 'restrictedUsers'
          ? 'ERROR_USERS_NOT_FOUND' : $ctrl.viewPath == 'sentEmails' ? 'EMAIL_SENT_EMAIL_NOT_FOUND'  : 'ERROR_LEARNING_OBJECTS_NOT_FOUND'}}"
      ></h2>
    </div>
    <!-- END Not found message -->
  </md-table-container>
  <md-table-pagination
    class="paginator-left"
    data-ng-if="itemsCount && itemsCount > query.limit"
    data-md-limit="query.limit"
    data-md-page="query.page"
    data-md-total="{{itemsCount}}"
    data-md-on-paginate="onPaginate"
    data-md-page-select>
  </md-table-pagination>
</md-card>
