.alert {
    margin-bottom: 0;
}

.alert-danger {
    span {
        &:before {
            display: inline-block;
            content: '\f05e';
            margin-right: 5px;
            font-family: FontAwesome;
        }
    }
}