.btn-dark {
    @include button-variant(#FFF, #003d68, #003d68);
    
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &:active:focus,
    &.active,
    &.active.focus {
        border: 1px solid $navbar-dark-bg;
        background: $navbar-dark-bg;
    }
}

.btn-grey {
    @include button-variant(#FFF, #777, #777);
    
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &:active:focus,
    &.active {
        @include button-variant(#FFF, #666, #666);
    }
}

.open > .dropdown-toggle {
    border-color: #003d68;
    background-color: #003d68
}

.login-btn {
    float: right;
}