.detailed-search {
    position: relative;
    z-index: 99;
    .container {
        background: #FFF;
        @include box-shadow-spec(0, 0, 2px, 0, #999);
        
        section {
            padding: 15px 0
        }
    }
}