.footer {
    
    position: absolute; bottom: 0; width: 100%; 
    
    .footer-inner {padding: 20px 0; border-top: 1px solid $font-color-grey-light;
        
        .copyright {
        
            line-height: 45px; font-size: 13px; color: $font-color-grey-light;

        }
    }
    
}