.footer {
    
    position: absolute; 
    bottom: 0; 
    width: 100%;
    
    .footer-outer {
        
        border-top: 1px solid $font-color-grey-light;
    
        .footer-inner {
            
            padding: 20px 0;
            
            @media screen and (max-width: $screen-md) {
                padding: 0;
            }
            
            .pull-right {
                @media screen and (max-width: $screen-md) {
                    float: left !important;
                }
            }

            .copyright {

                padding: 15px 0; 
                font-size: 13px; 
                color: $font-color-grey-medium;
                
                @media screen and (max-width: $screen-md) {
                    padding: 10px 0;
                }

            }
        }
    }
    
}