html {position: relative; min-height: 100%}

body {margin-bottom: 120px !important; font-weight: 400}

a:hover {cursor: pointer}

.main {padding-top: 80px; @include box-shadow(0, 30px, 50px, -30px, $navbar-default-bg, true)}