.row-material {padding-left: 5px; padding-right: 5px;
    
    .col-md-3 {padding-left: 10px; padding-right: 10px}
    
}

.material {
    
    .block {margin-bottom: 20px; @include border-radius(3px); @include box-shadow(0, 0, 2px, 0, #999); background: #FFF; overflow: hidden;
    
        .description {padding: 15px 10px; font-size: 13px; color: $font-color-grey;
        
            .title {position: relative; height: 70px; margin-bottom: 10px; line-height: 21px; font-size: 17px; overflow: hidden;
            
                a {font-size: 17px}
                
                &:after {position: absolute; bottom: 0; left: 0; dislay: block; content: ""; width: 100%; height: 80%; background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); pointer-events: none}
             
            };
            
            .authors {position: relative; height: 40px; margin-bottom: 10px; overflow: hidden;
                      
                &:after {position: absolute; bottom: 0; left: 0; dislay: block; content: ""; width: 100%; height: 80%; background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
                background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); pointer-events: none}
            
            }
        
        }
    }
}