.row-material {padding-left: 5px; padding-right: 5px;
    
    .col-md-3 {padding-left: 10px; padding-right: 10px}
    
}

.material {
    
    .block {margin-bottom: 20px; @include border-radius(3px); @include box-shadow(0, 0, 2px, 0, #999); background: #FFF; overflow: hidden;
    
        .description {padding: 15px 10px; font-size: 13px; color: $font-color-grey;
        
            .title {position: relative; height: 70px; padding-bottom: 10px; line-height: 21px; font-size: 17px; overflow: hidden;
            
                a {font-size: 17px}
            };
            
            .authors {position: relative; height: 50px; padding-bottom: 10px; overflow: hidden;
            
                .fade-line {}
            
            }
        
        }
        
        .line-fade {}
    }
}