.navbar {border: 0 !important; @include box-shadow(0, -2px, 2px, -2px, #3f7b8f, true);
    
    .navbar-form {margin-top: 17px !important; margin-bottom: 18px !important; 

        .input-group {padding: 10px 13px; @include border-radius(5px); background: #FFF;

            .form-control {width: 300px; margin: 0; border: 0; border-bottom: 1px solid #92c8d9}; @include box-shadow(none, none, none, none, none);
            
            .input-group-btn {border-bottom: 1px solid #92c8d9;
                
                button {padding: 4px 12px; border: 0; font-size: 18px; color: $navbar-default-bg}
            
            }
        }
    }
    
}

.navbar-nav {margin-left: 20px !important;
    
    .navbar-lang {
        
        > a {width: 90px; padding-bottom: 18.5px; 
             
             > span {padding-bottom: 5px}
        
        }
        
        a {padding-left: 10px; padding-right: 10px;
            
            span {display: inline-block; border-bottom: 1px solid #444;
            
                .fa {margin-left: 25px}
            }
        }
        
        
    }
    
    .navbar-submenu {position: absolute; top: 12.5px; padding: 12px 0; @include border-radius(3px); @include box-shadow(0, 0, 2px, 0, #999); background: $navbar-light-bg; list-style: none;
        
        > li:first-child {
            
            a {margin-bottom: 10px;
                
               span {display: inline-block; padding-bottom: 5px; border-bottom: 1px solid #777;
                
                    .fa {margin-left: 25px}
                    
                }
            }
        }
                     
        a {display: inline-block; color: $font-color-grey}

    }
}