.sidebar-module {
    
    h4 {margin-bottom: 10px; padding-bottom: 5px; border-bottom: 1px solid #DDD; font-size: 25px; font-weight: 300; color: $font-color-grey}
    
    ul {
        
        li {padding-bottom: 15px}
        
    }
    
}