$brand-primary: #0090db;

$brand-grey-medium: #AAA !default;

$body-bg: #F4F4F4;

$text-color: #444;

$fa-var-check: "\f00c";

//== Grid system

$grid-float-breakpoint: 992px;

$font-size-base: 15px;

$font-size-h1: floor(($font-size-base * 2.1));

$font-size-h3: floor(($font-size-base * 2.1));

$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serift;

$link-hover-decoration: none;

$font-color-grey: #777 !default;

$font-color-grey-medium: #AAA !default;

$font-color-grey-light: #DDD !default;

$background-color-grey-medium: #F4F4F4 !default;

$input-bg: none;


//== Navbar

$navbar-height: 80px;

$navbar-border-radius: 0;

$navbar-default-color: #FFF;

$navbar-default-bg: #0095da;

$navbar-light-bg: #75caf2 !default;

$navbar-dark-bg: #003d68 !default;


// Navbar links

$navbar-default-link-color: #FFF;

$navbar-default-link-hover-color: #FFF;


// Navbar toggle

$navbar-default-toggle-hover-bg: $navbar-default-bg !default;

$navbar-default-toggle-icon-bar-bg: #FFF !default;

$navbar-default-toggle-border-color: $navbar-default-bg !default;


//== Pagination 

$pagination-color: $brand-primary;

$pagination-bg: $body-bg;

$pagination-border: $body-bg;

$pagination-hover-color: #000;

$pagination-hover-bg: $body-bg;

$pagination-hover-border: $body-bg;

$pagination-active-color: $text-color;

$pagination-active-bg: $body-bg;

$pagination-active-border: $body-bg;

$pagination-disabled-color: #DDD;

$pagination-disabled-bg: #AAA;

$pagination-disabled-border: #AAA;


//== Buttons

$btn-default-color: #FFF;

$btn-default-bg: $brand-primary;

$btn-default-border: $brand-primary;

$btn-primary-color: #FFF;

$btn-primary-bg: #777;

$btn-primary-border: $btn-primary-bg;


$input-border-radius: 0;

$input-color-placeholder: #92c8d9;


// Dropdowns

$dropdown-bg: #FFF !default;

$dropdown-border: $dropdown-bg !default;

$dropdown-fallback-border: #ccc !default;

$dropdown-divider-bg: $brand-primary !default;

$dropdown-link-color: #FFF !default;

$dropdown-link-hover-color: darken(#FFF, 5%) !default;

$dropdown-link-hover-bg: $dropdown-bg !default;

$dropdown-link-active-color: #FFF !default;

$dropdown-link-active-bg:v#FFF !default;


//== Alerts

$alert-border-radius: 0;



