$font-color-grey: #777;

$font-color-grey-light: #AAA;

$border-radius-base: 0;

$input-bg: none;

$navbar-height: 80px !default;

$navbar-border-radius: 0;

$navbar-default-color: #FFF;

$navbar-default-link-color: #FFF !default;

$navbar-default-bg: #488da3 !default;

$navbar-light-bg: #444;

