$brand-primary: #0090db;

$body-bg: #F4F4F4 !default;

$text-color: #444;


$font-size-base: 15px;

$font-size-h1: floor(($font-size-base * 2.1)) !default;

$font-size-h3: floor(($font-size-base * 2.1)) !default;

$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$link-hover-decoration: none;

$font-color-grey: #777;

$font-color-grey-light: #AAA;

$background-color-grey-medium: #F4F4F4;

$input-bg: none;


$navbar-height: 80px !default;

$navbar-border-radius: 0;

$navbar-default-color: #FFF;

$navbar-default-bg: #0095da !default;

$navbar-light-bg: #75caf2;

$navbar-dark-bg: #003d68;

// Navbar links

$navbar-default-link-color: #FFF !default;

$navbar-default-link-hover-color: #FFF !default;

// Navbar toggle

$navbar-default-toggle-hover-bg: $navbar-default-bg !default;

$navbar-default-toggle-icon-bar-bg: #FFF !default;

$navbar-default-toggle-border-color: $navbar-default-bg !default;

//== Pagination 

$pagination-color: $brand-primary;

$pagination-bg: $body-bg !default;

$pagination-border: $body-bg !default;

$pagination-hover-color: #000;

$pagination-hover-bg: $body-bg !default;

$pagination-hover-border: $body-bg !default;

$pagination-active-color: $text-color !default;

$pagination-active-bg: $body-bg !default;

$pagination-active-border: $body-bg !default;

$pagination-disabled-color: #DDD !default;

$pagination-disabled-bg: #AAA !default;

$pagination-disabled-border: #AAA !default;




$btn-default-color: #FFF !default;

$btn-default-bg: #444 !default;

$btn-default-border: #444 !default;


$input-border-radius: 0;

$input-color-placeholder: #92c8d9;

$btn-border-radius-base: 0 !default;

$btn-border-radius-large: 0 !default;

$btn-border-radius-small: 0 !default;
