<div class="container">
    <div class="row">
        <div class="col-md-9 material-detail">
            <div class="row">
                <div class="col-md-9 description">
                    <div class="category text-grey">
                       <span data-translate="SUBJECT"></span>
                       <span>: </span><span ng-bind="getClassification(material.classifications)"></span>
                       <span class="separator">|</span>
                       <span data-translate="TYPE"></span>
                       <span>: </span><span data-translate="{{material.resourceTypes[0].name.toUpperCase()}}"></span>
                       <span class="separator">|</span>
                       <span data-translate="EDUCATIONAL_CONTEXT"></span>
                       <span>: </span><span data-translate="{{material.educationalContexts[0].name.toUpperCase()}}"></span>
                    </div>
                    <div class="heading">
                        <h1 ng-bind="getCorrectLanguageString(material.titles)"></h1>
                    </div>
                    <div class="authors">
                        <span data-ng-repeat="author in material.authors" class="item">
                            <a href="#"><span ng-bind="author.name"></span> <span ng-bind="author.surname"></span></a>
                        </span>
                    </div>
                    
                    <div ng-bind="getCorrectLanguageString(material.descriptions)"></div>

                </div>
                <div class="col-md-3">
                    <dl class="dl-horizontal">
                        <dt class="text-grey">
                            <span data-translate="UPDATED"></span><span>:</span>
                        </dt>
                        <dd class="text-right">
                            14.05.2015
                        </dd>
                        <dt class="text-grey">
                           <span data-translate="ADDED"></span><span>:</span>
                        </dt>
                        <dd class="text-right text-grey">
                            14.05.2015
                        </dd>
                        <dt class="text-grey">
                            <span data-translate="CREATED"></span><span>:</span>
                        </dt>
                        <dd class="text-right text-grey">
                            <span data-ng-if="material.issueDate.year >= 100" class="pull-right">{{formatIssueDate(material.issueDate)}}</span>
                            <span data-ng-if="material.issueDate.year > 0 && material.issueDate.year < 100" class="pull-right">{{formatIssueDate(material.issueDate)}} AD</span>
                            <span data-ng-if="material.issueDate.year < 0" class="pull-right">{{formatIssueDate(material.issueDate)}} BC</span>
                            <span data-ng-if="!material.issueDate.year" class="pull-right">Unkown</span>
                        </dd>
                    </dl>
                    
                    <div class="text-right"><span data-translate="REPOSITORY_NUMBER"></span> Five</div>

                    <div class="text-right text-grey">
                        <div data-ng-repeat="publisher in material.publishers">
                            <a data-ng-href="{{publisher.website}}" target="_blank"><small ng-bind="publisher.text"></small></a>
                        </div>
                    </div>
                    <div class="text-right" data-translate="ALL_RIGHTS_RESERVED">All rights reserved</div>
                    <div class="text-right text-grey"><small ng-bind="material.licenseType.text"></small></div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <section class="preview">
                        <header>
                            
                        </header>
                        <article>
                            <div data-ng-if="sourceType === 'YOUTUBE'" class="embed-responsive embed-responsive-16by9">
                                <youtube-video video-url="material.source" player-width="'768'" player-height="'432'" class="embed-responsive-item"></youtube-video>
                            <div>
                            <a data-ng-if="sourceType === 'LINK'" data-ng-href="{{material.source}}" target="_blank" data-ng-bind="material.source"></a>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
