<div class="container">
    <div class="row">
        <div class="col-md-9 material-detail">
            <div class="row">
                <div class="col-md-9 description">
                    <div class="category text-grey">
                        Subject: Biology   <span class="separator">|</span>   Type: Workbook   <span class="separator">|</span>   Ages: 12-15
                    </div>
                    <div class="heading">
                        <h1>{{material.title}}</h1>
                    </div>
                    <div class="authors">
                        <span data-ng-repeat="author in material.authors" >
                            <a href="#">{{author.name}} {{author.surname}}</a>
                        </span>
                    </div>
                    
                    <div class="">
                        {{getCorrectLanguageString(material.descriptions, material.language)}}
                    </div>
                </div>
                <div class="col-md-3">
                    <dl class="dl-horizontal">
                        <dt class="text-grey">
                            Updated:
                        </dt>
                        <dd class="text-right">
                            14.05.2015
                        </dd>
                        <dt class="text-grey">
                            Added:
                        </dt>
                        <dd class="text-right text-grey">
                            14.05.2015
                        </dd>
                        <dt class="text-grey">
                            Created:
                        </dt>
                        <dd class="text-right text-grey">
                            22.02.2015
                        </dd>
                    </dl>
                    
                    <div class="text-right">Repository Number Five</div>
                    <div class="text-right text-grey"><small>Repository</small></div>
                    <div class="text-right">All rights reserved</div>
                    <div class="text-right text-grey"><small>Licence</small></div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <section class="preview">
                        <header>
                            
                        </header>
                        <article>
                            <img src="img/material-video-preview.jpg">
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
