<md-card class="card-lg card-mb-20" id="portfolio-card">
  <div layout="column" layout-gt-xs="row">
    <!-- left large side  -->
    <div flex flex-gt-xs="75" layout="column" class="left-side">
      <!-- left headline -->
      <div layout="row">
        <h1 flex data-ng-bind="portfolio.title"></h1>

        <div dop-share
        data-title="portfolio.title"
        data-description="portfolio.summary"
        data-object="portfolio"></div>

        <md-menu>
          <md-button class="md-icon-button" ng-click="$mdOpenMenu()" id="material-menu">
            <md-icon md-menu-origin>more_vert</md-icon>
          </md-button>
          <md-menu-content width="4" id="material-actions">
            <md-menu-item data-ng-if="!isEditPortfolioMode && canEdit()">
              <md-button data-ng-click="editPortfolio()" id="material-edit">
                <md-icon md-menu-align-target>edit</md-icon>
                <span data-translate="EDIT_PORTFOLIO"></span>
              </md-button>
            </md-menu-item>
            <md-menu-item data-ng-if="isEditPortfolioMode">
              <md-button data-ng-click="showEditMetadataDialog()">
                <md-icon md-menu-align-target>edit</md-icon>
                <span data-translate="PORTFOLIO_EDIT_METADATA"></span>
              </md-button>
            </md-menu-item>

            <md-menu-item data-ng-if="canEdit() && !isAdminButtonsShowing() && !portfolio.deleted">
              <md-button data-ng-click="confirmPortfolioDeletion()">
                <md-icon md-menu-align-target>delete</md-icon>
                <span data-translate="PORTFOLIO_DELETE"></span>
              </md-button>
            </md-menu-item>

            <md-menu-item data-ng-if="isAdminOrModerator() && portfolio.deleted && !isAdminButtonsShowing()">
              <md-button data-ng-click="restorePortfolio()">
                <md-icon md-menu-align-target>undo</md-icon>
                <span data-translate="BUTTON_RESTORE"></span>
              </md-button>
            </md-menu-item>
            <md-menu-item data-ng-if="isViewPortforlioPage" dop-copy-permalink data-url="pageUrl"></md-menu-item>
            <md-menu-divider data-ng-if="isAdmin()"></md-menu-divider>

            <md-menu-item data-ng-if="isAdmin()" dop-recommend data-portfolio="portfolio"></md-menu-item>

            <md-menu-divider data-ng-if="!isAdminOrModerator()"></md-menu-divider>
            <md-menu-item data-ng-if="!isAdminOrModerator()" dop-report-improper
            data-learning-object="portfolio"></md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
      <!-- left meta  -->
      <div layout="row">


        <!--TAXON-->
        <div flex>
          <p class="md-body-2 meta">
            <small class="md-caption">
              <span data-translate="DETAIL_VIEW_EDUCATIONAL_CONTEXT" id="taxon-close"></span>
            </small>
          </small>
          <br>
          <span class="ellipsis" data-ng-repeat="taxon in portfolio.taxons | limitTo:2 track by $index">
            <span class="ellipsis" data-ng-if="!portfolio.taxons" data-translate="UNKNOWN">Unknown</span>
            <span class="ellipsis" data-ng-if="getEducationalContext(taxon)"
            data-translate="{{getEducationalContext(taxon)}}"></span>
          </span>
          <span class="ellipsis" data-ng-if="portfolio.taxons.length > 2">...</span>
          <span class="ellipsis" data-ng-if="!portfolio.taxons" data-translate="UNKNOWN">Unknown</span>
        </p>
      </div>

      <div flex data-ng-if="!getPortfolioSubjects().length === 0">
        <p class="md-body-2 meta">
          <small class="md-caption">
            <span data-translate="DETAIL_VIEW_DOMAIN"></span>
          </small>
          <br/>
          <span class="ellipsis" data-ng-repeat="taxon in portfolio.taxons | limitTo:2 track by $index">
            <span class="ellipsis" data-ng-if="getDomain(taxon)"
            data-translate="{{'DOMAIN_' + getDomain(taxon)}}"></span>
            <span class="ellipsis" data-ng-if="!getDomain(taxon)" data-translate="UNKNOWN">Unknown</span>
          </span>
          <span class="ellipsis" data-ng-if="portfolio.taxons.length > 2">...</span>
          <span class="ellipsis" data-ng-if="!portfolio.taxons" data-translate="UNKNOWN">Unknown</span>
        </p>
      </div>

      <div flex data-ng-if="getPortfolioSubjects().length > 0">
        <p class="md-body-2 meta">
          <small class="md-caption">
            <span data-translate="DETAIL_VIEW_SUBJECT"></span>
          </small>
          <br/>
          <span class="ellipsis" data-ng-repeat="taxon in portfolio.taxons | limitTo:2 track by $index">
            <span class="ellipsis" data-ng-if="getSubject(taxon)"
            data-translate="{{'SUBJECT_' + getSubject(taxon)}}"></span>
            <span class="ellipsis" data-ng-if="!getSubject(taxon)" data-translate="UNKNOWN">Unknown</span>
          </span>
          <span class="ellipsis" data-ng-if="portfolio.taxons.length > 2">...</span>
        </p>
      </div>
      <!--TAXON END-->
      <div flex>
        <p class="md-body-2 meta">
          <small class="md-caption">
            <span data-translate="DETAIL_VIEW_TARGET_GROUP" id="targetgroup-close"></span>
          </small>
          <br/>
          <span class="ellipsis" data-ng-if="portfolio.targetGroups">
            <span data-ng-repeat="group in getTargetGroups()">
              <span data-ng-bind="group"></span><span
              data-ng-bind="$index < getTargetGroups().length - 1 ? ', ' : ''"></span>
            </span>
          </span>
          <span class="ellipsis" data-ng-if="!portfolio.targetGroups || !portfolio.targetGroups.length"
          data-translate="UNKNOWN">Unknown</span>
        </p>
      </div>
    </div>


    <md-divider class="md-default-theme"></md-divider>

    <!-- left description  -->
    <div class="wrapped">
      <div class="md-body-1 description textangular-view" data-ng-bind-html="portfolio.summary"></div>
    </div>

    <!-- left tags  -->
    <div data-ng-if="portfolio && portfolio.id" data-dop-tags class="tags" data-learning-object="portfolio"></div>

  </div>


  <!-- right small side  -->
  <div layout="column" flex flex-gt-xs="25" class="right-side">
    <!-- Hidden because waiting for correct design-->
    <div class="card-media">
      <div class="ribbon"></div>
      <div class="card__icon-holder">
        <md-icon data-ng-if="portfolio.visibility === 'PRIVATE'">lock</md-icon>
        <md-icon data-ng-if="portfolio.visibility === 'NOT_LISTED'">link</md-icon>
        <md-tooltip md-direction="bottom">
          <span data-ng-if="portfolio.visibility === 'PRIVATE'" data-translate="PORTFOLIO_VISIBILITY_PRIVATE"></span>
          <span data-ng-if="portfolio.visibility === 'NOT_LISTED'"
          data-translate="PORTFOLIO_VISIBILITY_NOT_LISTED"></span>
        </md-tooltip>
      </div>
      <div data-ng-if="isLoggedIn() && !isRestricted() && !portfolio.deleted" data-dop-favorite
      data-learning-object="portfolio"></div>

      <!-- imaged -->
      <div data-ng-if="portfolio.picture" class="card-cover imaged">
        <img data-ng-src="rest/picture/thumbnail/lg/{{portfolio.picture.name}}" sizes="(max-width: 600) 600px, 300px"
        data-ng-srcset="rest/picture/thumbnail/lg/{{portfolio.picture.name}} 300w,
        rest/picture/thumbnail/lg_xs/{{portfolio.picture.name}} 600w"/>
      </div>
      <!-- noimage -->
      <div data-ng-if="!portfolio.picture" class="card-cover portfolio">
        <div class="pattern">
          <div class="sheet up-left"></div>
          <div class="sheet low-right"></div>
          <div class="sheet low-left"></div>
        </div>
        <md-icon class="icon-kind">book</md-icon>
      </div>
    </div>

    <md-content>
      <p class="md-body-2 meta">
        <small class="md-caption">
          <span data-translate="CREATOR"></span>:
        </small>
        <a data-ng-href="/{{portfolio.creator.username}}">
          <span data-ng-bind="portfolio.creator.name"></span>
          <span data-ng-bind="portfolio.creator.surname"></span>
        </a>
      </p>

      <p class="md-body-2 meta" data-ng-if="portfolio.creator.id != portfolio.originalCreator.id">
        <small class="md-caption">
          <span data-translate="ORIGINAL_CREATOR"></span>:
        </small>
        <a data-ng-href="/{{portfolio.originalCreator.username}}">
          <span data-ng-bind="portfolio.originalCreator.name"></span>
          <span data-ng-bind="portfolio.originalCreator.surname"></span>
        </a>
      </p>

      <p class="md-body-2 meta" data-ng-if="portfolio.added">
        <small class="md-caption">
          <span data-translate="CREATED"></span>:
        </small>
        {{portfolio.added | date:'dd.MM.yyyy'}}
      </p>

      <p class="md-body-2 meta">
        <small class="md-caption">
          <span data-translate="VIEW_COUNT"></span>:
        </small>
        <span data-ng-bind="portfolio.views"></span>
      </p>
    </md-content>
  </div>
</div>

<md-divider class="md-default-theme"></md-divider>

<md-card-actions  layout="column" layout-gt-xs="row">
  <div data-ng-if="!isEditPortfolioMode && portfolio.type" flex="50" flex-gt-xs="75" class="ng-cloak" ng-cloak>
    <div data-dop-comments-card comments="portfolio.comments" comment="comment" submit-click="addComment()"
    class="ng-cloak" ng-cloak></div>
  </div>
  <span flex></span>
  <!-- rating control -->
  <div data-ng-if="!isEditPortfolioMode && portfolio.type" data-dop-rating
  data-portfolio="portfolio"
  like-message="{{ 'PORTFOLIO_LIKED' | translate }}"
  dislike-message="{{ 'PORTFOLIO_DISLIKED' | translate }}">
</div>
</md-card-actions>
</md-card>
