#page-add {
  #main-content {
    overflow-y: auto;
    overflow-x: hidden;
  }

  md-card {
    margin: 0;
  }

  #portfolio-chapters {
    margin-top: 20px;

    .portfolio-chapter-subchapters {
      list-style: none;

      .portfolio-chapter-subchapter {
        & + .portfolio-chapter-subchapter {
          margin-top: 20px;
        }

        .subchapter-title {
          input {
            font-size: 16px;
          }
        }

        h3 {
          text-transform: uppercase;
        }
      }
    }
  }
}
