<div id="page-dashboard" flex>
  <div layout layout-align="center start" flex>
    <section layout="row" layout-sm="column" flex flex-gt-md="100">
      <article class="md-padding" role="main" flex>
        <div layout="row" class="type-block">
          <h1 data-translate="DASHBOARD"></h1>
        </div>

        <md-card class="md-data-table" id="deleted-materials-table" data-ng-include="'views/dashboard/baseTable/baseTable.html'" data-ng-controller="deletedMaterialsController" onload="bindTable()"></md-card>

      </article>
    </section>
  </div>
</div>
