<md-dialog aria-label="Material" id="dialog-add-material" flex-gt-md="65">
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools" flex>
      <h2>
        <span data-translate="ADD_MATERIAL"></span>
      </h2>
      <span flex></span>
      <md-button ng-click="cancel()" class="md-icon-button" aria-label="close">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content layout="column">

    <md-tabs md-dynamic-height md-border-bottom md-autoselect md-stretch-tabs="always" md-selected="step.currentStep">
      <md-tab label="{{ 'MATERIAL_TAB_MAIN_DATA' | translate }}" data-ng-disabled="step.isTabDisabled(0)">
        <md-content class="md-padding">
          <!-- url & lang-->
          <form name="materialUrlForm" layout="row" flex layout-align="space-between center">
            <h6 class="md-caption md-padding">Asukoht*</h6>
            <md-input-container flex>
              <label></label>
              <input data-ng-model="material.url" name="url" id="add-material-url-input" type="url" required>
              <div data-ng-messages="materialUrlForm.url.$error" data-ng-show="materialUrlForm.url.$dirty" multiple>
                <div data-ng-message="required" data-ng-show="materialUrlForm.url.$error.required" data-translate="MATERIAL_URL_IS_MANDATORY"></div>
                <div data-ng-message="url" data-ng-show="materialUrlForm.url.$error.url" data-translate="MATERIAL_URL_IS_INVALID"></div>
              </div>
            </md-input-container>
            <h6 class="md-caption md-padding" data-translate="LANGUAGE"></h6>
            <md-input-container flex="20">
              <label data-translate="LANGUAGE"></label>
              <md-select data-ng-model="material.language" id="add-material-language-select">
                <md-option data-ng-repeat="language in material.languages" value="{{language}}">
                  <span data-translate="LANGUAGE_{{language.toUpperCase()}}" />
                </md-option>
              </md-select>
            </md-input-container>
          </form>

          <!-- image upload -->
          <div layout="row" flex layout-align="space-between center">
            <div data-ngf-drop ngf-select ng-model="material.picture" class="drop-box"
              data-ngf-drag-over-class="'dragover'"
              data-ngf-multiple="false"
              data-accept="image/*"
              data-ngf-pattern="'image/*'"
              layout="row"
              layout-align="center center" flex>
              <span flex>
                <md-icon>attach_file</md-icon>
                <span data-translate="MATERIAL_PHOTO_UPLOAD_HELP"></span>
              </span>
            </div>
            <div data-ng-if="material.picture" class="drop-box-preview">
              <h3 class="md-subhead" data-translate="MATERIAL_PHOTO_PREVIEW"></h3>
              <img data-ngf-thumbnail="material.picture" ngf-size="{width: 300, height: 300, quality: 0.9}" alt="photo">
            </div>
          </div>

          <!-- heading-desc-lang group -->
          <div class="form-group" data-ng-repeat="metadata in material.metadata">
            <div layout="row" layout-align="center center">
              <h6 class="md-caption md-padding">Pealkiri</h6>
              <md-input-container flex>
                <label data-translate="MATERIAL_TITLE"></label>
                <input data-ng-model="metadata.title">
              </md-input-container>
              <h6 class="md-caption md-padding" data-translate="LANGUAGE"></h6>
              <md-input-container flex="20">
                <md-select data-ng-model="metadata.language" flex>
                  <md-option data-ng-repeat="language in material.languages" value="{{language}}">
                    <span data-translate="LANGUAGE_{{language.toUpperCase()}}" />
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <div layout="row" layout-align="top center">
              <h6 class="md-caption md-padding" data-translate="MATERIAL_DESCRIPTION"></h6>
              <md-input-container flex>
                <label>Lühitutvustus, 600 tähemärki</label>
                <textarea ng-model="metadata.description" rows="2"></textarea>
              </md-input-container>
              <md-button class="md-icon-button md-primary" data-ng-click="addNewMetadata()">
                <md-icon>add_circle</md-icon>
                <md-tooltip md-direction="top">Lisa keel</md-tooltip>
              </md-button>
              <md-button class="md-icon-button" data-ng-show="material.metadata.length > 1" data-ng-click="deleteMetadata($index)">
                <md-icon>remove_circle</md-icon>
                <md-tooltip md-direction="top">Eemalda keel</md-tooltip>
              </md-button>
            </div>
          </div>

          <div layout="row" flex layout-align="space-between center">
            <h6 class="md-caption md-padding" data-translate="MATERIAL_VIEW_RESOURCE_TYPE"></h6>
            <md-input-container flex>
              <label>Vali materiali tüüp/tüübid</label>
              <md-select data-ng-model="material.selectedResourceTypes" multiple>
                <md-option data-ng-repeat="resourceType in material.resourceTypes" value="{{resourceType}}">
                  <span data-translate="{{resourceType.name}}" />
                </md-option>
              </md-select>
            </md-input-container>
          </div>

        </md-content>
      </md-tab>

      <md-tab label="{{ 'MATERIAL_TAB_ADDITIONAL_DATA' | translate }}" data-ng-disabled="step.isTabDisabled(1)">
        <md-content class="md-padding">
          <div layout="row" flex layout-align="space-between center">
            <h6 class="md-caption md-padding">Autor</h6>
            <md-input-container flex>
              <label data-translate="MATERIAL_AUTHOR_NAME"></label>
              <input data-ng-model="material.author.name">
            </md-input-container>
            <md-input-container flex>
              <label data-translate="MATERIAL_AUTHOR_SURNAME"></label>
              <input data-ng-model="material.author.surname" ng-required="material.author.name">
            </md-input-container>
          </div>

          <div layout="row" flex layout-align="space-between center">
            <h6 class="md-caption md-padding" data-translate="MATERIAL_PUBLISHER"></h6>
            <md-input-container class="md-block" flex>
              <label></label>
              <input data-ng-model="material.publisher">
            </md-input-container>
          </div>

          <div layout="row" flex layout-align="space-between center">
            <h6 class="md-caption md-padding" data-translate="MATERIAL_VIEW_LICENSE_TYPE"></h6>
            <md-input-container flex>
              <label>Vali litsentsi tüüp</label>
              <md-select data-ng-model="material.licenseType">
                <md-option data-ng-repeat="licenceType in material.licenceTypes" value="{{licenceType}}" data-translate="LICENSETYPE_{{licenceType.name.toUpperCase()}}">
                </md-option>
              </md-select>
            </md-input-container>
            <md-switch class="md-primary md-block md-padding" md-no-ink data-ng-model="material.paid">
              <span data-translate="MATERIAL_PAID"></span>
            </md-switch>
          </div>
        </md-content>
      </md-tab>

      <md-tab label="Klassifikatsioon" data-ng-disabled="step.isTabDisabled(2)">
        <md-content class="md-padding">
          <div layout="row" flex layout-align="space-between center" data-ng-repeat="taxon in material.taxons track by $index">
            <h6 class="md-caption md-padding">Liigitus</h6>
            <div data-dop-taxon-selector data-taxon="material.taxons[$index]" data-disable-educational-context="!$first" layout="row" layout-sm="column" flex></div>
            <md-button class="md-icon-button md-primary" data-ng-click="addNewTaxon()" data-ng-disabled="!isEducationalContextSelected">
              <md-icon>add_circle</md-icon>
              <md-tooltip md-direction="top">Lisa liigitus</md-tooltip>
            </md-button>
            <md-button class="md-icon-button md-accent-2" data-ng-show="material.taxons.length > 1" data-ng-click="deleteTaxon($index)">
              <md-icon>remove_circle</md-icon>
              <md-tooltip md-direction="top">Eemalda liigitus</md-tooltip>
            </md-button>
          </div>

          <div layout="row" flex layout-align="space-between center">
            <h6 class="md-caption md-padding">Sihtrühm</h6>
            <div data-dop-target-group-selector data-target-groups="material.targetGroups" flex="20"></div>
            <h6 class="md-caption md-padding" data-translate="MATERIAL_TAGS"></h6>
            <md-chips
              data-ng-model="material.tags"
              delete-button-label="{{ 'MATERIAL_REMOVE_TAG' | translate }}"
              delete-hint="{{ 'MATERIAL_REMOVE_TAG_HINT' | translate }}"
              secondary-placeholder="Kinnitamiseks vajuta Enter"
              flex>
            </md-chips>
          </div>

          <div layout="row" flex layout-align="center center">
            <h6 class="md-caption md-padding" data-translate="MATERIAL_KEY_COMPETENCES"></h6>
            <md-chips ng-model="material.selectedKeyCompetences" md-autocomplete-snap="" md-require-match="true" flex>
              <md-autocomplete
                md-no-cache="true"
                md-selected-item="material.selectedKeyCompetence"
                md-search-text="material.competenceSearchText"
                md-items="keyCompetence in searchKeyCompetences(material.competenceSearchText)"
                md-item-text="translate(keyCompetence.name, 'KEY_COMPETENCE_')"
                placeholder="{{ 'MATERIAL_SEARCH_KEY_COMPETENCE' | translate }}"
                md-min-length="0"
                md-autoselect>
                <span md-highlight-text="material.competenceSearchText" md-highlight-flags="^i">
                  {{translate(keyCompetence.name, 'KEY_COMPETENCE_')}}
                </span>
              </md-autocomplete>
              <md-chip-template>
                <span>
                  <span data-translate="KEY_COMPETENCE_{{$chip.name.toUpperCase()}}"></span>
                </span>
              </md-chip-template>
            </md-chips>
          </div>

          <div layout="row" flex layout-align="center center">
            <h6 class="md-caption md-padding" data-translate="MATERIAL_CROSS_CURRICULAR_THEMES"></h6>
            <md-chips ng-model="material.selectedCrossCurricularThemes" md-autocomplete-snap="" md-require-match="true" flex>
              <md-autocomplete
                md-selected-item="material.selectedCrossCurricularTheme"
                md-search-text="material.crossCurricularSearchText"
                md-items="crossCurricularTheme in searchCrossCurricularThemes(material.crossCurricularSearchText)"
                md-item-text="translate(crossCurricularTheme.name, 'CROSS_CURRICULAR_THEME_')"
                placeholder="{{ 'MATERIAL_SEARCH_CROSS_CURRICULAR_THEME' | translate }}"
                md-min-length="0"
                md-autoselect>
                <span md-highlight-text="material.crossCurricularSearchText" md-highlight-flags="^i">
                  {{translate(crossCurricularTheme.name, 'CROSS_CURRICULAR_THEME_')}}
                </span>
              </md-autocomplete>
              <md-chip-template>
                <span>
                  <span data-translate="CROSS_CURRICULAR_THEME_{{$chip.name.toUpperCase()}}"></span>
                </span>
              </md-chip-template>
            </md-chips>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-dialog-content>
  
  <div class="md-actions">
    <md-button data-ng-click="step.previousStep()" data-ng-show="step.currentStep > 0" class="md-primary">
      <ng-md-icon icon="arrow_back"></ng-md-icon>
      <span data-translate="BUTTON_PREVIOUS_STEP"></span>
    </md-button>
    <span flex></span>
    <md-button id="add-material-cancel-button" data-ng-click="cancel()">
      <span data-translate="BUTTON_CANCEL"></span>
    </md-button>
    <md-button id="add-material-create-button" data-ng-click="createMaterial()" data-ng-disabled="!step.canCreateMaterial()" class="md-primary">
      <span data-translate="BUTTON_CREATE_MATERIAL"></span>
    </md-button>
    <md-button data-ng-click="step.nextStep()" data-ng-hide="step.isLastStep()" data-ng-disabled="!step.canProceed()" class="md-primary">
      <span data-translate="BUTTON_NEXT_STEP"></span>
      <ng-md-icon icon="arrow_forward"></ng-md-icon>
    </md-button>
  </div>
</md-dialog>
