<!doctype html>
<html class="no-js" data-ng-app="koolikottApp">
<head>
  <!-- plumbr web must be first-->
  <script data-plumbr="plumbr"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145830836-1"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-72667340-1"></script>
  <script>
    if(window.location.hostname === "e-koolikott.ee"){
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-72667340-1', { 'optimize_id': 'GTM-MGQW3L9'});
    } else {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-145830836-1', {'optimize_id': 'GTM-T9DVZLH'});
    }
  </script>

  <!-- Google Tag Manager -->
  <script>
    if(window.location.hostname === "e-koolikott.ee") {
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-K3DVC56');
    }
  </script>
  <!-- End Google Tag Manager -->
  <base href="/">
  <meta charset="utf-8">
  <title ng-bind="$root.tabTitle"></title>

  <meta name="description" content="{{$root.applicationDescription}}">
  <meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'/>

  <!-- build:css(app) /styles/vendor.css -->
  <link rel="stylesheet" href="/libs/angular-material-data-table/dist/md-data-table.min.css"/>
  <link rel="stylesheet" href="/libs/medium-editor/dist/css/medium-editor.css"/>
  <link rel="stylesheet" href="/libs/medium-editor/dist/css/themes/beagle.css"/>

  <!-- endbuild -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic,300italic">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/0.9.2/trix.css">
  <!-- build:css(.tmp) /styles/main.css -->
  <link rel="stylesheet" href="/styles/main.css">
  <!-- endbuild -->

  <meta property="og:url" content="https://e-koolikott.ee"/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="e-Koolikott"/>
  <meta property="og:description"
        content="E-koolikott is a single web environment
        comprising digital learning material arranged by keywords on the basis of the curriculum.
        The portal allows finding educational materials located in different digital tool collections.
        The primary purpose of e-Koolikott is to allow accessing digital learning materials from a single point
        - the user no longer needs to search for materials in different portals."/>
  <meta property="og:image:secure_url" content="https://e-koolikott.ee/ekoolikott.png"/>
  <script type="application/ld+json">[
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://e-koolikott.ee",
      "logo": "https://e-koolikott.ee/ekoolikott.png"
    },
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "url": "https://e-koolikott.ee/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://e-koolikott.ee/search/result?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
  ]
  </script>
</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3DVC56" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!--[if lt IE 11]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->
<img data-ng-if="!hasAppInitated" id="preloader" class="preloader" src="utils/preloader/ring.gif" title="Loading..." alt="Loading...">

<data-dop-cookie-notice data-ng-if="showCookieBanner" class="cookie-parent" id="cookieParent"></data-dop-cookie-notice>
<data-dop-column-layout data-ng-if="hasAppInitated" layout-fill></data-dop-column-layout>
<data-dop-main-fab-button data-ng-show="!isProfile"></data-dop-main-fab-button>
<data-dop-scroll-top data-ng-show="!isProfile"></data-dop-scroll-top>
<data-dop-customer-support></data-dop-customer-support>

<!--preloader-->
<!--<script src="utils/preloader/preloader.js"></script>-->
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    var element = document.getElementById("preloader");
    setTimeout(function () {
      element.parentNode.removeChild(element);
    }, 3000)
  });</script>

<!-- vendor -->
<script src="libs/core.js/client/shim.min.js"></script>
<script src="libs/cssua.js/cssua.min.js"></script>
<script src="libs/jquery/dist/jquery.min.js"></script>
<script src="libs/angular/angular.min.js"></script>
<script src="libs/angular-translate/angular-translate.min.js"></script>
<script src="libs/angular-translate-loader-url/angular-translate-loader-url.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="libs/lodash/dist/lodash.min.js"></script>
<script src="libs/angular-socialshare/dist/angular-socialshare.min.js"></script>
<script src="libs/angular-messages/angular-messages.min.js"></script>
<script src="libs/jquery-truncate-html/jquery.truncate.js"></script>
<script src="utils/stickyfill.min.js"></script>
<script src="libs/unorm/lib/unorm.js"></script>
<script src="libs/moment/min/moment.min.js"></script>
<script src="libs/rangy/rangy-core.min.js"></script>
<script src="libs/rangy/rangy-selectionsaverestore.min.js"></script>
<script src="libs/medium-editor/dist/js/medium-editor.min.js"></script>
<script src="libs/angular-recaptcha/release/angular-recaptcha.js"></script>
<script src="libs/angular-cookies/angular-cookies.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/trix/0.9.2/trix.js"></script>
<script src="libs/angular-trix/dist/angular-trix.min.js"></script>
<script src="libs/angular-material/angular-material.min.js"></script>
<script src="libs/angular-update-meta/dist/update-meta.js"></script>

<script>
window.___gcfg = {
parsetags: 'explicit'
};
</script>
<script src="https://apis.google.com/js/client:platform.js" async defer></script>
<script src="constants.js"></script>

<!-- build:js js/libsAngular.js -->
<script src="libs/angular-screenfull/dist/angular-screenfull.min.js"></script>
<script src="libs/angular-scroll/angular-scroll.min.js"></script>
<script src="libs/angular-route/angular-route.min.js"></script>
<script src="libs/angular-youtube-mb/dist/angular-youtube-embed.min.js"></script>
<script src="libs/angular-material-data-table/dist/md-data-table.min.js"></script>
<!-- endbuild -->

<!-- build:js js/libsAngularSecond.js -->
<script src="libs/angular-sortable-view/src/angular-sortable-view.js"></script>
<script src="libs/angular-click-outside/clickoutside.directive.js"></script>
<script src="utils/angular-tour-tpls.js"></script>
<script src="libs/qrcode-generator/js/qrcode.js"></script>
<script src="libs/qrcode-generator/js/qrcode_UTF8.js"></script>
<script src="libs/angular-qrcode/angular-qrcode.js"></script>
<script src="libs/angular-animate/angular-animate.js"></script>
<script src="libs/angular-aria/angular-aria.js"></script>
<script src="libs/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
<!-- endbuild -->

<!-- build:js js/libs.js -->
<script src="libs/clipboard/dist/clipboard.min.js"></script>
<script src="utils/ui-bootstrap-custom-tpls.min.js"></script>
<script src="libs/medium-button/src/medium-button.js"></script>
<script src="libs/textAngular/dist/textAngular-sanitize.min.js"></script>
<script src="libs/textAngular/dist/textAngularSetup.js"></script>
<script src="utils/koolikottTextAngular.js"></script>
<script src="libs/screenfull/dist/screenfull.min.js"></script>
<script src="libs/ngInfiniteScroll/build/ng-infinite-scroll.min.js"></script>
<script src="libs/bluebird/js/browser/bluebird.min.js"></script>
<script src="libs/ng-file-upload/ng-file-upload.min.js"></script>
<script src="utils/material-scrolltop.js"></script>
<!-- endbuild -->


<!-- build:js js/config.js -->
<script src="utils/commons.js"></script>
<script src="utils/medium-editor-patches.js"></script>
<script src="app.js"></script>
<script src="app.routes.js"></script>
<!-- endbuild -->

<!-- build:js js/services.js -->
<script src="services/authentication.service.js"></script>
<script src="services/authenticatedUser.service.js"></script>
<script src="services/serverCall.service.js"></script>
<script src="services/metadata.service.js"></script>
<script src="services/taxon.service.js"></script>
<script src="services/dialog.service.js"></script>
<script src="services/embed.service.js"></script>
<script src="services/fileUpload.service.js"></script>
<script src="services/icon.service.js"></script>
<script src="services/pictureUpload.service.js"></script>
<script src="services/recursionHelper.js"></script>
<script src="services/search.service.js"></script>
<script src="services/storage.service.js"></script>
<script src="services/suggest.service.js"></script>
<script src="services/targetGroup.service.js"></script>
<script src="services/toast.service.js"></script>
<script src="services/translation.service.js"></script>
<script src="services/userData.service.js"></script>
<script src="services/changedLearningObject.service.js"></script>
<script src="services/youtube.service.js"></script>
<script src="services/material.service.js"></script>
<script src="services/tour.service.js"></script>
<script src="services/sort.service.js"></script>
<script src="services/portfolio.service.js"></script>
<script src="services/tags.service.js"></script>
<script src="services/taxonGrouping.service.js"></script>
<script src="services/event.service.js"></script>
<script src="services/itemFilter.js"></script>
<script src="services/userLocator.service.js"></script>
<script src="services/userSession.service.js"></script>
<script src="services/userManualsAdmin.service.js"></script>
<script src="services/faq.service.js"></script>
<script src="services/userEmail.service.js"></script>
<script src="services/terms.service.js"></script>
<!-- endbuild -->

<!-- build:js js/controllers.js -->
<script src="views/addMaterialDialog/addMaterialDialog.js"></script>
<script src="views/addMediaDialog/addMediaDialog.js"></script>
<script src="views/addPortfolioDialog/addPortfolioDialog.js"></script>
<script src="views/agreement/agreementDialog.js"></script>
<script src="views/dashboard/baseTableView.js"></script>
<script src="views/dashboard/dashboard.js"></script>
<script src="views/editPortfolio/editPortfolio.js"></script>
<script src="views/editUserDialog/editUser.js"></script>
<script src="views/sentEmail/sentEmail.js"></script>
<script src="views/home/home.js"></script>
<script src="views/loginDialog/loginDialog.js"></script>
<script src="views/loginRedirect/loginRedirect.js"></script>
<script src="views/material/material.js"></script>
<script src="views/learningObjectAgreementDialog/learningObjectLicenseAgreementDialog.js"></script>
<script src="views/portfolio/portfolio.js"></script>
<script src="views/profile/favorites/favorites.js"></script>
<script src="views/profile/materials/materials.js"></script>
<script src="views/profile/portfolios/portfolios.js"></script>
<script src="views/profile/profile.js"></script>
<script src="views/search/result/searchResult.js"></script>
<script src="views/statistics/expertStatistics.js"></script>
<script src="views/userManualsAdmin/userManualsAdmin.js"></script>
<script src="views/userManual/userManual.js"></script>
<script src="views/emailValidation/emailValidationDialog.js"></script>
<script src="views/faq/faq.js"></script>
<script src="views/terms/terms.js"></script>
<script src="views/gdprProcess/gdprProcess.js"></script>
<script src="views/userProfile/userProfile.js"></script>
<script src="views/locationDialog/locationDialog.js"></script>
<script src="views/sessionDialog/sessionDialog.js"></script>
<script src="views/sessionDialog/sessionExpiredDialog.js"></script>
<script src="views/agreement/migrationAgreementDialog.js"></script>
<script src="views/notMigratedPortfoliosDialog/notMigratedPortfoliosDialog.js"></script>
<script src="views/pleaseWaitDialog/pleaseWaitDialog.js"></script>
<script src="views/404/404.js"></script>
<script src="directives/share/modal/share.modal.controller.js"></script>
<script src="directives/tour/modal/tour.modal.controller.js"></script>
<!-- endbuild -->

<!-- build:js js/directives.js -->
<script src="directives/dashboard/dashboard.js"></script>
<script src="directives/header/header.js"></script>
<script src="directives/recommend/recommend.js"></script>
<script src="directives/report/improper/improper.js"></script>
<script src="directives/restrict/restrict.js"></script>
<script src="directives/selectClose/selectClose.js"></script>
<script src="directives/validate/validateUrl.js"></script>
<script src="directives/input-value-control.js"></script>
<script src="directives/esc-key.js"></script>
<script src="directives/share/outsideClick.js"></script>
<script src="directives/autotab/autotab.js"></script>
<script src="directives/leavePageDialog/leavePageDialog.js"></script>
<!-- endbuild -->

<!-- build:js js/components.js -->
<script src="directives/aside/aside.component.js"></script>
<script src="directives/card/cardMedia/cardMedia.component.js"></script>
<script src="directives/card/cardSM/cardSM.component.js"></script>
<script src="directives/card/cardXS/cardXS.component.js"></script>
<script src="directives/chapter/chapter.component.js"></script>
<script src="directives/faqBlock/faqBlock.component.js"></script>
<script src="directives/termsBlock/termsBlock.component.js"></script>
<script src="directives/gdprProcessBlock/gdprProcessBlock.component.js"></script>
<script src="directives/detailedSearch/detailedSearch.component.js"></script>
<script src="directives/embed/embed.component.js"></script>
<script src="directives/embedFooter/embedFooter.component.js"></script>
<script src="directives/embedToolbar/embedToolbar.component.js"></script>
<script src="directives/errorMessage/errorMessage.component.js"></script>
<script src="directives/favorite/favorite.component.js"></script>
<script src="directives/infiniteSearchResult/infiniteSearchResult.component.js"></script>
<script src="directives/mainFabButton/mainFabButton.component.js"></script>
<script src="directives/pageStructure/columnLayout/columnLayout.component.js"></script>
<script src="directives/pickMaterial/pickMaterial.component.js"></script>
<script src="directives/qrDialog/qr.component.js"></script>
<script src="directives/qrDialog/qrDialog.js"></script>
<script src="directives/portfolioSummaryCard/portfolioSummaryCard.component.js"></script>
<script src="directives/rating/rating.component.js"></script>
<script src="directives/share/share.component.js"></script>
<script src="directives/sidenav/sidenav.component.js"></script>
<script src="directives/sidenavTaxon/sidenavTaxon.component.js"></script>
<script src="directives/slideshare/slideshare.component.js"></script>
<script src="directives/tableOfContents/tableOfContents.component.js"></script>
<script src="directives/tags/tags.component.js"></script>
<script src="directives/targetGroupSelector/targetGroupSelector.component.js"></script>
<script src="directives/taxonSelector/taxonSelector.component.js"></script>
<script src="directives/institutionSelect/institutionSelector.component.js"></script>
<script src="directives/toolbarAddMaterials/toolbarAddMaterials.component.js"></script>
<script src="directives/remainingCharacters/remaining-char.component.js"></script>
<script src="directives/tour/tour.component.js"></script>
<script src="directives/materialScrollTop/materialScrollTop.component.js"></script>
<script src="directives/taxonMeta/taxonMeta.component.js"></script>
<script src="directives/customerSupport/customerSupport.component.js"></script>
<script src="directives/cookieNotice/cookieNotice.component.js"></script>
<script src="directives/sendEmail/sendEmail.component.js"></script>
<script src="directives/sendEmail/sendEmailDialog.js"></script>
<script src="directives/relatedPortfolios/relatedPortfolios.component.js"></script>
<script src="directives/showPortfolioHistory/showPortfolioHistory.component.js"></script>
<script src="directives/showPortfolioHistory/showPortfolioLogDialog.js"></script>
<script src="directives/startpageIntro/startpageIntro.component.js"></script>
<!-- endbuild -->

<!-- remove-html-for-live -->
<script src="views/dev/login/login.js"></script>
<!-- end-remove-html-for-live -->

<script>
  /**
   * Function that captures a click on an outbound link in Analytics.
   * This function takes a valid URL string as an argument, and uses that URL string
   * as the event label. Setting the transport method to 'beacon' lets the hit be sent
   * using 'navigator.sendBeacon' in browser that support it.
   */
  function captureOutboundLink(url) {
    gtag('event', 'click', {
      'event_category': 'outbound',
      'event_label': url,
      'transport_type': 'beacon',
      'hitcallback': function(){document.location = url;}
    });
  }
</script>

</body>
</html>
