<div>
    <p class="md-body-2 meta">
        <small class="md-caption">
            <span data-translate="DETAIL_VIEW_TAGS"></span>:
        </small>
        <br>
    <div layout="row">
        <md-chips ng-model="tags" readonly="true">
            <md-chip-template>
                <div>
                    <md-button data-ng-if="isLoggedIn()" class="md-icon-button">
                        <md-icon>error_outline</md-icon>
                    </md-button>
                    <a href="#" class="link" data-ng-click="getTagSearchURL($event, $chip.tag)">{{$chip.tag}}</a>

                    <md-button data-ng-if="!$chip.hasUpVoted && isLoggedIn()" class="md-icon-button"
                               ng-click="upVote($chip)">
                        <md-icon>plus_one</md-icon>
                    </md-button>

                    <md-button data-ng-if="$chip.hasUpVoted && isLoggedIn()" class="md-icon-button"
                               ng-click="removeUpVote($chip)">
                        <md-icon>undo</md-icon>
                    </md-button>

                    <button data-ng-if="false" class="md-chip-remove" ng-click="deleteTag($chip)" md-chip-remove>
                        <md-icon md-svg-icon="md-close"></md-icon>
                    </button>
                </div>
            </md-chip-template>
        </md-chips>
    </div>
    <form name="addTagForm" data-ng-show="isLoggedIn()" ng-submit="addTag()">
        <md-input-container>
            <label data-translate="MATERIAL_ADD_TAG"></label>
            <input name="tag" ng-model="newTag"/>
        </md-input-container>
    </form>
    </p>
</div>