<div data-ng-repeat="item in learningObjects" ng-href="{{getItemLink(item)}}" role="list" aria-label="Ava soovitatud materjal" >
  <md-card data-ng-if="item.type === '.Material'" class="card-xs md-padding md-margin">

    <h6 class="md-caption" data-ng-bind="getCorrectLanguageString(item.titles, item.language)"></h6>
    <span class="ellipsis">
      <span data-ng-repeat="author in item.authors">
        <span data-ng-bind="formatName(author.name)"></span>
        <span data-ng-bind="formatSurname(author.surname)"></span>
        <span data-ng-bind="$index < item.authors.length - 1 ? ', ' : ''"></span>
      </span>
    </span>
  </md-card>

  <md-card data-ng-if="item.type === '.Portfolio'" class="card-xs md-padding md-margin">
    <md-card-title-text>
      <h6 class="md-caption" data-ng-bind="item.title"></h6>
      <span class="ellipsis">
        <span>
          <span data-ng-bind="formatName(item.creator.name)"></span>
          <span data-ng-bind="formatSurname(item.creator.surname)"></span>
        </span>
      </span>
    </md-card-title-text>
    <div data-dop-card-media data-learning-object="portfolio" data-is-authenticated="isAuthenticated()"></div>
  </md-card-title>
</md-card>
</div>
