<div class="chapter-embed-card__caption" data-ng-click="$ctrl.onClick()" data-ng-dblclick="$ctrl.onDblClick()">
  <md-icon class="material-icons chapter-embed-card__icon" data-ng-bind="icon"></md-icon>
  <md-icon data-ng-if="deleted" class="material-icons chapter-embed-card__icon chapter-embed-card__deleted-icon">delete_forever</md-icon>
  <a
    data-ng-href="{{link}}"
    data-ng-click="$event.stopPropagation()"
    target="_blank"
    rel="nofollow"
    onclick="captureOutboundLink(this.href)"
  >
    <h3 class="chapter-embed-card__title" data-ng-bind="title"></h3>
  </a>
  <div class="chapter-embed-card__mid-row">
    <div
      class="chapter-embed-card__publishers-and-authors"
      data-ng-bind-html="publishersAndAuthors"
      title="{{publishersAndAuthors}}"
    ></div>
  </div>
  <div class="chapter-embed-card__mid-row">
    <h4 data-ng-if="deleted" class="chapter-embed-card__deleted-message" data-translate="MATERIAL_IS_DELETED"></h4>
    <h4 data-ng-if="private" class="chapter-embed-card__deleted-message" data-translate="MATERIAL_IS_PRIVATE"></h4>
    <h4 data-ng-if="invalidLicense && !private" class="chapter-embed-card__deleted-message" data-translate="UNABLE_TO_MAKE_PUBLIC"></h4>
  </div>
  <div class="chapter-embed-card__mid-row-bottom"
       data-ng-show="licenseTypeName">
    <div class="chapter-embed-card__license-type">
      <span data-translate="MATERIAL_VIEW_LICENSE_TYPE"></span>:
      <a
        data-ng-href="{{$ctrl.getLicenseTypeLink()}}"
        target="_blank"
        data-ng-click="$event.stopPropagation()"
        onclick="captureOutboundLink(this.href)"
        data-translate="LICENSETYPE_{{ licenseTypeName || defaultLicenseTypeName }}"
        rel="nofollow"
      ></a>
    </div>
  </div>
  <p class="chapter-embed-card__source">
    <span data-translate="SOURCE_BIG"></span>:
    <a
      data-ng-href="{{sourceLink.url}}"
      data-ng-click="$event.stopPropagation()"
      onclick="captureOutboundLink(this.href)"
      target="_blank"
      data-ng-bind="sourceLink.text"
      rel="nofollow"
    ></a>
  </p>
</div>
