<md-card class="md-data-table statistics-card">
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <h2 class="md-headline" data-translate="EXPERT_STATISTICS" data-flex></h2>
      <md-button
        class="statistics-info-text-toggle"
        data-md-colors="{color: 'grey-500'}"
        data-ng-click="isInfoTextOpen = !isInfoTextOpen"
        aria-label="Ava infotekst"
        >
        <span data-ng-if="!isInfoTextOpen" data-translate="OPEN_INFO_TEXT"></span>
        <span data-ng-if="isInfoTextOpen" data-translate="CLOSE_INFO_TEXT"></span>
      </md-button>
    </div>
  </md-toolbar>
  <md-content
    class="statistics-info-text text-small"
    data-ng-class="{'is-open': isInfoTextOpen}"
    data-md-colors="{color: 'grey-600'}"
    data-layout-padding
    >
    <div data-translate="STATISTICS_INFO_TEXT"></div>
  </md-content>
  <md-content class="statistics-filter" data-layout-padding>
    <div class="statistics-filter__inputs" data-layout="row" data-layout-align="center center">
      <md-datepicker
        data-ng-model="filter.from"
        data-md-placeholder="{{'SELECT_DATE' | translate}}"
        data-md-open-on-focus
        aria-label="Vali alguskuupäev"
      ></md-datepicker>
      <span data-translate="UNTIL"></span>
      <md-datepicker
        data-ng-model="filter.to"
        data-md-placeholder="{{'SELECT_DATE' | translate}}"
        data-md-open-on-focus
        aria-label="Vali lõppkuupäev"
      ></md-datepicker>
      <span>,</span>
      <md-select
        flex
        data-placeholder="{{'EXPERT' | translate}}"
        data-ng-model="filter.user"
        data-ng-model-options="{trackBy: '$value.id'}"
        data-ng-show="isExpertsSelectVisible"
        aria-label="Vali ekspert"
        >
        <md-option
          data-ng-repeat="user in moderators"
          data-ng-value="user"
          data-ng-bind="user.name + ' ' + user.surname"
        ></md-option>
      </md-select>
      <span
        data-translate="OR_WORD"
        data-ng-show="isExpertsSelectVisible && isTaxonSelectVisible"
      ></span>
      <dop-taxon-selector
        flex
        data-taxon="educationalContext"
        data-is-statistics-select="true"
        data-on-statistics-multiselect="$ctrl.onSelectTaxons(taxons)"
        data-ng-show="isTaxonSelectVisible"
      ></dop-taxon-selector>
    </div>
    <div class="statistics-filter__buttons" data-layout="row" data-layout-align="end center">
      <md-button
        data-translate="CLEAR_FORM"
        data-ng-click="$ctrl.clearFilter()"
        data-ng-show="filter.from || filter.to || filter.user || filter.taxons || educationalContext"
        aria-label="Tühejenda filtriväljad"
      ></md-button>
      <md-button
        class="md-raised md-primary"
        data-ng-click="$ctrl.getStatistics()"
        data-ng-disabled="!isSubmitButtonEnabled"
        aria-label="Käivita filter"
        >
        <span data-translate="DO_FILTER"></span>
        <md-icon>arrow_forward</md-icon>
      </md-button>
    </div>
  </md-content>
  <md-table-container>
    <table data-ng-if="data.rows && data.rows.length" md-table class="statistics-table">
      <colgroup>
        <col width="25%">
        <col width="25%">
        <col width="6.25%">
        <col width="6.25%">
        <col width="6.25%">
        <col width="6.25%">
        <col width="6.25%">
        <col width="6.25%">
        <col width="6.25%">
        <col width="6.25%">
      </colgroup>
      <thead md-head>
        <tr md-row>
          <th md-column rowspan="3">Haridustase</th>
          <th md-column rowspan="3">(Alam)valdkond</th>
          <th md-column colspan="5">Vaatas üle</th>
          <th md-column colspan="3">Lisas</th>
        </tr>
        <tr md-row>
          <th md-column><md-icon>lightbulb_outline</md-icon></th>
          <th md-column colspan="2"><md-icon>warning</md-icon></th>
          <th md-column colspan="2"><md-icon>autorenew</md-icon></th>
          <th md-column colspan="2"><md-icon>book</md-icon></th>
          <th md-column><md-icon>description</md-icon></th>
        </tr>
        <tr md-row>
          <th md-column><md-icon>done</md-icon></th>
          <th md-column><md-icon>done</md-icon></th>
          <th md-column><md-icon>close</md-icon></th>
          <th md-column><md-icon>done</md-icon></th>
          <th md-column><md-icon>close</md-icon></th>
          <th md-column><md-icon>remove_red_eye</md-icon></th>
          <th md-column><md-icon>done</md-icon></th>
          <th md-column><md-icon>done</md-icon></th>
        </tr>
      </thead>
      <tbody md-body data-ng-repeat="educationalContextRow in data.rows">
        <tr md-row data-ng-repeat="domainRow in educationalContextRow.rows track by $index">
          <td md-cell><span data-ng-if="$index === 0" data-translate="{{educationalContextRow.educationalContext.name.toUpperCase()}}"></span></td>
          <td md-cell>
            <strong data-translate="{{'DOMAIN_' + domainRow.domain.name.toUpperCase()}}"></strong>
            <span data-ng-if="domainRow.subjects && domainRow.subjects.length"> › </span>
            <span data-ng-if="domainRow.subjects && domainRow.subjects.length" data-translate="{{'SUBJECT_' + domainRow.subjects[0].subject.name.toUpperCase()}}"></span>
          </td>
          <td md-cell>
            <span data-ng-if="!domainRow.subjects || !domainRow.subjects.length" data-ng-bind="domainRow.reviewedLOCount"></span>
            <span data-ng-if="domainRow.subjects && domainRow.subjects.length" data-ng-bind="domainRow.subjects[0].reviewedLOCount"></span>
          </td>
          <td md-cell>
            <span data-ng-if="!domainRow.subjects || !domainRow.subjects.length" data-ng-bind="domainRow.approvedReportedLOCount"></span>
            <span data-ng-if="domainRow.subjects && domainRow.subjects.length" data-ng-bind="domainRow.subjects[0].approvedReportedLOCount"></span>
          </td>
          <td md-cell>
            <span data-ng-if="!domainRow.subjects || !domainRow.subjects.length" data-ng-bind="domainRow.deletedReportedLOCount"></span>
            <span data-ng-if="domainRow.subjects && domainRow.subjects.length" data-ng-bind="domainRow.subjects[0].deletedReportedLOCount"></span>
          </td>
          <td md-cell>
            <span data-ng-if="!domainRow.subjects || !domainRow.subjects.length" data-ng-bind="domainRow.acceptedChangedLOCount"></span>
            <span data-ng-if="domainRow.subjects && domainRow.subjects.length" data-ng-bind="domainRow.subjects[0].acceptedChangedLOCount"></span>
          </td>
          <td md-cell>
            <span data-ng-if="!domainRow.subjects || !domainRow.subjects.length" data-ng-bind="domainRow.rejectedChangedLOCount"></span>
            <span data-ng-if="domainRow.subjects && domainRow.subjects.length" data-ng-bind="domainRow.subjects[0].rejectedChangedLOCount"></span>
          </td>
          <td md-cell>
            <span data-ng-if="!domainRow.subjects || !domainRow.subjects.length" data-ng-bind="domainRow.publicPortfolioCount"></span>
            <span data-ng-if="domainRow.subjects && domainRow.subjects.length" data-ng-bind="domainRow.subjects[0].publicPortfolioCount"></span>
          </td>
          <td md-cell>
            <span data-ng-if="!domainRow.subjects || !domainRow.subjects.length" data-ng-bind="domainRow.portfolioCount"></span>
            <span data-ng-if="domainRow.subjects && domainRow.subjects.length" data-ng-bind="domainRow.subjects[0].portfolioCount"></span>
          </td>
          <td md-cell>
            <span data-ng-if="!domainRow.subjects || !domainRow.subjects.length" data-ng-bind="domainRow.materialCount"></span>
            <span data-ng-if="domainRow.subjects && domainRow.subjects.length" data-ng-bind="domainRow.subjects[0].materialCount"></span>
          </td>
        </tr>
      </tbody>
      <tfoot data-ng-if="data.sum">
        <tr>
          <th md-cell></th>
          <th md-cell data-translate="TOTAL"></th>
          <th md-cell data-ng-bind="data.sum.reviewedLOCount"></th>
          <th md-cell data-ng-bind="data.sum.approvedReportedLOCount"></th>
          <th md-cell data-ng-bind="data.sum.deletedReportedLOCount"></th>
          <th md-cell data-ng-bind="data.sum.acceptedChangedLOCount"></th>
          <th md-cell data-ng-bind="data.sum.rejectedChangedLOCount"></th>
          <th md-cell data-ng-bind="data.sum.publicPortfolioCount"></th>
          <th md-cell data-ng-bind="data.sum.portfolioCount"></th>
          <th md-cell data-ng-bind="data.sum.materialCount"></th>
        </tr>
      </tfoot>
    </table>
  </md-table-container>
</md-card>
