<md-card class="md-data-table statistics-card">
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <h2 class="md-headline" data-translate="EXPERT_STATISTICS" data-flex></h2>
      <md-button
        class="statistics-info-text-toggle text-small"
        data-md-colors="{color: 'grey-500'}"
        data-ng-click="isInfoTextOpen = !isInfoTextOpen"
        aria-label="Ava infotekst"
        >
        <span data-ng-if="!isInfoTextOpen" data-translate="OPEN_INFO_TEXT"></span>
        <span data-ng-if="isInfoTextOpen" data-translate="CLOSE_INFO_TEXT"></span>
      </md-button>
    </div>
  </md-toolbar>
  <md-content
    class="statistics-info-text text-small"
    data-ng-class="{'is-open': isInfoTextOpen}"
    data-md-colors="{color: 'grey-600'}"
    data-layout-padding
    >
    <div data-translate="STATISTICS_INFO_TEXT"></div>
  </md-content>
  <md-content class="statistics-filter" data-layout-padding>
    <div class="statistics-filter__inputs" data-layout-gt-sm="row" data-layout-align="center center">
      <md-input-container class="statistics-filter__from-container" data-layout="column">
        <md-datepicker
          data-ng-model="filter.from"
          data-md-placeholder="{{'SELECT_DATE' | translate}}"
          data-md-open-on-focus
          aria-label="Vali alguskuupäev"
        ></md-datepicker>
      </md-input-container>
      <span class="statistics-filter__conjunction statistics-filter__conjunction--until" data-translate="UNTIL"></span>
      <md-input-container class="statistics-filter__to-container" data-layout="column">
        <md-datepicker
          data-ng-model="filter.to"
          data-md-placeholder="{{'SELECT_DATE' | translate}}"
          data-md-open-on-focus
          data-md-max-date="maxDate"
          aria-label="Vali lõppkuupäev"
        ></md-datepicker>
      </md-input-container>
      <span class="statistics-filter__conjunction statistics-filter__conjunction--comma">,</span>
      <md-input-container class="statistics-filter__experts-container"
        data-flex data-layout="column"
        data-ng-show="isExpertsSelectVisible"
        >
        <md-select
          data-ng-if="$ctrl.$translate.isReady()"
          data-placeholder="{{'EXPERT' | translate}}"
          data-ng-model="filter.user"
          data-ng-model-options="{trackBy: '$value.id'}"
          aria-label="Vali ekspert"
          >
          <md-option
            data-ng-repeat="user in moderators"
            data-ng-value="user"
            data-ng-bind="user.name + ' ' + user.surname"
          ></md-option>
        </md-select>
      </md-input-container>
      <span
        class="statistics-filter__conjunction statistics-filter__conjunction--or"
        data-translate="OR_WORD"
        data-ng-show="isExpertsSelectVisible && isTaxonSelectVisible"
      ></span>
      <dop-taxon-selector
        flex
        class="statistics-filter__taxon-container"
        data-taxon="educationalContext"
        data-is-statistics-select="true"
        data-on-statistics-multiselect="$ctrl.onSelectTaxons(taxons)"
        data-ng-show="isTaxonSelectVisible"
      ></dop-taxon-selector>
    </div>
    <div class="statistics-filter__buttons" data-layout="row" data-layout-align="end center">
      <md-button
        class="statistics-filter__clear"
        data-translate="CLEAR_FORM"
        data-ng-click="$ctrl.clear()"
        data-ng-show="filter.from || filter.to || filter.user || filter.taxons || educationalContext"
        aria-label="Tühejenda filtriväljad"
      ></md-button>
      <md-button
        class="md-raised md-primary statistics-filter__submit"
        data-ng-class="{fetching: fetching}"
        data-ng-click="$ctrl.getStatistics()"
        data-ng-disabled="!isSubmitButtonEnabled"
        aria-label="Käivita filter"
        >
        <div class="spinner"><md-progress-circular data-md-diameter="20"></md-progress-circular></div>
        <span data-translate="DO_FILTER"></span>
        <md-icon>arrow_forward</md-icon>
      </md-button>
      <md-menu data-ng-if="isSubmitButtonEnabled && data.rows">
        <md-button
          class="md-raised md-primary statistics-filter__download"
          data-ng-class="{fetching: fetchingDownload}"
          data-ng-click="$ctrl.openDownloadMenu($mdMenu, $event)"
          aria-label="Lae andmed alla"
          md-menu-origin
          >
          <div class="spinner"><md-progress-circular data-md-diameter="20"></md-progress-circular></div>
          <span data-translate="DO_DOWNLOAD"></span>
          <md-icon>arrow_downward</md-icon>
        </md-button>
        <md-menu-content>
          <md-menu-item><md-button data-ng-click="$ctrl.downloadStatistics('xlsx')">xlsx</md-button></md-menu-item>
          <md-menu-item><md-button data-ng-click="$ctrl.downloadStatistics('xls')">xls</md-button></md-menu-item>
          <md-menu-item><md-button data-ng-click="$ctrl.downloadStatistics('csv')">csv</md-button></md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </md-content>
  <md-table-container>
    <table data-ng-if="data.rows && data.rows.length" md-table class="statistics-table">
      <colgroup>
        <!-- if querying by an expert -->
        <col width="15%" data-ng-if="isExpertsSelectVisible">
        <col width="35%" data-ng-if="isExpertsSelectVisible">
        <!-- if querying by taxon -->
        <col width="25%" data-ng-if="!isExpertsSelectVisible">
        <col width="25%" data-ng-if="!isExpertsSelectVisible">
        <col width="6.25%">
        <col width="6.25%">
        <col width="6.25%">
        <col width="6.25%">
        <col width="6.25%">
        <col width="6.25%">
        <col width="6.25%">
        <col width="6.25%">
      </colgroup>
      <thead md-head md-order="sortBy" md-on-reorder="onSort">
        <tr md-row>
          <th md-column rowspan="3" md-order-by="{{isExpertsSelectVisible ? 'byEducationalContext' : 'byDomainOrSubject'}}">
            <span data-ng-if="isExpertsSelectVisible" data-translate="DETAIL_VIEW_EDUCATIONAL_CONTEXT"></span>
            <span data-ng-if="!isExpertsSelectVisible" data-translate="TAXON_PATH_DOMAIN_AND_SUBJECT"></span>
          </th>
          <th md-column rowspan="3" md-order-by="{{isExpertsSelectVisible ? 'byDomainOrSubject' : 'byExpert'}}">
            <span data-ng-if="isExpertsSelectVisible" data-translate="TAXON_PATH_DOMAIN_AND_SUBJECT"></span>
            <span data-ng-if="!isExpertsSelectVisible" data-translate="EXPERT"></span>
          </th>
          <th md-column colspan="5"><span data-translate="USER_DID_REVIEW"></span></th>
          <th md-column colspan="3"><span data-translate="USER_DID_ADD"></span></th>
        </tr>
        <tr md-row>
          <th md-column><md-icon>lightbulb_outline</md-icon><md-tooltip><span data-translate="UNREVIEWED"></span></md-tooltip></th>
          <th md-column colspan="2"><md-icon>warning</md-icon><md-tooltip><span data-translate="IMPROPER"></span></md-tooltip></th>
          <th md-column colspan="2"><md-icon>autorenew</md-icon><md-tooltip><span data-translate="CHANGED_LEARNING_OBJECTS"></span></md-tooltip></th>
          <th md-column colspan="2"><md-icon>book</md-icon><md-tooltip><span data-translate="PORTFOLIO_RESOURCE"></span></md-tooltip></th>
          <th md-column><md-icon>description</md-icon><md-tooltip><span data-translate="MATERIAL"></span></md-tooltip></th>
        </tr>
        <tr md-row>
          <th md-column md-order-by="byNewReviewed"><md-icon>done</md-icon><md-tooltip><span data-translate="REVIEWED"></span></md-tooltip></th>
          <th md-column md-order-by="byImproperApproved"><md-icon>done</md-icon><md-tooltip><span data-translate="APPROVED"></span></md-tooltip></th>
          <th md-column md-order-by="byImproperDeleted"><md-icon>close</md-icon><md-tooltip><span data-translate="DELETED"></span></md-tooltip></th>
          <th md-column md-order-by="byChangesAccepted"><md-icon>done</md-icon><md-tooltip><span data-translate="CHANGES_ACCEPTED"></span></md-tooltip></th>
          <th md-column md-order-by="byChangesRejected"><md-icon>close</md-icon><md-tooltip><span data-translate="CHANGES_REJECTED"></span></md-tooltip></th>
          <th md-column md-order-by="byPortfolioPublicized"><md-icon>remove_red_eye</md-icon><md-tooltip><span data-translate="PUBLICIZED"></span></md-tooltip></th>
          <th md-column md-order-by="byPortfolioCreated"><md-icon>done</md-icon><md-tooltip><span data-translate="NEW"></span></md-tooltip></th>
          <th md-column md-order-by="byMaterialCreated"><md-icon>done</md-icon><md-tooltip><span data-translate="NEW"></span></md-tooltip></th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row data-ng-repeat="domainOrSubjectRow in data.rows track by $index">
          <!-- display this column if querying by an expert -->
          <td md-cell data-ng-if="isExpertsSelectVisible" class="statistics-table__educational-context-cell">
            <span data-translate="{{domainOrSubjectRow.educationalContext.name.toUpperCase()}}"></span>
          </td>
          <td md-cell class="statistics-table__domain-or-subject-cell">
            <strong data-translate="{{'DOMAIN_' + domainOrSubjectRow.domain.name.toUpperCase()}}"></strong>
            <span data-ng-if="domainOrSubjectRow.subject"> › </span>
            <span data-ng-if="domainOrSubjectRow.subject" data-translate="{{'SUBJECT_' + domainOrSubjectRow.subject.name.toUpperCase()}}"></span>
          </td>
          <!-- display this column if querying by taxon -->
          <td md-cell data-ng-if="!isExpertsSelectVisible" class="statistics-table__expert-cell">
            <span data-ng-if="domainOrSubjectRow.noUsersFound" class="text-light" data-translate="NO_USERS_FOUND"></span>
            <span data-ng-if="!domainOrSubjectRow.noUsersFound" data-ng-bind="domainOrSubjectRow.user.name + ' ' + domainOrSubjectRow.user.surname"></span>
          </td>
          <td md-cell><span data-ng-bind="domainOrSubjectRow.reviewedLOCount"></span></td>
          <td md-cell><span data-ng-bind="domainOrSubjectRow.approvedReportedLOCount"></span></td>
          <td md-cell><span data-ng-bind="domainOrSubjectRow.deletedReportedLOCount"></span></td>
          <td md-cell><span data-ng-bind="domainOrSubjectRow.acceptedChangedLOCount"></span></td>
          <td md-cell><span data-ng-bind="domainOrSubjectRow.rejectedChangedLOCount"></span></td>
          <td md-cell><span data-ng-bind="domainOrSubjectRow.publicPortfolioCount"></span></td>
          <td md-cell><span data-ng-bind="domainOrSubjectRow.portfolioCount"></span></td>
          <td md-cell><span data-ng-bind="domainOrSubjectRow.materialCount"></span></td>
        </tr>
      </tbody>
      <tfoot data-ng-if="data.sum">
        <tr>
          <th md-cell></th>
          <th md-cell data-translate="TOTAL"></th>
          <th md-cell data-ng-bind="data.sum.reviewedLOCount"></th>
          <th md-cell data-ng-bind="data.sum.approvedReportedLOCount"></th>
          <th md-cell data-ng-bind="data.sum.deletedReportedLOCount"></th>
          <th md-cell data-ng-bind="data.sum.acceptedChangedLOCount"></th>
          <th md-cell data-ng-bind="data.sum.rejectedChangedLOCount"></th>
          <th md-cell data-ng-bind="data.sum.publicPortfolioCount"></th>
          <th md-cell data-ng-bind="data.sum.portfolioCount"></th>
          <th md-cell data-ng-bind="data.sum.materialCount"></th>
        </tr>
      </tfoot>
    </table>
  </md-table-container>
</md-card>
