<p class="md-caption caption-light tags" data-ng-if="!$ctrl.isLoggedOutAndHasNoTags()">
  <span data-translate="DETAIL_VIEW_TAGS"></span>:
</p>
<div layout="row" layout-xs="column" class="tag-new-margin">
  <md-chips
    class="tag-existing-margin"
    data-ng-model="upvotes"
    readonly="true"
  >
    <md-chip-template>
      <md-button
        data-ng-if="$ctrl.authenticatedUserService.isUserOrModerator() && !$root.isEditPortfolioMode"
        class="md-icon-button"
        ng-click="$ctrl.reportTag($event)">
        <md-icon
          class="material-icons md-light md-48"
          data-md-colors="{ color: 'grey-400' }"
          >
          warning
        </md-icon>
        <md-tooltip>
          <span data-translate="TAG_TOOLTIP_REPORT_AS_IMPROPER"></span>
        </md-tooltip>
      </md-button>
      <a
        href='search/result?q=tag:"{{$chip.tag}}"'
        data-ng-click="$ctrl.getTagSearchURL($event, $chip.tag)"
        >
        {{$chip.tag}}
      </a>
      <md-button
        data-ng-if="$ctrl.isAllowedToAdd() && !$chip.tagUpVote"
        class="md-icon-button"
        data-ng-click="$ctrl.upVote($chip)"
        >
        <md-icon data-md-colors="{ color: 'grey-500' }">plus_one</md-icon>
      </md-button>
      <md-button
        data-ng-if="$ctrl.isAllowedToAdd() && $chip.tagUpVote"
        class="md-icon-button"
        data-ng-click="$ctrl.removeUpVote($chip)"
        >
        <md-tooltip>
          <span data-translate="TAG_TOOLTIP_REMOVE_UPVOTE"></span>
        </md-tooltip>
        <md-icon data-md-colors="{ color: 'grey-500' }">undo</md-icon>
      </md-button>
      <md-button
        data-ng-if="$ctrl.isAllowedToRemove() && $ctrl.isDeleteQueryRunning()"
        class="md-icon-button">
        <md-icon data-md-colors="{ color: 'grey-500' }">hourglass_empty</md-icon>
      </md-button>
      <md-button
                 data-ng-if="$ctrl.isAllowedToRemove() && !$ctrl.isDeleteQueryRunning()"
                 class="md-icon-button"
                 data-ng-click="$ctrl.removeTag($chip.tag)">
        <md-tooltip>
          <span data-translate="DELETE_TAG"></span>
        </md-tooltip>
        <md-icon>close</md-icon>
      </md-button>
    </md-chip-template>
  </md-chips>
  <div data-layout="row">
    <form
      name="addTagForm"
      id="addTagForm"
      data-ng-if="$ctrl.isAllowedToAdd()"
      data-ng-submit="$ctrl.addTag()"
    >
      <md-autocomplete
        class="upvotes"
        data-md-selected-item="$ctrl.newTag.selectedItem"
        data-md-floating-label="{{'ADD_TAG' | translate}}"
        data-md-item-text="tag"
        data-md-items="tag in $ctrl.doSuggest($ctrl.newTag.tagName)"
        data-md-search-text="$ctrl.newTag.tagName"
        data-md-search-text-change="$ctrl.limitTextLength()"
        data-md-input-maxlength="100"
        data-md-input-minlength="0"
        data-md-no-cache="true"
        data-md-menu-class="suggest-dropdown"
        data-md-selected-item-change="$ctrl.tagSelected(tag)"
        data-ng-model-options="{debounce: 100}"
      >
        <md-item-template>
          <span md-highlight-text="$ctrl.newTag.tagName">{{ tag }}</span>
        </md-item-template>
      </md-autocomplete>
    </form>
    <div data-ng-if="$ctrl.isAllowedToAdd()">
      <md-icon class="tag-icon-margin">info_outline</md-icon><md-tooltip data-ng-class="{'tt-multiline': $ctrl.isSmallScreen()}" md-direction="top"><span data-translate="{{$ctrl.isSmallScreen() ? 'TAG_TOOLTIP_MOBILE' : 'TAG_TOOLTIP'}}"></span></md-tooltip>
    </div>
  </div>
</div>
<div layout="row">
  <md-button data-ng-show="$ctrl.showMoreTags" ng-click="$ctrl.showMore()">
    <span data-translate="SHOW_MORE"></span>
    <md-icon class="md-primary">
      keyboard_arrow_right
    </md-icon>
  </md-button>
  <md-button
    data-ng-show="!$ctrl.showMoreTags && upvotes.length > 10"
    data-ng-click="$ctrl.showLess()"
    >
    <span data-translate="SHOW_LESS"></span>
    <md-icon class="md-primary">
      keyboard_arrow_right
    </md-icon>
  </md-button>
</div>
