<md-card class="card-sm md-whiteframe-2dp" id="portfolio-card-{{portfolio.id}}" data-ng-click="navigateTo(portfolio)">
  <div class="corner"></div>
    <!-- noimage -->
  <div data-ng-if="!portfolio.hasPicture" class="card-cover portfolio" layout="row" layout-align="center center">
    <div>
      <md-icon class="icon-kind">book</md-icon>
    </div>

    <div class="card-hover portfolio">
      <md-icon class="icon-kind">book</md-icon>
    </div>
  </div>
  <!-- image -->
  <div data-ng-if="portfolio.hasPicture"  class="card-cover imaged" layout="row"  layout-align="start start">
    <img data-ng-src="{{portfolio.picture}}" class="md-card-image" />
    <div class="card-hover portfolio">
      <md-icon class="icon-kind">book</md-icon>
    </div>
  </div>

  <md-card-content>
    <h4 class="md-headline two-rows" data-ng-bind="portfolio.title"></h4>
    <p class="md-caption one-row">
      <span data-ng-bind="formatName(portfolio.creator.name)"></span>
      <span data-ng-bind="formatSurname(portfolio.creator.surname)"></span>
      <span data-ng-if="portfolio.created">{{ formatDate(portfolio.created) }}</span>
    </p>
  </md-card-content>
  <md-divider></md-divider>
  <md-card-actions layout="row" layout-align="start center">
    <span class="md-action-icons-list md-caption" layout flex>
      <md-icon>thumb_up</md-icon>
      <span>{{ portfolio.likes }}</span>

      <md-icon>thumb_down</md-icon>
      <span>{{ portfolio.dislikes }}</span>

      <span flex></span>

      <md-icon>visibility</md-icon>
      <span data-ng-bind="portfolio.views"></span>
    </span>
  </md-card-actions>
</md-card>
