<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>e-Koolikott</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/angular-material-data-table/dist/md-data-table.min.css" />
    <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body layout="column">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div data-ng-if="isEditPortfolioMode || isViewPortforlioPage" data-dop-column-layout layout-fill></div>
    <div data-ng-if="!isEditPortfolioMode && !isViewPortforlioPage" data-dop-linear-layout layout-fill></div>

    <div data-ng-show="showMainFabButton && !isEditPortfolioMode" data-dop-main-fab-button></div>

    <script src="bower_components/requirejs/require.js" data-main="require.config.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
  </body>
</html>
