<md-fab-speed-dial md-open="isOpen" md-direction="left" data-ng-show="isVisible()" class="md-scale share">
  <md-fab-trigger>
    <md-button class="md-icon-button share__btn share__btn--trigger">
      <md-tooltip md-direction="bottom">
        <span data-translate="BUTTON_SHARE"></span>
      </md-tooltip>
      <md-icon class="share__icon">share</md-icon>
    </md-button>
  </md-fab-trigger>

  <md-fab-actions>
    <div data-ng-repeat="item in shareMediaPlaces">
      <md-button class="md-fab md-raised md-mini share__btn share__btn--{{item.name}}" target="{{item.target}}"
                 aria-label="{{item.name}}" data-ng-href="{{item.url}}"
                 data-ng-click="checkOwnerAndShowDialog($event, item)">
        <span class="share__icon {{item.icon}}"></span>
      </md-button>
    </div>
  </md-fab-actions>
</md-fab-speed-dial>

<script type="text/ng-template" id="sharedialog.tmpl.html">
  <md-dialog aria-label="{{ariaLabel}}" class="md-dialog-content">
    <form ng-cloak>
      <md-dialog-content>
        <div class="md-dialog-content">
          <h2 class="md-title share__title">{{title}}</h2>
          <div class="md-dialog-content-body">
            <p>{{context}}</p>
          </div>
        </div>
      </md-dialog-content>

      <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-primary md-cancel-button" ng-click="back()">
          {{cancel}}
        </md-button>
        <md-button data-ng-hide="showButtons" class="md-primary md-confirm-button" href="{{url}}" target="{{target}}" ng-click="success()">
          {{ok}}
        </md-button>
        <md-button data-ng-show="showButtons" class="md-primary md-confirm-button" href="{{url}}" target="{{target}}" ng-click="updatePortfolio('NOT_LISTED')">
          {{visibilityLinkOnly}}
        </md-button>
        <md-button data-ng-show="showButtons" class="md-primary md-confirm-button" href="{{url}}" target="{{target}}" ng-click="updatePortfolio('PUBLIC')">
          {{visibilityPublic}}
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>
</script>
