<md-fab-speed-dial md-open="isOpen" md-direction="left" data-ng-show="isVisible()" class="md-scale share">
  <md-fab-trigger>
    <md-button class="md-icon-button share__btn share__btn--trigger">
      <md-tooltip md-direction="bottom">
        <span data-translate="SHARE"></span>
      </md-tooltip>
      <md-icon class="share__icon">share</md-icon>
    </md-button>
  </md-fab-trigger>

  <md-fab-actions>
    <div data-ng-repeat="item in shareMediaPlaces">
      <md-button class="md-fab md-raised md-mini share__btn share__btn--{{item.name}}" target="{{item.target}}" aria-label="{{item.name}}" data-ng-href="{{item.url}}" data-ng-click="checkOwnerAndShowDialog($event, item)">
        <span class="share__icon {{item.icon}}"></span>
      </md-button>
    </div>
  </md-fab-actions>
</md-fab-speed-dial>
