<md-toolbar class="md-hue-1">
  <h6 class="md-toolbar-tools md-subhead">Some name of material</h6>
</md-toolbar>
<ul class="sidenav-menu toc" data-du-scroll-container="scrollable-content">
  <li ng-repeat="chapter in portfolio.chapters">
    <md-button href="#chapter-{{$index}}" data-offset="150" data-du-scrollspy data-ng-click="gotoChapter($event, $index)">
      {{chapter.title}}
      <span flex></span>
      <span class="add-materials-to-chapter" data-ng-if="isEditPortfolioMode">
        <md-tooltip md-direction="right">
          Lisa materjal(id) sellesse peatükki
        </md-tooltip>
        <md-icon>my_library_books</md-icon>
      </span>
    </md-button>
    <ul class="sidenav-menu-toggle-list">
      <li ng-repeat="subchapter in chapter.subchapters">
        <a href="#chapter-{{$parent.$index}}-{{$index}}" data-offset="150" data-du-scrollspy class="md-button" layout="row" data-ng-click="gotoChapter($event, $parent.$index, $index)">
          {{subchapter.title}}
          <span flex></span>
          <span class="add-materials-to-chapter" data-ng-if="isEditPortfolioMode">
            <md-tooltip md-direction="right">
              Lisa materjal(id) sellesse peatükki
            </md-tooltip>
            <md-icon>my_library_books</md-icon>
          </span>
        </a>
      </li>
      <li data-ng-hide="readonly">
        <a class="md-button md-primary" data-ng-click="addNewSubChapter($index)">
          <span data-translate="PORTFOLIO_ADD_SUBCHAPTER"></span>
        </a>
      </li>
    </ul>
  </li>
  <li data-ng-click="showAddChapterDialog()" data-ng-hide="readonly">
    <md-button class="md-primary" data-ng-click="addNewChapter()">
      <span data-translate="PORTFOLIO_ADD_CHAPTER"></span>
      <span flex></span>
    </md-button>
  </li>
</ul>
