<div layout="column" layout-sm="row">
  <div flex-sm="50">
    <h4 class="md-subhead" data-translate="SIMILAR"></h4>

    <div data-ng-repeat="item in similar" data-ng-href="{{getItemLink(item)}}" role="list"
    aria-label="Ava sarnane materjal">
      <dop-card-xs data-learning-object="item"></dop-card-xs>
    </div>
  </div>

  <div flex-sm="50">
    <h4 class="md-subhead" data-translate="RECOMMENDATIONS"></h4>

    <div data-ng-repeat="item in recommendations" role="list" aria-label="Ava soovitatud materjal">
      <dop-card-xs data-learning-object="item"></dop-card-xs>
    </div>

    <div data-layout="row" data-ng-if="!$root.isEditPortfolioPage">
      <span data-flex></span>
      <md-button data-ng-click="showMoreRecommendations()">
        <span data-translate="SHOW_MORE"></span>
        <md-icon class="md-primary">keyboard_arrow_right</md-icon>
      </md-button>
    </div>
  </div>
</div>
