<md-card class="card-sm" ng-class="{ active: selected }" id="material-card-{{material.id}}"
         data-ng-click="navigateTo(material, $event)">
  <div data-ng-if="isAuthenticated()" data-dop-favorite data-learning-object="material"></div>
  <!-- noimage -->
  <a data-ng-href="{{'/material?materialId=' + material.id}}" data-ng-if="!material.picture"
     class="card-cover {{materialType}}">
     <div class="pattern">
       <div class="sheet up-left"></div>
       <div class="sheet low-right"></div>
       <div class="sheet low-left"></div>
     </div>
    <md-icon class="icon-kind">{{ materialType }}</md-icon>
    <div class="card-hover {{materialType}}">

      <div data-ng-if="isAuthenticated()" data-dop-favorite data-learning-object="material"></div>

      <div class="pick" data-ng-if="isAuthenticated()" layout-align="end start">
        <md-icon class="unchecked">radio_button_unchecked</md-icon>
        <md-icon data-ng-click="pickMaterial($event, material)" class="checked">check_circle</md-icon>
      </div>
      <div class="pick" data-ng-if="isEditPortfolioMode && isEditPortfolioPage" layout-align="end start">
        <md-icon class="unchecked">remove_circle_outline</md-icon>
        <md-icon data-ng-click="removeMaterial($event, material)" class="checked">remove_circle</md-icon>
      </div>
      <md-icon class="icon-kind">{{ materialType }}</md-icon>
    </div>
  </a>
  <!-- image -->
  <a data-ng-href="{{'/material?materialId=' + material.id}}" data-ng-if="material.picture"
     class="card-cover imaged {{materialType}}" layout="row" layout-align="start start">
    <img data-ng-src="rest/picture/{{material.picture.name}}" class="md-card-image"/>
    <div class="card-hover {{materialType}}" layout="row">
      <div data-ng-if="isAuthenticated()" data-dop-favorite data-learning-object="material"></div>

      <div class="pick" data-ng-if="isAuthenticated()" layout-align="end start">
        <md-icon class="unchecked">radio_button_unchecked</md-icon>
        <md-icon data-ng-click="pickMaterial($event, material)" class="checked">check_circle</md-icon>
      </div>
      <div class="pick" data-ng-if="isEditPortfolioMode && isEditPortfolioPage" layout-align="end start">
        <md-icon class="unchecked">remove_circle_outline</md-icon>
        <md-icon data-ng-click="removeMaterial($event, material)" class="checked">remove_circle</md-icon>
      </div>
      <md-icon class="icon-kind">{{ materialType }}</md-icon>
    </div>
  </a>

  <!-- content -->

  <md-card-content layout="column" class="minContentHeight">
    <a data-ng-href="{{'/material?materialId=' + material.id}}" class="no-link materialbox-content">
      <h4 class="md-headline two-rows" data-ng-bind="getCorrectLanguageTitle(material)"></h4>
      <p class="md-caption one-row">
      <span data-ng-repeat="author in material.authors" class="authors">
        <span data-ng-bind="formatName(author.name)"></span>
        <span data-ng-bind="formatSurname(author.surname)"></span>
        <span data-ng-bind="$index < material.authors.length - 1 ? ', ' : ''"></span>
      </span>
      </p>
    </a>
  </md-card-content>

  <md-divider></md-divider>

  <md-card-actions class="md-caption" layout="row" layout-align="start center">
    <md-icon>thumb_up</md-icon>
    <span>{{ material.likes }}</span>
    <md-icon>thumb_down</md-icon>
    <span>{{ material.dislikes }}</span>
    <span flex></span>
    <md-icon>visibility</md-icon>
    <span data-ng-bind="material.views"></span>
  </md-card-actions>
</md-card>
