<md-card class="md-data-table md-padding _md">
  <div>
    <md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <h2 class="md-headline" data-translate="LANDING_PAGE_HEADING_EST" data-flex></h2>
      </div>
    </md-toolbar>
    <div layout-xs="column" layout="row" layout-align-xs="start stretch" layout-align="start center"
         flex-order-gt-sm="2" flex="100">
      <md-input-container class="md-block animate-if remaining-charaters-wrapper" flex>
        <label data-translate="LANDING_PAGE_TITLE_ADMIN"></label>
        <textarea ng-model="landingPage.titleEst" id="add-landing-page-title-est"></textarea>
      </md-input-container>
    </div>
    <div layout-xs="column" layout="row" layout-align-xs="start stretch" layout-align="start center"
         flex-order-gt-sm="2" flex="100">
      <md-input-container class="md-block animate-if remaining-charaters-wrapper" flex>
        <label data-translate="LANDING_PAGE_INTRODUCTION"></label>
        <textarea ng-model="landingPage.introductionEst" id="add-landing-page-introduction-est"></textarea>
      </md-input-container>
    </div>
    <div layout-xs="column" layout="row" layout-align-xs="start stretch" layout-align="start center"
         flex-order-gt-sm="2" flex="100">
      <md-input-container class="md-block animate-if remaining-charaters-wrapper" flex>
        <label data-translate="LANDING_PAGE_MAINTENANCE_NOTICE"></label>
        <textarea ng-model="landingPage.maintenanceEst"
                  id="landing-page-maintenance-notice-est"></textarea>
      </md-input-container>
    </div>
    <div class="md-toolbar-tools md-table-toolbar md-default">
      <h2 class="md-headline" data-translate="LANDING_PAGE_HEADING_RUS" data-flex></h2>
    </div>
    <div layout-xs="column" layout="row" layout-align-xs="start stretch" layout-align="start center"
         flex-order-gt-sm="2" flex="100">
      <md-input-container class="md-block animate-if remaining-charaters-wrapper" flex>
        <label data-translate="LANDING_PAGE_TITLE_ADMIN"></label>
        <textarea ng-model="landingPage.titleRus" id="add-landing-page-title-rus"></textarea>
      </md-input-container>
    </div>
    <div layout-xs="column" layout="row" layout-align-xs="start stretch" layout-align="start center"
         flex-order-gt-sm="2" flex="100">
      <md-input-container class="md-block animate-if remaining-charaters-wrapper" flex>
        <label data-translate="LANDING_PAGE_INTRODUCTION"></label>
        <textarea ng-model="landingPage.introductionRus" id="add-landing-page-introduction-rus"></textarea>
      </md-input-container>
    </div>
    <div layout-xs="column" layout="row" layout-align-xs="start stretch" layout-align="start center"
         flex-order-gt-sm="2" flex="100">
      <md-input-container class="md-block animate-if remaining-charaters-wrapper" flex>
        <label data-translate="LANDING_PAGE_MAINTENANCE_NOTICE"></label>
        <textarea ng-model="landingPage.maintenanceRus"
                  id="landing-page-maintenance-notice-rus"></textarea>
      </md-input-container>
    </div>
    <div class="md-toolbar-tools md-table-toolbar md-default">
      <h2 class="md-headline" data-translate="LANDING_PAGE_HEADING_ENG" data-flex></h2>
    </div>
    <div layout-xs="column" layout="row" layout-align-xs="start stretch" layout-align="start center"
         flex-order-gt-sm="2" flex="100">
      <md-input-container class="md-block animate-if remaining-charaters-wrapper" flex>
        <label data-translate="LANDING_PAGE_TITLE_ADMIN"></label>
        <textarea ng-model="landingPage.titleEng" id="add-landing-page-title-eng"></textarea>
      </md-input-container>
    </div>
    <div layout-xs="column" layout="row" layout-align-xs="start stretch" layout-align="start center"
         flex-order-gt-sm="2" flex="100">
      <md-input-container class="md-block animate-if remaining-charaters-wrapper" flex>
        <label data-translate="LANDING_PAGE_INTRODUCTION"></label>
        <textarea ng-model="landingPage.introductionEng" id="add-landing-page-introduction-eng"></textarea>
      </md-input-container>
    </div>
    <div layout-xs="column" layout="row" layout-align-xs="start stretch" layout-align="start center"
         flex-order-gt-sm="2" flex="100">
      <md-input-container class="md-block animate-if remaining-charaters-wrapper" flex>
        <label data-translate="LANDING_PAGE_MAINTENANCE_NOTICE"></label>
        <textarea ng-model="landingPage.maintenanceEng"
                  id="landing-page-maintenance-notice-eng"></textarea>
      </md-input-container>
    </div>
  </div>
  <div>
    <div layout="row" layout-align="end center" class="md-padding md-padding-horizontal-double">
      <md-button aria-label="Update landing page" id="update-landing-page-button"
                 data-ng-disabled="!isValid() || isSaving" data-ng-click="updateLandingPage()"
                 class="md-primary md-raised">
        <span data-translate="BUTTON_UPDATE_LANDING_PAGE"></span>
      </md-button>
      <md-progress-circular class="md-accent ng-hide" md-mode="indeterminate" md-diameter="40"
                            data-ng-show="isSaving"></md-progress-circular>
    </div>
  </div>
</md-card>
