<md-dialog aria-label="Sisselogimise modaalaken" class="login-dialog">
  <md-toolbar class="md-hue-2">
    <div layout-align="center start" layout="row" layout-sm="column">
      <div class="md-toolbar-tools">
        <h2 data-ng-show="$root.sidenavLogin === '/portfolios'" data-translate="SIGN_IN_TO_SEE_PORTFOLIOS" class="sidenav-login-title"></h2>
        <h2 data-ng-show="$root.sidenavLogin === '/materials'" data-translate="SIGN_IN_TO_SEE_MATERIALS" class="sidenav-login-title"></h2>
        <h2 data-ng-show="$root.sidenavLogin === '/favorites'" data-translate="SIGN_IN_TO_SEE_FAVORITES" class="sidenav-login-title"></h2>
        <h2
          data-ng-show="!$root.sidenavLogin || (['/portfolios','/materials','/favorites'].indexOf($root.sidenavLogin) === -1)"
          data-ng-bind="title"
        ></h2>
        <span flex></span>
        <md-button ng-click="hideLogin()" class="md-icon-button" aria-label="Sulge sisselogimise modaalaken">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </div>
  </md-toolbar>
  <form>
    <div layout="row" layout-align="center start">
      <div class="md-padding" flex>
        <md-content>
          <div layout="column" data-ng-if="mobileIdChallenge">
              <p>
                <span data-translate="LOGIN_MOBILEID_CODE"></span>: <strong data-ng-bind="mobileIdChallenge"></strong>
              </p>

              <p data-translate="LOGIN_SMS"></p>
          </div>

          <div layout="column" class="login-modal-container" data-ng-if="!mobileIdChallenge">
            <md-input-container class="md-block">
              <label></label>
              <input id="login-personal-code" data-ng-model="mobileId.idCode" placeholder="{{'PERSONAL_CODE' | translate}}" data-input-pattern="[^0-9]+" data-input-value-control maxlength="11">
              <div ng-messages="mobileId.idCode.$error">
                <div data-ng-if="validation.error.idCode === 'required'" data-translate="MESSAGE_ERROR_PERSONAL_CODE_REQUIRED"></div>
                <div data-ng-if="validation.error.idCode === 'invalid'" data-translate="MESSAGE_ERROR_PERSONAL_CODE_INVALID"></div>
              </div>
            </md-input-container>
            <md-input-container  class="md-block">
              <label></label>
              <input id="login-phone-number" data-ng-model="mobileId.phoneNumber" placeholder="+372 XX XXX XXX" data-input-pattern="[^0-9+]+" data-input-value-control>
              <div data-ng-messages="mobileId.phoneNumber.$error">
                  <span data-ng-if="validation.error.phoneNumber === 'required'" data-translate="MESSAGE_ERROR_PHONE_NUMBER_REQUIRED"></span>
                  <span data-ng-if="validation.error.phoneNumber === 'notEstonian'" data-translate="MESSAGE_ERROR_PHONE_NUMBER_NOT_ESTONIAN"></span>
              </div>
            </md-input-container>
            <md-button aria-label="Logi sisse kasutades Mobiil-ID" class="md-raised md-primary" id="login-mobile-id-button" data-ng-click="mobileIdAuth()" ng-disabled="loginButtonFlag">
              <span data-translate="LOGIN_MOBILEID"></span>
            </md-button>
            <md-button aria-label="Logi sisse kasutades ID-kaarti" class="md-raised md-primary" id="login-id-card-button" data-ng-click="idCardAuth()" ng-disabled="loginButtonFlag">
              <span data-translate="LOGIN_IDCARD"></span>
            </md-button>
            <md-button aria-label="Logi sisse kasutades Ekooli" class="md-raised md-primary" id="login-ekool-button" data-ng-click="ekoolAuth()" ng-disabled="loginButtonFlag">
              <span data-translate="LOGIN_EKOOL"></span>
            </md-button>
            <md-button aria-label="Logi sisse kasutades Stuudiumi" class="md-raised md-primary" id="login-stuudium-button" data-ng-click="stuudiumAuth()" ng-disabled="loginButtonFlag">
              <span data-translate="LOGIN_STUUDIUM"></span>
            </md-button>
          </div>
        </md-content>
      </div>
    </div>
  </form>
</md-dialog>
