<md-dialog aria-label="Sisselogimise modaalaken" class="login-dialog">
  <md-toolbar>
    <div data-layout-align="center start" data-layout="row" data-layout-sm="column">
      <div class="md-toolbar-tools">
        <h2 data-ng-show="$root.sidenavLogin === '/portfolios'" data-translate="SIGN_IN_TO_SEE_PORTFOLIOS" class="sidenav-login-title"></h2>
        <h2 data-ng-show="$root.sidenavLogin === '/materials'" data-translate="SIGN_IN_TO_SEE_MATERIALS" class="sidenav-login-title"></h2>
        <h2 data-ng-show="$root.sidenavLogin === '/favorites'" data-translate="SIGN_IN_TO_SEE_FAVORITES" class="sidenav-login-title"></h2>
        <h2
          data-ng-show="!$root.sidenavLogin || (['/portfolios','/materials','/favorites'].indexOf($root.sidenavLogin) === -1)"
          data-ng-bind="title"
        ></h2>
        <span flex></span>
        <md-button ng-click="hideLogin()" class="md-icon-button" aria-label="Sulge sisselogimise modaalaken">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </div>
  </md-toolbar>
  <div data-layout="row" data-layout-align="center start">
    <div>
      <md-content>
        <div class="login-dialog-mobile-id-challenge" data-ng-if="mobileIdChallenge">
          <p><span data-translate="LOGIN_MOBILEID_CODE"></span>: <strong data-ng-bind="mobileIdChallenge"></strong></p>
          <p data-translate="LOGIN_SMS"></p>
        </div>
        <div class="login-dialog-content" data-ng-if="!mobileIdChallenge">
          <form name="forms.mobileIdForm" data-ng-submit="mobileIdAuth(forms.mobileIdForm)" novalidate>
            <md-input-container class="md-block">
              <label></label>
              <input
                name="idCode"
                placeholder="{{'PERSONAL_CODE' | translate}}"
                data-ng-model="mobileId.idCode"
              >
              <div data-ng-messages="forms.mobileIdForm.idCode.$error">
                <div
                  data-ng-message="required"
                  data-translate="MESSAGE_ERROR_PERSONAL_CODE_REQUIRED"
                ></div>
                <div
                  data-ng-message="validEstonianIdCode"
                  data-translate="MESSAGE_ERROR_PERSONAL_CODE_INVALID"
                ></div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label></label>
              <input
                name="phoneNumber"
                placeholder="372 XX XXX XXX"
                data-ng-model="mobileId.phoneNumber"
              />
              <div data-ng-messages="forms.mobileIdForm.phoneNumber.$error">
                <div
                  data-ng-message="required"
                  data-translate="MESSAGE_ERROR_PHONE_NUMBER_REQUIRED"
                ></div>
                <div
                  data-ng-message="validEstonianPhoneNumber"
                  data-translate="MESSAGE_ERROR_PHONE_NUMBER_NOT_ESTONIAN"
                ></div>
              </div>
            </md-input-container>
            <md-button
              type="submit"
              class="md-raised login-button-mobiilid"
              aria-label="Logi sisse kasutades Mobiil-ID"
              data-ng-disabled="loginButtonFlag"
            ></md-button>
          </form>
          <md-divider></md-divider>
          <div>
            <md-button
              class="md-raised login-button-idkaart"
              aria-label="Logi sisse kasutades ID-kaarti"
              data-ng-click="idCardAuth()"
              data-ng-disabled="loginButtonFlag"
            ></md-button>
            <md-button
              class="md-raised login-button-ekool"
              aria-label="Logi sisse kasutades Ekooli"
              data-ng-click="ekoolAuth()"
              data-ng-disabled="loginButtonFlag"
            ></md-button>
            <md-button
              class="md-raised login-button-stuudium"
              aria-label="Logi sisse kasutades Stuudiumi"
              data-ng-click="stuudiumAuth()"
              data-ng-disabled="loginButtonFlag"
            ></md-button>
          </div>
        </div>
      </md-content>
    </div>
  </div>
</md-dialog>
