<md-toolbar class="md-hue-1 toolbar-add-materials md-whiteframe-1dp">
  <div class="md-toolbar-tools" layout="row" layout-nowrap="">
    <div class="toolbar-add-materials__left" layout="row" layout-align="start center">
      <md-button aria-label="Tühista" class="md-hue-1 toolbar-add-materials__button" data-ng-click="$ctrl.removeSelection()" data-ng-disabled="isSaving">
        <md-icon>arrow_backward</md-icon>
        <span class="vertical-center toolbar-add-materials__info--hidden" translate="TOOLBAR_ADD_BACK"></span>
      </md-button>
    </div>
    <div class="toolbar-add-materials__center" layout="row" layout-xs="column" layout-align="center center"  layout-align-gt-md="start center" flex="grow">
      <p class="md-subhead toolbar-add-materials__info"><span translate="TOOLBAR_ADD_CHOSEN"></span>: <span class="toolbar-add-materials__count" data-ng-bind="selectedMaterials.length"></span></p>
      <div class="toolbar-add-materials__divider"></div>
      <md-progress-circular class="md-primary toolbar-add-materials__progress--no-margin" md-mode="indeterminate" md-diameter="30"
                            data-ng-show="!$ctrl.usersPortfolios && !$ctrl.isPortfolioEdit && !$ctrl.portfolio"></md-progress-circular>
      <p data-ng-show="$ctrl.usersPortfolios || $ctrl.isPortfolioEdit && $ctrl.portfolio" class="md-subhead toolbar-add-materials__info toolbar-add-materials__info--hidden" translate="TOOLBAR_ADD_PORTFOLIO"></p>
      <md-button aria-label="Lisa uus" data-ng-show="$ctrl.usersPortfolios && $ctrl.usersPortfolios.length == 0" data-ng-click="$ctrl.showAddPortfolioDialog()" class="md-raised md-primary" data-translate="CREATE_NEW"></md-button>
      <md-select data-ng-show="$ctrl.usersPortfolios && $ctrl.usersPortfolios.length > 0 || $ctrl.isPortfolioEdit && $ctrl.portfolio" aria-label="Vali kogumik" md-selected-text="$ctrl.getPortfolioSelectLabel()" data-ng-model="$ctrl.portfolio" data-ng-disabled="$ctrl.isPortfolioEdit"
                 class="toolbar-add-materials__select" data-ng-change="$ctrl.portfolioSelectChange()">
        <md-option data-ng-value="portfolio" data-ng-repeat="portfolio in $ctrl.usersPortfolios track by $index">{{portfolio.title}}</md-option>
      </md-select>
      <p data-ng-if="$ctrl.usersPortfolios && $ctrl.usersPortfolios.length > 0 || $ctrl.isPortfolioEdit && $ctrl.portfolio" class="md-subhead toolbar-add-materials__info toolbar-add-materials__info--hidden" translate="TOOLBAR_ADD_CHAPTER"></p>
      <md-progress-circular class="md-primary toolbar-add-materials__progress--no-margin" md-mode="indeterminate" md-diameter="30"
                            data-ng-show="$ctrl.loadingChapters"></md-progress-circular>
      <md-button aria-label="Lae uuesti" data-ng-show="$ctrl.loadingChaptersFailed" data-ng-click="$ctrl.loadPortfolioChapters(portfolio)" class="md-raised md-primary" data-translate="LOAD_AGAIN"></md-button>
      <md-select data-ng-show="$ctrl.usersPortfolios && $ctrl.usersPortfolios.length > 0 && !$ctrl.loadingChapters && !$ctrl.loadingChaptersFailed || $ctrl.isPortfolioEdit && $ctrl.portfolio" aria-label="Vali peatükk" md-selected-text="$ctrl.getChapterSelectLabel()" data-ng-disabled="!$ctrl.portfolio || !$ctrl.portfolio.chapters" data-ng-model="$ctrl.chapter" class="toolbar-add-materials__select">
        <md-option data-ng-value="chapter" data-ng-repeat-start="chapter in $ctrl.portfolio.chapters track by $index">{{chapter.title}}</md-option>
        <md-option data-ng-value="subchapter" class="toolbar-add-materials__subchapter" data-ng-repeat-end data-ng-repeat="subchapter in chapter.subchapters track by $index">{{subchapter.title}}</md-option>
        <md-option data-ng-value="true" data-translate="ADD_TO_NEW_CHAPTER"></md-option>
      </md-select>
    </div>
    <div class="toolbar-add-materials__right" layout="row" layout-align="end center">
      <md-button aria-label="Lisa" class="md-primary toolbar-add-materials__button" data-ng-if="!$ctrl.isSaving" data-ng-disabled="!$ctrl.chapter" data-ng-click="$ctrl.addMaterialsToChapter($ctrl.chapter, $ctrl.portfolio)">
        <md-icon>done</md-icon>
      </md-button>
      <md-progress-circular class="md-primary toolbar-add-materials__progress" md-mode="indeterminate" md-diameter="30"
                            data-ng-show="$ctrl.isSaving"></md-progress-circular>
    </div>
  </div>
</md-toolbar>
