<md-sidenav md-is-open="$root.sideNavOpen"
            class="md-sidenav-left sidenav"
            data-ng-class="{'md-red': isHeaderRed}"
            md-component-id="left"
            id="sidebar-left"
            layout="column"
            layout-align="space-between strech">

  <!-- Portfolio Header and Chapters -->
  <md-toolbar class="sidenav__mobile-logo md-hue-1" layout="row" layout-align="center center">
    <div>
      <md-icon class="material-icons pointer sidenav__icon" data-ng-click="toggleSidenav('left')">arrow_backward
      </md-icon>
      <md-tooltip><span data-translate="HEADER_TOOLTIP_CLOSE_SIDENAV"></span></md-tooltip>
    </div>
    <div class="text-center" flex="grow">
      <a data-ng-href="/" class="logo logo-bw" id="logo-sidenav"></a>
      <md-tooltip><span data-translate="HEADER_TOOLTIP_GO_TO_LANDING_PAGE"></span></md-tooltip>
    </div>
  </md-toolbar>

  <md-divider></md-divider>

  <uib-accordion close-others="false">
    <!-- Kasutusjuhendid -->
    <div uib-accordion-group data-ng-if="!$root.isEditPortfolioMode && isAdminUser()" class="panel-default">
      <uib-accordion-heading>
        <a id="userManual" class="sidenav__header sidenav__header--main" md-ink-ripple layout="row"
           layout-align="space-between center"
           data-ng-class="{'is-active': isLocationActive('/dashboard/gdpr')}"
           data-ng-href="/dashboard/gdpr">
          <div layout="row" layout-align="center center">
            <span data-translate="USER_MANUAL_TAB" class="sidenav__name"></span>
          </div>
          <md-icon class="material-icons sidenav__icon sidenav__icon--animate">keyboard_arrow_right</md-icon>
        </a>
      </uib-accordion-heading>
    </div>
    <!-- BEGIN Admin -->
    <div uib-accordion-group data-ng-if="!$root.isEditPortfolioMode && isAdminUser()" class="panel-default"
         is-open="$root.isAdminTabOpen">
      <uib-accordion-heading>
        <a id="Admin" class="sidenav__header sidenav__header--main" md-ink-ripple layout="row"
           layout-align="space-between center" data-ng-class="{'is-opened': $root.isAdminTabOpen}"
           data-ng-click="updateUserCounts()">
          <div layout="row" layout-align="center center">
            <span data-translate="ADMIN_TAB" class="sidenav__name"></span>
          </div>
          <md-icon class="material-icons sidenav__icon sidenav__icon--animate">keyboard_arrow_right</md-icon>
        </a>
      </uib-accordion-heading>
      <ul class="sidenav__list">
        <li class="sidenav__item" layout="column" data-ng-show="isAdminUser()">
          <a id="moderators" class="sidenav__header" md-ink-ripple layout="row" layout-align="space-between center"
             data-ng-class="{'is-active': isLocationActive('/dashboard/moderators')}"
             data-ng-href="/dashboard/moderators"
             data-ng-click="updateCount('moderators')">
            <div layout="row" layout-align="center center">
              <md-icon class="material-icons sidenav__icon">face</md-icon>
              <span data-translate="MODERATORS_TAB" class="sidenav__name"></span>
            </div>
            <span class="sidenav__count" data-ng-if="isAuthenticated" data-ng-bind="moderatorsCount"></span>
          </a>
        </li>
        <li class="sidenav__item" layout="column" data-ng-show="isAdminUser()">
          <a id="restrictedUsers" class="sidenav__header" md-ink-ripple layout="row"
             layout-align="space-between center"
             data-ng-class="{'is-active': isLocationActive('/dashboard/restrictedUsers')}"
             data-ng-href="/dashboard/restrictedUsers" data-ng-click="updateCount('restrictedUsers')">
            <div layout="row" layout-align="center center">
              <md-icon class="material-icons sidenav__icon">block</md-icon>
              <span data-translate="RESTRICTED_USERS_TAB" class="sidenav__name"></span>
            </div>
            <span class="sidenav__count" data-ng-if="isAuthenticated" data-ng-bind="restrictedUsersCount"></span>
          </a>
        </li>
        <li class="sidenav__item" layout="column" ng-if="isAdminUser()">
          <a id="deleted" class="sidenav__header" md-ink-ripple layout="row"
             layout-align="space-between center"
             data-ng-class="{'is-active': isLocationActive('/dashboard/deleted')}"
             data-ng-href="/dashboard/deleted" data-ng-click="updateCount('deleted')">
            <div layout="row" layout-align="center center">
              <md-icon class="material-icons sidenav__icon">delete_forever</md-icon>
              <span data-translate="DELETED_LEARNING_OBJECTS" class="sidenav__name"></span>
            </div>
            <span class="sidenav__count" data-ng-if="isAuthenticated" data-ng-bind="deletedCount"></span>
          </a>
        </li>
        <li class="sidenav__item" layout="column" ng-if="isAdminUser()">
          <a id="expertStatistics" class="sidenav__header" md-ink-ripple layout="row"
             layout-align="space-between center"
             data-ng-class="{'is-active': isLocationActive('/dashboard/stat/expert')}"
             data-ng-href="/dashboard/stat/expert">
            <div layout="row" layout-align="center center">
              <md-icon class="material-icons sidenav__icon">insert_chart</md-icon>
              <span data-translate="EXPERT_STATISTICS" class="sidenav__name"></span>
            </div>
          </a>
        </li>
        <li class="sidenav__item" layout="column" ng-if="isAdminUser()">
          <a id="gdpr" class="sidenav__header" md-ink-ripple layout="row"
             layout-align="space-between center"
             data-ng-class="{'is-active': isLocationActive('/dashboard/gdpr')}"
             data-ng-href="/dashboard/gdpr">
            <div layout="row" layout-align="center center">
              <md-icon class="material-icons sidenav__icon">gavel</md-icon>
              <span data-translate="GDPR_SIDEMENU" class="sidenav__name"></span>
            </div>
          </a>
        </li>
        <li class="sidenav__item" layout="column" ng-if="isAdminUser()">
          <a id="userManualEdit" class="sidenav__header" md-ink-ripple layout="row"
             layout-align="space-between center"
             data-ng-class="{'is-active': isLocationActive('/dashboard/userManualEdit')}"
             data-ng-href="/dashboard/userManualEdit">
            <div layout="row" layout-align="center center">
              <md-icon class="material-icons sidenav__icon">library_books</md-icon>
              <span data-translate="USER_MANUAL_TAB" class="sidenav__name"></span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!-- BEGIN My Profile -->
    <div uib-accordion-group data-ng-if="!$root.isEditPortfolioMode" class="panel-default"
         is-open="$root.isUserTabOpen">
      <uib-accordion-heading>
        <a id="myProfile" class="sidenav__header sidenav__header--main" md-ink-ripple layout="row"
           layout-align="space-between center" data-ng-class="{'is-opened': $root.isUserTabOpen}"
           data-ng-click="updateUserCounts()">
          <div layout="row" layout-align="center center">
            <span data-translate="MY_PROFILE" class="sidenav__name"></span>
          </div>
          <md-icon class="material-icons sidenav__icon sidenav__icon--animate">keyboard_arrow_right</md-icon>
        </a>
      </uib-accordion-heading>
      <!-- Subitems -->
      <ul class="sidenav__list">
        <li class="sidenav__item" layout="column">
          <a id="myPortfolios" class="sidenav__header" md-ink-ripple layout="row" layout-align="space-between center"
             data-ng-class="{'is-active': isLocationActive('/' + user.username + '/portfolios')}"
             data-ng-click="checkUser($event, '/portfolios'); updateCount('userPortfolios')">
            <div layout="row" layout-align="center center">
              <md-icon class="material-icons sidenav__icon">book</md-icon>
              <span data-translate="MY_PORTFOLIOS" class="sidenav__name"></span>
            </div>
            <span class="sidenav__count" data-ng-if="isAuthenticated" data-ng-bind="userPortfoliosCount"></span>
          </a>
        </li>
        <li class="sidenav__item" layout="column">
          <a id="myMaterials" class="sidenav__header" md-ink-ripple layout="row" layout-align="space-between center"
             data-ng-class="{'is-active': isLocationActive('/' + user.username + '/materials')}"
             data-ng-click="checkUser($event, '/materials'); updateCount('userMaterials')">
            <div layout="row" layout-align="center center">
              <md-icon class="material-icons sidenav__icon">description</md-icon>
              <span data-translate="MY_MATERIALS" class="sidenav__name"></span>
            </div>
            <span class="sidenav__count" data-ng-if="isAuthenticated" data-ng-bind="userMaterialsCount"></span>
          </a>
        </li>
        <li class="sidenav__item" layout="column">
          <a id="myFavorites" class="sidenav__header" md-ink-ripple layout="row" layout-align="space-between center"
             data-ng-class="{'is-active': isLocationActive('/' + user.username + '/favorites')}"
             data-ng-click="checkUser($event, '/favorites'); updateCount('userFavorites')">
            <div layout="row" layout-align="center center">
              <md-icon class="material-icons sidenav__icon">star</md-icon>
              <span data-translate="MY_FAVORITES" class="sidenav__name"></span>
            </div>
            <span class="sidenav__count" data-ng-if="isAuthenticated" data-ng-bind="userFavoritesCount"></span>
          </a>
        </li>
        <li class="sidenav__item" layout="column" data-ng-show="isAdminOrModerator()">
          <a id="improper" class="sidenav__header" md-ink-ripple layout="row"
             layout-align="space-between center"
             data-ng-class="{'is-active': isLocationActive('/dashboard/improper')}"
             data-ng-href="/dashboard/improper" data-ng-click="updateCount('improper')">
            <div layout="row" layout-align="center center">
              <md-icon class="material-icons sidenav__icon">warning</md-icon>
              <span data-translate="IMPROPER" class="sidenav__name"></span>
            </div>
            <span class="sidenav__count" data-ng-if="isAuthenticated" data-ng-bind="improperCount"></span>
          </a>
        </li>
        <li class="sidenav__item" layout="column" data-ng-show="isAdminOrModerator()">
          <a id="unReviewed" class="sidenav__header" md-ink-ripple layout="row"
             layout-align="space-between center"
             data-ng-class="{'is-active': isLocationActive('/dashboard/unReviewed')}"
             data-ng-href="/dashboard/unReviewed" data-ng-click="updateCount('unReviewedLearningObjects')">
            <div layout="row" layout-align="center center">
              <md-icon class="material-icons sidenav__icon">lightbulb_outline</md-icon>
              <span data-translate="UNREVIEWED" class="sidenav__name"></span>
            </div>
            <span class="sidenav__count" data-ng-if="isAuthenticated"
                  data-ng-bind="unReviewedLearningObjectsCount"></span>
          </a>
        </li>
        <li class="sidenav__item" layout="column" data-ng-show="isAdminOrModerator()">
          <a id="changes" class="sidenav__header" md-ink-ripple layout="row"
             layout-align="space-between center"
             data-ng-class="{'is-active': isLocationActive('/dashboard/changes')}"
             data-ng-href="/dashboard/changes" data-ng-click="updateCount('changes')">
            <div layout="row" layout-align="center center">
              <md-icon class="material-icons sidenav__icon">autorenew</md-icon>
              <span data-translate="CHANGED_LEARNING_OBJECTS" class="sidenav__name"></span>
            </div>
            <span class="sidenav__count" data-ng-if="isAuthenticated" data-ng-bind="changesCount"></span>
          </a>
        </li>
        <!--Must be hidden for now-->
        <!--<li class="sidenav__item" layout="column" ng-if="isAdminUser()">
          <a id="statistics" class="sidenav__header" md-ink-ripple layout="row"
             layout-align="space-between center"
             data-ng-class="{'is-active': isLocationActive('/dashboard/statistics')}"
             data-ng-href="/dashboard/statistics">
            <div layout="row" layout-align="center center">
              <md-icon class="material-icons sidenav__icon">insert_chart</md-icon>
              <span data-translate="STATISTICS" class="sidenav__name"></span>
            </div>
          </a>
        </li>-->
      </ul>
    </div>
    <!-- END My Pofile -->

    <div uib-accordion-group class="panel-default" data-ng-if="$root.isViewPortfolioPage || $root.isEditPortfolioMode"
         is-open="$root.isViewPortfolioAndEdit">
      <dop-table-of-contents
        data-portfolio="portfolio"
        data-is-edit-mode="$ctrl.isEditPortfolio"
      ></dop-table-of-contents>
    </div>

    <div uib-accordion-group class="panel-default" is-open="isTaxonomyOpen"
         data-ng-if="!$root.isViewPortfolioPage && !$root.isEditPortfolioMode">
      <uib-accordion-heading>
        <a id="sidenavHeader" class="sidenav__header sidenav__header--main" md-ink-ripple layout="row"
           layout-align="space-between center" data-ng-class="{'is-opened': isTaxonomyOpen}"
           data-ng-click="changeTaxonomyDataAndVisibility('sidebar', 'primary')">
          <div layout="row" layout-align="center center">
            <span data-translate="TABLE_OF_CONTENTS" class="sidenav__name"></span>
          </div>
          <md-icon class="material-icons sidenav__icon sidenav__icon--animate">keyboard_arrow_right</md-icon>
        </a>
      </uib-accordion-heading>
      <!-- Taxon subitems -->
      <ul class="sidenav__list">
        <li data-ng-repeat="(key, item) in taxon">
          <dop-sidenav-taxon
            class="sidenav__item"
            layout="column"
            icon="taxonIcons[key]"
            data-taxon="item"
          ></dop-sidenav-taxon>
        </li>
      </ul>
    </div>
  </uib-accordion>

  <span class="flex"></span>
  
  <div  class="sidenav__footer-logo-container">
    <div class="sidenav__footer-logo"></div>
  </div>

  <md-divider hide-xs hide-sm hide-md></md-divider>
  <div>
    <div class="sidenav__item" layout="column" hide-xs hide-sm hide-md>
      <a class="sidenav__header sidenav__header--version-number" md-ink-ripple layout="row" layout-align="start center"
         target="_blank" href="https://github.com/e-koolikott/DOP/blob/master/CHANGELOG.md">
        <span class="material-icons icon-github-circled"></span>
        <div class="sidenav__name"><span data-translate="APP_VERSION"></span> <span ng-bind="$root.APP_VERSION"></span>
        </div>
      </a>
    </div>
  </div>
</md-sidenav>
