.hint {
  position: absolute;
  left: 2px;
  right: auto;
  bottom: -16px;
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey;
  text-align: right;
}

.hint.ng-hide,
.hint.ng-enter,
.hint.ng-leave.ng-leave-active {
  bottom: 26px;
  opacity: 0;
}

.hint.ng-leave,
.hint.ng-enter.ng-enter-active {
  bottom: 7px;
  opacity: 1;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.animate-if.ng-enter,
.animate-if.ng-leave {
   transition: all .5s cubic-bezier(0.55, 0, 0.55, 0.2);
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
   max-height: 999px;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
   max-height: 0;
}
