// 2 ng-view's on screen fix
.ng-leave.ng-leave-active {
  display: none;
}

// Scaffolding
html, body {
  background: $bg-gray;
  color: rgba(0, 0, 0, 0.77);
  line-height: 1.2;
  min-width: 320px;
}

// Fix IE background going to black when md-backdrop is in dom
html.ua-ie,
.ua-ie body {
  background: rgba(243, 246, 251, .99);
}

.pointer {
  cursor: pointer;
}

//BrowseHappy
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// reset
*:focus {
  outline: none;
}

// Angular material theme override
md-content.md-default-theme, md-content {
  background-color: transparent;
}

//
// TO SORT
//

ul {
  -webkit-padding-start: 0em;
  list-style: none;
}

// material bugfixes
@media (min-width: $layout-breakpoint-sm) {
  .layout-column > .flex-gt-sm-25 {
    max-width: 25%;
  }
}

a {
  text-decoration: none;
  color: $link-color;
  &:hover {
    text-decoration: underline;
  }
}

.md-button:not([disabled]):hover {
  //background: darken($bg-gray, 3%);
}

.md-errors-spacer {
  display: none;
}

/* fixes select overflow */
.md-select-value *:first-child {
  flex: 1;
}

md-datepicker {
  margin-right: 0;
}

.validation-messages {
  font-size: 12px;
  color: $error;
  margin-top: -16px;
}

.validation-messages-chips {
  font-size: 12px;
  color: $error;
  margin-top: 10px;
}

.text-angular-portfolilio-container {
  margin: 0;
}

.column-layout-content {
  margin-top: 60px;
}

.min-height-500 {
  min-height: 500px;
}

// Hides double ng-view while switching views
.ng-leave-active, .ng-leave {
  display: none !important;
}

.line-height--normal {
  line-height: normal;
}

.margin-top-36 {
  margin-top: 36px;
}

// Remove when #101 is complete
.type-block {
  margin-top: 40px;

  &:first-of-type {
    margin-top: 0;
  }
}

.preloader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
