.card-xs {
  margin: 0 0 $md-padding 0;
  
  @media (min-width: $layout-breakpoint-xs) {
    border-radius: 0 $border-radius $border-radius 0;
  }
  &:hover {
    background-color: $selected-gray;
    cursor: pointer;
    .card-hover {
      opacity: .8;
      z-index: 3;

      md-icon {
        color: rgba(255, 255, 255, 1);
        text-shadow: 1px 1px 1px rgba(0, 0,0, .6);
      }
    }
  }

  &.active {
    background-color: $selected-gray;
    cursor: pointer;

    .card-hover {
      opacity: 1;

      md-icon {
        color: rgba(255, 255, 255, .8);

        &.unchecked {
          display: none;
        }

        &.checked {
          display: block;
        }
      }
    }
  }

  .md-caption {
    font-weight: 400;
    margin: 0;

    &.ellipsis {
      color: rgba(0,0,0,.54);
    }
  }

  .ribbon {
    left: 15px;
    width: 25px;
  }

  .card-cover {
    .icon-kind {
      font-size: 2rem;
    }
  }
  .card-cover {
    @include aspect-ratio(3,2);
    img {
      height: 100%;
      width: 100%;
      .ua-ie & {
        height: auto;
      }
    }
  }
}
