md-card {
  position: relative; // to position the corner
  margin: 0; //to overwrite AM 8px
  .card-cover {
    @include aspect-ratio(3,2);
    img {
      height: auto;
      max-height: auto;
      width: 100%;
    }
  }
}


// .corner {
//   background-image: url('../images/detail/corner.png');
//   position: absolute;
//   right: -2px;
//   top: -1px;
//   z-index: 1;
//
//   .card-lg & {
//     top: 0;
//     right: -25px;
//
//     @media (min-width: $layout-breakpoint-xs) {
//       top: -25px;
//     }
//   }
// }

.card-container__item {
  margin: 0 0 $md-padding 0;
  @media (min-width: $layout-breakpoint-xs) {
    margin: 0 $md-padding $md-padding 0;
  }

  &--empty {
    margin: 0 $md-padding 0 0;

    md-card.card-sm {
      height: 100%;
    }
  }
}


.ribbon {
  background-image: url('../images/detail/corner.png');
  position: absolute;
  left: 20px;
  top: -1px;
  z-index: 1;
}
