.card-lg {
  position: relative;

  h2 {
    color: $heading-color;
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 0;
  }
  h3 {
    color: $heading-color;
    font-size: $font-medium;
    font-weight: normal;
    text-transform: uppercase;
  }
  .md-button {
    font-weight: 400;
  }
  .card-menus {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    margin-top: $md-padding;
    .md-button {
      margin: 0;
    }
  }

  .card-media {
    margin-left: -$md-padding;
    height: auto;
  }

  .card-cover {
    border-radius: 0;
    &:hover {
      background-color: $selected-gray;
      cursor: pointer;
      .card-hover {
        opacity: .8;
        z-index: 3;

        md-icon {
          color: rgba(255, 255, 255, 1);
          text-shadow: 1px 1px 1px rgba(0, 0,0, .6);
        }
      }
    }
    img {
      width: 100%;
      @media (min-width: $layout-breakpoint-xs) {
        height: auto;
        max-height: 300px;
      }
    }
  }
  .left-side {
    padding: $md-padding;
    position: relative;
    md-divider {
      margin-right: -$md-padding;
    }
  }
  .right-side {
    position: relative;
    display: block;
    border-left: none;
    padding-left: $md-padding;
    @media (min-width: $layout-breakpoint-xs) {
      border-left-width: 1px;
      border-left-style: solid;

      border-left-color: $border-color;
    }
    md-content {
      margin-top: $md-padding;
    }
  }
  md-card-actions {
    .md-button {
      margin-left: -$md-padding/2;
    }
  }
}

// embed card by mart laus
.noPadding {
  padding: 0;
}
.embed-header {
  .pick {
    position: absolute;
    padding: $md-padding;
    right: 0;
    transition: display 1s cubic-bezier(0.25, 0.8, 0.25, 1);

    .checked {
      display: none;
    }

    &:hover {
      cursor: pointer;

      .checked {
        display: block;
      }

      .unchecked {
        display: none;
      }
    }
  }
}

.embed-card-content {
  padding: 0px;
  background-color: #fff;
}

.embeded-material-footer {
  padding-top: 0px;
}

.card-mb-20 {
  margin-bottom: $md-padding*2;
}

// TODO: remove this if this bug is closed https://trello.com/c/TB5BRU7G/187-bug-issue-18-vistutatud-materjali-kuvamine-on-paigast-ara
.embed-responsive-item {
  overflow: hidden;
}

a.embed-link{
  line-height: 0px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 1);
}

.embed-link img{
  width: 100%;
  max-width: 500px;
  max-height: 500px;
}

.embed-link:hover img{
  opacity: .8;
  transition: ease all 0.5s;
}

.embed-card-picture{
  line-height: 0;
  display: inline-block;
}

a.embed-image-padded{
  margin: $md-padding*2;
}
