md-card {
  position: relative; // to position the corner
  margin: 0; //to overwrite AM 8px
  .card-cover {
    @include aspect-ratio(3,2);
    img {
      height: auto;
      max-height: auto;
      width: 100%;
    }
  }
}


// .corner {
//   background-image: url('../images/detail/corner.png');
//   position: absolute;
//   right: -2px;
//   top: -1px;
//   z-index: 1;
//
//   .card-lg & {
//     top: 0;
//     right: -25px;
//
//     @media (min-width: $layout-breakpoint-xs) {
//       top: -25px;
//     }
//   }
// }

.card-container__item {
  margin: 0 0 $md-padding 0;
  @media (min-width: $layout-breakpoint-xs) {
    margin: 0 $md-padding $md-padding 0;
  }

  &--empty {
    margin: 0 $md-padding 0 0;

    md-card.card-sm {
      height: 100%;
    }
  }
}

.card__icon-holder {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  md-icon {
    padding: 12px 27px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0,0, .6);
  }

  .card-lg & {
    top: 0;
    left: -25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    @media (min-width: $layout-breakpoint-xs) {
      top: -15px;
      left: 0;
    }
  }
}

.ribbon {
  background-image: url('../images/bookmark.svg');
  text-shadow: 1px 1px 2px rgba(0,0,0, 1);
	filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,Color='#444')";
	filter: url(#drop-shadow);
	-webkit-filter: drop-shadow(6px 6px 4px rgba(0,0,0,0.5));
	filter: drop-shadow(6px 6px 4px rgba(0,0,0,0.5));
  background-repeat: no-repeat;
  opacity: .6;
  position: absolute;
  left: 20px;
  top: -5px;
  z-index: 1;
  width: 37px;
  height: 60px;
}
