.portfolio-chapter-chapter-materials.ng-hide-remove.ng-hide-remove-active, .portfolio-chapter-subchapter-materials.ng-hide-remove.ng-hide-remove-active {
  animation:1s cubic-bezier(.17,.67,.83,.67) ease;
}

.portfolio-chapter-chapter-materials.ng-hide-add-active, .portfolio-chapter-subchapter-materials.ng-hide-add-active {
  animation:1s cubic-bezier(.17,.67,.83,.67) ease;
}

.portfolio-slide.ng-hide {
  height: 0;
  display: block;
}

.portfolio-noedit-item {
  cursor: pointer;
}

.portfolio-chapter {
  h2 {
    margin: 0;
  }
  h3 {
    margin: 0;
    margin-top: 4px;
  }
  .md-body-1 {
    margin-bottom: 0;
  }
}

.chapter-title {
  margin: 0;
}


.portfolio-chapter {
  .md-body-1  {
    font-size: 15px;
    line-height: 22px;
  }
}

.portfolio-chapter-subchapter {
  .md-body-1  {
    font-size: 14px;
    line-height: 22px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }
}

.portfolio-chapter-chapter-materials,
.portfolio-chapter-subchapter-materials {
  margin-bottom: 20px;
}

.chapter-content-textarea {
  .description-input-container {
    min-height: 175px;
  }
}
