.comments {
  border-top: 1px solid $border-color;
  padding: 16px;
}

/* Mingisugune stiil kirjutab üle kui importantit pole */
.comments__button {
  margin: 0 !important;
}

.comments__icon {
  color: rgba(0,0,0, .37);
}

.comments__count {
  color: rgba(0,0,0, .37);
  font-weight: bold;
}

.comments__item {
  margin-bottom: $md-padding;
}

.comment__date {
  overflow: visible !important;
}

md-button.comment__report-button,
.md-button.comment__report-button {
  margin: -8px -8px -8px -4px;
  width: 32px;
  height: 32px;
  min-height: 32px;

  md-icon,
  .md-icon {
    font-size: 16px;
    min-width: 16px;
    min-height: 16px;
  }
}