
.customer-support {
  z-index: 100;
  width: 335px;
  min-height: 500px;
  background: white;
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
  overflow: auto;

  @media screen and (max-height: $layout-height-sm) and (max-width: $layout-breakpoint-sm){
    height: 100vh;
    width: 320px;
    overflow: scroll;
  }
  @media screen and (max-width: $layout-breakpoint-xs) {
    width: 100%
  }
}

.customer-support-parent {
  z-index: 100;
  position: fixed;
  bottom: 0;
  right: 20px;
  font-size: $font-size-15;

  @media screen and (max-width: $layout-breakpoint-xs) {
    right: 0px;
  }
}

.margin-10 {
  margin: 10px 0;
}

.button-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.padding-10 {
  padding: 10px;
}

.padding-5 {
  padding: 5px;
}

.overflow-auto {
  resize: none;
  max-height: 81px;
  height: 106px;
  overflow: auto;
}

.final-step {
  font-size: 15px;
}
.recaptcha {
  text-align: -webkit-center;
  text-align: -moz-center;
  margin-bottom: 60px;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    padding-left: 16px;
  }

  @supports (-ms-accelerator:true) {
    padding-left: 16px;
  }

  @supports (-ms-ime-align:auto) {
    padding-left: 16px;
  }

}
.customSupportUploadFile {
    padding-left: 20px;
    overflow: hidden;

    > a {
      text-decoration: none;
    }
}

.upload-disabled {
  color: rgba(0,0,0,0.38);

}

