md-dialog .md-actions,
md-dialog md-dialog-actions {
  padding: 0 16px 8px;
  .md-button.md-raised {
    padding: 0 $md-padding;
  }
}

md-dialog.login-dialog {
  max-height: 100%;
  min-width: 280px;
}
