md-dialog .md-actions,
md-dialog md-dialog-actions {
  padding: 0 16px 8px;
  .md-button.md-raised {
    padding: 0 $md-padding;
  }
}

.add-media-dialog {
  max-width: 60rem;
}

.add-media-dialog__subhead {
  margin: .5rem 0 1rem;
}

.creator-email-dialog {
  @media screen and (min-width: $layout-breakpoint-sm) and (max-width: $layout-breakpoint-md) {
    max-width: 51% !important;
  }
  @media screen and (min-width: $layout-breakpoint-md) {
    max-width: 40% !important;
  }
}
.creator-email-dialog-input-text-wrap {
  text-overflow: ellipsis !important;
}
.margin-bottom {
  margin-bottom: 10px;
}

.creator-email-dialog-title {
  min-width: 80%;
}

.learningobject-title-color {
  color: rgba(0, 0, 0, 0.87) !important;
}

md-dialog.login-dialog {
  max-height: 100%;
  min-width: 18rem;
  overflow: hidden;

  md-divider {
    margin: 1.5rem 0;
  }

  md-content {
    button,
    md-input-container {
      width: 100%;
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    button {
      height: 3rem;
      background-size: auto 1.8rem;
      background-position: center;
      background-repeat: no-repeat;

      &.login-button-ekool { background-image: url('../images/login-ekool.png'); }
      &.login-button-idkaart { background-image: url('../images/login-idkaart.png'); }
      &.login-button-mobiilid { background-image: url('../images/login-mobiilid.png'); }
      &.login-button-stuudium { background-image: url('../images/login-stuudium.png'); }
    }
  }

  label.md-required {
    display: none;
  }
}

.login-dialog-mobile-id-challenge {
  padding: 0 $md-toolbar-padding;
}

.login-dialog-content {
  padding: $md-toolbar-padding;

  > form,
  > div {
    width: 16rem;
  }
}

@media (min-width: $layout-breakpoint-sm) {
  /* md-dialog.login-dialog {
    md-content {
      padding: 1rem;

      md-input-container,
      button {
        align-self: center;
        padding: 0;
        margin: 1rem;
      }

      button {
        align-self: center;
        padding: 0;
        min-width: 12rem !important;
        height: 3rem;
        background-size: auto 1.8rem;
        background-position: center;
        background-repeat: no-repeat;

        &.login-button-ekool { background-image: url('../images/login-ekool.png'); }
        &.login-button-idkaart { background-image: url('../images/login-idkaart.png'); }
        &.login-button-mobiilid { background-image: url('../images/login-mobiilid.png'); }
        &.login-button-stuudium { background-image: url('../images/login-stuudium.png'); }
      }
    }
  } */

  md-dialog.login-dialog {
    md-content {
      button,
      md-input-container {
        width: calc(33.33% - 1rem);
        padding: 0;
        margin: 0 .5rem !important;
      }
    }
  }

  .login-dialog-content {
    padding: $md-toolbar-padding * 2;

    > form,
    > div {
      white-space: nowrap;
      width: 40rem;
      margin: 0 0 0 -.5rem;
    }

    md-input-container,
    button {
      display: inline-block;
    }
  }
}

.fullscreen-dialog {
    width: 100%;
    max-height: 100%;

    @media screen and (max-width: $layout-breakpoint-xs) {
        height: 92.5%;
        max-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0;
    }
}

.creator-email-full-screen {
  width: 100%;
  max-height: 100%;

  @media screen and (max-width: $layout-breakpoint-xs) {
    height: fit-content;
    max-height: 92.5%;
    max-width: 100%;
    position: absolute;
    top: initial;
    left: 0;
    border-radius: 0;
  }
}

.creator-email-overflow-auto {
  resize: none;
  max-height: 135px;
  overflow: auto;
}

.qr-code {
  background: url("../images/qrcode-scan.svg") no-repeat center;
}

.fit-content {
  max-width: fit-content;
}

.paginator-left {
  @media (max-width: $layout-breakpoint-xs) {
    justify-content: flex-start;
  }
  @media (max-width: $layout-breakpoint-ipad) {
    justify-content: flex-start;
  }
}

.qr-padding {
  @media (min-width: $layout-breakpoint-lg) {
    padding: 9px 75px 75px;
  }
  @media (max-width: $layout-breakpoint-lg)  {
    padding: 9px 75px 75px;
  }
  @media (max-width: $layout-breakpoint-md) {
    padding: 6px 70px 70px;
  }
  @media (max-width: $layout-breakpoint-sm) {
    padding: 0px 64px 64px;
  }
  @media (max-width: $layout-breakpoint-xs) {
    padding: 0px 27px 27px;
  }
}

// Fix for window resize not calculating height correctly https://github.com/angular/material/issues/4513
body > .md-dialog-container {
    @media screen and (max-width: $layout-breakpoint-xs) {
        height: 100vh !important;
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .qr-ie {
    @media (min-width: $layout-breakpoint-lg) {
      max-width: 45% !important;
    }
    @media (max-width: $layout-breakpoint-lg)  {
      max-width: 65% !important;
    }
    @media (max-width: $layout-breakpoint-md) {
      max-width: 80% !important;
    }
  }
  .send-mail-ie {
    height: 280px
  }
}



