.error-message .md-toolbar-tools {
  max-height: none;
  height: auto;
  min-height: 64px;
  align-items: flex-start;

  > .material-icons {
    margin-top: 20px;
  }

  > .md-icon-button {
    margin-top: 12px;
  }
}

.error-message-body {
  margin: 20px $layout-gutter-width / 2;

  > h1, h2, h3 {
    margin: 0;
  }
}

/* .error-message-reasons-toggle {
  margin: ($layout-gutter-width / 4) 0 0;
  user-select: none;

  [data-ng-click] {
    cursor: pointer;
  }

  .material-icons {
    transition: transform $swift-ease-out-duration $swift-ease-out-timing-function;

    &.flipped {
      transform: rotate(180deg)
    }
  }
} */

.error-message-reasons {
  font-size: $body-font-size-base;
  overflow: auto;
  transition: height $swift-ease-out-duration $swift-ease-out-timing-function;
  margin-top: $layout-gutter-width / 4;

  &.collapsed {
    height: 0 !important;
    overflow: hidden;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

