dop-error-message {
  display: block;
  box-shadow: $card-box-shadow;
  border-radius: $border-radius $border-radius 0 0;
  overflow: hidden;

  + dop-portfolio-summary-card,
  + [data-dop-portfolio-summary-card] {
    > md-card {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .expandable {
    height: 100%;

    > div {
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }
}

.error-message-icon {
  margin-right: $layout-gutter-width / 2;
  cursor: help;
}

.error-message-collapse-icon {
  margin-left: $layout-gutter-width / 2;
  transition: transform $swift-ease-out-duration $swift-ease-out-timing-function;

  .expanded & {
    transform: rotate(90deg);
  }
}

.error-message-button:last-child {
  margin-right: -8px;
}

.error-message-reports {
  overflow: auto;
  transition: height $swift-ease-out-duration $swift-ease-out-timing-function;

  &.collapsed {
    height: 0 !important;
    overflow: hidden;
  }

  md-list md-list-item.md-3-line .md-list-item-text h3 {
    margin-bottom: .2em;
  }
}

