.heading-width {
  @media (min-width: $layout-breakpoint-sm) {
    max-width: 85% !important;
  }
}

.block-padding-top {
  @media (max-width: $layout-breakpoint-sm) {
    padding-top: 3.5rem !important;
  }
}

.edit-button-opacity {
  opacity: 1;
}

.faq-buttons {
  display: flex;
  flex-direction: row;;
  margin-top: 10px;

  @media (max-width: $layout-breakpoint-xs) {
    flex-direction: column;
    align-items: center;
  }
}

.button-delete {
    flex: 5 0 0;
}

.buttons-add-cancel {
    flex: 1 0 0;
}
