.heading-width {
  @media (min-width: $layout-breakpoint-sm) {
    max-width: 85% !important;
  }
}

.block-padding-top {
  @media (max-width: $layout-breakpoint-sm) {
    padding-top: 3.5rem !important;
  }
}

.edit-button-opacity {
  opacity: 1;
}
