.favorite {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;

  &:hover {
    .favorite__icon {
      color: rgba(255, 255, 255, .8);
    }
  }

  .favorite__icon {
    color: rgba(255, 255, 255, 0);
  }


  &.has-favorited {
    .favorite__icon {
      color: $gold;
      text-shadow: 1px 1px 1px rgba(0, 0,0, .6);
    }
  }
}
