.drop-box {
  position: relative;
  border: 1px dashed rgba(0,0,0,.25);
  margin-left: $md-padding;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  transition: all .25s;
  background: rgba(0,0,0, .1);
  height: 100px;
  max-height: 100px;
  min-height: 100px;
  padding: 0;
  box-sizing: content-box;

  &.dragover,
  &:hover {
    border-color: rgba(0,0,0,.15);
    background: rgba(0,0,0, .15);
  }

  .error-wrapper {
    padding: 0 20px;
    width: 100%;
  }

	&.dragover-err {
    border-color: $error;
	}

  .text-small.text-light {
    padding: 0 20px;
  }
}

.drop-box-preview-container {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.drop-box-preview {
  overflow: hidden;
  max-height: 100px;

  img {
    height: auto;
    width: 100%;
  }

  &.ng-enter, &.ng-leave {
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  }

  &.ng-enter, &.ng-leave.ng-leave-active {
    opacity: 0;
  }

  &.ng-leave, &.ng-enter.ng-enter-active {
    opacity: 1;
  }
}

.drop-box__icon {
  font-size: 4.6em;
  color: rgba(255, 255, 255, 1);

  @media (min-width: $layout-breakpoint-xs) {
    font-size: 2.6em;
  }

  @media (min-width: $layout-breakpoint-sm) {
    font-size: 3.6em;
  }
}

.error-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: $font-medium;
}
