#comments {
  .comments-card-title {
    md-icon {
      transition: transform 0.3s ease-in-out;
    }

    &.toggled md-icon {
      transform: rotate(88deg);
    }
  }

  h3 {
    text-transform: initial;
  }

}
md-input-container .md-resize-handle {
  bottom: 0;
  display: none;
}

.search-learning-objects::-ms-clear {
  display: none;
}

.checkbox--material-author {
  margin-top: 28px;
  margin-bottom: 27px;
}

.button-material-language {
  border-bottom: 2px solid $gray-600-light;
  color: $gray;
  margin-top: 0;
  text-align: left;

  &:hover {
    border-color: $green1;
  }
}

.button-material-language__icon {
  position: absolute;
  right: 0%;
  top: 6px;
}

.button-material-language--selected {
  border-color: $green1;
}
