.content-container {
  transition: 0.2s;
  max-width: $layout-breakpoint-md;
  padding: ($md-toolbar-height + $md-padding) $md-padding $md-padding;

  @media (min-width: $layout-breakpoint-md) {
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(#{$sidenav-width} + #{$md-padding});
    padding-right: $nav-button-area-width;
  }

  &.nav-open {
    @media (min-width: $layout-breakpoint-md) {
      padding-left: calc(#{$sidenav-width} + #{$md-padding});
      padding-right: $nav-button-area-width;
    }
    .card-container {
      justify-content: left;
    }
  }
}

.layout-width-90 {
  max-width: 90%;
}



.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  @media (min-width: $layout-breakpoint-md) {
    justify-content: left;
  }
}

.card-container--center {
  @media (min-width: $layout-breakpoint-md) {
    justify-content: flex-start;

  }
}

.lays-out-left {
  min-width: 0;

  @media (min-width: $layout-breakpoint-md) {
    min-width: $sidenav-width;
  }

  @media (min-width: $layout-breakpoint-lg) {
    min-width: 0;
  }
}

.filter-wrapper {
  width: 100%;
  padding-bottom: $md-padding;
  max-width: $layout-breakpoint-md;

  &.nav-open {
    @media (min-width: $layout-breakpoint-md) {
      margin-left: calc(#{$sidenav-width} + #{$md-padding});
      margin-right: $nav-button-area-width;
    }

    @media (min-width: $layout-breakpoint-main-content-margin) {
      margin-left: auto;
      margin-right: auto;
      padding-left: calc(#{$sidenav-width} - 11em);
    }
  }
}

.user-guide-padding {
  padding: 10px;
}

.user-guide-margin {
  margin: 0.4rem;
}
