.content-container {
  margin-top: $md-toolbar-height + $md-padding;
  transition: 0.2s;
  max-width: $layout-breakpoint-md;
  padding-left: $md-padding;
  padding-right: $md-padding;
  @media (min-width: $layout-breakpoint-md) {
    margin-left: auto;
    margin-right: auto;
    padding-left: $sidenav-width + $md-padding;
    padding-right: $nav-button-area-width;
  }
  @media (min-width: $layout-breakpoint-lg) {
    padding-left: $sidenav-width + $md-padding;
    margin-left: auto;
    margin-right: auto;
  }
  &.nav-open {
    @media (min-width: $layout-breakpoint-md) {
      padding-left: $sidenav-width + $md-padding;
      padding-right: $nav-button-area-width;
    }
    @media (min-width: $layout-breakpoint-lg) {
      padding-left: $sidenav-width + $md-padding;
    }
    .card-container {
      justify-content: left;
    }
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  @media (min-width: $layout-breakpoint-md) {
    justify-content: left;
  }
  @media (min-width: $layout-breakpoint-lg) {
    justify-content: left;
  }
}

.lays-out-left {
  min-width: 0;

  @media (min-width: $layout-breakpoint-md) {
    min-width: $sidenav-width;
  }

  @media (min-width: $layout-breakpoint-lg) {
    min-width: 0;
  }
}

.filter-wrapper {
  width: 100%;
  padding-bottom: $md-padding;

  @media (min-width: $layout-breakpoint-md) {
    margin-right: $nav-button-area-width;
    padding-left: $md-padding;
    max-width: ($layout-breakpoint-md - 40px);
  }

  @media (min-width: $layout-breakpoint-lg) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: $button-width;
  }

  &.nav-open {
    @media (min-width: $layout-breakpoint-md) {
      margin-left: $sidenav-width;
    }

    @media (min-width: $layout-breakpoint-lg) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: ($layout-breakpoint-md - 40px);
    }
  }
}

.layout-relative {
  position: relative;
}

.min-width-0{
  min-width: 0px;
}
