.navbar .md-toolbar-tools {
  justify-content: space-between;
}

.navbar.md-red {
  background-color: #a2134c;
}

.navbar.md-gray {
  background-color: #949394;
}

@media (min-width: 1800px) {
  .navbar .md-toolbar-tools {
    justify-content: center;
  }
  .navbar-buttons-area {
    position: absolute;
    right: 16px;
    top: 14px;
  }
  .navbar-logo-area {
    position: absolute;
    left: 16px;
    top: 14px;
  }
}

.navbar-logo-main {
  padding-left: 10px;
  padding-right: 19px;
}

.navbar-search-area {
  max-width: 1280px;
  align-self: center;
  flex-grow: 1;
  padding: 0 16px;
  display: none;
}

@media (min-width: 640px) {
  .navbar-search-area {
    display: inline-block;
  }
}

.navbar-buttons-area {
  justify-content: flex-end;
}

.navbar-logo-main a {
  min-width: 32px;
  margin-top: 5px;
}

@media (min-width: 960px) {
  .navbar-logo-main a {
    min-width: 162px;
  }
}


.navbar-content {
  align-items: center;
  height: 100%;
}

.navbar-search {
  margin: 0 5px 0 0;
  border-radius: 2px;
  padding: 4px 0;

  @media screen and (min-width: 600px) {
    background: rgba(255,255,255,.15);
  }

  md-input-container {
    padding: 0;
    margin: 0;

    input {
      height: 40px;
      padding: 0;
      border: 0;
      color: #fff;

      &[disabled] {
      background-image: none;
      }
    }

    .md-errors-spacer {
      display: none;
    }
  }
}

.upside-down {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

#column-layout {
  .navbar-search {
    margin: 0;
  }
}

@media screen and (max-width: 959px) {
  .allow-scroll {
    overflow-y: scroll;
    height: 100%;
  }
}

.nav-position {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.logo {
  display: block;
  background-image: url('../images/logo_white_sm.svg');
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;

  @media (min-width: 960px) {
    background-image: url('../images/logo_white.svg');
    height: 35px;
    margin-top: 5px;
  }
}

.logo-lg {
  background-image: url('../images/logo_white.svg');
  height: 35px;
  margin-top: 5px;
}

#header-simple-search-input{
  background-color: transparent;
}

#header-simple-search-input > md-autocomplete-wrap{
  box-shadow: none;
}

#header-simple-search-input > md-autocomplete-wrap > button {
  display: none;
}
