.navbar {
  position: fixed !important;
  top:0;
  left:0;
  right:0;
  overflow: hidden;
  z-index: 5;

  // Needs redoing after navbar design
  .md-toolbar-tools {
    padding: 0;
  }
  @media (min-width: 370px) {
    .md-toolbar-tools {
      padding: 0 16px;
    }
  }
}

.navbar .md-toolbar-tools {
  justify-content: space-between;
}

.navbar.md-red {
  background-color: #a2134c;
}

.navbar.md-gray {
  background-color: #949394;
}

.navbar-logo-main {
  padding-left: 10px;
  padding-right: 30px;
  margin-top: 5px;
  }

.navbar-search-area {
  width: 100%;
  max-width: 1280px;
  padding: 0 16px;
  display: none;

  @media (min-width: $layout-breakpoint-xs) {
    display: inline-block;
  }
}

.navbar-buttons-area {
  @media (min-width: $layout-breakpoint-xs) {
    flex: 0 0 auto;
  }
  .button-container {
    display: inline-block;
  }
  .mobile-search-button {
    @media (min-width: $layout-breakpoint-xs) {
    display: none;
    }
    button {
      margin: 0;
    }
  }

}

.navbar-content {
  align-items: center;
  height: 100%;
}

.navbar-search {
  margin: 0 5px 0 0;
  border-radius: 2px;
  padding: 4px 0;

  @media screen and (min-width: $layout-breakpoint-xs) {
    background: rgba(255,255,255,.15);
  }

  md-input-container {
    padding: 0;
    margin: 0;

    input {
      height: 40px;
      padding: 0;
      border: 0;
      color: #fff;

      &[disabled] {
      background-image: none;
      }
    }

    .md-errors-spacer {
      display: none;
    }
  }
}

.upside-down {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

#column-layout {
  .navbar-search {
    margin: 0;
  }
}

.nav-position {
  width: 100%;
  z-index: 10;
}

// .logo {
//   display: block;
//   background-image: url('../images/logo_white_sm.svg');
//   height: 30px;
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-position: left center;
//
//   @media (min-width: 960px) {
//     background-image: url('../images/logo_white.svg');
//     height: 35px;
//     margin-top: 5px;
//   }
// }
//
// .logo-lg {
//   background-image: url('../images/logo_white.svg');
//   height: 35px;
//   margin-top: 5px;
// }

#header-simple-search-input{
  background-color: transparent;
}

#header-simple-search-input > md-autocomplete-wrap{
  box-shadow: none;
}

#header-simple-search-input > md-autocomplete-wrap > button {
  display: none;
}

// Wide/big screen fix
@media (min-width: $layout-breakpoint-lg) {
  .navbar-logo-area {
    position: absolute;
    left: 16px;
    top: 11px;
  }
  .navbar-search-area {
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-buttons-area {
    position: absolute;
    right: 16px;
    top: 11px;
  }
}

// Account circle colors
.md-primary {
  .account__circle {
    color: #1E88E5;
  }
}
.md-red {
  .account__circle {
    color: #a2134c;
  }
}
.md-gray {
  .account__circle {
    color: #949394;
  }
}
.account__circle {
  background-color: white;
  border-radius: 50%;
  font-weight: bold;
}
