.navbar {
  position: fixed !important;
  top:0;
  left:0;
  right:0;
  overflow: hidden;
  z-index: 15;
}

.navbar.md-red {
  background-color: #a2134c;
}

.navbar.md-gray {
  background-color: #949394;
}

.navbar-logo-area {
  // margin-top: 5px;
  // padding-left: 0;
  // padding-right: 10px;
  @media (min-width: $layout-breakpoint-xs) {
    width: 183px;
  }
  @media (min-width: $layout-breakpoint-sm) {
    width: $sidenav-width;
    min-width: $sidenav-width;
  }
  @media (min-width: $layout-breakpoint-lg) {
    position: absolute;
    left: $md-padding;
    top: 11px;
  }
  .md-button.md-icon-button {
    margin-left: 0;
  }
}

.navbar-search-area {
  width: 100%;
  max-width: $layout-breakpoint-md;
  display: none;

  &.has-mobile-search-open {
    display: flex;

    .md-icon-button {
      margin-left: 0;
    }
  }

  @media (min-width: $layout-breakpoint-xs) {
    display: inline-block;
  }

  @media (min-width: $layout-breakpoint-lg) {
    margin-left: auto;
    margin-right: auto;
  }
}

.navbar-buttons-area {
  @media (min-width: $layout-breakpoint-xs) {
    flex: 0 0 auto;
  }

  @media (min-width: $layout-breakpoint-lg) {
    position: absolute;
    width: $nav-button-area-width;
    right: $md-padding;
    top: 11px;
  }

  .button-container {
    display: inline-block;

    @media (max-width: 350px) {
      .md-icon-button {
        width: 35px;
      }
    }
  }

  .mobile-search-button {
    @media (min-width: $layout-breakpoint-xs) {
      display: none;
    }

    button {
      margin: 0;
      padding: 0;
    }
  }

}

.navbar-content {
  align-items: center;
  height: 100%;
}

.navbar-search {
  border-radius: 2px;
  padding: 4px 0;
  background: rgba(255,255,255,.15);

  @media (min-width: $layout-breakpoint-lg) {
    margin-left: $button-width;
  }

  .nav-search__autocomplete {
    background-color: transparent;

    & > md-autocomplete-wrap {
      box-shadow: none;

      & > button {
        display: none;
      }
    }

  }
  .nav-search__input-container {
    padding: 0;
    margin: 0;

    input {
      height: 40px;
      padding: 0;
      border: 0;
      color: #fff;

      &[disabled] {
        background-image: none;
      }

      &::placeholder {
        color: rgba(255,255,255, .6);
      }
    }

    .md-errors-spacer {
      display: none;
    }
  }
}

.upside-down {
  transform: rotate(180deg);
}

#column-layout {
  .navbar-search {
    margin: 0;
  }
}

.nav-position {
  width: 100%;
  z-index: 15;
}

#header-simple-search-input{
  background-color: transparent;
}

#header-simple-search-input > md-autocomplete-wrap{
  box-shadow: none;
}

#header-simple-search-input > md-autocomplete-wrap > button {
  display: none;
}

// Account circle colors
.md-primary {
  .account__circle {
    color: #1E88E5;
  }
}
.md-red {
  .account__circle {
    color: #a2134c;
  }
}
.md-gray {
  .account__circle {
    color: #949394;
  }
}
.account__circle {
  background-color: white;
  border-radius: 50%;
  font-weight: bold;
}
