.portfolio-material {
  a, span {
    padding: 5px;
    margin-left: 20px
  }

  button {
    margin-left: 20px
  }

  .span-margin-left {
    margin-left: 0px;
  }

  .link-is-grey {
    color: grey !important;
  }
}
