.portfolio-material {
  a, span {
    padding: 5px;
    margin-left: 20px
  }

  button {
    margin-left: 20px
  }

  .span-margin-left {
    margin-left: 0px;
  }

  .link-is-grey {
    color: grey !important;
  }
  .disabled-link {
    a.disabled {
      cursor: not-allowed;
      opacity: .65;
    }

    a.disabled:hover { text-decoration: none; }
    a.disabled:focus { text-decoration: none; }
    a.disabled:active { text-decoration: none; }
  }
}
