.select__parent {
  font-weight: bold;
}

.select__child {
  font-weight: normal;
  padding-left: 70px !important;
}

md-select-menu[multiple] md-option.select__child .md-container {
  margin-left: 40px;
}

md-select-menu[multiple] {
  overflow-y: visible;
}

.select__close {
  position: absolute;
  top: -26px;
  right: -26px;

  &.md-button.md-raised {
    background-color: #eee;
  }
}
