.stepped-select {
  font-weight: bold;

  &.child {
    font-weight: normal;
    padding-left: 40px;
  }
}

.md-select-menu-container::after{
  content: "close";
  font-family: 'Material Icons';
  font-size: 1.8em;
  position: absolute;
  top: -40px;
  right: 0px;
  background: rgb(238,238,238);
  border-radius: 50%;
  width: 1.2em;
  height: 1.2em;
  display: block;
  text-align: center;
  line-height: 1.2em;
  vertical-align: middle;
  pointer-events: none;
}

md-select-menu[multiple] md-option[selected=selected]::after {
  content: "check_box";
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;

  position: absolute;
  right: 16px;
  top: 16px;
  display: block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

md-select-menu[multiple] md-option::after {
  content: "check_box_outline_blank";
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;

  position: absolute;
  right: 16px;
  top: 16px;
  display: block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
