md-sidenav {
  width: $sidenav-width;
  min-width: $sidenav-width;
  max-width: $sidenav-width;
  position: fixed;
  background-color: $sidenav-color;
  box-shadow: $whiteframe-shadow-6dp;

  @media (min-width: $layout-breakpoint-md) {
    background-color: transparent;
    box-shadow: none;
    z-index: 1;
  }
}

.md-toolbar-tools {
  font-size: 18px;
}

md-sidenav {
  md-toolbar {
    padding: 0 22px;
  }
  @media (min-width: $layout-breakpoint-md) {
    md-toolbar {
      min-height: 64px;
    }
  }
  md-toolbar.md-primary .md-toolbar-tools.md-subhead {
    box-shadow: rgba(0, 0, 0, 0.2) -3px 1px 3px 0px, rgba(0, 0, 0, 0.137255) -1px 1px 1px 0px, rgba(0, 0, 0, 0.117647) -1px 2px 1px -1px;
  }
  md-content {
    z-index: -1;
  }
}

md-sidenav._md-locked-open, md-sidenav._md-locked-open._md-closed, md-sidenav._md-locked-open._md-closed.md-sidenav-left, md-sidenav._md-locked-open._md-closed, md-sidenav._md-locked-open._md-closed.md-sidenav-right, md-sidenav._md-locked-open-remove._md-closed {
  position: fixed;
}

// Removes faulty backdrop
.md-sidenav-backdrop {
  opacity: 0 !important;

  @media (min-width: $layout-breakpoint-md) {
    display: none;
  }
}

/*
** Sidenav
*/
.sidenav {
  .panel {
    border-bottom: 1px solid rgba(0,0,0,.12);
  }

  .panel-title {
    margin: 0;
    font-weight: normal;
  }

  .accordion-toggle {
    &:hover {
      text-decoration: none;
    }

    > span {
      display: flex
    }
  }
}

.sidenav__list {
  margin: 0;
  padding: 0;

  .sidenav__list {
    .sidenav__item {
      background-color: rgba(0,0,0,.05);
    }

    &--sub {
      .sidenav__item {
        background-color: transparent;
      }
    }
  }

  &--sub {
    .sidenav__header {
      padding-left: 40px;
      font-size: 12px;
      font-weight: 500;
      min-height: 40px;

      &:before {
        content: '- ';
        z-index: -1;
      }
    }

    .sidenav__name {
      padding-left: 10px;
    }
  }
}

.sidenav__item {
  position: relative;
  width: 100%;
}

.sidenav__header {
  position: relative;
  cursor: pointer;
  transition: background 0.2s;
  min-height: 46px;
  font-size: 13px;
  padding: 0 22px;
  width: 100%;
  color: rgba(0,0,0,.77);

  &:hover,
  &:focus {
    background-color: rgba(158,158,158,0.2);
    text-decoration: none;

    .sidenav__count {
      color: $color-selected-menu;
    }
  }

  &.is-opened {
    background-color: rgba(0,0,0,0.1);

    .sidenav__icon--animate {
      transform: rotate(90deg) scale(0.9);
    }
  }

  &.is-active {
    color: $color-selected-menu;
    background: rgba(0, 0, 0, 0.1);

    .sidenav__icon {
      color: $color-selected-menu;
    }
  }

  &.is-disabled {
    cursor: default;

    &:hover,
    &:focus {
      .sidenav__count {
        color: inherit;
      }
    }
  }

  &--main {
    font-size: 1em;
    min-height: 52px;

    &.is-opened {
      color: #000;
      font-weight: 500;
      background: transparent;

      &:hover {
        background-color: rgba(158,158,158,0.2);
      }

      .sidenav__icon--animate {
        color: #000;
        font-weight: 500;
      }
    }
  }

  &--version-number {
    color: $gray;

    .icon-github-circled:before {
      position: absolute;
    }
  }

  &--link {
    color: $color-selected-menu;
  }

  .md-ripple-container {
    order: 2;
  }
}

.sidenav__name {
  margin-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;

  .material-icons + & {
    margin-left: 10px;
  }
}

.sidenav__icon {
  margin: 0;
  transform: rotate(0deg) scale(0.9);
  transition: transform .25s;

  &--hidden {
    display: none;

    .has-children & {
      display: block;
    }
  }

  &--animate {
    order: 3;
  }
}

.sidenav__background {
  background-color: rgba(0,0,0,.05);
}

.sidenav__count {
  font-size: 12px;
  order: 3;
}
