.statistics-card {
  margin-bottom: 5rem; // make room for the Floating Action Button
}

.statistics-filter {
  ._md-datepicker-has-triangle-icon {
    margin-right: 0;
    padding-right: 0;
  }

  .md-datepicker-input-container {
    display: block;
  }

  .md-datepicker-input {
    font-size: inherit;
    max-width: none;
  }

  .md-datepicker-button {
    display: none;

    + .md-datepicker-input-container {
      margin-left: 0;
    }
  }

  md-select-value [data-translate^="DOMAIN"] {
    font-weight: bold;
  }
}

.statistics-filter__inputs {
  position: relative;
}

.statistics-filter__conjunction {
  padding: $input-container-padding;
}

.statistics-filter__conjunction--comma {
  position: absolute;
  right: .2rem;
  top: 7.8rem;

  @media (min-width: $layout-breakpoint-sm) {
    margin: 0 1em 0 0;
    position: static;
  }
}

.statistics-filter__conjunction--until,
.statistics-filter__conjunction--or {
  @media (min-width: $layout-breakpoint-sm) {
    margin: 0 1em;
  }
}

.statistics-filter__to-container {
  @media (max-width: $layout-breakpoint-sm - 1) {
    margin-bottom: 3rem;
  }
}

.statistics-filter__buttons button {
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  md-icon {
    margin-left: 1rem;
  }
}

.statistics-info-text {
  box-sizing: border-box;
  overflow: hidden;
  transition: height .3s;
  will-change: height;

  &:not(.is-open) {
    height: 0 !important;
  }
}

.statistics-info-text-toggle {
  text-transform: none;
}

table.statistics-table {
  border-collapse: collapse;

  thead tr {
    height: 40px !important;
  }

  tbody tr,
  tfoot tr {
    height: 48px !important;
  }

  th,
  td {
    font-size: .8125rem;
    padding: .5rem 1.5rem !important;

    &:first-child {
      border-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  thead th {
    background-color: #eeeeee; // gray-200
    border: 1px solid #ffffff;

    &[rowspan] {
      font-size: .875rem;
    }

    &:not([rowspan]) {
      text-align: center !important;
      padding: .5rem !important;
    }
  }

  tbody td:nth-child(n+3),
  tfoot th {
    text-align: right;
  }

  tfoot th {
    text-transform: uppercase;
    border-top: 1px rgba(0,0,0,.24) solid;
  }
}

.statistics-table__educational-context-cell,
.statistics-table__domain-or-subject-cell,
.statistics-table__expert-cell {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.statistics-table__educational-context-cell {
  min-width: 80px;
}

.statistics-table__domain-or-subject-cell {
  min-width: 120px;
}

.statistics-table__expert-cell {
  min-width: 120px;
}