.statistics-filter {
  ._md-datepicker-has-triangle-icon {
    margin-right: 0;
    padding-right: 0;
  }

  .md-datepicker-input-container {
    padding-top: 6px;
  }

  .md-datepicker-input {
    font-size: inherit;
    padding-bottom: 4px;
  }

  .md-datepicker-button {
    display: none;

    + .md-datepicker-input-container {
      margin-left: 0;
    }
  }

  md-select-value [data-translate^="DOMAIN"] {
    font-weight: bold;
  }
}

.statistics-filter__inputs {
  > * {
    margin: 0;

    + * {
      margin-left: 1em; 
    }
  }
}

.statistics-filter__buttons {
  button {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    md-icon {
      margin-left: 1rem;
    }
  }
}

.statistics-info-text {
  box-sizing: border-box;
  overflow: hidden;
  transition: height .3s;
  will-change: height;

  &:not(.is-open) {
    height: 0 !important;
  }
}

table.statistics-table {
  border-collapse: collapse;

  thead tr {
    height: 40px !important;
  }

  tbody tr,
  tfoot tr {
    height: 48px !important;
  }

  th,
  td {
    font-size: .8125rem;
    padding: .5rem 1.5rem !important;

    &:first-child {
      border-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
  }

  td:nth-child(-n+2) {
    max-width: 0; // for the text-overflow: ellipsis to work
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  td:nth-child(1) {
    min-width: 80px;
  }

  td:nth-child(2) {
    min-width: 120px;
  }

  thead th:not([rowspan="3"]) {
    padding: .5rem !important;
  }

  thead th {
    background-color: #eeeeee; // gray-200
    border: 1px solid #ffffff;

    &:not([rowspan]) {
      text-align: center !important;
    }

    &[rowspan="3"] {
      font-size: .875rem;
    }
  }

  tbody td:nth-child(n+3),
  tfoot th {
    text-align: right;
  }

  tfoot th {
    text-transform: uppercase;
    border-top: 1px rgba(0,0,0,.24) solid;
  }
}