.taxon-item {
  width: 100%;

  &--sub {
    background-color: rgba(0,0,0,0.05);

    .taxon__header {
      &.is-opened {
        background-color: rgba(0,0,0,0.1);
      }

      .taxon__name {
        padding-left: 22px;
        padding-right: 22px;
      }
    }

    .icon-identity {
      display: none;
    }
  }
}

.taxon__header {
  transition: background 0.2s;
  height: 46px;
  font-size: 13px;
  padding: 0 22px;

  &.is-opened {
    background-color: rgba(0,0,0,0.1);
    color: $color-selected-menu;

    .icon-identity {
      color: $color-selected-menu;
    }
  }

  &.has-children {
    cursor: pointer;
    &:hover {
      background-color: rgba(158,158,158,0.2);
    }
  }
}

.taxon__name {
  margin-left: 10px;
}

.taxon__count {
  font-size: 12px;
}
