.reduced-editor trix-toolbar .button_groups {
  button.strike {
    display: none;
  }
  button.code {
    display: none;
  }
}

.reduced-editor-margin {
  margin-top: 18px;
  margin-bottom: 10px;
}

.editor-margin-IE {
  margin-top: 20px;
}
