h1 {
  color: $heading-color;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 10px;

  @media (min-width: $layout-breakpoint-xs) {
    font-size: 2rem;
  }

  a {
    color: $heading-color;

    &:hover {
      color: $link-color;
      text-decoration: none;
      border-bottom: 1px solid $link-color;
    }
  }
}

h2 {
  font-weight: 300;
  font-size: 28px;
}

.md-body-1 {
  color: #222;
  font-size: $font-normal;
  font-weight: 300;
  line-height: 20px;
  overflow: hidden;
  text-align: left;
  line-height: 20px;

  &.description {
    line-height: 24px;
  }
}

.md-body-2 {
  line-height: $body-lineheight;

  a:hover {
    text-decoration: none;
    border-bottom: 1px solid $link-color;
  }
}

.md-caption.caption-light {
  font-weight: 300;
  margin-bottom: 0;
}

.no-link,
.no-link:hover {
  text-decoration: none;
  color: inherit;
}

.ellipsis {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &--2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines-two;
    max-height: $font-small*$small-lineheight*$lines-two;
    max-width: 400px;
    white-space: normal;
  }

  &--small {
    font-size: $font-small;
    line-height: $small-lineheight;
    font-weight: 400;
  }

  &--medium {
    max-height: $font-medium*$body-lineheight*$lines-two;
    font-size: $font-medium;
    line-height: $body-lineheight;
    letter-spacing: 0.010em;
    font-weight: 500;
    color: $color-body;
    padding-right: $md-padding;
    margin-top: 0;
    margin-bottom: $md-padding;
  }

  &--big {
    max-height: $font-normal*$small-lineheight*$lines-two;
    font-size: $font-normal;
    line-height: $small-lineheight;
    font-weight: 400;
    color: $color-body;
  }
}

.wrapped {
  white-space: pre-line;
  overflow-wrap: break-word;
}

.error-color {
  color: $error;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: $font-small;
}

.text-light {
  color: $color-muted;
}

.text-error {
  color: $error;
}

.no-margin {
  margin: 0 !important;
}
