$md-primary: #1E88E5;
$link-color: #15c;
$heading-color: #212121;
$sidenav-color: #fff;
$bg-gray: #f3f6fb;
$border-color: rgba(0,0,0,0.12);
$error: #dd2c00;
$color-admin: #a2134c;
$color-deleted: #949394;
$color-primary: #088CE5;
$color-accent: #9c27b0;
$color-selected-menu: #03A9F4;
$color-body: rgba(0, 0, 0, 0.77);
$color-muted: rgba(0, 0, 0, 0.5);
$font-small: 12px;
$font-medium: 14px;
$md-padding: 16px;
$layout-breakpoint-xxs: 370px;
$gray: #808080;
$selected-gray: #eee;
$border-radius: 2px;
$main-fab: #d23f31;

//ftypography
$heading-color: #212121;

// Long shadow
$pi: 3.14159265359;
$_precision: 10;

// Card
$green1: #00838f;
$green2: #00695c;
$greengrass: #43a047;
$pinky: #9c3a7d;
$violet: #584D78;
$navy: #274156;
$cyan: #00498E;
$salad: #36AA7A;
$royal: #2C47B2;
$gold: #ffff00;
$blue: #006899;
$lilac: #6c0099;

// Social
$facebook: #3b5998;
$twitter: #00aeef;
$google: #db4437;

$card-lg-padding: 25px;

$desktop-navbar-height: $md-toolbar-height;

$sidenav-width: 259px;
$nav-button-area-width: 178px;
$button-width: 40px;

@mixin pattern-color($color) {
  background-image: linear-gradient(45deg, lighten($color, 5%), darken($color, 5%));
  background-color: lighten($color, 5%);
}

$gray-n: rgba(0,0,0,.6);
$black: #000;
$white: #fff;
