$md-primary: #1E88E5;
$link-color: #15c;
$heading-color: #212121;
$bg-gray: #f3f6fb;
$border-color: rgba(0,0,0,0.12);
$error: #dd2c00;
$color-admin: #a2134c;
$color-deleted: #949394;
$color-primary: #088CE5;
$color-accent: #9c27b0;
$color-selected-menu: #03A9F4;
$color-body: rgba(0, 0, 0, 0.77);
$color-muted: rgba(0, 0, 0, 0.5);

// Card
$green1: #00838f;
$green2: #00695c;
$greengrass: #43a047;
$green4: #CDDC39;
$pinky: #985984;
$violet: #584D78;
$navy: #274156;
$cyan: #00498E;
$salad: #36AA7A;
$royal: #2C47B2;

$card-lg-padding: 25px;

$desktop-navbar-height: 64px;

$sidenav-width: 259px;
