.medium-editor-toolbar {
  border-radius: 0;
  background-color: #424242; // gray-800

  li {
    button {
      padding: .25rem !important;
      border-radius: 0 !important;
      width: 2.5rem;
      height: 2.5rem;

      &.medium-editor-button-active {
        background-color: #212121; // gray-900

        svg {
          fill: $white; // #03a9f4; // light-blue-500
        }
      }

      svg {
        width: 2rem;
        height: 2rem;
        fill: rgba($white, .7);
      }
    }

    + li {
      border-left: 1px solid #616161; // gray-700
    }
  }
}
.medium-toolbar-arrow-over:before {
  border-color: transparent transparent #424242 transparent; // gray-800
}
.medium-toolbar-arrow-under:after {
  border-color: #424242 transparent transparent transparent; // gray-800
}
.medium-editor-toolbar-form {
  &, .medium-editor-toolbar-input {
    background: transparent;
  }
}
.medium-editor-toolbar-anchor-preview {
  padding: .5rem 1rem;
  font-family: inherit;
  font-size: .875rem;
  background-color: #424242; // gray-800
  border-radius: 0;

  a {
    margin: 0;
  }
}
.medium-editor-toolbar-input::-ms-clear {
  display: none;
}
.medium-editor-toolbar-anchor-preview {
  text-align: left;
  word-break: break-all;

  > div {
    cursor: pointer;
    color: #e0e0e0; // gray-300
    transition: color .2s;
    will-change: color;
  }
}
.medium-editor-toolbar-anchor-preview-inner {
  color: inherit !important;
  display: inline !important;
  
  &,
  &:hover {
    text-decoration: none;
  }
}
.embed-toolbar {
  margin: -3.6rem 0 0 calc((-7.5rem + 2px) / 2);
}