#comments {
  .comments-card-title {
    md-icon {
      transition: transform 0.3s ease-in-out;
    }

    &.toggled md-icon {
      transform: rotate(88deg);
    }
  }

  h3 {
    text-transform: initial;
  }

}
md-input-container .md-resize-handle {
  bottom: 0;
}
