// Base styles
@import "../libs/angular-material/angular-material.scss";
@import "_variables";
@import "_mixins";
@import "_base";
@import "fontello/css/fontello";


// Components
@import "_alert"; // Üle vaadata
@import "_fab-speed-dial";
@import "_icon";
@import "_typography";
@import "_card";
@import "_card-xs";
@import "_card-sm";
@import "_card-lg";
@import "_navbar";
@import "_button";
@import "_file-upload"; // Üle vaadata
@import "_toolbar";
@import "_aside";
@import "_sidenav";
@import "_input";
@import "_chip";
@import "_embed-responsive";
@import "_animation";
@import "_select";
@import "_md-data-table";
@import "_chapter";
@import "_collapse";
@import "_textangular";
@import "_layout";
@import "_error-message";
@import "_logo";
@import "_rating";
@import "_md-toast";
@import "_favorite";
@import "_share";
@import "_dialog";
@import "_toolbar-add-materials";
@import "_tour";

// Page specific stylesheets
@import "pages/add";
@import "pages/home";
@import "pages/static";
@import "pages/profile";

// Dialog specific stylesheets
@import "dialogs/add-material";
