.sidebar {
  md-list,
  md-list-item {
    padding: 0;
  }
  h2 {
    margin: 30px 0 10px 0;
  }

  .recommendations {
    margin-left: -18px;
    margin-bottom: 20px;
    .md-button {
      padding-top: 10px;
      color: #000;
      &:hover {
        color: #15c;
      }
    }
    h4 {
      font-weight: 300;
      font-size: 18px;
      line-height: 1.2;
      margin: 10px 0 0 0;
    }
    .md-button {
      margin: 0;
    }
    span {
      font-weight: 300;
      font-size: 12px;
    }
  }

  .md-list-item-text {
    max-width: 100%;
  }

  .listblock {
    width: 100%;
  }
}
