<div data-layout="column" data-layout-gt-sm="row" data-ng-cloak>
  <div flex-gt-sm="75">
    <dop-error-message ng-if="modUser()" data="portfolio"></dop-error-message>
    <data-dop-portfolio-summary-card
      comment="newComment"
      submit-click="addComment(newComment, portfolio)"
      data-portfolio="portfolio"
    ></data-dop-portfolio-summary-card>
    <div>
      <div data-ng-repeat="chapter in portfolio.chapters">
        <dop-chapter data-chapter="chapter" data-index="{{$index}}"></dop-chapter>
      </div>
    </div>
  </div>
  <aside flex-gt-sm="25">
    <data-dop-aside data-learning-object="portfolio"></data-dop-aside>
  </aside>
</div>
