<update-meta name="author" content="{{portfolio.creator.name + ' ' +  portfolio.creator.surname}}"></update-meta>
<update-meta property="og:url" content="{{pageUrl}}"></update-meta>
<update-script content="structuredData" type="application/ld+json"></update-script>
<div data-layout="column" data-layout-gt-sm="row" data-ng-cloak id="portfolio-parent" data-ng-style="{ 'padding-top' : ($root.showCookieBanner) ? '45px' : '0px' }">
  <div flex-gt-sm="75">
    <dop-error-message ng-show="showUnreviewedPortfolio && !showlogselect" data="portfolio" id="dop-error"></dop-error-message>
    <dop-show-portfolio-history ng-if="showlogselect" showlogselect="showlogselect" portfolio="portfolio" id="dop-portfolio-history"></dop-show-portfolio-history>
    <data-dop-portfolio-summary-card
      comment="newComment"
      data-portfolio="portfolio"
      learning-object="learningObject"
    ></data-dop-portfolio-summary-card>
    <div>
      <div data-ng-repeat="chapter in portfolio.chapters">
        <dop-chapter
          data-chapter="chapter"
          data-index="$index"
        ></dop-chapter>
      </div>
    </div>
  </div>
  <aside flex-gt-sm="25" id="aside-right">
    <data-dop-aside data-learning-object="portfolio"></data-dop-aside>
  </aside>
</div>
