<div data-layout="column" data-layout-gt-sm="row" data-ng-cloak>
  <div flex-gt-sm="75">
    <data-dop-cookie-notice class="cookie-parent"></data-dop-cookie-notice>
    <dop-error-message ng-if="isModerator || isAdmin" data="portfolio" id="dop-error"></dop-error-message>
    <data-dop-portfolio-summary-card
      comment="newComment"
      data-portfolio="portfolio"
      learning-object="learningObject"
    ></data-dop-portfolio-summary-card>
    <div>
      <div data-ng-repeat="chapter in portfolio.chapters">
        <dop-chapter
          data-chapter="chapter"
          data-index="$index"
        ></dop-chapter>
      </div>
    </div>
  </div>
  <aside flex-gt-sm="25" id="aside-right">
    <data-dop-aside data-learning-object="portfolio"></data-dop-aside>
  </aside>
</div>
