<div id="page-profile-materials" flex>
  <div layout="row" layout-xs="column" flex>
    <section flex flex-gt-md="100">
      <div layout-gt-sm>
        <article md-cols-gt-xs="3" md-cols-gt-sm="4" class="md-padding" role="main" id="main-content">
          <h1 class="type-block" data-ng-if="myProfile" data-translate="MYPROFILE_PAGE_TITLE_MATERIALS"></h1>
          <h1 class="type-block" data-ng-if="!myProfile" data-translate="PROFILE_PAGE_TITLE_MATERIALS"></h1>

          <div class="card-container">

            <h3 data-ng-show="materials.length === 0" data-translate="TO_ADD_MATERIAL_PRESS_ADD_MATERIAL"></h3>

            <div data-ng-repeat="material in materials" class="card-container__item">
              <div data-dop-material-box material="material"></div>
            </div>

            <div data-ng-repeat="i in [1,2,3,4]" class="card-container__item card-container__item--empty"><div><md-card class="card-sm"></md-card></div></div>
          </div>

        </article>
      </div>
    </section>
  </div>
</div>
