<div data-layout="row" data-layout-align="space-between center">
  <h1 id="search-result-title" class="md-headline"
      data-ng-show="(showFilterGroups !== 'phraseGrouping' && title) && !$ctrl.isLandingPage()"
      data-ng-bind-html="title"></h1>
  <h1 id="exact-search-result-title" class="md-headline"
      data-ng-if="showFilterGroups === 'phraseGrouping' && exactTitle"
      data-ng-bind-html="exactTitle"></h1>
  <h1 data-ng-if="notice && !isEditMode && $ctrl.isLandingPage() && !filter"
      class="md-headline"
      data-ng-bind="notice"></h1>
  <!-- Edit landing page description and notice -->
  <form name="updateLandingPageForm" flex="100" class="flex flex-col" data-ng-if="isEditMode">
    <md-dialog-content>
      <div
        data-ng-repeat="lang in $ctrl.landingPageLanguages track by $index"
        data-ng-if="lang === activeNoticeAndDescriptionLanguage && isEditMode"
        layout="row"
        layout-wrap>
        <div layout-xs="column" layout="row" layout-align-xs="start stretch" layout-align="start center" flex-order="2"
             flex-order-gt-sm="2" flex="100" data-ng-if="isEditMode">
          <md-input-container class="md-block animate-if remaining-charaters-wrapper" flex>
            <label data-translate="LANDING_PAGE_DESCRIPTION_ADMIN"></label>
            <textarea
              name="description"
              id="add-description"
              ng-model="noticesAndDescriptions[lang].description" id="add-material-description-input"
              required></textarea>
            <div data-ng-messages="updateLandingPageForm.description.$error">
              <div data-ng-message="required" data-translate="LANDING_PAGE_DESCRIPTION_IS_MANDATORY"></div>
            </div>
          </md-input-container>

        </div>
        <div layout="column" layout-align="center center" layout-gt-xs="row" flex="100" flex-gt-sm="50" flex-order="1"
             data-ng-if="isEditMode">
          <!-- Landing page language -->
          <md-button
            class="button-material-language"
            data-ng-repeat="_lang in $ctrl.landingPageLanguages track by $index"
            data-ng-class="{'is-selected': lang === _lang}"
            data-ng-click="$ctrl.toggleNoticeAndDescriptionLanguageInputs(_lang)"
            flex-gt-xs="{{ activeNoticeAndDescriptionLanguage === _lang ? '40' : '30' }}"
            aria-label="{{ _lang }} button"
          >
            <span data-ng-bind="_lang"></span>
            <md-icon class="button-material-language__icon"
                     data-ng-if="$ctrl.isLangFilled(_lang) || activeNoticeAndDescriptionLanguage === _lang">done
            </md-icon>
          </md-button>
        </div>
        <div data-flex-order="3" flex="100" class="flex flex-col">
          <div layout="column" layout-align="start start"
               data-ng-if="isEditMode">
            <md-button
              aria-label="Ava/sulge hooldusteade"
              id="open-additional-info"
              class="md-primary no-margin"
              data-ng-click="$ctrl.maintenanceVisible()"
            >
              <span data-translate="LANDING_PAGE_MAINTENANCE_NOTICE"></span>
              <md-icon>{{ visible ? 'arrow_downward' : 'arrow_forward' }}</md-icon>
            </md-button>
            <div data-ng-if="visible" class="maintenance-width">
              <md-input-container class="md-block animate-if remaining-charaters-wrapper" flex>
                <label data-translate="LANDING_PAGE_MAINTENANCE_NOTICE"></label>
                <textarea name="notice"
                          ng-model="noticesAndDescriptions[lang].notice"
                          id="add-landing-page-notice-input"
                rows="2"></textarea>
              </md-input-container>
            </div>
          </div>

        </div>
      </div>
      <div layout="row" layout-align="end center" class="md-padding md-padding-horizontal-double"
           data-ng-if="isEditMode">
        <md-button
          aria-label="Cancel landing page edit"
          id="landing-page-edit-cancel-button"
          data-ng-click="$ctrl.cancelEdit()"
        >
          <span data-translate="BUTTON_CANCEL"></span>
        </md-button>
        <md-button
          aria-label="{{ 'BUTTON_UPDATE_LANDING_PAGE' | translate }}"
          id="update-landing-page"
          class="md-primary"
          data-ng-disabled="$ctrl.isSubmitDisabled() || isSaving"
          data-ng-click="$ctrl.save()"
        >
          <span data-translate="{{ 'BUTTON_UPDATE_LANDING_PAGE' }}"></span>
          <md-icon>arrow_forward</md-icon>
        </md-button>
        <md-progress-circular
          class="md-accent ng-hide"
          md-mode="indeterminate"
          md-diameter="40"
          data-ng-show="isSaving"
        ></md-progress-circular>
      </div>
    </md-dialog-content>
  </form>
  <md-input-container data-ng-if="filter" flex-xs="60" flex-sm="30" flex-gt-sm="20">
    <md-select ng-model="sortDropdown" placeholder="{{'SORT_PLACEHOLDER' | translate}}">
      <md-option
        data-ng-click="$ctrl.resetSort()"
        data-translate="RESET_SORT"
      ></md-option>
      <md-option
        data-ng-repeat="sortOption in sortOptions"
        data-ng-click="$ctrl.sort(sortOption.field, sortOption.direction)"
        data-translate="{{sortOption.option}}"
        data-ng-value="sortOption.option"
      ></md-option>
    </md-select>
  </md-input-container>
</div>
<div data-layout="row" data-layout-align="space-between center">
  <h2 data-ng-if="!searching && items.length === 0" data-translate="{{subtitle}}"></h2>
  <p data-ng-if="description && !isEditMode && $ctrl.isLandingPage() && !filter" data-ng-bind="description"></p>
  <md-button style="min-width: 36px"
             data-ng-if="$ctrl.isAdmin() && !isEditMode && !filter && !searching && $ctrl.isLandingPage()"
             data-ng-click="$ctrl.editLandingPage()"
             id="landing-page-edit">
    <md-icon class="icon-blue" md-menu-align-target>edit</md-icon>
    <md-tooltip><span data-translate="LANDING_PAGE_EDIT"></span></md-tooltip>
  </md-button>
</div>
<div data-ng-if="sorting || !searching">
  <div data-ng-if="$ctrl.showExactGroupButtons()" id="exact-grouping-selection-buttons" data-layout="row">
    <section data-layout="row" data-layout-xs="column" layout-wrap>
      <div class="margin-right-15" data-ng-repeat="(groupId, groupValue) in filterGroupsExact">
        <span data-ng-style="(groupValue.isPortfolioActive || groupValue.isMaterialActive) && {'font-weight':'bold'}"
              data-translate="{{groupValue.name}}"></span>
        <md-button id="{{groupId}}-exact-portfolio-button"
                   data-ng-if="groupId !== 'all'"
                   class="button-grouping-filter"
                   data-ng-click="$ctrl.selectPortfolioFilter(groupId, true)"
                   data-ng-class="{ 'active': groupValue.isPortfolioActive}"
                   data-ng-disabled="{{groupValue.countPortfolio === 0}}">
          <md-tooltip><span data-translate="FILTER_PORTFOLIO"></span></md-tooltip>
          <md-icon class="material-icons sidenav__icon group_btn__icon">book</md-icon>
          {{groupValue.countPortfolio}}
        </md-button>
        <md-button id="{{groupId}}-exact-material-button"
                   class="button-grouping-filter"
                   data-ng-click="$ctrl.selectMaterialFilter(groupId, true)"
                   data-ng-class="{ 'active': groupValue.isMaterialActive}"
                   data-ng-disabled="{{groupValue.countMaterial === 0}}">
          <md-tooltip data-ng-if="groupId !== 'all'"><span data-translate="FILTER_MATERIAL"></span></md-tooltip>
          <md-icon data-ng-if="groupId !== 'all'" class="material-icons sidenav__icon group_btn__icon">description
          </md-icon>
          {{groupValue.countMaterial}}
        </md-button>
      </div>
    </section>
  </div>
  <h1 id="similar-search-result-title" class="md-headline"
      data-ng-if="showFilterGroups === 'phraseGrouping' && similarTitle" data-ng-bind-html="similarTitle"></h1>
  <div data-ng-if="$ctrl.showDefaultGroupButtons()" id="grouping-selection-buttons" data-layout="row">
    <section data-layout="row" data-layout-xs="column" layout-wrap>
      <div class="margin-right-15" data-ng-repeat="(groupId, groupValue) in filterGroups">
        <span data-ng-style="(groupValue.isPortfolioActive || groupValue.isMaterialActive) && {'font-weight':'bold'}"
              data-translate="{{groupValue.name}}"></span>
        <md-button id="{{groupId}}-portfolio-button"
                   data-ng-if="groupId !== 'all'"
                   class="button-grouping-filter"
                   data-ng-click="$ctrl.selectPortfolioFilter(groupId)"
                   data-ng-class="{ 'active': groupValue.isPortfolioActive }"
                   data-ng-disabled="{{groupValue.countPortfolio === 0}}">
          <md-tooltip><span data-translate="FILTER_PORTFOLIO"></span></md-tooltip>
          <md-icon class="material-icons sidenav__icon group_btn__icon">book</md-icon>
          {{groupValue.countPortfolio}}
        </md-button>
        <md-button id="{{groupId}}-material-button"
                   class="button-grouping-filter"
                   data-ng-click="$ctrl.selectMaterialFilter(groupId)"
                   data-ng-class="{ 'active': groupValue.isMaterialActive }"
                   data-ng-disabled="{{groupValue.countMaterial === 0}}">
          <md-tooltip data-ng-if="groupId !== 'all'"><span data-translate="FILTER_MATERIAL"></span></md-tooltip>
          <md-icon data-ng-if="groupId !== 'all'" class="material-icons sidenav__icon group_btn__icon">description
          </md-icon>
          {{groupValue.countMaterial}}
        </md-button>
      </div>
    </section>
  </div>
</div>
<div data-infinite-scroll-immediate-check="true" data-infinite-scroll="nextPage()" class="margin-top-36 card-container">
  <div data-ng-repeat="item in items | itemGroupFilter:filterGroups:filterGroupsExact:showFilterGroups track by $index"
       class="card-container__item" flex-xs="100">
    <dop-card-sm learning-object="item"></dop-card-sm>
  </div>
</div>

<div data-ng-if="!$ctrl.allResultsLoaded() && searching">
  <p data-ng-if="start !== 0" class="md-body-2 md-button md-primary" layout="row" layout-align="center center"
     data-translate="SEARCH_LOADING"></p>
  <div data-ng-if="start === 0" layout="column" layout-align="center center" class="min-height-500">
    <md-progress-circular></md-progress-circular>
  </div>
</div>
