<uib-accordion-heading>
  <a id="sidebarPortfolio" class="sidenav__header sidenav__header--main" md-ink-ripple layout="row" layout-align="space-between center" data-ng-class="{'is-opened': $root.isViewPortfolioAndEdit}">
    <div layout="row" layout-align="center center">
      <span class="sidenav__name">{{ portfolio.title }}</span>
    </div>
    <md-icon class="material-icons sidenav__icon sidenav__icon--animate">keyboard_arrow_right</md-icon>
  </a>
</uib-accordion-heading>

<!-- Subitems -->
<ul class="sidenav__list" data-du-scroll-container="scrollable-content">
  <li class="sidenav__item" layout="column" data-ng-repeat="chapter in portfolio.chapters">
    <a data-ng-href="#chapter-{{$index}}" id="toc-chapter-{{$index}}" class="sidenav__header" md-ink-ripple layout="row" layout-align="start center" data-ng-click="gotoChapter($event, $index); closeSidenav('left');">
      <span class="sidenav__name">{{chapter.title}}</span>
    </a>

    <ul class="sidenav__list sidenav__list--sub">
      <li class="sidenav__item" layout="column" data-ng-repeat="subchapter in chapter.subchapters">
        <a data-ng-href="#chapter-{{$parent.$index}}-{{$index}}" id="toc-chapter-{{$parent.$index}}-{{$index}}" class="sidenav__header" md-ink-ripple layout="row" layout-align="start center" data-ng-click="gotoChapter($event, $parent.$index, $index); closeSidenav('left');">
          <span class="sidenav__name">{{subchapter.title}}</span>
        </a>
      </li>
    </ul>
  </li>
</ul>
