<uib-accordion-heading>
  <a id="sidebarPortfolio" class="sidenav__header sidenav__header--main" layout="row" layout-align="space-between center" data-ng-class="{'is-opened': $root.isViewPortfolioAndEdit}">
    <div layout="row" layout-align="center center">
      <span class="sidenav__name">{{ portfolio.title }}</span>
    </div>
    <md-icon class="material-icons sidenav__icon sidenav__icon--animate">keyboard_arrow_right</md-icon>
  </a>
</uib-accordion-heading>

<!-- Subitems -->
<ul class="sidenav__list" data-du-scroll-container="scrollable-content">
  <li class="sidenav__item" layout="column" data-ng-repeat="chapter in portfolio.chapters">
    <a data-ng-href="#chapter-{{$index}}" id="toc-chapter-{{$index}}" class="sidenav__header" layout="row" layout-align="start center" data-offset="130" data-du-scrollspy data-ng-click="gotoChapter($event, $index); closeSidenav('left');" layout="row" data-ng-class="{'with-icon': $root.isEditPortfolioMode && showAddMaterialButton}">
      <span class="sidenav__name">{{chapter.title}}</span>

      <span data-ng-if="$root.isEditPortfolioMode && showAddMaterialButton" data-ng-click="addMaterialsToChapter($event, chapter)">
        <md-tooltip md-direction="right">
          <span data-translate="PORTFOLIO_ADD_MATERIAL"></span>
        </md-tooltip>
        <md-icon>add_circle</md-icon>
      </span>
    </a>

    <ul class="sidenav__list sidenav__list--sub">
      <li class="sidenav__item" layout="column" data-ng-repeat="subchapter in chapter.subchapters">
        <a data-ng-href="#chapter-{{$parent.$index}}-{{$index}}" id="toc-chapter-{{$parent.$index}}-{{$index}}" class="sidenav__header" layout="row" layout-align="start center" data-offset="120" data-du-scrollspy layout="row" data-ng-click="gotoChapter($event, $parent.$index, $index); closeSidenav('left');" data-ng-class="{'with-icon': $root.isEditPortfolioMode && showAddMaterialButton}">
          <span class="sidenav__name">{{subchapter.title}}</span>

          <span data-ng-if="$root.isEditPortfolioMode && showAddMaterialButton" data-ng-click="addMaterialsToChapter($event, subchapter)">
            <md-tooltip md-direction="right">
              <span data-translate="PORTFOLIO_ADD_MATERIAL" class="sidenav__name"></span>
            </md-tooltip>
            <md-icon>add_circle</md-icon>
          </span>
        </a>
      </li>
      <li class="sidenav__item" layout="column" data-ng-hide="readonly">
        <a class="sidenav__header is-active" layout="row" layout-align="start center" data-ng-click="addNewSubChapter($index)">
          <span data-translate="PORTFOLIO_ADD_SUBCHAPTER" class="sidenav__name"></span>
        </a>
      </li>
    </ul>
  </li>
  <li class="sidenav__item" layout="column" data-ng-click="showAddChapterDialog()" data-ng-hide="readonly">
    <a class="sidenav__header is-active" layout="row" layout-align="start center" aria-label="Lisa uus peatükk" data-ng-click="addNewChapter()">
      <span data-translate="PORTFOLIO_ADD_CHAPTER" class="sidenav__name"></span>
    </a>
  </li>
</ul>
