<a class="sidenav__header" md-ink-ripple="{{materialCount > 0 ? true : false}}" layout="row"
   layout-align="space-between center"
   data-ng-click="toggleChildren(taxon.id)"
   data-ng-class="{'has-children': hasChildren, 'is-opened': opened && hasChildren, 'is-active': isActive, 'is-disabled': materialCount == 0}">
  <div layout="row" layout-align="center center" class="layout-width-90">
    <md-icon class="material-icons sidenav__icon">{{icon}}</md-icon>
    <span data-translate="{{taxonName}}" class="sidenav__name"></span>
    <md-tooltip md-direction="right">
      <span data-translate="{{taxonName}}"></span>
    </md-tooltip>
  </div>
  <span data-ng-show="materialCount > 0" data-ng-bind="materialCount" class="sidenav__count"></span>
</a>
<div class="sidenav__background" data-ng-if="opened" data-ng-repeat="data in taxonChildren | orderBy: 'name'">
  <dop-sidenav-taxon
    class="sidenav__item"
    layout="column"
    data-taxon="data"
  ></dop-sidenav-taxon>
</div>
