<div>
  <a href="search/result?q=&taxon={{taxon.id}}">
    <div class="header" flex layout="row" ng-click="toggleChildren()" ng-class="{'has-children': hasChildren, 'opened': opened && hasChildren}">
      <md-icon class="icon-identity" >{{icon}}</md-icon>
      <span class="taxon-name" data-translate="{{getTaxonTranslation(taxon)}}"></span>
      <span class="count">{{childrenCount}}</span>
      <md-icon class="icon-arrow" ng-if="hasChildren" ng-class="{'opened': opened}">keyboard_arrow_down</md-icon>
    </div>
  </a>

  <!-- (TREE OF IDs), (KEY, THIS.ID) -->
  <div ng-if="opened" ng-repeat="data in taxon.children">
    <div class="sub-taxon-item" dop-sidebar-taxon data-taxon="data" tree="tree.child"></div>
  </div>
</div>
