<!--Without this the form will not initialize in addMaterialDialog-->
<form name="dummy-for-init">
</form>
<form name="targetGroupForm">
  <md-input-container class="md-block">
    <label>
      <span data-translate="DETAILED_SEARCH_TARGET_GROUP"></span>
    </label>
    <md-select multiple class="select"
               data-ng-model="selectedTargetGroup"
               name="targetGroupSelect"
               md-selected-text="selectedTargetGroups"
               md-on-open="update()"
               ng-required="isRequired.trigger"
               aria-label="Vanuse valiku menüü"
               dop-select-close>
      <div data-ng-repeat="group in groups">
        <md-option ng-if="group.label" value="{{group.label}}" data-ng-click="parentClick(this)" class="select__parent">
          <span data-translate="TARGET_GROUP_{{group.label}}"></span>
        </md-option>
        <md-option ng-if="child" class="select__child" data-ng-repeat="child in group.children" value="{{child}}">
          <span data-translate="TARGET_GROUP_{{child.toUpperCase()}}"></span>
        </md-option>
      </div>
    </md-select>
    <div data-ng-messages="targetGroupForm.targetGroupSelect.$error">
      <div data-ng-message="required"
           class="validation-messages" data-translate="PORTFOLIO_AGE_GROUP_REQUIRED"></div>
    </div>
  </md-input-container>
</form>
