<form name="targetGroupForm">
  <md-input-container class="md-block">
    <label>
      <span data-translate="DETAILED_SEARCH_TARGET_GROUP"></span>
      <span data-ng-if="isRequired.trigger">*</span>
    </label>
    <md-select multiple class="select"
               data-ng-model="selectedTargetGroup"
               name="targetGroup"
               md-selected-text="getSelectedText()"
               md-on-open="update()"
               md-no-asterisk
               ng-required="isRequired.trigger"
               aria-label="Vanuse valiku menüü"
               dop-select-close>
      <div data-ng-repeat="group in groups">
        <md-option ng-if="group.label" value="{{group.label}}" data-ng-click="parentClick(this)" class="select__parent">
          <span data-translate="TARGET_GROUP_{{group.label}}"></span>
        </md-option>
        <md-option ng-if="child" class="select__child" data-ng-repeat="child in group.children" value="{{child}}">
          <span data-translate="TARGET_GROUP_{{child.toUpperCase()}}"/>
        </md-option>
      </div>
    </md-select>
    <div ng-messages="targetGroupForm.targetGroup.$error"
         data-ng-if="isReady">
      <div ng-message="required" data-ng-show="(isRequired.trigger && markRequired && selectedTargetGroup.length === 0)"
           class="validation-messages" data-translate="PORTFOLIO_AGE_GROUP_REQUIRED"></div>
    </div>
  </md-input-container>
</form>
