<div id="page-static" flex>
  <section layout="row" flex layout-align="center start" style="margin-top: 60px;">
    <md-tabs md-dynamic-height md-autoselect md-stretch-tabs="always" md-selected="step.currentStep"  class="md-accent" flex="60">
      <md-tab label="{{ 'MATERIAL_TAB_MAIN_DATA' | translate }}" data-ng-disabled="step.isTabDisabled(1)">
        <form name="materialMainForm">


          <md-content class="md-padding">
            <!-- url & lang-->
            <div layout="row" flex layout-align="space-between center">
              <h6 class="md-caption md-padding">Asukoht*  </h6>
              <md-input-container flex>
                <label> http://</label>
                <input data-ng-model="material.url" name="url" id="add-material-url-input" type="url" required>
                <!-- <div class="hint" ng-show="showHints">Kujul http:// või https://</div> -->
                <div data-ng-messages="materialUrlForm.url.$error" data-ng-show="materialUrlForm.url.$dirty" multiple>
                  <div data-ng-message="required" data-ng-show="materialUrlForm.url.$error.required" data-translate="MATERIAL_URL_IS_MANDATORY"></div>
                  <div data-ng-message="url" data-ng-show="materialUrlForm.url.$error.url" data-translate="MATERIAL_URL_IS_INVALID"></div>
                </div>
              </md-input-container>
              <h6 class="md-caption md-padding">Keel  </h6>
              <md-input-container flex="20">
                <label>Eesti</label>
                <md-select data-ng-model="material.language" id="add-material-language-select">
                  <md-option data-ng-repeat="language in material.languages" value="{{language}}">
                    <span data-translate="LANGUAGE_{{language.toUpperCase()}}" />
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <!-- image upload -->
            <div layout="row" flex layout-align="space-between center">
              <h6 class="md-caption md-padding">Pilt</h6>
              <div data-ngf-drop ngf-select ng-model="material.picture" class="drop-box"
              data-ngf-drag-over-class="'dragover'"
              data-ngf-multiple="false"
              data-accept="image/*"
              data-ngf-pattern="'image/*'"
              layout="row"
              layout-align="center center" flex>
              <span flex>
                <md-icon>attach_file</md-icon>
                <span data-translate="MATERIAL_PHOTO_UPLOAD_HELP"></span>
              </span>
            </div>
            <div data-ng-if="material.picture" class="drop-box-preview">
              <h3 class="md-subhead" data-translate="MATERIAL_PHOTO_PREVIEW"></h3>
              <img data-ngf-thumbnail="material.picture" ngf-size="{width: 300, height: 300, quality: 0.9}" alt="photo">
            </div>
          </div>
          <!-- heading-desc-lang group -->
          <div class="form-group">
            <div layout="row" layout-align="center center">
              <h6 class="md-caption md-padding">Pealkiri</h6>
              <md-input-container flex>
                <label>Pealkiri valitud keeles</label>
                <input data-ng-model="metadata.title">
              </md-input-container>
              <h6 class="md-caption md-padding">Keel</h6>
              <md-input-container flex="20">
                <md-select data-ng-model="metadata.language" flex>
                  <md-option data-ng-repeat="language in material.languages" value="{{language}}">
                    <span data-translate="LANGUAGE_{{language.toUpperCase()}}" />
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <div layout="row" layout-align="top center">
              <h6 class="md-caption md-padding">Kirjeldus</h6>
              <md-input-container flex>
                <label>Lühitutvustus, 600 tähemärki</label>
                <textarea ng-model="metadata.description" rows="2"></textarea>
              </md-input-container>
              <md-button class="md-icon-button md-primary">
                <md-icon>add_circle</md-icon>
                <md-tooltip md-direction="top">Lisa keel</md-tooltip>
              </md-button>
              <md-button class="md-icon-button">
                <md-icon>remove_circle</md-icon>
                <md-tooltip md-direction="top">Eemalda keel</md-tooltip>
              </md-button>
            </div>
          </div>
        </md-content>
      </form>
    </md-tab>
    <md-tab label="{{ 'MATERIAL_TAB_ADDITIONAL_DATA' | translate }}" data-ng-disabled="step.isTabDisabled(2)">
      <md-content class="md-padding">
        <div layout="row" flex layout-align="space-between center">
          <h6 class="md-caption md-padding">Autor, autorid</h6>
          <md-input-container flex>
            <label></label>
            <input data-ng-model="material.author.name">
          </md-input-container>
          <h6 class="md-caption md-padding">Väljaandja</h6>
          <md-input-container class="md-block">
            <label></label>
            <input data-ng-model="material.publisher">
          </md-input-container>
        </div>
        <div layout="row" flex layout-align="space-between center">
          <h6 class="md-caption md-padding">Retsensent</h6>
          <md-input-container flex>
            <label></label>
            <input>
          </md-input-container>
          <h6 class="md-caption md-padding">Litsentsi tüüp</h6>

          <md-input-container class="md-block ">
            <label data-translate="Vabavara"></label>
            <md-select data-ng-model="material.licenseType">
              <md-option data-ng-repeat="licenceType in material.licenceTypes" value="{{licenceType}}">
                <span data-translate="LICENSETYPE_{{licenceType.name}}"></span>
              </md-option>
            </md-select>
          </md-input-container>
          <md-switch class="md-primary md-block md-padding" md-no-ink data-ng-model="material.paid">
            <span data-translate="MATERIAL_PAID"></span>
          </md-switch>
        </div>
      </md-content>
    </md-tab>
      <md-tab label="Klassifikatsioon" data-ng-disabled="step.isTabDisabled(3)">
        <md-content class="md-padding">
          <div layout="row" flex layout-align="space-between center">
            <h6 class="md-caption md-padding">Liigitus</h6>
            <div data-dop-taxon-selector data-taxon="material.taxons[$index]" layout="row" layout-sm="column" flex></div>
            <md-button class="md-icon-button md-primary">
              <md-icon>add_circle</md-icon>
              <md-tooltip md-direction="top">Lisa liigitus</md-tooltip>
            </md-button>
            <md-button class="md-icon-button md-accent-2">
              <md-icon>remove_circle</md-icon>
              <md-tooltip md-direction="top">Eemalda liigitus</md-tooltip>
            </md-button>
          </div>
          <div layout="row" flex layout-align="space-between center">
            <h6 class="md-caption md-padding">Sihtrühm</h6>
            <div data-dop-target-group-selector data-target-groups="material.targetGroups" flex="20"></div>
            <h6 class="md-caption md-padding" data-translate="MATERIAL_TAGS"></h6>
            <md-chips
            data-ng-model="material.tags"
            delete-button-label="{{ 'MATERIAL_REMOVE_TAG' | translate }}"
            delete-hint="{{ 'MATERIAL_REMOVE_TAG_HINT' | translate }}"
            secondary-placeholder="Kinnitamiseks vajuta Enter"
            flex>
          </md-chips>
        </div>
        <div layout="row" layout-align="center center">
          <h6 class="md-caption md-padding" data-translate="MATERIAL_KEY_COMPETENCES"></h6>
          <md-chips ng-model="material.selectedKeyCompetences" md-autocomplete-snap="" md-require-match="true">
            <md-autocomplete
            md-selected-item="material.selectedKeyCompetence"
            md-search-text="material.competenceSearchText"
            md-items="keyCompetence in searchKeyCompetences(material.competenceSearchText)"
            md-item-text="translate(keyCompetence.name, 'KEY_COMPETENCE_')"
            placeholder="{{ 'MATERIAL_SEARCH_KEY_COMPETENCE' | translate }}"
            md-autoselect>
            <span md-highlight-text="material.competenceSearchText" md-highlight-flags="^i">
              {{translate(keyCompetence.name, 'KEY_COMPETENCE_')}}
            </span>
          </md-autocomplete>
          <md-chip-template>
            <span>
              <span data-translate="KEY_COMPETENCE_{{$chip.name.toUpperCase()}}"></span>
            </span>
          </md-chip-template>
        </md-chips>
        <h6 class="md-caption md-padding" data-translate="MATERIAL_CROSS_CURRICULAR_THEMES"></h6>
        <md-chips ng-model="material.selectedCrossCurricularThemes" md-autocomplete-snap="" md-require-match="true" flex>
          <md-autocomplete
          md-selected-item="material.selectedCrossCurricularTheme"
          md-search-text="material.crossCurricularSearchText"
          md-items="crossCurricularTheme in searchCrossCurricularThemes(material.crossCurricularSearchText)"
          md-item-text="translate(crossCurricularTheme.name, 'CROSS_CURRICULAR_THEME_')"
          placeholder="{{ 'MATERIAL_SEARCH_CROSS_CURRICULAR_THEME' | translate }}"
          md-autoselect>
          <span md-highlight-text="material.crossCurricularSearchText" md-highlight-flags="^i">
            {{translate(crossCurricularTheme.name, 'CROSS_CURRICULAR_THEME_')}}
          </span>
        </md-autocomplete>
        <md-chip-template>
          <span>
            <span data-translate="CROSS_CURRICULAR_THEME_{{$chip.name.toUpperCase()}}"></span>
          </span>
        </md-chip-template>
      </md-chips>
    </div>
      </md-content>
      </md-tab>
      </md-tabs>

  </section>
  <div layout layout-align="center start" flex>
    <section layout="row" layout-sm="column" flex flex-gt-md="80">
      <article flex="75" flex-sm="100" class="md-padding" role="main">
        <div flex layout-padding ng-bind-html="pageContent"></div>
      </article>
      <div data-dop-sidebar flex="25" flex-sm="100" class="md-padding" role="sidebar"></div>
    </section>
  </div>
</div>
