<md-dialog aria-label="Kogumiku lisamise modaalaken" flex-gt-sm="75" flex id="add-portfolio-modal"
           class="fullscreen-dialog">
  <form name="addPortfolioForm">
    <md-toolbar class="md-accent">
      <div class="md-toolbar-tools" flex>
        <h2 data-translate="PORTFOLIO_METADATA_TOOLBAR_LABEL"></h2>
        <span flex></span>
        <md-button ng-click="cancel()" id="add-portfolio-close" class="md-icon-button"
                   aria-label="Sulge kogumiku lisamise modaalaken">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content class="md-padding">
      <div layout="row" layout-align="center center" layout-align-xs="start center">
        <md-input-container class="md-block" layout-fill>
          <label>
            <span data-translate="PORTFOLIO_TITLE"></span>
          </label>
          <input data-ng-model="newPortfolio.title" id="add-portfolio-title-input" name="title" required>
          <div data-ng-messages="addPortfolioForm.title.$error">
            <div data-ng-message="required" data-ng-hide="newPortfolio.title.length > 0"
                 data-translate="PORTFOLIO_TITLE_IS_MANDATORY"></div>
          </div>
        </md-input-container>

        <!-- License type -->
        <md-input-container flex="100" flex-gt-sm="60" flex-gt-md="25">
          <label data-translate="MATERIAL_VIEW_LICENSE_TYPE"></label>
          <md-select
            name="licenseType"
            class="no-margin"
            data-md-selected-text="licenseTypeSelectedText"
            data-ng-model="newPortfolio.licenseType"
            data-ng-model-options="{trackBy: '$value.id'}"
            required
          >
            <md-option
              data-ng-value="allRightsReserved"
              data-translate="LICENSETYPE_CANT_CHOOSE"
            ></md-option>
            <md-option
              data-ng-repeat="licenseType in licenseTypes track by $index"
              data-ng-value="licenseType"
              data-translate="LICENSETYPE_LONG_NAME_{{licenseType.name.toUpperCase()}}"
            ></md-option>
          </md-select>
          <div data-ng-messages="addPortfolioForm.licenseType.$error">
            <div data-ng-message="required" data-translate="LICENSE_TYPE_IS_REQUIRED"></div>
          </div>
        </md-input-container>
      </div>

      <!-- Taxons -->
      <div layout="row" layout-align="none center" data-ng-repeat="taxon in newPortfolio.taxons track by $index">
        <dop-taxon-selector
          data-taxon="newPortfolio.taxons[$index]"
          data-is-domain-required="{trigger: true}"
          data-flex
        ></dop-taxon-selector>
        <md-button class="md-icon-button md-accent-2" data-ng-show="newPortfolio.taxons.length > 1"
                   data-ng-click="deleteTaxon($index)">
          <md-icon>close</md-icon>
          <md-tooltip md-direction="top"><span data-translate="MATERIAL_TAB_REMOVE_TAXON"></span></md-tooltip>
        </md-button>
        <md-button class="md-icon-button md-primary" data-ng-show="$index+1 === newPortfolio.taxons.length"
                   data-ng-click="addNewTaxon()" data-ng-disabled="isEmpty(newPortfolio.taxons[0])">
          <md-icon>add_circle</md-icon>
          <md-tooltip md-direction="top"><span data-translate="MATERIAL_TAB_ADD_TAXON"></span></md-tooltip>
        </md-button>
      </div>

      <!-- Target groups -->
      <dop-target-group-selector
        data-target-groups="newPortfolio.targetGroups"
        data-is-required="{trigger: true}"
        data-on-change="newPortfolio.targetGroups = targetGroups"
      ></dop-target-group-selector>

      <!-- Description -->
      <div layout-xs="column" layout="row" layout-align-xs="start stretch" layout-align="start center" flex-order="1"
           flex-order-gt-sm="2" flex="100">
        <md-input-container class="md-block animate-if remaining-charaters-wrapper" flex>
          <label data-translate="PORTFOLIO_SUMMARY"></label>
          <textarea ng-model="newPortfolio.summary" id="add-portfolio-description-input"></textarea>
        </md-input-container>
      </div>

      <!-- Illustration (cover image) -->
      <div layout-wrap layout="row" layout-align="start center">
        <div flex="100" flex-gt-sm="20" flex-gt-md="10">
          <div
            data-ngf-drop
            ngf-select
            ng-model="newPicture"
            class="drop-box no-margin"
            data-ngf-drag-over-class="'dragover'"
            data-ngf-multiple="false"
            data-accept="image/*"
            data-ngf-pattern="'image/*'"
            data-ngf-max-size="{{maxPictureSize + 'MB'}}"
            ngf-model-invalid="invalidPicture"
            layout="row"
            layout-align="center center"
          >
                <span data-ng-if="!newPicture && !newPortfolio.picture.name && !showErrorOverlay">
                  <span data-ng-class="{'error-text': (invalidPicture && invalidPicture.length > 0)}">
                    <span data-translate="SIZE_UNTIL"></span>
                    <span data-ng-bind="maxPictureSize"></span> MB
                  </span>
                </span>
            <!-- image preview -->
            <md-input-container
              data-ng-if="(newPicture || newPortfolio.picture.name) && !showErrorOverlay"
              class="md-block drop-box-preview-container"
            >
              <div class="drop-box-preview">
                <img
                  data-ng-if="newPicture"
                  data-ngf-thumbnail="newPicture"
                  ngf-size="{width: 300, height: 300, quality: 0.9, autoCrop: true}"
                  alt="photo"
                >
                <img
                  data-ng-if="!newPicture && newPortfolio.picture.name"
                  data-ng-src="rest/picture/{{newPortfolio.picture.name}}"
                  ngf-size="{width: 300, height: 300, quality: 0.9, autoCrop: true}"
                  alt="photo"
                >
              </div>
            </md-input-container>
            <span class="error-wrapper" data-ng-if="showErrorOverlay">
              <span class="text-error">
                <span data-translate="UPLOADED_PICTURE_TOO_BIG"></span>
              </span>
            </span>
          </div>
        </div>

        <div class="md-padding" flex="50" flex-gt-sm="20">
          <h5 class="no-margin" data-translate="SUBTOPIC_ILLUSTRATSIOON"></h5>
          <md-input-container>
            <label data-translate="AUTHOR_WORD"></label>
            <input
              data-ng-required="newPicture || newPortfolio.picture.name"
              data-ng-model="newPortfolio.picture.author"
              id="newPortfolio-picture-author-{{$index}}"
              name="authorName"
              md-maxlength="50"
              data-ng-disabled="isUserAuthor"
            >
            <div ng-messages="addPortfolioForm.authorName.$error" data-ng-show="!newPortfolio.picture.author">
              <div ng-message="required" data-translate="AUTHOR_NAME_REQUIRED"></div>
            </div>
          </md-input-container>
        </div>

        <div class="md-padding" flex="50" flex-gt-sm="20">
          <md-checkbox class="md-primary checkbox--material-author" data-ng-click="setAuthorToUser()"
                       data-ng-checked="isUserAuthor" aria-label="{{ 'I_AM_AUTHOR' | translate }}">
            <span data-translate="I_AM_AUTHOR"></span>
          </md-checkbox>
        </div>

        <div class="md-padding" flex="50" flex-gt-sm="20">
          <md-input-container>
            <label data-translate="SOURCE_BIG"></label>
            <input
              data-ng-required="(newPicture || newPortfolio.picture.name) && !newPortfolio.picture.licenseType"
              data-ng-model="newPortfolio.picture.source"
              name="pictureSource"
              md-maxlength="50"
            >
            <div ng-messages="addPortfolioForm.pictureSource.$error" data-ng-show="!newPortfolio.picture.source">
              <div ng-message="required" data-translate="SOURCE_OR_LICENSE_TYPE_REQUIRED"></div>
            </div>
          </md-input-container>
        </div>

        <div class="md-padding">
          <span data-translate="OR_WORD"></span>
        </div>

        <div class="md-padding" flex="50" flex-gt-sm="20">
          <md-input-container>
            <label data-translate="MATERIAL_VIEW_LICENSE_TYPE"></label>
            <md-select
              class="no-margin"
              data-ng-required="(newPicture || newPortfolio.picture.name) && !newPortfolio.picture.source"
              data-ng-model="newPortfolio.picture.licenseType"
              id="pictureLicenseTypeSelect"
              name="pictureLicenseType"
              ng-model-options="{trackBy: '$value.id'}"
            >
              <md-option
                data-ng-value="allRightsReserved"
                data-translate="LICENSETYPE_CANT_CHOOSE"
              ></md-option>
              <md-option
                data-ng-value="licenseType"
                data-ng-repeat="licenseType in licenseTypes track by $index"
                data-translate="LICENSETYPE_{{licenseType.name.toUpperCase()}}"
              >
                <span data-translate="MATERIAL_VIEW_LICENSE_TYPE"/>
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>

    </md-content>

    <md-dialog-actions>
      <span flex></span>
      <md-button aria-label="Tühista kogumiku lisamine" id="add-portfolio-cancel-button" data-ng-disabled="isSaving"
                 data-ng-click="cancel()">
        <span data-translate="BUTTON_CANCEL"></span>
      </md-button>
      <md-button aria-label="Loo kogumik" data-ng-if="!isEditPortfolio" id="add-portfolio-create-button"
                 data-ng-disabled="!isValid() || isSaving" data-ng-click="create()"
                 class="md-primary md-raised">
        <span data-translate="BUTTON_CREATE_PORTFOLIO"></span>
        <md-icon>arrow_forward</md-icon>
      </md-button>
      <md-button aria-label="Muuda kogumikku" data-ng-if="isEditPortfolio" id="add-portfolio-edit-button"
                 data-ng-disabled="!isValid() || isSaving" data-ng-click="update()"
                 class="md-primary md-raised">
        <md-icon>arrow_forward</md-icon>
        <span data-translate="BUTTON_EDIT_PORTFOLIO"></span>
      </md-button>
      <md-progress-circular class="md-accent ng-hide" md-mode="indeterminate" md-diameter="40"
                            data-ng-show="isSaving"></md-progress-circular>
    </md-dialog-actions>
  </form>
</md-dialog>
