<md-dialog id="gdpr-dialog" aria-label="Materjali litsentsi muutmise modaalaken" class="login-dialog" flex="50">
  <md-toolbar>
    <div id="gdpr-toolbar" data-layout-align="center start" data-layout-gt-sm="row" data-layout="column">
      <div class="md-toolbar-tools" data-layout-align="space-between center">
        <h2 data-translate="MATERIAL_PUBLICATION_TITLE"></h2>
      </div>
    </div>
  </md-toolbar>
  <form name="materialLicenseAgreementDialogContent">
    <md-dialog-content>
      <md-content data-layout-padding>
        <p>
          <span data-translate="MATERIAL_LICENSE_WARNING"></span>
        </p>
        <div id="migration-agreement-buttons" data-layout-gt-sm="row" data-layout="column" data-layout-align="end end">
          <md-button
            id="license-agreement-cancel-button"
            class="md-raised md-secondary"
            aria-label="Ei nõustu"
            data-ng-click="cancel()">
            <span data-translate="BUTTON_CANCEL"></span>
          </md-button>
          <md-button
            id="license-agreement-accept-button"
            class="md-raised md-primary"
            aria-label="Nõustun"
            data-ng-click="agree()">
            <span data-translate="LICENSE_ADD"></span>
          </md-button>
        </div>
      </md-content>
    </md-dialog-content>
  </form>
</md-dialog>
