<section layout="column" layout-gt-sm="row" role="main">
  <article role="main" id="page-view-material" flex-gt-sm="75">
    <div ng-if="modUser()" dop-error-message></div>

    <!-- same as portfolioSummaryCard in directives -->
    <md-card class="card-lg card-mb-20" id="material-card">
      <div layout-gt-xs="row">
        <!-- left large side  -->
        <div layout="column" flex flex-gt-xs="75" class="left-side">
          <!-- left headline  -->
          <div layout="row">
            <h1 flex="80" flex-gt-sm="90">
              <a  data-ng-if="sourceType === 'LINK' && !material.embeddable"
              data-ng-href="{{material.source}}" target="_blank">
              <span data-ng-bind="getCorrectLanguageString(material.titles)"></span>
              <md-tooltip md-direction="left">
                <span data-translate="MATERIAL_VIEW_LINK_TO_MATERIAL">Open material</span>
              </md-tooltip>
            </a>
            <a flex data-ng-if="sourceType === 'LINK' && material.embeddable" data-ng-href="#"
            ng-click="showSourceFullscreen($event)">
            <span data-ng-bind="getCorrectLanguageString(material.titles)"></span>
            <md-tooltip md-direction="left">
              <span data-translate="MATERIAL_VIEW_LINK_TO_MATERIAL"></span>
            </md-tooltip>
          </a>
          <span flex data-ng-if="sourceType !== 'LINK'"
          data-ng-bind="getCorrectLanguageString(material.titles)"></span>
        </h1>
        <div class="card-menus" layout="row" >
          <div dop-share
          data-title="getCorrectLanguageString(material.titles)"
          data-description="getCorrectLanguageString(material.descriptions)"
          data-object="material"></div>

          <md-menu>
            <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <md-icon md-menu-origin>more_vert</md-icon>
            </md-button>
            <md-menu-content width="4" class="material-menu-icon">

              <md-menu-item
              data-ng-if="isAdmin() || isUsersMaterial() || isModerator()">
              <md-button data-ng-click="edit()">
                <md-icon md-menu-align-target>edit</md-icon>
                <span data-translate="MATERIAL_EDIT"></span>
              </md-button>
            </md-menu-item>

            <md-menu-item data-ng-if="isAdmin() && material.deleted && !isAdminButtonsShowing()">
              <md-button data-ng-click="restoreMaterial()">
                <md-icon md-menu-align-target>undo</md-icon>
                <span data-translate="BUTTON_RESTORE"></span>
              </md-button>
            </md-menu-item>

            <md-menu-item data-ng-if="isAdmin() && !material.deleted && !isAdminButtonsShowing()">
              <md-button data-ng-click="confirmMaterialDeletion()">
                <md-icon md-menu-align-target>delete</md-icon>
                <span data-translate="MATERIAL_DELETE"></span>
              </md-button>
            </md-menu-item>

            <md-menu-item dop-copy-permalink data-url="pageUrl"></md-menu-item>
            <md-menu-divider data-ng-if="isAdmin()"></md-menu-divider>
            <md-menu-item data-ng-if="isAdmin()" dop-recommend data-material="material"></md-menu-item>

            <md-menu-divider data-ng-if="!isAdmin()"></md-menu-divider>

            <md-menu-item dop-report-improper data-ng-if="!isAdmin()"
            data-learning-object="material"></md-menu-item>

            <md-menu-item data-ng-if="!isAdmin()"
            dop-report-broken-link></md-menu-item>

            <md-menu-item data-ng-if="material.creator && (isAdmin() || isModerator())" dop-restrict
            data-learning-object="material">
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </div>

  <!-- left meta  -->
  <div layout="row">
    <div flex>
      <p class="md-caption caption-light">
        <span data-translate="DETAIL_VIEW_EDUCATIONAL_CONTEXT" id="taxon-close"></span>
      </p>
      <p class="two-rows-meta">
        <span data-ng-repeat="educationalContext in getMaterialEducationalContexts() track by $index">
          <span data-translate="{{educationalContext.name.toUpperCase() }}"></span><span
          data-ng-bind="$index < getMaterialEducationalContexts().length - 1 ? ', ' : ''"></span>
        </span>
        <span data-ng-if="!getMaterialEducationalContexts().length" data-translate="UNKNOWN">Unknown</span>
      </p>
    </div>

    <div flex data-ng-if="getMaterialSubjects().length === 0">
      <p class="md-caption caption-light">
        <span data-translate="DETAIL_VIEW_DOMAIN"></span>
      </p>
      <p class="two-rows-meta">
        <span data-ng-repeat="domain in getMaterialDomains() track by $index">
          <span data-translate="{{domain}}"></span><span
          data-ng-bind="$index < getMaterialDomains().length - 1 ? ', ' : ''"></span>
        </span>
        <span data-ng-if="!getMaterialDomains().length"
        data-translate="UNKNOWN">Unknown</span>
      </p>
    </div>

    <div flex data-ng-if="getMaterialSubjects().length > 0">
      <p class="md-caption caption-light">
        <span data-translate="DETAIL_VIEW_SUBJECT"></span>
      </p>
      <p class="two-rows-meta">
        <span data-ng-repeat="subject in getMaterialSubjects()  track by $index">
          <span data-translate="{{subject}}"></span><span
          data-ng-bind="$index < getMaterialSubjects().length - 1 ? ', ' : ''"></span>
        </span>
      </p>
    </div>

    <div flex>
      <p class="md-caption caption-light">
        <span id="resourcetype-close" data-translate="MATERIAL_VIEW_RESOURCE_TYPE"></span>
      </p>
      <p class="two-rows-meta">
        <span data-ng-repeat="resourceType in material.resourceTypes ">
          <span data-translate="{{resourceType.name.toUpperCase() }}"></span>
        </span>
        <span data-ng-if="isNullOrZeroLength(material.resourceTypes)"
        data-translate="UNKNOWN">Unknown</span>
      </p>
    </div>
    <div flex>
      <p class="md-caption caption-light">
        <span data-translate="DETAIL_VIEW_TARGET_GROUP" id="targetgroup-close"></span>
      </p>
      <p class="two-rows-meta">
        <span data-ng-repeat="group in targetGroups">
          <span data-ng-bind="group"></span><span
          data-ng-bind="$index < targetGroups.length - 1 ? ', ' : ''"></span>
        </span>
        <span data-ng-if="isNullOrZeroLength(targetGroups)"
        data-translate="UNKNOWN">Unknown</span>
      </p>
    </div>

  </div>

  <md-divider class="md-default-theme"></md-divider>
  <!-- left description  -->
  <div>
    <div class="md-body-1 description textangular-view"
    data-ng-bind-html="getCorrectLanguageString(material.descriptions)"></div>

    <!--Embedded Material-->
    <div data-ng-if="(sourceType !== 'LINK' || !material.embeddable)"
    ng-class="{'embed-card-picture': sourceType === 'PICTURE' && !$root.isViewPortforlioPage && !isEditPortfolioPage}"
    data-dop-embedded-material data-material="material" data-flex></div>

    <!--Fullscreen material-->
    <div data-ng-if="sourceType === 'LINK' && material.embeddable">
      <a data-ng-href="#" ng-click="showSourceFullscreen($event)">
        <span class="item-link" data-ng-bind="material.source"></span>
      </a>
    </div>

    <iframe data-ng-src="{{material.iframeSource}}" data-ng-show="showMaterialContent" width="100%"
    height="100%" ngsf-fullscreen="fullscreenCtrl"></iframe>
  </div>
  <div data-ng-if="material && material.id" data-dop-tags data-learning-object="material"
  class="tags"></div>
</div>

<!-- right small side  -->
<div flex flex-gt-xs="25" class="right-side">
  <div class="card-media">
    <div data-ng-if="isLoggedIn() && !isRestricted() && !material.deleted" data-dop-favorite
    data-learning-object="material"></div>
    <div data-ng-if="!material.picture" class="card-cover {{getType()}}">
      <div class="pattern">
        <div class="sheet up-left"></div>
        <div class="sheet low-right"></div>
        <div class="sheet low-left"></div>
      </div>
      <md-icon class="icon-kind" data-ng-bind="getType()"></md-icon>

      <span data-ng-if="sourceType === 'LINK' && !material.embeddable">
        <a class="card-hover" data-ng-href="{{material.source}}" target="_blank">
          <md-icon class="icon-kind">send</md-icon>
          <md-tooltip md-direction="bottom">
            <span data-translate="MATERIAL_VIEW_LINK_TO_MATERIAL">Open material</span>
          </md-tooltip>
        </a>
      </span>

      <span data-ng-if="sourceType === 'LINK' && material.embeddable">
        <a class="card-hover" data-ng-href="#" ng-click="showSourceFullscreen($event)">
          <md-icon class="icon-kind">send</md-icon>
          <md-tooltip md-direction="bottom">
            <span data-translate="MATERIAL_VIEW_LINK_TO_MATERIAL"></span>
          </md-tooltip>
        </a>
      </span>

      <span data-ng-if="sourceType !== 'LINK' && !material.embeddable">
        <a class="card-hover" data-ng-href="{{material.source}}" target="_blank">
          <md-icon class="icon-kind">send</md-icon>
          <md-tooltip md-direction="bottom">
            <span data-translate="MATERIAL_VIEW_LINK_TO_MATERIAL"></span>
          </md-tooltip>
        </a>
      </span>
    </div>

    <div data-ng-if="material.picture" class="card-cover imaged">
      <img data-ng-src="rest/picture/thumbnail/lg/{{material.picture.name}}"
      sizes="(max-width: 600px) 600px, 300px"
      data-ng-srcset="rest/picture/thumbnail/lg_xs/{{material.picture.name}} 600w,
      rest/picture/thumbnail/lg/{{material.picture.name}} 300w"/>
      <span data-ng-if="sourceType === 'LINK' && !material.embeddable">
        <a class="card-hover" data-ng-href="{{material.source}}" target="_blank">
          <md-icon class="icon-kind">send</md-icon>
          <md-tooltip md-direction="bottom">
            <span data-translate="MATERIAL_VIEW_LINK_TO_MATERIAL">Open material</span>
          </md-tooltip>
        </a>
      </span>

      <span data-ng-if="sourceType === 'LINK' && material.embeddable">
        <a class="card-hover" data-ng-href="#" ng-click="showSourceFullscreen($event)">
          <md-icon class="icon-kind">send</md-icon>
          <md-tooltip md-direction="bottom">
            <span data-translate="MATERIAL_VIEW_LINK_TO_MATERIAL"></span>
          </md-tooltip>
        </a>
      </span>
    </div>
  </div>

  <md-content>
    <p class="md-body-2" data-ng-if="!isNullOrZeroLength(material.authors)">
      <span class="md-caption caption-light">
        <span data-translate="AUTHORS"></span>:
      </span>
      <a data-ng-href="#" data-ng-click="getAuthorSearchURL($event, author.name, author.surname)"
      data-ng-repeat="author in material.authors">
      {{author.name}} {{author.surname}}{{$last ? '' : ', '}}
    </a>
  </p>

  <p class="md-body-2" data-ng-if="isNullOrZeroLength(material.authors)">
    <span class="md-caption caption-light">
      <span data-translate="CREATOR"></span>:
    </span>
    <a data-ng-href="/{{material.creator.username}}">
      {{material.creator.name}} {{material.creator.surname}}
    </a>
  </p>

  <p class="md-body-2">
    <span class="md-caption caption-light">
      <span data-translate="CREATED"></span>:
    </span>

    <span data-ng-if="material.issueDate.year >= 100">
      {{formatMaterialIssueDate(material.issueDate)}}
    </span>

    <span data-ng-if="material.issueDate.year > 0 && material.issueDate.year < 100">
      {{formatMaterialIssueDate(material.issueDate)}} AD
    </span>
    <span data-ng-if="material.issueDate.year < 0">
      {{formatMaterialIssueDate(material.issueDate)}} BC
    </span>
    <span data-ng-if="!material.issueDate.year">
      <span data-translate="UNKNOWN"></span>
    </span>
  </p>

  <p class="md-body-2" data-ng-if="material.added">
    <span class="md-caption caption-light">
      <span data-translate="ADDED"></span>:
    </span>
    {{formatMaterialUpdatedDate(material.added)}}
  </p>

  <p class="md-body-2">
    <span class="md-caption caption-light">
      <span data-translate="MATERIAL_VIEW_LICENSE_TYPE"></span>:
    </span>

    <span data-ng-if="material.licenseType" ng-switch on="material.licenseType.name">
      <a ng-switch-when="Youtube" href="//www.youtube.com/static?template=terms" data-translate="LICENSETYPE_{{material.licenseType.name.toUpperCase()}}" target="_blank"></a>
      <span ng-switch-default data-translate="LICENSETYPE_{{material.licenseType.name.toUpperCase()}}"></span>
    </span>
    <span data-ng-if="!material.licenseType" data-translate="LICENSETYPE_ALLRIGHTSRESERVED"></span>
  </p>

  <p class="md-body-2" data-ng-if="material.publishers">
    <span class="md-caption caption-light">
      <span data-ng-if="material.publishers && material.publishers.length === 1"
      data-translate="PUBLISHER"></span>
      <span data-ng-if="material.publishers && material.publishers.length > 1"
        data-translate="PUBLISHERS"></span>
      </span>
      <span data-ng-repeat="publisher in material.publishers">
        {{publisher.name}}{{$last ? '' : ', '}}
      </span>
    </p>

    <p class="md-body-2" data-ng-if="material.peerReviews">
      <span data-ng-repeat="peerReview in material.peerReviews">
        <span layout="row">
          <a ng-show="material.peerReviews.length === 1" target="_blank" data-ng-href="{{ peerReview.url }}"
          data-translate="MATERIAL_PEER_REVIEW"></a>
          <a ng-show="material.peerReviews.length > 1" target="_blank"
            data-ng-href="{{ peerReview.url }}">{{ 'MATERIAL_PEER_REVIEW' | translate }} {{$index + 1}}</a>
          </span>
        </span>
      </p>

      <p class="md-body-2" data-ng-if="material.paid">
        <span data-translate="MATERIAL_PAID"></span>
      </p>

      <p class="md-body-2">
        <span class="md-caption caption-light">
          <span data-translate="VIEW_COUNT"></span>:
        </span>
        <span data-ng-bind="material.views"></span>
      </p>
    </md-content>
  </div>
</div>

<md-divider class="md-default-theme"></md-divider>

<md-card-actions layout="column" layout-gt-xs="row">
  <!-- comment control -->
  <div data-dop-comments-card comments="material.comments" comment="newComment"
  submit-click="addComment()" flex="50" flex-gt-xs="75"></div>
  <span flex></span>
  <!-- rating control -->
  <div data-ng-if="material.type">
    <div data-ng-if="material" data-dop-rating data-material="material"
    like-message="{{ 'MATERIAL_LIKED' | translate }}"
    dislike-message="{{ 'MATERIAL_DISLIKED' | translate }}"></div>
  </div>
</md-card-actions>
</md-card>
</article>

<aside flex-gt-sm="25">
  <div data-dop-aside data-learning-object="material" layout="row" layout-gt-sm="column"></div>
</aside>
</section>
