<div class="card__icon-holder" data-ng-if="isAuthenticated">
  <md-icon data-ng-if="learningObject.visibility === 'PRIVATE'">lock</md-icon>
  <md-icon data-ng-if="learningObject.visibility === 'NOT_LISTED'">link</md-icon>
  <md-tooltip md-direction="bottom">
    <span data-ng-if="learningObject.visibility === 'PRIVATE'" data-translate="PORTFOLIO_VISIBILITY_PRIVATE"></span>
    <span data-ng-if="portfolio.visibility === 'NOT_LISTED'" data-translate="learningObject_VISIBILITY_NOT_LISTED"></span>
  </md-tooltip>
</div>

<div data-ng-if="isAuthenticated" data-dop-favorite data-learning-object="learningObject"></div>

<div class="ribbon"></div>

<div class="card-image" layout="column" layout-xs="row">
  <!-- noimage -->
  <a data-ng-href="{{'/learningObject?id=' + learningObject.id}}" data-ng-if="!learningObject.picture" class="card-cover portfolio" flex flex-order="-1" flex-order-xs="1">
    <div class="pattern">
      <div class="sheet up-left"></div>
      <div class="sheet low-right"></div>
      <div class="sheet low-left"></div>
    </div>
    <md-icon class="icon-kind">book</md-icon>

    <div class="card-hover portfolio">
      <div data-ng-if="isAuthenticated" data-dop-favorite data-learning-object="learningObject"></div>
      <md-icon class="icon-kind">book</md-icon>
    </div>
  </a>
  <!-- image -->
  <a data-ng-href="{{'/learningObject?id=' + learningObject.id}}" data-ng-if="learningObject.picture" class="card-cover imaged" flex flex-order="-1" flex-order-xs="1">
    <img data-ng-src="rest/picture/thumbnail/sm_xs_xl/{{learningObject.picture.name}}"
    sizes="(max-width: 600px) 300px,
    (min-width: 1920px) 300px,
    200px"
    data-ng-srcset="rest/picture/thumbnail/sm_xs_xl/{{learningObject.picture.name}} 300w,
    rest/picture/thumbnail/sm/{{learningObject.picture.name}} 200w"
    class="md-card-image"/>
    <div class="card-hover portfolio">
      <div data-ng-if="isAuthenticated" data-dop-favorite data-learning-object="learningObject"></div>
      <md-icon class="icon-kind">book</md-icon>
    </div>
  </a>
</div>
