<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-9 material-detail">
                <div class="row">
                    <div class="col-md-9 meta-content no-gutter-right">
                        <div class="category text-grey clearfix">
                         <div class="item pull-left">
                            <div class="label">
                                <span data-translate="DETAIL_VIEW_SUBJECT"></span>:
                            </div>
                            <span>
                                <span data-ng-if="portfolio.subject" data-translate="{{'SUBJECT_' + portfolio.subject.name.toUpperCase()}}"></span>
                            </span>
                        </div>
                        <div class="item pull-left">
                            <div class="label">
                                <span data-translate="DETAIL_VIEW_EDUCATIONAL_CONTEXT"></span>:
                            </div>
                            <span>
                                <span>I class</span>, <span>II class</span>
                            </span>
                        </div>
                    </div>
                    <div class="heading">
                        <h1>{{portfolio.title}}</h1>
                    </div>
                    <div class="authors">
                        <span class="item">
                            <a>Name Surname</a> <a>Name Surname</a>
                        </span>
                    </div>
                        
                    <div class="summary">
                        Kirjeldus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque semper sagittis mi vitae ultrices. Cras vehicula sit amet ipsum sit amet congue. Donec viverra quam lectus, et scelerisque turpis lacinia eget. Ut vel ullamcorper nisi. Nunc orci neque, elementum et bibendum id, tincidunt ac leo.
                    </div>
                </div>
                <div class="col-md-3 meta-sidebar">
                    <dl class="dl-horizontal">
                        <dt class="text-grey text-big">
                            <span data-translate="CREATED"></span><span>:</span>
                        </dt>
                        <dd data-ng-if="portfolio.created" class="text-right text-big">
                            <span class="pull-right">{{formatPortfolioCreatedDate(portfolio.created)}}</span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
