<div id="page-view-portfolio" layout="row" flex>
  <!-- md-sidenav -->
  <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-primary">
      <h6 class="md-toolbar-tools md-subhead">
		<span>
			<md-button class="md-icon-button hide-gt-md" data-ng-click="toggleSidenav('left')" >
			  <md-icon class="md-48">arrow_backward</md-icon>
			</md-button>
		</span>
        <span data-translate="TABLE_OF_CONTENTS"></span>
      </h6>
    </md-toolbar>

    <md-content layout="column" flex role="navigation" class="sidenav">
      <div data-dop-table-of-contents data-portfolio="portfolio" data-readonly="true"></div>
    </md-content>
  </md-sidenav>
  <!-- /md-sidenav -->

  <!-- main content -->
  <div layout="column" flex>
    <section id="main-content" layout="row" layout-sm="column" layout-align="start start">
      <article class="md-padding" layout="column" flex="75" flex-sm="100" role="main">
        <md-card>
          <md-card-content>
            <h1 class="md-accent md-display-1 book-headline">
              {{portfolio.title}}
            </h1>

            <div layout="row">
              <div layout="column" flex="66" class="left-of-book">
                <div layout="row">
                  <div flex>
                    <p class="md-body-1">
                      <small class="md-caption">
                        <span data-translate="DETAIL_VIEW_SUBJECT"></span>
                      </small>
                      <br>
                      <span data-ng-if="taxonUtils.getSubject(portfolio.taxon)" data-translate="{{'SUBJECT_' + taxonUtils.getSubject(portfolio.taxon).name.toUpperCase()}}"></span>
                    </p>
                  </div>
                  <div flex>
                    <p class="md-body-1">
                      <small class="md-caption">
                        <span data-translate="DETAIL_VIEW_EDUCATIONAL_CONTEXT"></span>
                      </small>
                      <br>
                      <span data-ng-if="portfolio.taxon" data-translate="{{taxonUtils.getEducationalContext(portfolio.taxon).name.toUpperCase()}}"></span>
                    </p>
                  </div>
                </div>

                <md-divider class="md-default-theme"></md-divider>

                <p class="md-body-1">
                  {{portfolio.summary}}
                </p>

                <!-- tags -->
                <p>
                  <small class="md-caption">
                    <span data-translate="DETAIL_VIEW_TAGS"></span>:
                  </small>
                </p>

                <md-chips data-ng-model="portfolio.tags" readonly="true">
                  <md-chip-template>{{$chip.name}}</md-chip-template>
                </md-chips>
                <!-- /tags -->
              </div>
              <div layout="column" flex="33" class="divider-left" layout-align="start start">
                <md-content>
                  <p class="md-body-1">
                    <small class="md-caption">
                      <span data-translate="AUTHORS"></span>:
                    </small>
                    <a>
                      <span data-ng-bind="portfolio.creator.name"></span>
                      <span data-ng-bind="portfolio.creator.surname"></span>
                    </a>
                  </p>

                  <p class="md-body-1" data-ng-if="portfolio.updated">
                    <small class="md-caption">
                      <span data-translate="UPDATED"></span>:
                    </small>
                    {{formatDate(portfolio.updated)}}
                  </p>

                  <p class="md-body-1" data-ng-if="portfolio.created">
                    <small class="md-caption">
                      <span data-translate="CREATED"></span>:
                    </small>
                    {{formatDate(portfolio.created)}}
                  </p>

                  <p class="md-body-1">
                    <span data-ng-bind="portfolio.views"></span>
                  </p>
                </md-content>
              </div>
            </div>
          </md-card-content>
        </md-card>

        <!-- comments/commeting -->
        <md-card id="portfolio-comments">
          <md-card-content>
            <h2 class="portfolio-comments-title">
				<span data-translate="COMMENTS_TITLE"></span>
				<span>({{portfolio.comments.length}})</span>
				<span>
				  <md-icon class="md-primary" data-ng-class="{'toggled': showComments}" data-ng-click="showComments = !showComments">
					keyboard_arrow_down
				  </md-icon>
				</span>
            </h2>

            <div data-ng-show="showComments">
              <md-list>
                <md-list-item class="md-3-line" ng-repeat="comment in portfolio.comments">
                  <md-icon class="md-avatar-icon">person</md-icon>
                  <div class="md-list-item-text" layout="column">
                    <h3>{{comment.creator.name}}</h3>
                    <h4>{{formatDate(comment.added.millis)}}</h4>
                    <p>{{comment.text}}</p>
                  </div>
                </md-list-item>
              </md-list>

			  <div data-ng-if="authorized">
				  <h2 data-translate="ADD_COMMENT_TITLE"></h2>
				  <md-input-container flex>
					<label data-translate="COMMENT"></label>
					<textarea ng-model="newComment.text" rows="4"></textarea>
				  </md-input-container>
				  <div layout="row" layout-align="end center">
					<md-button data-translate="ADD_COMMENT_BUTTON" ng-click="addComment()" class="md-raised md-primary">
					</md-button>
				  </div>
			  </div>
			  
            </div>

          </md-card-content>
        </md-card>
        <!-- /commments/commenting -->

        <div id="portfolio-chapters">
          <div data-ng-repeat="chapter in portfolio.chapters">
            <div data-dop-chapter data-chapter="chapter" data-index="{{$index}}"></div>
          </div>
        </div>
      </article>

      <aside data-dop-sidebar flex="25" flex-sm="100" class="md-padding" role="sidebar"></aside>
    </section>
  </div>
</div>
