<!-- <md-input-container flex>
  <label for="taxonEducationalSelect" data-translate="DETAIL_VIEW_EDUCATIONAL_CONTEXT"></label>
  <md-select data-ng-model="taxonPath.educationalContext" id="taxonEducationalSelect" ng-model-options="{trackBy: '$value.id'}" >
      <md-option ng-value="educationalContext" ng-repeat="educationalContext in educationalContexts" data-translate="{{educationalContext.name.toUpperCase()}}"></md-option>
  </md-select>
</md-input-container>
<md-input-container data-ng-show="taxonPath.educationalContext" flex>
  <label for="taxonDomainSelect" data-translate="TAXON_PATH_DOMAIN"></label>
  <md-select data-ng-model="taxonPath.domain" id="taxonDomainSelect" ng-model-options="{trackBy: '$value.id'}" >
      <md-option ng-value="domain" ng-repeat="domain in taxonPath.educationalContext.domains" data-translate="DOMAIN_{{domain.name.toUpperCase()}}"></md-option>
  </md-select>
</md-input-container>
<md-input-container data-ng-show="taxonPath.domain && taxonPath.domain.subjects.length > 0" flex>
  <label for="taxonSubjectSelect" data-translate="DETAIL_VIEW_SUBJECT"></label>
  <md-select data-ng-model="taxonPath.subject" id="taxonSubjectSelect" ng-model-options="{trackBy: '$value.id'}" >
      <md-option ng-value="subject" ng-repeat="subject in taxonPath.domain.subjects" data-translate="SUBJECT_{{subject.name.toUpperCase()}}"></md-option>
  </md-select>
</md-input-container>
<md-input-container data-ng-show="taxonPath.domain && taxonPath.domain.specializations.length > 0" flex>
  <label for="taxonSpecializationSelect" data-translate="TAXON_PATH_SPECIALIZATION"></label>
  <md-select data-ng-model="taxonPath.specialization" id="taxonSpecializationSelect" ng-model-options="{trackBy: '$value.id'}" >
      <md-option ng-value="specialization" ng-repeat="specialization in taxonPath.domain.specializations" data-translate="SPECIALIZATION_{{specialization.name.toUpperCase()}}"></md-option>
  </md-select>
</md-input-container>
<md-input-container data-ng-show="taxonPath.specialization && taxonPath.specialization.modules.length > 0" flex>
  <label for="taxonModuleSelect" data-translate="TAXON_PATH_MODULE"></label>
  <md-select data-ng-model="taxonPath.module" id="taxonModuleSelect" ng-model-options="{trackBy: '$value.id'}" >
      <md-option ng-value="module" ng-repeat="module in taxonPath.specialization.modules" data-translate="MODULE_{{module.name.toUpperCase()}}"></md-option>
  </md-select>
</md-input-container>
<md-input-container data-ng-show="taxonPath.subject && taxonPath.subject.topics.length > 0" flex>
  <label for="taxonTopicSelect" data-translate="TAXON_PATH_TOPIC"></label>
  <md-select data-ng-model="taxonPath.topic" id="taxonTopicSelect" ng-model-options="{trackBy: '$value.id'}" >
      <md-option ng-value="topic" ng-repeat="topic in taxonPath.subject.topics" data-translate="TOPIC_{{topic.name.toUpperCase()}}"></md-option>
  </md-select>
</md-input-container>
<md-input-container data-ng-show="taxonPath.domain && taxonPath.domain.topics.length > 0" flex>
  <label for="taxonTopicSelect" data-translate="TAXON_PATH_TOPIC"></label>
  <md-select data-ng-model="taxonPath.topic" id="taxonTopicSelect" ng-model-options="{trackBy: '$value.id'}" >
      <md-option ng-value="topic" ng-repeat="topic in taxonPath.domain.topics" data-translate="TOPIC_{{topic.name.toUpperCase()}}"></md-option>
  </md-select>
</md-input-container>
<md-input-container data-ng-show="taxonPath.module && taxonPath.module.topics.length > 0" flex>
  <label for="taxonTopicSelect" data-translate="TAXON_PATH_TOPIC"></label>
  <md-select data-ng-model="taxonPath.topic" id="taxonTopicSelect" ng-model-options="{trackBy: '$value.id'}" >
      <md-option ng-value="topic" ng-repeat="topic in taxonPath.module.topics" data-translate="TOPIC_{{topic.name.toUpperCase()}}"></md-option>
  </md-select>
</md-input-container>
<md-input-container data-ng-show="taxonPath.topic && taxonPath.topic.subtopics.length > 0" flex>
  <label for="taxonSubtopicSelect" data-translate="TAXON_PATH_SUBTOPIC"></label>
  <md-select data-ng-model="taxonPath.subtopic" id="taxonSubtopicSelect" ng-model-options="{trackBy: '$value.id'}" >
      <md-option ng-value="subtopic" ng-repeat="subtopic in taxonPath.topic.subtopics" data-translate="SUBTOPIC_{{subtopic.name.toUpperCase()}}"></md-option>
  </md-select>
</md-input-container> -->
