<div data-layout="row" data-layout-align="end">
  <md-button style="min-width: 0px"
             data-ng-if="$ctrl.isAdmin() && !editMode && $ctrl.gdprTermsBlockExists"
             data-ng-click="$ctrl.editGdprProcessPage()"
             id="gdprProcess-edit">
    <md-icon class="icon-blue" md-menu-align-target>edit</md-icon>
    <md-tooltip><span data-translate="TERMS_EDIT"></span></md-tooltip>
  </md-button>
  <md-button class="md-button md-ink-ripple"
             data-ng-click="$ctrl.createTerm()"
             aria-label="Add Term"
             data-ng-if="$ctrl.isAdmin() && !$ctrl.gdprTermsBlockExists"
             ng-disabled="$ctrl.createDialogOpen"
             id="gdprProcessEditButton"
  >
    <md-icon>add_circle</md-icon>
    <span data-translate="ADD_TERM"></span>
  </md-button>
</div>
<div>
  <dop-gdpr-process-block
    data-create-dialog-open="$ctrl.createDialogOpen"
    data-edit-mode="editMode"
    data-terms="terms"
    data-gdpr-terms-block-exists="$ctrl.gdprTermsBlockExists"
    data-remove-term="$ctrl.removeTerm()"
    data-get-gdpr-terms="$ctrl.getGdprTerms()">
  </dop-gdpr-process-block>
</div>
