<md-dialog aria-label="Materiali lisamise modaalaken" id="dialog-add-material" class="fullscreen-dialog">
  <!-- Toolbar -->
  <md-toolbar data-md-colors="{ 'background-color': 'default-teal-800' }">
    <div class="md-toolbar-tools md-padding-double-horizontal" layout-align="space-between center">
      <h2 data-translate="{{ isUpdateMode ? 'MATERIAL_EDIT' : 'ADD_MATERIAL' }}"></h2>
      <md-button
        ng-click="$ctrl.$mdDialog.hide()"
        class="md-icon-button"
        aria-label="Sulge materiali lisamise modaalaken"
        >
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <form name="addMaterialForm">
    <!-- Content -->
    <md-dialog-content>
      <div class="md-padding md-padding-double-horizontal">
        <!-- URL and Upload block -->
        <div layout="row" layout-wrap layout-align="center center" layout-align-gt-xs="start center">
          <!--Material source-->
          <div layout="column" layout-gt-xs="row" layout-align="start center">
            <span data-ng-if="!material.uploadedFile && !uploadingFile">
              <span data-translate="ADD_MATERIAL_LINK"></span> *
            </span>
            <div class="md-padding" data-ng-hide="material.uploadedFile || uploadingFile">
              <md-input-container layout-fill>
                <label></label>
                <input
                  data-ng-model="material.source"
                  name="source"
                  id="add-material-url-input"
                  type="text"
                  dop-validate-url
                  data-ng-click="$ctrl.sourceIsFocused()"
                  data-ng-required="!material.uploadedFile"
                  placeholder="{{ 'HTTP_WORD' | translate }}" />
                <div data-ng-messages="addMaterialForm.source.$error" data-multiple>
                  <div data-ng-if="$ctrl.isURLInvalid()" data-ng-message="url" class="invalid-url-message" data-translate="MATERIAL_URL_IS_INVALID"></div>
                  <div data-ng-message="exists">
                    <span data-translate="MATERIAL_ALREADY_EXISTS"></span>
                    <a target="_blank" data-ng-href="{{'/material?id=' + existingMaterialId}}" data-translate="LOOK_AT_EXISTNG_MATERIAL"></a>
                  </div>
                  <div data-ng-message="required" data-translate="MATERIAL_SOURCE_EMPTY"></div>
                  <div data-ng-message="deleted" data-translate="MATERIAL_WITH_SAME_SOURCE_IS_DELETED"></div>
                  <div data-ng-message="filenameTooLong" data-translate="MATERIAL_FILE_NAME_TOO_LONG"></div>
                </div>
              </md-input-container>
            </div>
            <span data-ng-if="!material.uploadedFile && !uploadingFile" data-translate="OR_WORD"></span>

            <!-- Upload file -->
            <div data-ng-if="uploadingFile || fileUploaded">
              <!-- Uploading file -->
              <div data-ng-if="uploadingFile">
                <p data-translate="ADD_FILE_UPLOADING"></p>
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
              </div>
              <!-- Upload success -->
              <div data-ng-if="fileUploaded && !uploadingFile">
                <span class="ellipsis" data-ng-bind="material.uploadedFile.displayName"></span>
              </div>
            </div>

            <div class="md-padding">
              <span data-ng-if="material.uploadedFile">
                <span data-translate="IS_FILE"></span>
                <span data-translate="FOR_MATERIAL"></span>
              </span>
              <span ngf-select ng-model="newFile" data-accept="*" data-ngf-pattern="'*'" data-ngf-max-size="{{maxFileSize + 'MB'}}" ngf-model-invalid="invalidFile">
                <a href="javascript:void(0);" class="md-raised md-primary" data-ng-if="!uploadingFile">
                  <span data-ng-if="!material.uploadedFile" data-translate="FILE_WORD"></span>
                  <span data-ng-if="material.uploadedFile">(<span data-translate="CHANGE"></span>).</span>
                </a>
              </span>
              <span data-ng-if="!material.uploadedFile && !uploadingFile">
                <span data-translate="FOR_MATERIAL"></span>
                <span data-ng-if="!material.source">*</span>.
              </span>
            </div>
          </div>

          <!-- Material source language -->
          <div layout="row" layout-align="start center">
            <span class="white-space-no-wrap" data-translate="MATERIAL_IS_IN"></span>
            <md-input-container layout-align="end center" class="md-padding no-margin">
              <md-select data-ng-model="material.language" id="add-material-language-select" aria-label="Languages">
                <md-option data-ng-repeat="language in languages" value="{{language}}">
                  <span data-translate="LANGUAGE_{{language.toUpperCase()}}" />
                </md-option>
              </md-select>
            </md-input-container>
            <span data-translate="IN_LANGUAGE"></span><span>.&nbsp;</span>
          </div>

          <!-- material license -->
          <md-input-container flex="100" flex-gt-sm="60" flex-gt-md="25">
            <label data-translate="MATERIAL_VIEW_LICENSE_TYPE"></label>
            <md-select
              name="licenseType"
              class="no-margin"
              data-ng-model="material.licenseType"
              data-ng-model-options="{trackBy: '$value.id'}"
              required
              >
              <md-option
                data-ng-value="doNotKnow"
                data-translate="LICENSETYPE_CANT_CHOOSE"
              ></md-option>
              <md-option
                data-ng-repeat="licenseType in licenseTypes track by $index"
                data-ng-value="licenseType"
                data-translate="LICENSETYPE_LONG_NAME_{{licenseType.name.toUpperCase()}}"
              ></md-option>
            </md-select>
            <div data-ng-messages="addMaterialForm.licenseType.$error">
              <div data-ng-message="required" data-translate="LICENSE_TYPE_IS_REQUIRED"></div>
            </div>
          </md-input-container>
        </div>

        <!-- Main data -->
        <h5 class="no-margin" data-translate="MATERIAL_TAB_MAIN_DATA"></h5>

        <div
          data-ng-repeat="lang in $ctrl.titleAndSummaryLanguages track by $index"
          data-ng-if="lang === activeTitleAndDescriptionLanguage"
          layout="row"
          layout-wrap
          >
          <!-- Title -->
          <div layout-xs="column" layout="row" layout-align-xs="start stretch" layout-align="start center" flex="100" flex-gt-sm="50">
            <md-input-container flex>
              <label data-translate="MATERIAL_TITLE"></label>
              <input data-ng-model="titlesAndDescriptions[lang].title" name="title" data-ng-required="$index === 0">
              <div data-ng-messages="addMaterialForm.title.$error">
                <div data-ng-message="required" data-translate="MATERIAL_TITLE_IS_MANDATORY"></div>
              </div>
            </md-input-container>
          </div>
          <!-- Description -->
          <div layout-xs="column" layout="row" layout-align-xs="start stretch" layout-align="start center" flex-order="1" flex-order-gt-sm="2" flex="100">
            <md-input-container class="md-block animate-if remaining-charaters-wrapper" flex>
              <label data-translate="CONTENT_SUMMARY"></label>
              <textarea ng-model="titlesAndDescriptions[lang].description" id="add-material-description-input"></textarea>
            </md-input-container>
          </div>
          <div layout="column" layout-align="center center" layout-gt-xs="row" flex="100" flex-gt-sm="50" flex-order="1">
            <!-- Material language -->
            <md-button
              class="button-material-language"
              data-ng-repeat="_lang in $ctrl.titleAndSummaryLanguages track by $index"
              data-ng-class="{'is-selected': lang === _lang}"
              data-ng-click="$ctrl.toggleTitleAndDescriptionLanguageInputs(_lang)"
              flex-gt-xs="{{ activeTitleAndDescriptionLanguage === _lang ? '40' : '30' }}"
              aria-label="{{ _lang }} button"
              >
              <span data-ng-bind="_lang"></span>
              <md-icon class="button-material-language__icon" data-ng-if="$ctrl.isLangFilled(_lang) || activeTitleAndDescriptionLanguage === _lang">done</md-icon>
            </md-button>
          </div>
        </div>

        <div layout="row" layout-align="start center" layout-wrap>
          <span flex="100" flex-gt-xs="15" flex-gt-md="10" data-translate="AUTHOR"></span>

          <!-- Author -->
          <div data-ng-repeat="author in material.authors track by $index" layout="row" layout-align="start center" flex="100" flex-gt-xs="{{ $index > 0 ? '100' : '85' }}" flex-gt-sm="65" flex-gt-md="30">
            <md-input-container data-ng-required="!material.publishers[0].name || $index === 0" flex="35">
              <label data-translate="MATERIAL_AUTHOR_NAME"></label>
              <input
                data-ng-model="author.name"
                id="material-author-{{$index}}-name"
                data-ng-required="!material.publishers[0].name && $index === 0"
                data-ng-disabled="isUserAuthorFirstAuthor && $index === 0"
                name="firstname"
                md-maxlength="50"
              >
              <div ng-messages="addMaterialForm.firstname.$error" data-ng-show="!author.name && author.surname">
                <div ng-message="required" data-translate="FIRST_NAME_REQUIRED"></div>
              </div>
            </md-input-container>
            <md-input-container flex="35">
              <label data-translate="MATERIAL_AUTHOR_SURNAME"></label>
              <input
               data-ng-model="author.surname"
               data-ng-required="(!material.publishers[0].name || author.name) && $index === 0"
               data-ng-disabled="isUserAuthorFirstAuthor && $index === 0"
               name="surname"
               md-maxlength="50"
              >
              <div ng-messages="addMaterialForm.surname.$error" data-ng-show="author.name && !author.surname">
                <div ng-message="required" data-translate="LAST_NAME_REQUIRED"></div>
              </div>
            </md-input-container>
            <md-button
              class="md-icon-button"
              data-ng-if="material.authors.length > 1"
              data-ng-click="material.authors.splice($index, 1)"
              flex="10">
              <md-icon>remove_circle</md-icon>
              <md-tooltip md-direction="top"><span data-translate="MATERIAL_TAB_REMOVE"></span></md-tooltip>
            </md-button>
            <md-button
              class="md-icon-button md-primary"
              data-ng-show="$index+1 === material.authors.length"
              data-ng-click="$ctrl.addNewAuthor()"
              flex="10">
              <md-icon>add_circle</md-icon>
              <md-tooltip md-direction="top"><span data-translate="MATERIAL_TAB_NEW_AUTHOR"></span></md-tooltip>
            </md-button>
          </div>

          <md-checkbox class="md-primary checkbox--material-author"
                       data-ng-click="$ctrl.setUserAuthorToFirstAuthor()"
                       data-ng-checked="isUserAuthorFirstAuthor" flex="100" flex-gt-sm="20" flex-gt-md="15"
                       aria-label="{{ 'I_AM_AUTHOR' | translate }}">
            <span data-translate="I_AM_AUTHOR"></span>
          </md-checkbox>

          <span flex="100" flex-gt-xs="30" flex-gt-md="15">
            <span data-translate="AND_OR"></span>
            <span data-translate="MATERIAL_PUBLISHER"></span>
          </span>

          <!--Publisher-->
          <md-input-container flex="100" flex-gt-xs="70" flex-gt-md="30">
            <label data-translate="MATERIAL_PUBLISHER_SOURCE"></label>
            <input
              name="publisher"
              id="material-peerReview-{{$index}}"
              data-ng-model="material.publishers[0].name"
              data-ng-disabled="creatorIsPublisher"
              data-ng-required="!material.authors[0].name && !material.authors[0].surname"
              md-maxlength="50"
              maxlength="50"
            >
            <div
              data-ng-messages="addMaterialForm.publisher.$error"
              data-ng-if="!$ctrl.isAuthorOrPublisherSet() && (addMaterialForm.publisher.$touched || addMaterialForm.$submitted)"
              >
              <div
                data-ng-message="required"
                data-translate="MATERIAL_PUBLISHER_OR_AUTHOR_MANDATORY"
                class="validation-messages"
              ></div>
            </div>
          </md-input-container>
        </div>
        <!-- Taxonomy-->
        <h5 class="no-margin" data-translate="MATERIAL_TAXON"></h5>
        <div layout="row" data-ng-repeat="taxon in material.taxons track by $index" layout-align="start center">
          <dop-taxon-selector
            data-taxon="material.taxons[$index]"
            data-is-domain-required="{trigger: true}"
            data-mark-required="addMaterialForm.$submitted"
            data-flex
          ></dop-taxon-selector>
          <md-button
            class="md-icon-button md-primary"
            data-ng-show="$index+1 === material.taxons.length"
            data-ng-click="$ctrl.addNewTaxon()"
            data-ng-disabled="isEmpty(material.taxons[0])"
            >
            <md-icon>add_circle</md-icon>
            <md-tooltip md-direction="top"><span data-translate="MATERIAL_TAB_ADD_TAXON"></span></md-tooltip>
          </md-button>
          <md-button
            class="md-icon-button md-accent-2"
            data-ng-show="material.taxons.length > 1"
            data-ng-click="material.taxons.splice($index, 1)"
            >
            <md-icon>remove_circle</md-icon>
            <md-tooltip md-direction="top"><span data-translate="MATERIAL_TAB_REMOVE_TAXON"></span></md-tooltip>
          </md-button>
        </div>
        <md-checkbox
          data-ng-if="educationalContextId === 2"
          data-ng-model="material.specialEducation"
          aria-label="{{'MATERIAL_SPECIAL_EDUCATION' | translate}}"
          class="md-primary"
          >
          <span data-translate="MATERIAL_SPECIAL_EDUCATION"></span>
        </md-checkbox>
        <!-- Target groups & Key competences -->
        <div layout="row" layout-xs="column" layout-align-xs="start stretch">
          <!--Target groups -->
          <div flex-sm="25" flex-md="30" flex-gt-lg="30" flex-lg="35">
            <dop-target-group-selector
              data-target-groups="material.targetGroups"
              data-ng-if="educationalContextId !== 4"
              data-taxon="material.taxons[0]"
              data-mark-required="addMaterialForm.$submitted"
              data-is-required="{trigger: true}"
              data-on-change="material.targetGroups = targetGroups"
            ></dop-target-group-selector>
          </div>
          <!-- Key competences -->
          <div flex-sm="35" flex-md="30" flex-gt-lg="30" flex-lg="35" class="chips-container" data-ng-if="$ctrl.isBasicOrSecondaryEducation()">
            <md-chips
              ng-model="material.keyCompetences"
              md-autocomplete-snap
              md-require-match="true"
              name="keyCompetencesInput"
              data-ng-click="addMaterialForm.keyCompetencesInput.$setTouched()"
              md-on-remove="$ctrl.removeFocus('key-competence-auto-input')"
              class="chips--regular-font"
              >
              <md-autocomplete
                id="key-competence-auto"
                md-input-id="key-competence-auto-input"
                md-no-cache="true"
                md-selected-item="selectedKeyCompetence"
                md-search-text="competenceSearchQuery"
                md-items="keyCompetence in $ctrl.searchList('keyCompetences', competenceSearchQuery)"
                md-item-text="'KEY_COMPETENCE_' + keyCompetence.name.toUpperCase()"
                placeholder="{{ 'MATERIAL_KEY_COMPETENCES' | translate }} *"
                md-min-length="0"
                md-selected-item-change="$ctrl.autocompleteItemSelected(keyCompetence, 'keyCompetences', 'key-competence-auto-input')"
                md-autoselect
                >
                <span
                  md-highlight-text="competenceSearchQuery"
                  md-highlight-flags="^i"
                  data-ng-class="{'disabled-option': keyCompetence.name==='NOT_RELEVANT' && material.keyCompetences.length > 0}"
                  >
                  {{$ctrl.translate('KEY_COMPETENCE_', keyCompetence)}}
                </span>
              </md-autocomplete>
              <md-chip-template>
                <span data-translate="KEY_COMPETENCE_{{$chip.name.toUpperCase()}}" />
              </md-chip-template>
            </md-chips>
            <div
              data-ng-if="$ctrl.showCompetencesWarning(addMaterialForm.keyCompetencesInput)"
              class="validation-messages-chips" data-translate="MATERIAL_KEY_COMPETENCE_IS_MANDATORY"
            ></div>
          </div>
          <!-- Cross-curricular themes -->
          <div flex-sm="45" flex-md="45" flex-gt-lg="40" flex-lg="40" class="chips-container" data-ng-if="$ctrl.isBasicOrSecondaryEducation()">
            <md-chips
              ng-model="material.crossCurricularThemes"
              md-autocomplete-snap
              md-require-match="true"
              name="crossCurricularThemesInput"
              data-ng-click="addMaterialForm.crossCurricularThemesInput.$setTouched()"
              md-on-remove="$ctrl.removeFocus('cross-curricular-auto-input')"
              class="chips--regular-font"
              >
              <md-autocomplete
                id="cross-curricular-auto"
                md-input-id="cross-curricular-auto-input"
                md-no-cache="true"
                md-selected-item="selectedCrossCurricularTheme"
                md-search-text="crossCurricularSearchQuery"
                md-items="crossCurricularTheme in $ctrl.searchList('crossCurricularThemes', crossCurricularSearchQuery)"
                md-item-text="'CROSS_CURRICULAR_THEME_' + crossCurricularTheme.name.toUpperCase()"
                placeholder="{{ 'MATERIAL_CROSS_CURRICULAR_THEMES' | translate }} *"
                md-min-length="0"
                md-selected-item-change="$ctrl.autocompleteItemSelected(crossCurricularTheme, 'crossCurricularThemes', 'cross-curricular-auto-input')"
                md-autoselect
                >
                <span
                  md-highlight-text="crossCurricularSearchQuery"
                  md-highlight-flags="^i"
                  data-ng-class="{'disabled-option': crossCurricularTheme.name==='NOT_RELEVANT' && material.crossCurricularThemes.length > 0}"
                  >
                  {{$ctrl.translate('CROSS_CURRICULAR_THEME_', crossCurricularTheme)}}
                  </span>
              </md-autocomplete>
              <md-chip-template>
                <span data-translate="CROSS_CURRICULAR_THEME_{{$chip.name.toUpperCase()}}" />
              </md-chip-template>
            </md-chips>
            <div
              data-ng-if="$ctrl.showThemesWarning(addMaterialForm.crossCurricularThemesInput)"
              class="validation-messages-chips"
              data-translate="MATERIAL_CROSS_CURRICULAR_THEME_IS_MANDATORY"
            ></div>
          </div>
        </div>

        <!-- Additional data -->
        <md-button
          aria-label="Ava/sulge lisaandmed"
          id="open-additional-info"
          class="md-primary no-margin"
          data-ng-disabled="isSaving || uploadingFile"
          data-ng-click="additionalInfo.isVisible = !additionalInfo.isVisible"
          >
          <span data-translate="MATERIAL_ADDITIONAL_DATA"></span>
          <md-icon>{{ additionalInfo.isVisible ? 'arrow_downward' : 'arrow_forward' }}</md-icon>
        </md-button>
        <div id="additionalInfo" data-ng-show="additionalInfo.isVisible" ng-cloak>
          <div layout="row" layout-align="start center" layout-wrap>
            <div layout="row" layout-align="start center" flex-xs="100" flex-gt-lg="80" flex-lg="80" flex-md="70" data-ng-repeat="peerReview in peerReviews track by $index">
              <md-input-container flex-gt-lg="50" flex-lg="45" flex data-ng-if="!peerReview.uploading && !peerReview.uploaded">
                <label data-ng-if="!peerReview.uploading && !peerReview.uploaded" data-translate="RECESSION_LINK"></label>
                <input name="peerReview" data-ng-model="peerReview.url" dop-validate-url aria-label="{{ 'RECESSION_LINK' | translate }}">
              </md-input-container>
              <!-- Uploaded file name -->
              <div data-ng-if="peerReview.uploading || peerReview.uploaded" layout-align="center">
                <div data-ng-if="peerReview.uploading" flex-offset="25">
                  <div data-translate="ADD_FILE_UPLOADING"></div>
                  <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                </div>
                <!-- Uploaded file name -->
                <div data-ng-if="peerReview.uploaded && !peerReview.uploading">
                    <span class="ellipsis" data-ng-bind="peerReview.name"></span>
                </div>
              </div>
              <span class="md-padding">
                <span data-ng-if="!peerReview.uploaded && !peerReview.uploading" data-translate="OR_ADD"></span>
              </span>
              <!-- Upload button -->
              <div
                ngf-select
                data-accept="*"
                data-ngf-pattern="'*'"
                data-ngf-max-size="{{maxReviewSize + 'MB'}}"
                ngf-model-invalid="invalidReview"
                ngf-change="$ctrl.uploadReview($index, $file)"
                >
                <a href="javascript:void(0);" class="md-raised md-primary md-ink-ripple" data-translate="{{ peerReview.uploaded ? 'UPDATE_FILE' : 'FILE_WORD' }}"></a>
              </div>
              <div
                data-ng-messages="file"
                data-ng-show="invalidReview && invalidReview.length > 0"
                class="upload-file-error"
                >
                <span data-translate="DOCUMENT_MAX_SIZE"></span>
                <span data-ng-bind="maxReviewSize"></span> MB
              </div>
              <md-button
                class="md-icon-button"
                data-ng-show="peerReviews.length > 1"
                data-ng-click="peerReviews.splice($index, 1)"
                >
                <md-icon>remove_circle</md-icon>
                <md-tooltip md-direction="top"><span data-translate="MATERIAL_TAB_REMOVE"></span></md-tooltip>
              </md-button>
              <md-button
                class="md-icon-button md-primary"
                data-ng-show="$index+1 === peerReviews.length"
                data-ng-click="$ctrl.addNewPeerReview()"
                >
                <md-icon>add_circle</md-icon>
                <md-tooltip md-direction="top"><span data-translate="MATERIAL_TAB_NEW_PEER_REVIEW"></span>
                </md-tooltip>
              </md-button>
            </div>

            <!-- issueDate datepicker -->
            <div flex-gt-lg="20">
              <div class="datepicker-container">
                <md-datepicker
                  ng-model="issueDate"
                  name="issueDate"
                  required
                  md-placeholder="{{ 'MATERIAL_ISSUE_DATE' | translate }}"
                ></md-datepicker>
                <div
                  class="datepicker-error"
                  data-ng-messages="addMaterialForm.issueDate.$error"
                  data-ng-show="!material.issueDate.year && (addMaterialForm.issueDate.$touched || addMaterialForm.$submitted)"
                  >
                  <div class="validation-messages" data-ng-message="required" data-translate="MATERIAL_DATE_REQUIRED"></div>
                </div>
              </div>
            </div>
          </div>

          <div layout="row" layout-wrap layout-align="space-between center">
            <!-- material type -->
            <md-input-container flex-gt-xs="55" flex-gt-lg="40" flex-md="40" flex-lg="40">
              <label data-translate="MATERIAL_TYPE"></label>
              <md-select
                class="no-margin"
                data-ng-model="material.resourceTypes"
                id="resourceTypeSelect"
                ng-model-options="{trackBy: '$value.id'}"
                multiple
                dop-select-close
                >
                <md-option
                  ng-value="resourceType"
                  data-ng-repeat="resourceType in resourceTypes track by $index"
                  ng-selected="{{ $ctrl.isTypeSelected(resourceType) }}"
                  >
                  <span data-translate="{{resourceType.name}}"></span>
                </md-option>
              </md-select>
            </md-input-container>
            <!-- is paid material -->
            <div layout="row" layout-align="end center">
              <md-switch
                class="md-primary md-block md-padding"
                md-no-ink
                data-ng-model="material.paid"
                aria-label="{{'MATERIAL_PAID' | translate}}"
                >
                <span data-translate="MATERIAL_PAID"></span>
              </md-switch>
            </div>
          </div>

          <!-- Illustration (the cover image) -->
          <div layout-wrap layout="row" layout-align="start center">
            <div flex="100" flex-gt-sm="20" flex-gt-md="10">
              <div
                data-ngf-drop
                ngf-select
                ng-model="newPicture"
                class="drop-box no-margin"
                data-ngf-drag-over-class="'dragover'"
                data-ngf-multiple="false"
                data-accept="image/*"
                data-ngf-pattern="'image/*'"
                data-ngf-max-size="{{maxPictureSize + 'MB'}}"
                ngf-model-invalid="invalidPicture"
                layout="row"
                layout-align="center center"
                >
                <span data-ng-if="!newPicture && !material.picture.name && !showErrorOverlay">
                  <span data-ng-class="{'error-text': (invalidPicture && invalidPicture.length > 0)}">
                    <span data-translate="SIZE_UNTIL"></span>
                    <span data-ng-bind="maxPictureSize"></span> MB
                  </span>
                </span>
                <!-- image preview -->
                <md-input-container
                  data-ng-if="(newPicture || material.picture.name) && !showErrorOverlay"
                  class="md-block drop-box-preview-container"
                  >
                  <div class="drop-box-preview">
                    <img
                      data-ng-if="newPicture"
                      data-ngf-thumbnail="newPicture"
                      ngf-size="{width: 300, height: 300, quality: 0.9, autoCrop: true}"
                      alt="photo"
                    >
                    <img
                      data-ng-if="!newPicture && material.picture.name"
                      data-ng-src="rest/picture/{{material.picture.name}}"
                      ngf-size="{width: 300, height: 300, quality: 0.9, autoCrop: true}"
                      alt="photo"
                    >
                  </div>
                </md-input-container>
                <span class="error-wrapper" data-ng-if="showErrorOverlay">
                  <span class="text-error">
                    <span data-translate="UPLOADED_PICTURE_TOO_BIG"></span>
                  </span>
                </span>
              </div>
            </div>

            <div class="md-padding" flex="50" flex-gt-sm="20">
              <h5 class="no-margin" data-translate="SUBTOPIC_ILLUSTRATSIOON"></h5>
              <md-input-container>
                <label data-translate="AUTHOR_WORD"></label>
                <input
                  data-ng-required="newPicture"
                  data-ng-model="material.picture.author"
                  id="material-picture-author-{{$index}}"
                  name="authorName"
                  md-maxlength="50"
                  data-ng-disabled="isUserAuthor"
                >
                <div ng-messages="addMaterialForm.authorName.$error" data-ng-show="!material.picture.author">
                  <div ng-message="required" data-translate="AUTHOR_NAME_REQUIRED"></div>
                </div>
              </md-input-container>
            </div>

            <div class="md-padding" flex="50" flex-gt-sm="20">
              <md-checkbox class="md-primary checkbox--material-author" data-ng-click="$ctrl.setAuthorToUser()" data-ng-checked="isUserAuthor" aria-label="{{ 'I_AM_AUTHOR' | translate }}">
                <span data-translate="I_AM_AUTHOR"></span>
              </md-checkbox>
            </div>

            <div class="md-padding" flex="50" flex-gt-sm="20">
              <md-input-container>
                <label data-translate="SOURCE_BIG"></label>
                <input
                  data-ng-required="newPicture && !material.picture.licenseType"
                  data-ng-model="material.picture.source"
                  name="pictureSource"
                  md-maxlength="50"
                >
                <div ng-messages="addMaterialForm.pictureSource.$error" data-ng-show="!material.picture.source">
                  <div ng-message="required" data-translate="SOURCE_OR_LICENSE_TYPE_REQUIRED"></div>
                </div>
              </md-input-container>
              </div>

              <div class="md-padding">
                <span data-translate="OR_WORD"></span>
              </div>

                <div class="md-padding" flex="50" flex-gt-sm="20">
                <md-input-container flex="100" flex-gt-sm="100">
                  <label for="taxonEducationalSelect" data-translate="MATERIAL_VIEW_LICENSE_TYPE"></label>
                  <md-select
                    class="no-margin"
                    data-ng-required="newPicture && !material.picture.source"
                    data-ng-model="material.picture.licenseType"
                    id="pictureLicenseTypeSelect"
                    name="pictureLicenseType"
                    ng-model-options="{trackBy: '$value.id'}"
                    >
                    <md-option
                      data-ng-value="allRightsReserved"
                      data-translate="LICENSETYPE_CANT_CHOOSE"
                    ></md-option>
                    <md-option
                      data-ng-value="licenseType"
                      data-ng-repeat="licenseType in licenseTypes track by $index"
                      data-translate="LICENSETYPE_LONG_NAME_{{licenseType.name.toUpperCase()}}"
                      >
                      <span data-translate="MATERIAL_VIEW_LICENSE_TYPE"/>
                    </md-option>
                  </md-select>
                </md-input-container>
                </div>
          </div>
        </div>
      </div>

      <!-- Actions -->
      <div layout="row" layout-align="end center" class="md-padding md-padding-horizontal-double">
        <md-button
          aria-label="Tühista materjali lisamine"
          id="add-material-cancel-button"
          data-ng-click="$ctrl.$mdDialog.hide()"
          >
          <span data-translate="BUTTON_CANCEL"></span>
        </md-button>
        <md-button
          aria-label="{{ (isUpdateMode ? 'BUTTON_UPDATE_MATERIAL' : 'BUTTON_CREATE_MATERIAL') | translate }}"
          id="create-material-button"
          class="md-primary"
          data-ng-disabled="$ctrl.isSubmitDisabled() || isSaving"
          data-ng-click="$ctrl.save()"
          >
          <span data-translate="{{ isUpdateMode ? 'BUTTON_UPDATE_MATERIAL' : 'BUTTON_CREATE_MATERIAL' }}"></span>
          <md-icon>arrow_forward</md-icon>
        </md-button>
        <md-progress-circular
          class="md-accent ng-hide"
          md-mode="indeterminate"
          md-diameter="40"
          data-ng-show="isSaving"
        ></md-progress-circular>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
