<div class="comments comments__container" id="comments" data-ng-if="$ctrl.isOpen">
  <div data-ng-if="$ctrl.isAuthorized()">
    <md-input-container class="md-block">
      <label data-translate="COMMENT"></label>
      <textarea class="comment-box" data-ng-model="newComment.text" rows="4"></textarea>
    </md-input-container>
    <div layout="row" layout-align="end center">
      <md-button
        aria-label="Lisa kommentaar"
        data-translate="ADD_COMMENT_BUTTON"
        data-ng-click="$ctrl.addComment()"
        class="md-raised md-primary"
      ></md-button>
    </div>
  </div>
  <md-list role="list">
    <md-list-item
      class="md-3-line comments__item"
      data-ng-repeat="comment in comments | orderBy: '-added' | limitTo: $ctrl.visibleCommentsCount track by $index"
      role="listitem"
      >
      <md-icon class="md-avatar-icon" flex="none">person</md-icon>
      <div class="md-list-item-text" layout="column">
        <h3>
          <a
            data-ng-href="{{comment.creator.username}}"
            data-ng-bind="comment.creator.name+' '+comment.creator.surname"
          ></a>
        </h3>
        <h4 class="comment__date">
          <span data-ng-bind="comment.added | date:'dd.MM.yyyy HH:mm'"></span>
          <md-button
            class="md-icon-button comment__report-button"
            ng-click="$ctrl.reportComment(comment, $event)"
            >
            <md-icon
              class="material-icons md-light md-48"
              data-md-colors="{ color: 'grey-400' }"
              >
              warning
            </md-icon>
            <md-tooltip>
              <span data-translate="COMMENT_TOOLTIP_REPORT_AS_IMPROPER"></span>
            </md-tooltip>
          </md-button>
        </h4>
        <p data-ng-bind="comment.text"></p>
      </div>
    </md-list-item>
  </md-list>
  <div layout="row" layout-align="center center" data-ng-if="$ctrl.showMoreCommentsButton()">
    <md-button
      aria-label="Lae veel kommentaare"
      data-md-no-ink
      class="md-primary"
      data-ng-click="$ctrl.showMoreComments()"
      >
      <span data-translate="LOAD_MORE_COMMENTS"></span>
      <span data-ng-bind="$ctrl.getLoadMoreCommentsLabel()"></span>
    </md-button>
  </div>
</div>
