<md-card class="md-data-table">
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <h2 class="md-headline" data-translate="USER_MANUALS_HEADING" data-flex></h2>
      <md-button
        class="statistics-info-text-toggle text-small"
        data-md-colors="{color: 'grey-500'}"
        data-ng-click="$ctrl.toggleInfoText()"
        aria-label="Ava infotekst"
      >
        <span data-ng-if="!isInfoTextOpen" data-translate="OPEN_INFO_TEXT"></span>
        <span data-ng-if="isInfoTextOpen" data-translate="CLOSE_INFO_TEXT"></span>
      </md-button>
    </div>
  </md-toolbar>
  <md-content
    class="statistics-info-text text-small"
    data-ng-class="{'is-open': isInfoTextOpen}"
    data-md-colors="{color: 'grey-600'}"
  >
    <div data-translate="GDPR_INFO_TEXT" data-layout-padding></div>
  </md-content>
  <md-content data-layout-padding>
    <div data-layout="row" data-layout-align="end center">
      <md-button class="md-raised md-primary"
                 data-ng-click="$ctrl.toggleNewRow()"
                 aria-label="Lisa uus rida"
      >
        <div data-ng-show="!addNewRow">
          <span data-translate="USER_MANUALS_ADD_NEW_MANUAL"></span>
          <md-icon>arrow_downward</md-icon>
        </div>
        <div data-ng-show="addNewRow">
          <span data-translate="USER_MANUALS_HIDE_NEW_ROW"></span>
          <md-icon>arrow_upward</md-icon>
        </div>
      </md-button>
    </div>
  </md-content>
  <md-table-container>
    <table data-ng-if="data" md-table class="table-fixed">
      <thead md-head md-order-by="byCreatedAt" md-on-reorder="sort">
      <tr md-row>
        <th md-column  width="25%">
          <span data-translate="USER_MANUALS_TITLE"></span>
        </th>
        <th md-column width="25%">
          <span data-translate="USER_MANUALS_LINK"></span>
        </th>
        <th md-column width="25%">
          <span data-translate="USER_MANUALS_TEXT_LINK"></span>
        </th>
        <th md-column width="15%">
          <span></span>
        </th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row data-ng-repeat="userManual in data track by $index">
        <td md-cell class="dashboard-cell dashboard-cell--title">
          <span data-ng-bind="userManual.title"></span>
        </td>
        <td md-cell class="dashboard-cell">
          <a target="_blank" href="{{userManual.url.startsWith('http') ? userManual.url : 'http://' + userManual.url}}">
            <span data-ng-bind="userManual.url"></span>
          </a>
        </td>
        <td md-cell class="dashboard-cell">
          <a target="_blank" href="{{userManual.textUrl.startsWith('http') ? userManual.textUrl : 'http://' + userManual.textUrl}}">
            <span data-ng-bind="userManual.textUrl"></span>
          </a>
        </td>
        <td md-cell class="dashboard-cell dashboard-cell--type-icon">
          <a href="#" data-ng-click="confirmMaterialDeletion(userManual)">
            <md-icon title="{{'USER_MANUALS_DELETE' | translate}}" class="material-icons sidenav__icon">delete_forever</md-icon>
          </a>
        </td>
      <tr md-row data-ng-show="addNewRow">
        <td md-cell class="dashboard-cell">
          <md-input-container layout-fill>
            <label></label>
            <input type="text" ng-model="newUserManual.title">
          </md-input-container>
        </td>
        <td md-cell class="dashboard-cell">
          <md-input-container layout-fill>
            <label></label>
            <input type="text" ng-model="newUserManual.url"
                   placeholder="{{ 'HTTP_WORD' | translate }}">
          </md-input-container>
        </td>
        <td md-cell class="dashboard-cell">
          <md-input-container layout-fill>
            <label></label>
            <input type="text" ng-model="newUserManual.textUrl"
                   placeholder="{{ 'HTTP_WORD' | translate }}">
          </md-input-container>
        </td>
        <td md-cell class="dashboard-cell dashboard-cell--type-icon">
          <md-button
            class="md-raised md-primary statistics-filter__download"
            data-ng-disabled="! (newUserManual.title && newUserManual.url)"
            data-ng-click="$ctrl.addUserManual()"
            aria-label="Lisa"
          >
            <span data-translate="USER_MANUALS_ADD"></span>
          </md-button>
        </td>
      </tr>
      </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination
    data-ng-if="numPages > 1"
    data-md-limit="perPage"
    data-md-page="page"
    data-md-total="{{alldata.length}}"
    data-md-on-paginate="paginate"
    data-md-page-select
  ></md-table-pagination>
</md-card>
