<div class="embedded-material">
  <div data-ng-if="sourceType === 'PICTURE'" class="embedded-material__picture">
    <a data-ng-href="{{materialSource}}" target="_blank">
      <img data-ng-src="{{materialSource}}" class="embedded-material__img"/>
    </a>
  </div>
  <div data-ng-if="sourceType === 'YOUTUBE'" class="embed-responsive embed-responsive-16by9">
    <div class="embed-responsive-container" data-ng-if="sourceType === 'YOUTUBE'">
      <youtube-video
        data-ng-if="sourceType === 'YOUTUBE'"
        video-url="materialSource"
        player-width="'768'"
        player-height="'432'"
        class="embed-item embed-responsive-item"
      ></youtube-video>
    </div>
  </div>
  <div data-ng-if="sourceType === 'VIDEO'" class="embed-responsive-container embed-video">
    <video
      data-ng-src="{{materialSource}}"
      type="video/{{extName}}"
      controls
      preload="metadata"
      data-ng-if="canPlayVideo"
      class="embedded-material__video"
    ></video>
    <md-toolbar data-ng-if="!canPlayVideo" class="md-warn md-tall" layout-align="center center">
      <div class="md-toolbar-tools" layout-align="center center">
        <span data-translate="NO_VIDEO_SUPPORT_FOR_BROWSER" class="line-height--normal"></span>
      </div>
    </md-toolbar>
  </div>
  <div data-ng-if="sourceType === 'AUDIO'" class="embed-responsive-container embed-audio">
    <audio
      controls="true"
      data-ng-if="canPlayAudio"
      data-ng-src="{{materialSource}}"
    ></audio>
    <md-toolbar data-ng-if="!canPlayAudio" class="md-warn md-tall" layout-align="center center">
      <div class="md-toolbar-tools" layout-align="center center">
        <span data-translate="NO_VIDEO_SUPPORT_FOR_BROWSER" class="line-height--normal"></span>
      </div>
    </md-toolbar>
  </div>
  <div data-ng-if="sourceType === 'SLIDESHARE'" class="embed-responsive embed-responsive-4by3">
    <div class="embed-responsive-container">
      <data-dop-slideshare
        data-ng-if="sourceType === 'SLIDESHARE'"
        source="materialSource"
        class="embed-responsive-item"
      ></data-dop-slideshare>
    </div>
  </div>
  <div data-ng-if="sourceType === 'EBOOK'" class="embed-responsive-container">
    <iframe
      width="100%"
      height="500px"
      data-ng-src="{{ebookLink}}"
    ></iframe>
  </div>
  <div data-ng-if="sourceType === 'PDF'" class="embed-responsive-container">
    <iframe
      width="100%"
      height="500px"
      data-ng-src="{{pdfLink}}"
    ></iframe>
  </div>
  <div data-ng-if="sourceType === 'NOEMBED'" data-ng-class="{'embed-responsive': noEmbedIsIframe}">
    <div class="embed-responsive-container">
      <div class="embed-responsive-item" data-ng-bind-html="noEmbedData"></div>
    </div>
  </div>
  <div data-ng-if="(sourceType === 'LINK' || !sourceType) && !$ctrl.hideLink">
    <a
      data-ng-href="{{materialSource}}"
      data-ng-bind="materialSource"
      target="_blank"
      class="embedded-material__link md-primary"
    ></a>
  </div>
</div>