<md-card class="md-whiteframe-2dp embed-card" ng-class="{'embed-link': fallbackToLink}" ng-cloak="fallbackToLink">
  <md-card-header class="embed-header" data-ng-if="isEditPortfolioPage || $root.isViewPortforlioPage" data-ng-click="navigateToMaterial(material, $event)">
    <md-card-avatar>
      <md-icon class="icon-kind embeddedMaterial" ng-class="materialType">{{materialType}}</md-icon>
    </md-card-avatar>
    <md-card-header-text flex class="ellipsis embed-responsive-header-text">
      <a data-ng-href="{{'/material?id=' + material.id}}" class="md-title no-link ellipsis ellipsis--multiline"
         data-ng-bind="getCorrectLanguageTitle(material)">
      </a>
      <span class="md-subhead ellipsis">
        <span data-ng-repeat="author in material.authors">
          <span>{{author.name}} {{author.surname}}</span>
          <span data-ng-bind="$index < material.authors.length - 1 ? ', ' : ''"></span>
        </span>
      </span>
    </md-card-header-text>
    <div data-ng-if="isEditPortfolioMode && isEditPortfolioPage">
      <md-button class="md-icon-button" data-ng-click="removeMaterial($event, material)">
        <md-icon>delete</md-icon>
        <md-tooltip md-direction="bottom">
          <span data-translate="DELETE_MATERIAL"></span>
        </md-tooltip>
      </md-button>
    </div>
  </md-card-header>
  <md-card-content data-ng-if="sourceType" class="embed-card-content" ng-class="{'noPadding' : chapter !== null}">

    <div data-ng-if="sourceType === 'YOUTUBE'" class="embed-responsive embed-responsive-16by9">
      <div class="embed-responsive-container">
        <youtube-video video-url="material.source" player-width="'768'" player-height="'432'"
                       class="embed-responsive-item"></youtube-video>
      </div>
    </div>

    <div data-ng-show="sourceType === 'VIDEO' && canPlayVideo"
         class="embed-responsive-container embed-video-{{material.id}}">
    </div>

    <div data-ng-if="sourceType === 'VIDEO' && !canPlayVideo"
         class="embed-responsive-container embed-video-{{material.id}}">
      <md-toolbar class="md-warn md-tall" layout-align="center center">
        <div class="md-toolbar-tools" layout-align="center center">
          <span data-translate="NO_VIDEO_SUPPORT_FOR_BROWSER" class="line-height--normal"></span>
        </div>
      </md-toolbar>
    </div>

    <a class="embed-link" href="{{material.source}}" ng-if="sourceType === 'PICTURE'" target="_blank"
       ng-class="{'embed-image-padded': isEditPortfolioMode || $root.isViewPortforlioPage}">
      <img src="{{material.source}}"/>
    </a>

    <div class="embed-responsive-container embed-audio"
         data-ng-if="sourceType === 'AUDIO' && canPlayAudio">
      <audio controls="true">
        <source src="{{material.source}}" type="audio/{{audioType}}">
      </audio>
    </div>

    <div data-ng-if="sourceType === 'SLIDESHARE'" class="embed-responsive embed-responsive-4by3">
      <div class="embed-responsive-container">
        <div data-dop-slideshare source="material.source" class="embed-responsive-item"></div>
      </div>
    </div>

    <div data-ng-if="sourceType === 'EBOOK'"
         class="embed-responsive-container embed-ebook-{{material.id}}">
      <iframe width="100%" height="500px" src="{{ebookLink}}"></iframe>
    </div>

    <div data-ng-if="sourceType === 'PDF'"
         class="embed-responsive-container embed-pdf-{{material.id}}">
      <iframe width="100%" height="500px" src="{{material.PDFLink}}"></iframe>
    </div>

    <!--Embed iframe-->
    <div data-ng-if="embeddedDataIframe" class="embed-responsive">
      <div class="embed-responsive-container">
        <div class="embed-responsive-item" data-ng-bind-html="embeddedDataIframe"></div>
      </div>
    </div>
    <!--Embed html-->
    <div data-ng-if="embeddedData">
      <div class="embed-responsive-container">
        <div class="embed-responsive-item" data-ng-bind-html="embeddedData"></div>
      </div>
    </div>
  </md-card-content>
  <md-card-footer class="embeded-material-footer" data-ng-if="isEditPortfolioMode || !sourceType || sourceType === 'LINK' ">
    <div layout="row" layout-align="space-between center">
      <!--Link as backup - if iframe is internally not working-->
      <a href="{{material.source}}" class="wrapped regular-link md-primary" flex-xs="70" flex-sm="70"
         target="_blank" data-ng-if="((!sourceType || (sourceType === 'VIDEO' && !canPlayVideo)
                    || (sourceType === 'AUDIO' && !canPlayAudio)) || sourceType === 'LINK') && !embeddable">
        <span class="item-link" data-ng-bind="material.source"></span>
      </a>


      <div class="fullscreen-iframe" data-ng-if="sourceType === 'LINK' && embeddable" ngsf-fullscreen="fullscreenCtrl">
        <a class="wrapped regular-link md-primary" data-ng-href="#" ng-click="showSourceFullscreen($event, fullscreenCtrl)">
          <span class="item-link" data-ng-bind="material.source"></span>
        </a>

        <div data-ng-if="showMaterialContent && embeddedDataIframe" data-ng-bind-html="embeddedDataIframe"></div>
        <iframe ng-src="{{iframeSource}}" data-ng-if="showMaterialContent && !embeddedDataIframe" width="100%" height="100%"></iframe>
      </div>


<!--Up and down-->
      <div data-ng-if="isEditPortfolioMode && isEditPortfolioPage" flex-xs="30" flex-sm="30" layout="row" layout-align="end end" class="align-right">
        <md-button ng-disabled="rowIndex === 0" class="md-icon-button" aria-label="Liiguta materjali üles"
                   ng-click="listItemUp()">
          <md-icon class="material-icons">arrow_upward</md-icon>
        </md-button>
        <md-button ng-disabled="rowIndex === chapter.contentRows.length -1" class="md-icon-button"
                   aria-label="Liiguta materjali alla" ng-click="listItemDown()">
          <md-icon class="material-icons">arrow_downward</md-icon>
        </md-button>
      </div>
    </div>
  </md-card-footer>
</md-card>
