<md-card class="card-xs" layout="row">
  <md-card-content flex="50">
    <a data-ng-href="{{'/' + learningObjectType + '?id=' + learningObject.id}}" class="no-link">
      <h6 class="md-caption" data-ng-if="learningObject.type === '.Portfolio'" data-ng-bind="learningObject.title"></h6>
      <h6 class="md-caption" data-ng-if="learningObject.type === '.Material'" data-ng-bind="getCorrectLanguageTitle(learningObject)"></h6>
      <p class="md-caption ellipsis">
        <span data-ng-if="learningObject.type === '.Portfolio'" class="authors">
          <span data-ng-bind="formatName(learningObject.creator.name)"></span>
          <span data-ng-bind="formatSurname(learningObject.creator.surname)"></span>
        </span>
        <span data-ng-if="learningObject.type === '.Material'" data-ng-repeat="author in learningObject.authors" class="authors">
          <span data-ng-bind="formatName(author.name)"></span>
          <span data-ng-bind="formatSurname(author.surname)"></span>
          <span data-ng-bind="$index < material.authors.length - 1 ? ', ' : ''"></span>
        </span>
      </p>
    </a>
  </md-card-content>

  <div data-dop-card-media data-learning-object="learningObject" flex="50"></div>
</md-card>
