.form-group {
  .layout-row:not(:first-of-type) {
  margin-top: -30px;
  }
}
.md-chips .md-chip-input-container input:not([type]),
.md-chips .md-chip-input-container {
  width: 100%;
}

.upload-file-success, .upload-file-uploading, .upload-file-placeholder{
  text-align: center;
}

.upload-file-error{
  color: rgb(221,44,0);
  font-size: 12px;
  text-align: center;
}

.currently-uploaded-file{
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}

.md-datepicker-triangle-button{
  display: none;
}

.md-button.md-icon-button.md-datepicker-button{
  position: absolute;
  margin-left: 130px;
  margin-top: -9px;
  z-index: 1;
}

.md-datepicker-input-container{
  padding-right: 50px;
}

.md-datepicker-open .md-button.md-icon-button.md-datepicker-button{
  margin-top: 0;
}

.datepicker-container .validation-messages{
  max-width: 180px;
}

.datepicker-error{
  margin-top: 23px;
  margin-left: 12px;
}

.disabled-option {
  color: rgba(0, 0, 0, 0.26);
}

.invalid-url-message.ng-hide {
  // In some cases url validation message is visible even when it shouldn't
  display: none !important;
}

.material-description-char-remaining {
  position: absolute;
  right: 90px;
  bottom: 10px;

  font-size: 12px;
  color: rgba(0, 0, 0, 0.55);

  .char-limit-error {
    color: $error;
  }

}

.relative {
  position: relative;
}

@media screen and (max-width: $layout-breakpoint-sm) {
  .description-char-remaining {
    bottom: 70px;
  }
}

@media screen and (max-width: $layout-breakpoint-xs) {
  // Fix for window resize not calculating height correctly https://github.com/angular/material/issues/4513
  body > .md-dialog-container {
    height: 100vh !important;
  }

  .fullscreen-dialog {
    height:100%;
    width:100%;
    max-height:100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
  }
}
