// #dialog-add-material {
//   md-content md-tabs {
//     border: 1px solid #e1e1e1;
//   }
//   md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
//     color: initial;
//
//     .md-active {
//       color: initial;
//     }
//   }
//
//   .md-subheader .md-subheader-inner {
//     padding-left: 2px;
//   }
//
//   .md-button {
//     max-height: 36px;
//   }
//
//   .md-actions {
//     padding-left: 8px;
//
//     .md-button:first-child {
//       margin-left: 0;
//     }
//   }
//
//   #material-type-tab {
//     h2 { margin-bottom: 0; }
//   }
// }
.form-group {
  .layout-row:not(:first-of-type) {
  margin-top: -30px;
  }
}
.md-chips .md-chip-input-container input:not([type]),
.md-chips .md-chip-input-container {
  width: 100%;
}

.upload-file-success, .upload-file-uploading, .upload-file-placeholder{
  text-align: center;
}

.upload-file-error{
  color: rgb(221,44,0);
  font-size: 12px;
  text-align: center;
}

.currently-uploaded-file{
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}

.md-datepicker-triangle-button{
  display: none;
}

.md-button.md-icon-button.md-datepicker-button{
  position: absolute;
  margin-left: 130px;
  margin-top: -9px;
  z-index: 1;
}

.md-datepicker-input-container{
  padding-right: 50px;
}

.md-datepicker-open .md-button.md-icon-button.md-datepicker-button{
  margin-top: 0;
}

.datepicker-container .validation-messages{
  max-width: 180px;
}


// Input container styles
.description-input-container, md-body-1.description {
  width: 100%;

  margin: 30px 0;
  background: white;
  border-radius: 3px;
  border: 1px solid #ddd;
  overflow: hidden;

  md-icon {
    margin-top: 2px;
  }

  // Button styling
  .btn-group {
    .btn {
      border: none;
      background: none;
    }
  }

  .ta-toolbar {
    z-index: 1;
    background: #f7f7f7;
    padding: 5px 10px;
    &.focussed {
      .btn-group .btn:hover md-icon {
        color: rgb(3,169,244);
      }
    }
  }
  .ta-bind {
    padding: 12px 12px;
  }
  .btn-group {
    display: inline-block;
  }
  .ta-scroll-window.form-control {
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
    background-color: #fafafa;
    margin: 10px;
  }
  .ta-root.focusses > .ta-scroll-window.form-control {
    border-color: #51a7e8;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
    background: white;

  }
}
