<md-dialog aria-label="Kogumiku lisamise modaalaken" flex-gt-sm="75" flex>
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools" flex>
      <h2 data-translate="PORTFOLIO_METADATA_TOOLBAR_LABEL"></h2>
      <span flex></span>
      <md-button ng-click="cancel()" class="md-icon-button" aria-label="Sulge kogumiku lisamise modaalaken">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
    <md-content class="md-padding">
      <div layout="row" layout-align="center center">
        <div flex="nogrow" class="md-padding">
          <div data-ngf-drop ngf-select ng-model="newPicture" class="drop-box"
            data-ngf-drag-over-class="'dragover'"
            data-ngf-multiple="false"
            data-accept="image/*"
            data-ngf-pattern="'image/*'"
            layout="row"
            layout-align="center center" flex>
            <span flex>
              <md-icon>insert_photo</md-icon>
            </span>
          </div>
          <md-tooltip><span data-translate="PORTFOLIO_PHOTO_UPLOAD_HELP"></span></md-tooltip>
        </div>
        <md-input-container flex="90">
          <label data-translate="PORTFOLIO_TITLE">Pealkiri</label>
          <input data-ng-model="newPortfolio.title" id="add-portfolio-title-input" name="title" required>
          <div data-ng-messages="addPortfolioForm.title.$error" data-ng-show="addPortfolioForm.title.$dirty" multiple>
            <div data-ng-message="required" data-ng-show="addPortfolioForm.title.$error.required" data-translate="PORTFOLIO_TITLE_IS_MANDATORY"></div>
          </div>
        </md-input-container>
      </div>

      <!-- image preview -->
      <md-input-container class="md-block">
        <div data-ng-if="newPicture" class="drop-box-preview">
          <h3 class="md-subhead" data-translate="PHOTO_PREVIEW"></h3>
          <img data-ngf-thumbnail="newPicture" ngf-size="{width: 300, height: 300, quality: 0.9}" alt="photo">
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label data-translate="PORTFOLIO_SUMMARY">Kirjeldus</label>
        <textarea id="add-portfolio-description-input" data-ng-model="newPortfolio.summary" columns="1" md-maxlength="150"></textarea>
      </md-input-container>

      <div data-dop-taxon-selector data-taxon="newPortfolio.taxon" data-layout="row" data-layout-sm="column" flex></div>

      <div data-dop-target-group-selector data-target-groups="newPortfolio.targetGroups"></div>

      <md-input-container class="md-block">
        <label>&nbsp;</label>
        <md-chips data-ng-model="newPortfolio.tags" delete-button-label="{{'ADD_PORTFOLIO_REMOVE_TAG' | translate}}"
                  delete-hint="{{'ADD_PORTFOLIO_REMOVE_TAG_HINT' | translate}}" secondary-placeholder="{{'ADD_PORTFOLIO_PRESS_ENTER' | translate}}" placeholder="{{'ADD_PORTFOLIO_PRESS_ENTER' | translate}}">
        </md-chips>
      </md-input-container>

    </md-content>
    
    <md-dialog-actions>
      <span flex></span>
      <md-button aria-label="Tühista kogumiku lisamine" id="add-portfolio-cancel-button" data-ng-disabled="isSaving" data-ng-click="cancel()">
        <span data-translate="BUTTON_CANCEL"></span>
      </md-button>
      <md-button aria-label="Loo kogumik" data-ng-if="!isEditPortfolio" id="add-portfolio-create-button" data-ng-disabled="!newPortfolio.title" data-ng-click="create()" data-ng-hide="isSaving" class="md-primary">
        <md-icon>arrow_forward</md-icon>
        <span data-translate="BUTTON_CREATE_PORTFOLIO"></span>
      </md-button>
      <md-button aria-label="Muuda kogumikku" data-ng-if="isEditPortfolio" id="add-portfolio-create-button" data-ng-disabled="!newPortfolio.title" data-ng-click="update()" data-ng-hide="isSaving" class="md-primary">
        <md-icon>arrow_forward</md-icon>
        <span data-translate="BUTTON_EDIT_PORTFOLIO"></span>
      </md-button>
      <md-progress-circular class="md-accent ng-hide" md-mode="indeterminate" md-diameter="40" data-ng-show="isSaving"></md-progress-circular>
    </md-dialog-actions>
  </form>
</md-dialog>
