<md-dialog aria-label="Metadata" flex-gt-md="75">
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools" flex>
      <h2 data-translate="PORTFOLIO_METADATA_TOOLBAR_LABEL"></h2>
      <span flex></span>
      <md-button ng-click="cancel()" class="md-icon-button" aria-label="close">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <form>
    <md-content class="md-padding">
      <md-input-container flex>
        <label>Pealkiri</label>
        <input data-ng-model="portfolio.title" id="add-portfolio-title-input" placeholder="Näiteks: Bioloogia töövihik">
      </md-input-container>

      <md-input-container flex>
        <label>Kirjeldus (valikuline)</label>
        <textarea id="add-portfolio-description-input" data-ng-model="portfolio.summary" columns="1" md-maxlength="150"></textarea>
      </md-input-container>

      <div data-dop-taxon-selector data-taxon="portfolio.taxon" data-layout="row" data-layout-sm="column"></div>

      <div data-dop-target-group-selector data-target-groups="portfolio.targetGroups"></div>

      <md-input-container flex>
        <md-chips data-ng-model="portfolio.tags" delete-button-label="Eemalda märksõna" delete-hint="Vajuta x märksõna kustutamiseks" secondary-placeholder="Lisa märksõna (valikuline)">
            <md-chip-template>{{$chip.name}}</md-chip-template>
        </md-chips>
      </md-input-container>
    </md-content>
    <div class="md-actions">
      <span flex></span>
      <md-button id="add-portfolio-cancel-button" data-ng-click="cancel()">
        <span data-translate="BUTTON_CANCEL"></span>
      </md-button>
      <md-button ng-if="!isEditPortfolio" id="add-portfolio-create-button" ng-click="create()" class="md-primary">
        <ng-md-icon icon="arrow_forward"></ng-md-icon>
        <span data-translate="BUTTON_CREATE_PORTFOLIO"></span>
      </md-button>
      <md-button ng-if="isEditPortfolio" id="add-portfolio-create-button" ng-click="update()" class="md-primary">
        <ng-md-icon icon="arrow_forward"></ng-md-icon>
        <span data-translate="BUTTON_EDIT_PORTFOLIO"></span>
      </md-button>
    </div>
  </form>
</md-dialog>
