<md-dialog aria-label="Metadata" flex-gt-md="75">
  <md-toolbar class="md-accent">
    <div class="md-toolbar-tools" flex>
      <h2 data-translate="PORTFOLIO_METADATA_TOOLBAR_LABEL"></h2>
      <span flex></span>
      <md-button ng-click="cancel()" class="md-icon-button" aria-label="close">
        <ng-md-icon icon="close"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <form>
    <md-content class="md-padding">
      <div layout="row" layout-align="center center">
        <div flex="10" class="md-padding">
          <div data-ngf-drop ngf-select ng-model="material.picture" class="drop-box"
            data-ngf-drag-over-class="'dragover'"
            data-ngf-multiple="false"
            data-accept="image/*"
            data-ngf-pattern="'image/*'"
            layout="row"
            layout-align="center center" flex>
            <span flex>
              <md-icon>add_a_photo</md-icon>
            </span>
          </div>
          <md-tooltip><span data-translate="PORTFOLIO_PHOTO_UPLOAD_HELP"></span></md-tooltip>
        </div>
        <md-input-container flex="90">
          <label>Pealkiri</label>
          <input data-ng-model="portfolio.title" id="add-portfolio-title-input">
        </md-input-container>
      </div>

      <!-- image preview -->
      <md-input-container class="md-block">
        <div data-ng-if="material.picture" class="drop-box-preview">
          <h3 class="md-subhead" data-translate="MATERIAL_PHOTO_PREVIEW"></h3>
          <img data-ngf-thumbnail="material.picture" ngf-size="{width: 300, height: 300, quality: 0.9}" alt="photo">
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Kirjeldus</label>
        <textarea id="add-portfolio-description-input" data-ng-model="portfolio.summary" columns="1" md-maxlength="150"></textarea>
      </md-input-container>

      <div data-dop-taxon-selector data-taxon="portfolio.taxon" data-layout="row" data-layout-sm="column" flex></div>

      <div data-dop-target-group-selector data-target-groups="portfolio.targetGroups"></div>

      <md-input-container class="md-block">
        <label>&nbsp;</label>
        <md-chips data-ng-model="portfolio.tags" delete-button-label="Eemalda märksõna" delete-hint="Kustutamiseks vajuta x" secondary-placeholder="Märksõnad">
        </md-chips>
        <div class="hint" ng-if="showHints">Lisamiseks vajuta Enter</div>
      </md-input-container>

    </md-content>
    <div class="md-actions">
      <span flex></span>
      <md-button id="add-portfolio-cancel-button" data-ng-click="cancel()">
        <span data-translate="BUTTON_CANCEL"></span>
      </md-button>
      <md-button ng-if="!isEditPortfolio" id="add-portfolio-create-button" ng-click="create()" class="md-primary">
        <ng-md-icon icon="arrow_forward"></ng-md-icon>
        <span data-translate="BUTTON_CREATE_PORTFOLIO"></span>
      </md-button>
      <md-button ng-if="isEditPortfolio" id="add-portfolio-create-button" ng-click="update()" class="md-primary">
        <ng-md-icon icon="arrow_forward"></ng-md-icon>
        <span data-translate="BUTTON_EDIT_PORTFOLIO"></span>
      </md-button>
    </div>
  </form>
</md-dialog>
