<md-card class="portfolio-chapter card-lg" data-ng-class="$ctrl.getChapterClassNames()" id="{{slug}}">
  <!--View-->
  <md-card-content data-ng-if="!$ctrl.isEditMode">
    <h2 class="chapter-title" data-ng-bind="chapterTitle"></h2>
    <div class="chapter-blocks">
      <div
        class="chapter-block"
        data-ng-repeat="block in chapter.blocks track by $index"
        data-ng-class="$ctrl.getBlockClassNames($index)"
        data-ng-bind-html="block.htmlContent"
      ></div>
    </div>
  </md-card-content>
  <!--Edit-->
  <div
    data-ng-if="$ctrl.isEditMode"
    class="chapter-toolbar"
    data-ng-class="stickyClassNames"
    data-ng-click="$ctrl.onClickEmptyChapterArea($event)"
    tabindex="-1"
    >
    <div class="sticky" data-ng-class="stickyClassNames">
      <div>
        <h5>Lisa sisu</h5>
        <!--<div
          class="chapter-btn chapter-btn--media"
          data-ng-click="$ctrl.addMedia()"
          tabIndex="{{focusedBlockIdx ? 0 : -1}}"
          >
          <md-button class="md-icon-button" aria-label="Lisa meedia" tabIndex="-1">
            <md-icon class="material-icons">image</md-icon>
          </md-button>
          <label>Meedia</label>
        </div>
        <div
          class="chapter-btn chapter-btn--preferred-material"
          data-ng-click="$ctrl.addRecommendedMaterial()"
          tabIndex="{{focusedBlockIdx ? 0 : -1}}"
          >
          <md-button class="md-icon-button" aria-label="Lisa eelistatud materjal" tabIndex="-1">
            <md-icon class="material-icons">star</md-icon>
          </md-button>
          <label>Eelistatud materjal</label>
        </div>-->
        <div
          class="chapter-btn chapter-btn--existing-material"
          data-ng-mousedown="$ctrl.beforeAddExistingMaterial()"
          data-ng-click="$ctrl.addExistingMaterial()"
          tabIndex="{{focusedBlockIdx ? 0 : -1}}"
          style="width:50%;"
          >
          <md-button class="md-icon-button" aria-label="Lisa olemasolev materjal" tabIndex="-1" style="display:block;margin:0 auto;">
            <md-icon class="material-icons">description</md-icon>
          </md-button>
          <label>Olemasolev materjal</label>
        </div>
        <div
          class="chapter-btn chapter-btn--new-material"
          data-ng-click="$ctrl.addNewMaterial()"
          tabIndex="{{focusedBlockIdx ? 0 : -1}}"
          style="width:50%;"
          >
          <md-button class="md-icon-button" aria-label="Lisa uus materjal" tabIndex="-1" style="display:block;margin:0 auto;">
            <md-icon class="material-icons">
              <svg viewBox="0 0 28 24">
                <path d="M22,2h-8c-1.1,0-2,0.9-2,2l0,16c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2V8L22,2z M24,18h-8v-2h8V18z M24,14h-8v-2h8V14z M21,9 V3.5L26.5,9H21z"/>
                <path d="M10,13H6v4H4v-4H0v-2h4V7h2v4h4V13z"/>
              </svg>
            </md-icon>
          </md-button>
          <label>Uus materjal</label>
        </div>
      </div>
      <div>
        <h5>Küljenda</h5>
        <div
          class="chapter-btn chapter-btn--toggle-block-width"
          data-ng-click="$ctrl.toggleBlockWidth()"
          data-ng-mousedown="$ctrl.beforeToggleBlockWidth(true)"
          tabIndex="{{focusedBlockIdx ? 0 : -1}}"
          >
          <md-button class="md-icon-button" aria-label="Muuda ploki laiust" tabIndex="-1">
            <md-icon class="material-icons">
              <svg viewBox="0 0 24 24">
                <path d="M4,18h8V5H4V18z M21,18V5h-8v13H21z"/>
              </svg>
            </md-icon>
          </md-button>
          <label>Muuda laiust</label>
        </div>
        <div
          class="chapter-btn chapter-btn--move-block-back"
          data-ng-click="$ctrl.moveBlock(true)"
          data-ng-mousedown="$ctrl.beforeMoveBlock(true)"
          data-ng-disabled="focusedBlockIdx === 0"
          tabIndex="{{focusedBlockIdx ? 0 : -1}}"
          >
          <md-button class="md-icon-button" aria-label="Liiguta plokki tagasi" tabIndex="-1">
            <md-icon class="material-icons">arrow_back</md-icon>
          </md-button>
          <label>Liiguta tagasi</label>
        </div>
        <div
          class="chapter-btn chapter-btn--move-block-forward"
          data-ng-click="$ctrl.moveBlock()"
          data-ng-mousedown="$ctrl.beforeMoveBlock()"
          data-ng-disabled="focusedBlockIdx === chapter.blocks.length - 1"
          tabIndex="{{focusedBlockIdx ? 0 : -1}}"
          >
          <md-button class="md-icon-button" aria-label="Liiguta plokki edasi" tabIndex="-1">
            <md-icon class="material-icons">arrow_forward</md-icon>
          </md-button>
          <label>Liiguta edasi</label>
        </div>
        <div
          class="chapter-btn chapter-btn--delete-block"
          data-ng-click="$ctrl.deleteBlock()"
          data-ng-disabled="chapter.blocks.length < 2"
          tabIndex="{{focusedBlockIdx ? 0 : -1}}"
          >
          <md-button class="md-icon-button" aria-label="Kustuta plokk" tabIndex="-1">
            <md-icon class="material-icons">delete</md-icon>
          </md-button>
          <label>Kustuta</label>
        </div>
      </div>
      <div class="chapter-toolbar-column">
        <h5 class="chapter-btn-large--title-mobile">Lisa sisuplokk</h5>
        <div class="chapter-btn-large" data-ng-click="$ctrl.addBlock()" tabIndex="{{focusedBlockIdx ? 0 : -1}}">
          <md-button class="md-icon-button organize-chapter-btn" aria-label="Lisa sisuplokk" tabindex="-1">
            <md-icon class="material-icons">add</md-icon>
          </md-button>
          <label>Lisa sisuplokk</label>
        </div>
      </div>
    </div>
  </div>
  <div class="chapter-toolbar-helper"></div>
  <md-card-content
    data-ng-if="$ctrl.isEditMode"
    data-ng-click="$ctrl.onClickEmptyChapterArea($event)"
    tabindex="-1"
    >
    <md-button
      class="md-icon-button chapter-pencil-button"
      data-ng-if="$ctrl.isEditMode"
      data-ng-click="$ctrl.focusTitle(true)"
      tabindex="-1"
      >
      <md-icon class="material-icons">edit</md-icon>
    </md-button>
    <md-input-container
      class="md-block chapter-title"
      data-ng-click="$ctrl.focusTitle(true)"
      tabindex="-1"
      >
      <label></label>
      <input
        class="md-headline"
        placeholder="{{'PORTFOLIO_ENTER_CHAPTER_TITLE' | translate}}"
        data-ng-model="chapter.title"
        data-ng-focus="$ctrl.focusTitle()"
        data-ng-blur="$ctrl.blurTitle()"
      >
    </md-input-container>
    <div class="chapter-blocks">
      <div
        class="chapter-block"
        data-ng-repeat="block in chapter.blocks track by $index"
        data-ng-class="$ctrl.getBlockClassNames($index)"
        data-placeholder="{{$ctrl.getBlockPlaceholder($index)}}"
      ></div>
    </div>
  </md-card-content>
  <div
    data-ng-if="$ctrl.isEditMode"
    class="organize-chapters"
    data-ng-hide="$ctrl.numChapters < 2"
    >
    <div>
      <md-button class="organize-chapter-btn md-icon-button" data-ng-click="$ctrl.onMoveUp()" data-ng-style="{visibility: $ctrl.index !== 0 ? 'visible' : 'hidden'}">
        <md-icon>arrow_upward</md-icon>
      </md-button>
      <md-button class="organize-chapter-btn md-icon-button" data-ng-click="$ctrl.onMoveDown()" data-ng-if="$ctrl.index !== $ctrl.numChapters - 1">
        <md-icon>arrow_downward</md-icon>
      </md-button>
      <md-button class="organize-chapter-btn md-icon-button" data-ng-click="$ctrl.onDelete()">
        <md-icon>delete</md-icon>
      </md-button>
    </div>
  </div>
</md-card>
