<md-card class="portfolio-chapter card-lg" id="{{slug}}" data-ng-class="{focused: isFocused}">
  <!--View-->
  <md-card-content data-ng-if="!$ctrl.isEditMode" data-layout="row">
    <div flex>
      <div data-layout="row">
        <h2 data-ng-class="{'chapter-title': chapter.text.length == undefined || chapter.text.length == 0}">
          <span data-ng-if="chapter.title" data-ng-bind="chapter.title"></span>
          <span data-ng-if="!chapter.title" data-translate="PORTFOLIO_CHAPTER_TITLE_MISSING"></span>
        </h2>
      </div>
      <div
        class="md-body-1 textangular-view"
        data-ng-class="{hide: chapter.text.length == undefined || chapter.text.length == 0}"
        data-ng-bind-html="chapter.text"
      ></div>
    </div>
  </md-card-content>
  <!--Edit-->
  <md-card-content data-ng-if="$ctrl.isEditMode" data-ng-click="$ctrl.focusChapter($event)">
    <md-input-container
      class="md-block chapter-title"
      data-ng-click="$ctrl.focusTitle(true)"
      >
      <label></label>
      <input
        class="md-headline"
        placeholder="{{'PORTFOLIO_ENTER_CHAPTER_TITLE' | translate}}"
        data-ng-model="chapter.title"
        data-ng-focus="$ctrl.focusTitle()"
      >
    </md-input-container>
    <div class="chapter-blocks">
      <div
        class="chapter-block"
        data-ng-repeat="block in chapter.blocks track by $index"
        data-ng-class="$ctrl.getBlockClassNames($index)"
        data-ng-click="$ctrl.onClickBlock($index, $event)"
        data-placeholder="{{$ctrl.getBlockPlaceholder($index)}}"
      ></div>
    </div>
  </md-card-content>
  <div
    data-ng-if="$ctrl.isEditMode"
    class="chapter-toolbar"
    data-ng-class="{'is-closed': !isFocused}"
    data-ng-click="$ctrl.onClickEmptyToolbarArea($event)"
    >
    <div class="sticky" data-ng-class="stickyClassNames" data-ng-style="stickyStyle">
      <div>
        <h5>Lisa sisu</h5>
        <!--<div class="chapter-btn" data-ng-click="$ctrl.addMedia()">
          <md-button class="md-icon-button" aria-label="Lisa meedia">
            <md-icon class="material-icons">image</md-icon>
          </md-button>
          <label>Meedia</label>
        </div>
        <div class="chapter-btn" data-ng-click="$ctrl.addRecommendedMaterial()">
          <md-button class="md-icon-button" aria-label="Lisa eelistatud materjal">
            <md-icon class="material-icons">star</md-icon>
          </md-button>
          <label>Eelistatud materjal</label>
        </div>-->
        <div class="chapter-btn" data-ng-click="$ctrl.addExistingMaterial()" style="width:50%;">
          <md-button class="md-icon-button" aria-label="Lisa olemasolev materjal" style="display:block;margin:0 auto;">
            <md-icon class="material-icons">description</md-icon>
          </md-button>
          <label>Olemasolev materjal</label>
        </div>
        <div class="chapter-btn" data-ng-click="$ctrl.addNewMaterial()" style="width:50%;">
          <md-button class="md-icon-button" aria-label="Lisa uus materjal" style="display:block;margin:0 auto;">
            <md-icon class="material-icons">description</md-icon>
          </md-button>
          <label>Uus materjal</label>
        </div>
      </div>
      <div>
        <h5>Küljenda</h5>
        <div
          class="chapter-btn"
          data-ng-click="$ctrl.toggleBlockWidth()"
          data-ng-mousedown="$ctrl.beforeToggleBlockWidth(true)"
          >
          <md-button class="md-icon-button" aria-label="Muuda ploki laiust">
            <md-icon class="material-icons">view_column</md-icon>
          </md-button>
          <label>Muuda laiust</label>
        </div>
        <div
          class="chapter-btn"
          data-ng-click="$ctrl.moveBlock(true)"
          data-ng-mousedown="$ctrl.beforeMoveBlock(true)"
          data-ng-disabled="focusedBlockIdx === 0"
          >
          <md-button class="md-icon-button" aria-label="Liiguta plokki tagasi">
            <md-icon class="material-icons">arrow_back</md-icon>
          </md-button>
          <label>Liiguta tagasi</label>
        </div>
        <div
          class="chapter-btn"
          data-ng-click="$ctrl.moveBlock()"
          data-ng-mousedown="$ctrl.beforeMoveBlock()"
          data-ng-disabled="focusedBlockIdx === chapter.blocks.length - 1"
          >
          <md-button class="md-icon-button" aria-label="Liiguta plokki edasi">
            <md-icon class="material-icons">arrow_forward</md-icon>
          </md-button>
          <label>Liiguta edasi</label>
        </div>
        <div class="chapter-btn" data-ng-click="$ctrl.deleteBlock()" data-ng-disabled="chapter.blocks.length < 2">
          <md-button class="md-icon-button" aria-label="Kustuta plokk">
            <md-icon class="material-icons">delete</md-icon>
          </md-button>
          <label>Kustuta</label>
        </div>
      </div>
      <div>
        <div class="chapter-btn-large" data-ng-click="$ctrl.addBlock()">
          <md-button class="md-icon-button" aria-label="Lisa sisuplokk">
            <md-icon class="material-icons">add</md-icon>
          </md-button>
          <label>Lisa sisuplokk</label>
        </div>
      </div>
    </div>
  </div>
  <div
    data-ng-if="$ctrl.isEditMode"
    class="organize-chapters"
    data-ng-hide="$ctrl.numChapters < 2"
    >
    <md-button class="organize-chapter-btn md-icon-button" data-ng-click="$ctrl.onMoveUp()" data-ng-disabled="$ctrl.index === 0">
      <md-icon>arrow_upward</md-icon>
    </md-button>
    <md-button class="organize-chapter-btn md-icon-button" data-ng-click="$ctrl.onMoveDown()" data-ng-disabled="$ctrl.index === $ctrl.numChapters - 1">
      <md-icon>arrow_downward</md-icon>
    </md-button>
    <md-button class="organize-chapter-btn md-icon-button" data-ng-click="$ctrl.onDelete()">
      <md-icon>delete</md-icon>
    </md-button>
  </div>
</md-card>
