<md-card class="card-sm" id="portfolio-card-{{portfolio.id}}"
         data-ng-click="navigateTo(portfolio, $event)">
         <!-- Hidden because waiting for correct design-->
         <div class="card__icon-holder" data-ng-if="isAuthenticated()" hide>
           <md-icon data-ng-if="portfolio.visibility === 'PRIVATE'">lock</md-icon>
           <md-icon data-ng-if="portfolio.visibility === 'NOT_LISTED'">link</md-icon>
           <md-tooltip md-direction="bottom">
             <span data-ng-if="portfolio.visibility === 'PRIVATE'" data-translate="PORTFOLIO_VISIBILITY_PRIVATE"></span>
             <span data-ng-if="portfolio.visibility === 'NOT_LISTED'" data-translate="PORTFOLIO_VISIBILITY_NOT_LISTED"></span>
         	</md-tooltip>
         </div>
         <div data-ng-if="isAuthenticated()" data-dop-favorite data-learning-object="portfolio"></div>
  <div class="corner"></div>
  <!-- noimage -->
  <a data-ng-href="{{'/portfolio?id=' + portfolio.id}}" data-ng-if="!portfolio.picture" class="card-cover portfolio">
     <div class="pattern">
       <div class="sheet up-left"></div>
       <div class="sheet low-right"></div>
       <div class="sheet low-left"></div>
     </div>
    <md-icon class="icon-kind">book</md-icon>

    <div class="card-hover portfolio">
        <div data-ng-if="isAuthenticated()" data-dop-favorite data-learning-object="portfolio"></div>
      <md-icon class="icon-kind">book</md-icon>
    </div>
  </a>
  <!-- image -->
  <a data-ng-href="{{'/portfolio?id=' + portfolio.id}}" data-ng-if="portfolio.picture" class="card-cover imaged">
    <img data-ng-src="rest/picture/thumbnail/sm_xs_xl/{{portfolio.picture.name}}"
      sizes="(max-width: 600px) 300px,
             (min-width: 1920px) 300px,
             200px"
      data-ng-srcset="rest/picture/thumbnail/sm_xs_xl/{{portfolio.picture.name}} 300w,
                      rest/picture/thumbnail/sm/{{portfolio.picture.name}} 200w"
      class="md-card-image"/>
    <div class="card-hover portfolio">
      <div data-ng-if="isAuthenticated()" data-dop-favorite data-learning-object="portfolio"></div>
      <md-icon class="icon-kind">book</md-icon>
    </div>
  </a>

  <!-- content -->

  <md-card-content layout="column" class="minContentHeight">
    <a data-ng-href="{{'/portfolio?id=' + portfolio.id}}" class="no-link">
      <h4 class="md-headline two-rows" data-ng-bind="portfolio.title"></h4>
      <div layout="row" layout-xs="column">
      <p class="md-caption" flex>
        <span class="authors">
          <span data-ng-bind="formatName(portfolio.creator.name)"></span>
          <span data-ng-bind="formatSurname(portfolio.creator.surname)"></span>
          <span data-ng-if="portfolio.added">{{ formatDate(portfolio.added) }}</span>
        </span>
      </p>

      <p class="md-caption" layout="column" flex>
        <span class="one-row">II-III kooliaste</span>
        <span class="flex"></span>
        <span class="one-row">Ühiskonnaõpetus</span>
      </p>
    </div>
    </a>
  </md-card-content>

  <md-divider></md-divider>

  <md-card-actions class="md-caption" layout="row" layout-align="start center" >
    <md-icon>thumb_up</md-icon>
    <span>{{ portfolio.likes }}</span>
    <md-icon>thumb_down</md-icon>
    <span>{{ portfolio.dislikes }}</span>
    <span flex></span>
    <md-icon>comment</md-icon>
    <span data-ng-bind="portfolio.comments.length"></span>
    <span flex></span>
    <md-icon>visibility</md-icon>
    <span data-ng-bind="portfolio.views"></span>
  </md-card-actions>
</md-card>
