<div id="mainChapter">
    <!-- Text part -->
    <div class="row">
        <div class="col-md-12">
            <article class="chapters">
                <section class="chapter">
                    <!-- Chapter title -->
                    <div class="heading">
                        <h2>{{chapter.title}}</h2>
                    </div>
                    <!-- Chapter Text -->
                    <article>
                        <p>{{chapter.text}}</p>
                    </article>
                </section>
            </article>
        </div>
    </div>
    
    <!-- Chapter Materials -->
    <div class="row row-material">
        <div data-ng-repeat="material in materials" class="col-md-3 col-sm-4 col-xs-12 col-ms-6 material">
    
        </div>
    </div>

    <!-- Sub Chapters -->
    <div data-ng-if="chapter.subchapter" id ="sub-chapter">    
        <div class="row">
            <div class="col-md-12">
                <article class="chapters">
                    <section class="chapter">
                        <!-- Sub-Chapter title -->
                        <div class="heading-sub">
                            <h3>{{chapter.subchapter.title}}</h3>
                        </div>
                        <!-- Sub-Chapter Text -->
                    </section>
                </article>
            </div>
        </div>
        
        <!-- Sub-Chapter Materials -->
    </div>
</div>
