<div class="portfolio-chapter">
  <md-card>
    <md-card-content>
      <h2>{{chapter.title}}</h2>
      <p>{{chapter.text}}</p>
    </md-card-content>
  </md-card>

  <div class="portfolio-chapter-subchapter-materials" ng-show="chapter.materials.length">
    <h3 class="md-subhead">Kaasatud materialid</h3>
    <md-grid-list md-cols-gt-md="4" md-cols-md="3" md-cols-sm="2" md-gutter="20px" md-row-height="300px">
      <md-grid-tile data-ng-repeat="material in chapter.materials">
        <figure data-dop-material-box material="material"></figure>
      </md-grid-tile>
    </md-grid-list>
  </div>

  <ul class="portfolio-chapter-subchapters">
    <li class="portfolio-chapter-subchapter" id="chapter-{{index}}-{{$index}}" data-ng-repeat="subchapter in chapter.subchapters">
      <md-card>
        <md-card-content>
          <h3>{{subchapter.title}}</h3>
          <p>{{subchapter.text}}</p>
        </md-card-content>
      </md-card>

      <div class="portfolio-chapter-subchapter-materials" ng-show="subchapter.materials.length">
        <h3 class="md-subhead">Kaasatud materialid</h3>
        <md-grid-list md-cols-gt-md="4" md-cols-md="3" md-cols-sm="2" md-gutter="20px" md-row-height="300px">
          <md-grid-tile data-ng-repeat="material in subchapter.materials">
            <figure data-dop-material-box material="material"></figure>
          </md-grid-tile>
        </md-grid-list>
      </div>
    </li>
  </ul>
</div>
