<div class="card-image" layout="column">
  <div class="card__icon-holder" data-ng-if="$ctrl.showPrivacy && $ctrl.authenticatedUserService.isAuthenticated()">
    <md-icon data-ng-if="learningObject.visibility === 'PRIVATE'">visibility_off</md-icon>
    <md-icon data-ng-if="learningObject.visibility === 'NOT_LISTED'">link</md-icon>
    <md-tooltip md-direction="bottom">
      <span data-ng-if="learningObject.visibility === 'PRIVATE'"
            data-translate="PORTFOLIO_VISIBILITY_PRIVATE"></span>
      <span data-ng-if="learningObject.visibility === 'NOT_LISTED'"
            data-translate="PORTFOLIO_VISIBILITY_NOT_LISTED"></span>
    </md-tooltip>
  </div>

  <div class="ribbon" data-ng-if="$ctrl.isPortfolio(learningObject)"></div>

  <div data-ng-class="coverClass" data-flex-order="-1" data-flex-order-xs="1">

    <div data-ng-if="!learningObject.picture" class="pattern">
      <div class="sheet up-left"></div>
      <div class="sheet low-right"></div>
      <div class="sheet low-left"></div>
    </div>

    <md-icon data-ng-if="!learningObject.picture && $ctrl.isPortfolio(learningObject)"
             class="icon-kind">book
    </md-icon>
    <md-icon data-ng-if="!learningObject.picture && $ctrl.isMaterial(learningObject)"
             class="icon-kind">{{materialType}}
    </md-icon>

    <img data-ng-if="learningObject.picture"
      data-ng-src="rest/picture/thumbnail/lg/{{learningObject.picture.name}}"
      sizes="(max-width: 600) 600px, 300px"
      data-ng-srcset="rest/picture/thumbnail/lg/{{learningObject.picture.name}} 300w,
                      rest/picture/thumbnail/lg_xs/{{learningObject.picture.name}} 600w"
         class="md-card-image"/>

    <div class="card-hover {{learningObjectType}} {{materialType}}">
      <dop-pick-material data-learning-object="learningObject" data-disable="disablePick"></dop-pick-material>
      <md-icon data-ng-if="$ctrl.isPortfolio(learningObject)" class="icon-kind">book</md-icon>
      <md-icon data-ng-if="$ctrl.isMaterial(learningObject)" class="icon-kind">{{materialType}}
      </md-icon>
    </div>
  </div>
</div>
