<div class="card-image" layout="column">
  <div class="card__icon-holder" data-ng-if="$ctrl.isAuthenticated">
    <md-icon data-ng-if="$ctrl.learningObject.visibility === 'PRIVATE'">lock</md-icon>
    <md-icon data-ng-if="$ctrl.learningObject.visibility === 'NOT_LISTED'">link</md-icon>
    <md-tooltip md-direction="bottom">
      <span data-ng-if="$ctrl.learningObject.visibility === 'PRIVATE'"
            data-translate="PORTFOLIO_VISIBILITY_PRIVATE"></span>
      <span data-ng-if="$ctrl.learningObject.visibility === 'NOT_LISTED'"
            data-translate="learningObject_VISIBILITY_NOT_LISTED"></span>
    </md-tooltip>
  </div>

  <div class="ribbon" data-ng-if="$ctrl.isPortfolio($ctrl.learningObject)"></div>

  <a data-ng-href="{{'/' + $ctrl.learningObjectType + '?id=' + $ctrl.learningObject.id}}"
     class="card-cover"
     data-ng-class="{'{{$ctrl.learningObjectType}} {{$ctrl.materialType}}': !$ctrl.learningObject.picture, 'imaged': $ctrl.learningObject.picture}"
     data-flex-order="-1" data-flex-order-xs="1">

    <div data-ng-if="!$ctrl.learningObject.picture" class="pattern">
      <div class="sheet up-left"></div>
      <div class="sheet low-right"></div>
      <div class="sheet low-left"></div>
    </div>

    <md-icon data-ng-if="!$ctrl.learningObject.picture && $ctrl.isPortfolio($ctrl.learningObject)"
             class="icon-kind">book
    </md-icon>
    <md-icon data-ng-if="!$ctrl.learningObject.picture && $ctrl.isMaterial($ctrl.learningObject)"
             class="icon-kind">{{$ctrl.materialType}}
    </md-icon>

    <img data-ng-if="$ctrl.learningObject.picture"
         data-ng-src="rest/picture/thumbnail/sm_xs_xl/{{$ctrl.learningObject.picture.name}}"
         sizes="(max-width: 600px) 300px, (min-width: 1920px) 300px, 200px"
         data-ng-srcset="rest/picture/thumbnail/sm_xs_xl/{{$ctrl.learningObject.picture.name}} 300w,
                         rest/picture/thumbnail/sm/{{$ctrl.learningObject.picture.name}} 200w"
         class="md-card-image"/>

    <div class="card-hover {{$ctrl.learningObjectType}} {{$ctrl.materialType}}">
      <dop-pick-material data-learning-object="$ctrl.learningObject" data-disable="$ctrl.disablePick"></dop-pick-material>
      <md-icon data-ng-if="$ctrl.isPortfolio($ctrl.learningObject)" class="icon-kind">book</md-icon>
      <md-icon data-ng-if="$ctrl.isMaterial($ctrl.learningObject)" class="icon-kind">{{$ctrl.materialType}}
      </md-icon>
    </div>
  </a>
</div>
