<div layout="row" layout-sm="column">
  <div flex>
    <md-input-container flex>
      <label data-translate="DETAILED_SEARCH_MAIN"></label>
      <input data-ng-model="detailedSearch.main" />
    </md-input-container>
    <md-input-container flex>
      <label data-translate="DETAILED_SEARCH_TITLE"></label>
      <input data-ng-model="detailedSearch.title" />
    </md-input-container>
    <md-input-container flex>
      <label data-translate="DETAILED_SEARCH_AUTHOR"></label>
      <input data-ng-model="detailedSearch.author" />
    </md-input-container>
    <md-input-container flex>
      <label data-translate="DETAILED_SEARCH_DESCRIPTION"></label>
      <input data-ng-model="detailedSearch.combinedDescription"/>
    </md-input-container>
    <md-input-container flex>
      <label>Keel</label>
      <md-select data-ng-model="detailedSearch.language">
        <md-option data-ng-repeat="language in languages" value="{{language.code}}">
          <span data-translate="{{getLanguageTranslationKey(language.name)}}" data-translate-default="{{language.name}}" />
        </md-option>
      </md-select>
    </md-input-container>
    <md-slider flex md-discrete ng-model="detailedSearch.issueDate" step="1" min="{{issueDateFirstYear}}" max="{{issueDateLastYear}}" aria-label="{{DETAILED_SEARCH_ISSUE_DATE_FROM | translate}}">
    </md-slider>
    <span data-ng-if="getEffectiveIssueDate()">
      <span data-translate="DETAILED_SEARCH_ISSUE_DATE_FROM" />{{getEffectiveIssueDate()}}<span data-translate="DETAILED_SEARCH_ISSUE_DATE_OR_LATER" />
    </span>
  </div>

  <div data-flex>
    <div data-dop-taxon-selector data-taxon="detailedSearch.taxon"></div>
  </div>

  <div flex>
    <div data-dop-target-group-selector data-target-groups="detailedSearch.targetGroups"></div>

    <md-input-container flex>
      <label data-translate="DETAILED_SEARCH_CROSS_CURRICULAR_THEME"></label>
      <md-select data-ng-model="detailedSearch.crossCurricularTheme">
        <md-option data-ng-repeat="crossCurricularTheme in crossCurricularThemes" value="{{crossCurricularTheme.id}}">
          <span data-translate="CROSS_CURRICULAR_THEME_{{crossCurricularTheme.name.toUpperCase()}}"></span>
        </md-option>
      </md-select>
    </md-input-container>

    <div layout="column" layout-align="end start" layout-fill>
      <md-checkbox data-ng-if="detailedSearch.educationalContext.id === 2" data-ng-model="detailedSearch.CLIL" aria-label="{{'DETAILED_SEARCH_CLIL' | translate}}" class="md-primary" flex>
        <span data-translate="DETAILED_SEARCH_CLIL"></span>
      </md-checkbox>
      <md-checkbox data-ng-if="detailedSearch.educationalContext.id === 2" data-ng-model="detailedSearch.specialEducation" aria-label="{{'DETAILED_SEARCH_SPECIAL_EDUCATION' | translate}}" class="md-primary" flex>
        <span data-translate="DETAILED_SEARCH_SPECIAL_EDUCATION"></span>
      </md-checkbox>
      <md-checkbox data-ng-if="detailedSearch.educationalContext.id >= 2 && detailedSearch.educationalContext.id <= 4" data-ng-model="detailedSearch.onlyBooks" aria-label="{{'DETAILED_SEARCH_ONLY_BOOKS' | translate}}" class="md-primary" flex>
        <span data-translate="DETAILED_SEARCH_ONLY_BOOKS"></span>
      </md-checkbox>
      <md-checkbox data-ng-model="detailedSearch.paid" class="md-primary" flex>
        <span data-translate="DETAILED_SEARCH_INCLUDE_PAID"></span>
      </md-checkbox>
      <md-radio-group data-ng-model="detailedSearch.type">
        <md-radio-button value="material" class="md-primary">
          <span data-translate="DETAILED_SEARCH_MATERIALS"></span>
        </md-radio-button>
        <md-radio-button value="portfolio" class="md-primary">
          <span data-translate="DETAILED_SEARCH_PORTFOLIOS"></span>
        </md-radio-button>
        <md-radio-button value="all" class="md-primary">
          <span data-translate="DETAILED_SEARCH_ALL"></span>
        </md-radio-button>
      </md-radio-group>
    </div>
  </div>
</div>

<div class="md-actions" layout="row" layout-sm="column" layout-align="end start" layout-padding>
  <md-button>Tühista valikud</md-button>
  <md-button type="submit" class="md-primary md-button" data-ng-click="search()" data-translate="DETAILED_SEARCH_SUBMIT"></md-button>
</div>
