<form>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="form-horizontal">
                    <section>
                        <div class="form-group">
                            <label for="detailedSearchTitleField" class="col-md-4 control-label" data-translate=DETAILED_SEARCH_TITLE"></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="detailedSearchTitleField">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="detailedSearchDescriptionField" class="col-md-4 control-label" data-translate=DETAILED_SEARCH_DESCRIPTION"></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="detailedSearchDescriptionField">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="detailedSearchAuthorField" class="col-md-4 control-label" data-translate=DETAILED_SEARCH_AUTHOR"></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="detailedSearchAuthorField">
                            </div>
                        </div>
                        <div class="col-md-offset-4">
                            <div class="checkbox checkbox-primary">
                                <input type="checkbox" id="detailedSearchMaterialsField" value="">
                                <label for="detailedSearchMaterialsField">
                                    Materials
                                </label>
                            </div>
                            <div class="checkbox checkbox-primary">
                                <input type="checkbox" id="detailedSearchPortfoliosField" value="">
                                <label for="detailedSearchPortfoliosField">
                                    Portfolios
                                </label>
                            </div>
                            
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-md-2">
                <section>
                    <div class="radio">
                        <input type="radio" name="detailedSearchEducat" id="detailedSearchEducat1" value="option1">
                        <label for="detailedSearchEducat1">
                            Alusharidus
                        </label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="detailedSearchEducat" id="detailedSearchEducat2" value="option2">
                        <label for="detailedSearchEducat2">
                            Põhiharidus
                        </label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="detailedSearchEducat" id="detailedSearchEducat3" value="option3">
                        <label for="detailedSearchEducat3">
                            Keskharidus
                        </label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="detailedSearchEducat" id="detailedSearchEducat4" value="option4">
                        <label for="detailedSearchEducat4">
                            Kutseharidus
                        </label>
                    </div>
                </section>
            </div>
            <div class="col-md-5">
                <section>
                    <div class="form-group">
                        <label for="filter-license-type">Valdkond</label>
                        <ui-select data-ng-model="filters.licenseType" theme="bootstrap" data-ng-disabled="disabled" id="filter-license-type">
                            <ui-select-match allow-clear="true" placeholder="{{'SEARCH_FILTER_LICENSE_TYPE_PLACEHOLDER' | translate}}">
                                <span data-ng-if="$select.selected.name" data-translate="{{'LICENSETYPE_' + $select.selected.name.toUpperCase()}}"></span>
                            </ui-select-match>
                            <ui-select-choices repeat="type in licenseTypes | licenseTypeFilter: $select.search">
                                <span ng-bind-html="'LICENSETYPE_' + type.name.toUpperCase() | translate | highlight: $select.search"></span>                           
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </section>
            </div>
        </div>
    </div>
</form>
